/*giaPage*/

.font12{font-size: 12px!important;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px!important;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font35{font-size: 35px;}
.font40{font-size: 40px;}
.font43{font-size: 43px;}
.font45{font-size: 45px;}
.font55{font-size: 55px;}
.font65{font-size: 65px;}


.container1{width: 100%;height: auto; padding-bottom: 0px;}
.totalDiv { width: 100%; height: auto; padding: 20px;}
.catCont{width:100%;height: 50px;}
.category{color: #379496;width:20%;height: 100%;text-align: center;font-size: 14px;font-family: SansationB;line-height: 50px;float: left;}
.sectionCont{width:100%;height:500px;background-color: #f0f0f0;}
.headrParts{width:29%;height: 100%;float: left;}
.centerPart{width:42%;height: 100%;float:left;background: url('../img/Satellite.png')no-repeat center;}
.paddTop{padding-top: 80px!important;}
.font50{font-size: 50px;}
.filterSec{width:100%;height:30px;}
.subDiv{width:40%;height: 100%;color: #666;line-height: 90px;font-size: 12px;padding-left: 20px;}
.filterIcon{background:url('../img/gem-encyc-sprite.png')no-repeat;background-position: 60px 35px;}
.downArrow{width:20px;height: 40px;background-image: url('../img/arrow.svg');background-repeat: no-repeat;background-size:initial;background-position: 3px 25px;display: inline-block;}
.countryIcon{background:url('../img/gem-encyc-sprite.png')no-repeat;background-position: 12% 72%;}
.btn1{cursor: pointer;width:28%;height: 35px;background-color: #379496;color: #fff;border-radius: 2px;line-height:35px;text-align: center;display: inline-block;margin-left: 10px;}
.btn2{cursor:pointer;width:28%;height: 35px;background-color: #f1f1f1;color: #379496;border-radius: 2px;line-height:35px;text-align: center;display: inline-block;margin-left: 10px;}
.searchBar{width:55%;height: 35px;display: inline-block;border:1px solid #eaeaea;border-radius: 2px;padding:0px 10px 0px 40px;outline:none;outline-style: none;background:url('../img/search1.svg')no-repeat left center;margin-left: 20px;}
.gemContr{width:100%;height: auto;display: inline-block;}
.gemContrDiv{width:20%;float: left;height:200px;padding: 0px;cursor: pointer;border-radius:5px;position: relative;}
/*.bordrImg{
        background:url('../img/border-both.png')no-repeat;
    background-size: contain;background-position: 1px 0px;}*/
.sideBorder{border-right: 2px solid #fff;}
.imgHolder1{width:100%;height:100%;}
.maxDiv{max-width:1000px;height: 100%;width:100%;margin: auto;display: table;}
.marTop15{margin-top: 15px;}
.wrapperMax_12{width: 100%;max-width: 1200px;height: 100%;margin: auto;}
.lineHeight24{line-height: 24px;}
.txtCenter{text-align: center;}
.color_96{color: #379496;}
.c666{color: #666;}
.searchBtn{width: auto;height: 40px; line-height: 40px;padding: 0 35px;display: inline-block;border-radius: 5px;color: #fff;font-size: 16px; margin: 10px 0;cursor: pointer;position: relative;background-color: #379496;}

/*.satellite1{background: url('../img/Satellite1.png')no-repeat;background-size: initial;background-position: top;}
.satellite2{background: url('../img/Satellite2.png')no-repeat;background-size: initial;background-position: top;}
.satellite3{background: url('../img/Satellite3.png')no-repeat;background-size: initial;background-position: top;}
.satellite4{background: url('../img/Satellite4.png')no-repeat;background-size: initial;background-position: top;}
.satellite5{background: url('../img/Satellite5.png')no-repeat;background-size: initial;background-position: top;}
.satellite6{background: url('../img/Satellite6.png')no-repeat;background-size: initial;background-position: top;}
.satellite7{background: url('../img/Satellite7.png')no-repeat;background-size: initial;background-position: top;}
.satellite8{background: url('../img/Satellite8.png')no-repeat;background-size: initial;background-position: top;}
.satellite9{background: url('../img/Satellite9.png')no-repeat;background-size: initial;background-position: top;}
.satellite10{background: url('../img/Satellite10.png')no-repeat;background-size: initial;background-position: top;}
.satellite11{background: url('../img/Satellite11.png')no-repeat;background-size: initial;background-position: top;}
.satellite12{background: url('../img/Satellite12.png')no-repeat;background-size: initial;background-position: top;}
.satellite13{background: url('../img/Satellite13.png')no-repeat;background-size: initial;background-position: top;}
.satellite14{background: url('../img/Satellite14.png')no-repeat;background-size: initial;background-position: top;}
.satellite15{background: url('../img/Satellite15.png')no-repeat;background-size: initial;background-position: top;}
.satellite16{background: url('../img/Satellite16.png')no-repeat;background-size: initial;background-position: top;}
.satellite17{background: url('../img/Satellite17.png')no-repeat;background-size: initial;background-position: top;}
.satellite18{background: url('../img/Satellite18.png')no-repeat;background-size: initial;background-position: top;}
.satellite19{background: url('../img/Satellite19.png')no-repeat;background-size: initial;background-position: top;}
.satellite20{background: url('../img/Satellite20.png')no-repeat;background-size: initial;background-position: top;}
.satellite21{background: url('../img/Satellite21.png')no-repeat;background-size: initial;background-position: top;}
.satellite22{background: url('../img/Satellite22.png')no-repeat;background-size: initial;background-position: top;}
.satellite23{background: url('../img/Satellite23.png')no-repeat;background-size: initial;background-position: top;}
.satellite24{background: url('../img/Satellite24.png')no-repeat;background-size: initial;background-position: top;}
.satellite25{background: url('../img/Satellite25.png')no-repeat;background-size: initial;background-position: top;}
.satellite26{background: url('../img/Satellite26.png')no-repeat;background-size: initial;background-position: top;}
.satellite27{background: url('../img/Satellite27.png')no-repeat;background-size: initial;background-position: top;}
.satellite28{background: url('../img/Satellite28.png')no-repeat;background-size: initial;background-position: top;}
.satellite29{background: url('../img/Satellite29.png')no-repeat;background-size: initial;background-position: top;}*/



/*.roughImg1{background: url('../img/rough1.png')no-repeat;background-size: initial;background-position: center;}
.roughImg2{background: url('../img/rough2.png')no-repeat;background-size: initial;background-position: center;}
.roughImg3{background: url('../img/rough3.png')no-repeat;background-size: initial;background-position: center;}
.roughImg4{background: url('../img/rough4.png')no-repeat;background-size: initial;background-position: center;}
.roughImg5{background: url('../img/rough5.png')no-repeat;background-size: initial;background-position: center;}
.roughImg6{background: url('../img/rough6.png')no-repeat;background-size: initial;background-position: center;}
.roughImg7{background: url('../img/rough7.png')no-repeat;background-size: initial;background-position: center;}
.roughImg8{background: url('../img/rough8.png')no-repeat;background-size: initial;background-position: center;}
.roughImg9{background: url('../img/rough9.png')no-repeat;background-size: initial;background-position: center;}
.roughImg10{background: url('../img/rough10.png')no-repeat;background-size: initial;background-position: center;}
.roughImg11{background: url('../img/rough11.png')no-repeat;background-size: initial;background-position: center;}
.roughImg12{background: url('../img/rough12.png')no-repeat;background-size: initial;background-position: center;}
.roughImg13{background: url('../img/rough13.png')no-repeat;background-size: initial;background-position: center;}
.roughImg14{background: url('../img/rough14.png')no-repeat;background-size: initial;background-position: center;}
.roughImg15{background: url('../img/rough15.png')no-repeat;background-size: initial;background-position: center;}
.roughImg16{background: url('../img/rough16.png')no-repeat;background-size: initial;background-position: center;}
.roughImg17{background: url('../img/rough17.png')no-repeat;background-size: initial;background-position: center;}
.roughImg18{background: url('../img/rough18.png')no-repeat;background-size: initial;background-position: center;}
.roughImg19{background: url('../img/rough19.png')no-repeat;background-size: initial;background-position: center;}
.roughImg20{background: url('../img/rough20.png')no-repeat;background-size: initial;background-position: center;}
.roughImg21{background: url('../img/rough21.png')no-repeat;background-size: initial;background-position: center;}
.roughImg22{background: url('../img/rough22.png')no-repeat;background-size: initial;background-position: center;}
.roughImg23{background: url('../img/rough23.png')no-repeat;background-size: initial;background-position: center;}
.roughImg24{background: url('../img/rough24.png')no-repeat;background-size: initial;background-position: center;}
.roughImg25{background: url('../img/rough25.png')no-repeat;background-size: initial;background-position: center;}
.roughImg26{background: url('../img/rough26.png')no-repeat;background-size: initial;background-position: center;}
.roughImg27{background: url('../img/rough27.png')no-repeat;background-size: initial;background-position: center;}
.roughImg28{background: url('../img/rough28.png')no-repeat;background-size: initial;background-position: center;}
.roughImg29{background: url('../img/rough29.png')no-repeat;background-size: initial;background-position: center;}*/

/*.largeRough1{width:42%;height: 100%;float:left;background: url('../img/rough1L.png')no-repeat center;}
.largeRough2{width:42%;height: 100%;float:left;background: url('../img/rough2L.png')no-repeat center;}
.largeRough3{width:42%;height: 100%;float:left;background: url('../img/rough3L.png')no-repeat center;}
.largeRough4{width:42%;height: 100%;float:left;background: url('../img/rough4L.png')no-repeat center;}
.largeRough5{width:42%;height: 100%;float:left;background: url('../img/rough5L.png')no-repeat center;}
.largeRough6{width:42%;height: 100%;float:left;background: url('../img/rough6L.png')no-repeat center;}
.largeRough7{width:42%;height: 100%;float:left;background: url('../img/rough7L.png')no-repeat center;}
.largeRough8{width:42%;height: 100%;float:left;background: url('../img/rough8L.png')no-repeat center;}
.largeRough9{width:42%;height: 100%;float:left;background: url('../img/rough9L.png')no-repeat center;}
.largeRough10{width:42%;height: 100%;float:left;background: url('../img/rough10L.png')no-repeat center;}
.largeRough11{width:42%;height: 100%;float:left;background: url('../img/rough11L.png')no-repeat center;}
.largeRough12{width:42%;height: 100%;float:left;background: url('../img/rough12L.png')no-repeat center;}
.largeRough13{width:42%;height: 100%;float:left;background: url('../img/rough13L.png')no-repeat center;}
.largeRough14{width:42%;height: 100%;float:left;background: url('../img/rough14L.png')no-repeat center;}
.largeRough15{width:42%;height: 100%;float:left;background: url('../img/rough15L.png')no-repeat center;}
.largeRough16{width:42%;height: 100%;float:left;background: url('../img/rough16L.png')no-repeat center;}
.largeRough17{width:42%;height: 100%;float:left;background: url('../img/rough17L.png')no-repeat center;}
.largeRough18{width:42%;height: 100%;float:left;background: url('../img/rough18L.png')no-repeat center;}
.largeRough19{width:42%;height: 100%;float:left;background: url('../img/rough19L.png')no-repeat center;}
.largeRough20{width:42%;height: 100%;float:left;background: url('../img/rough20L.png')no-repeat center;}
.largeRough21{width:42%;height: 100%;float:left;background: url('../img/rough21L.png')no-repeat center;}
.largeRough22{width:42%;height: 100%;float:left;background: url('../img/rough22L.png')no-repeat center;}
.largeRough23{width:42%;height: 100%;float:left;background: url('../img/rough23L.png')no-repeat center;}
.largeRough24{width:42%;height: 100%;float:left;background: url('../img/rough24L.png')no-repeat center;}
.largeRough25{width:42%;height: 100%;float:left;background: url('../img/rough25L.png')no-repeat center;}
.largeRough26{width:42%;height: 100%;float:left;background: url('../img/rough26L.png')no-repeat center;}
.largeRough27{width:42%;height: 100%;float:left;background: url('../img/rough27L.png')no-repeat center;}
.largeRough28{width:42%;height: 100%;float:left;background: url('../img/rough28L.png')no-repeat center;}
.largeRough29{width:42%;height: 100%;float:left;background: url('../img/rough29L.png')no-repeat center;}*/



.gemTitle{color: #666;font-family: sansationB;font-size: 15px;text-align: center;line-height: 25px;padding: 40px 20px 20px 20px;}

.bgcolorf0f0{background-color: #f0f0f0;}
.btn2:hover{background-color: #379496;color: #fff;}
.btn1:hover{background-color: #379496;color: #fff;}
.info1{height: 400px;width: 1400px;float: left;background-color: #f0f0f0;padding-top: 25px;position:absolute;z-index:99;left:0px;}




.closeButton{width:100px;height:50px;background: url('../img/close.svg')no-repeat;cursor: pointer;}


/*gem_desc page*/
.imgTxt{line-height: 18px;height: 25px;width: 70%;margin-top: 10px;border-bottom: 1px dotted #c7c7c7;}
.imgContr{width:70%;height:400px;background:url('../img/gardesc1.jpg')no-repeat;display: table;background-size:cover;}
.descTitle{width:100%;height:50px;line-height: 50px;margin-bottom: 10px;}
.contr{padding-left: 20px;padding-right: 20px;border-left: 1px dotted #C7C7C7; border-right: 1px dotted #C7C7C7;}
.imgContr2{width:70%;height:620px;background:url('../img/gardesc2.jpg')no-repeat;display: table;background-size:initial;}
.outerCont{width:30%;height: auto;float: left;margin-right: 30px;}
.alxdesc1{width:100%;height: 180px;background: url('../img/alxdesc1.jpg')no-repeat;}
.paraCont{padding-bottom: 15px;border-bottom: 1px dotted #c7c7c7;line-height: 34px;}
.descDiv{border: 5px solid #e8e8e8;padding: 0px 15px 0px 15px;}
.parts{width:100%;height:auto;}
.mapImg{width:100%;height: 180px;background: url('../img/map.png')no-repeat;}
.bottomSectn{width:100%;height: 280px;background-color:#f0f0f0;border-radius:5px;float: left;margin-top: 50px;padding-top: 40px;}
.topImg{width:80px;height: 80px;background: url('../img/alxdesc2.png')no-repeat;position: absolute;left: 0px;right: 0px;top: 260%;margin: auto;}
.subParts{width:33%;height:auto;float: left;padding:25px;}
.circleSpan{width:30px;height: 30px;display: inline-block;border-radius:50%;line-height: 30px;border-radius: 50%;background-color:#A6947A;color:#fff;margin-bottom: 15px;font-size: 12px;}
.subImgDiv{width:25%;height:250px;float: left;padding: 0px 10px 0px 10px;border-right: 1px dotted #c7c7c7;margin-bottom: 30px;}
.imgDiv1{width: 100%;height: 65%;background: url('../img/alxdesc3.png')no-repeat;background-position: center;}
.subTitle{float: left;width: 100%;padding: 40px 0px 40px 0px;}
.imgDiv2{width: 100%;height: 65%;background: url('../img/alxdesc4.png')no-repeat;background-position: center;}
.imgDiv3{width: 100%;height: 65%;background: url('../img/alxdesc5.png')no-repeat;background-position: center;}
.imgDiv4{width: 100%;height: 65%;background: url('../img/alxdesc6.png')no-repeat;background-position: center;}

.gem_desc2{}
.gem_desc2 .info1{position: relative;z-index:0;}
.gem_desc2 .subDiv{width:100%;height:20%}
.viewDiv{width:100%;height:75%}
.roughBtn{cursor:pointer;width:28%;height: 35px;background-color: #A3E1E2;color: #fff;border-radius: 2px;line-height:35px;text-align: center;display: inline-block;margin-left: 10px;}
.detailBtn{width: 70px;height: 70px;background-color:#000;border-radius: 50%;display: inline-block;margin-bottom: 20px;}
.detailBtn2{width: 70px;height: 70px;background-color:#fff;border-radius: 50%;display: inline-block;margin-bottom: 20px;}
.diamonImg1{background-image:  url('../img/diamondBlack(white).svg');background-repeat: no-repeat;background-position: 15px 20px;background-size: 40px 40px;cursor: pointer;}
.diamonImg2{background-image: url('../img/plusDiamond.svg');background-repeat:no-repeat;background-position: 15px 20px;background-size: 40px 40px;cursor: pointer;}
.bgContr{width:42%;height:100%;float: left;}
.star{background: url('../img/plus.svg')no-repeat center;position: absolute;height: 25px;cursor: pointer;}
.plusPos1{top:51%;left:620px;right:0px;bottom: 0px;width: 40px;}
.plusPos2{top:51%;left:51%;right:0px;bottom: 0px;width: 40px;}
.plusPos3{top:70%;left:48%;right:0px;bottom: 0px;width: 40px;}
.detailDiv{width: 200px;height: 200px;background-color: #fff;position: absolute;border-radius: 5px;left: 50%;z-index: 11;padding: 20px;display: none;}
.detailImg1{background: url('../img/detailImg1.jpg')no-repeat center;width:100%;height: 60%;    margin-bottom: 10px; }
.plusPos1:hover ~.detailDiv{display: block;}
.detailImg2{background: url('../img/detailImg2.jpg')no-repeat center;width:100%;height: 60%;    margin-bottom: 10px;}
.detailDiv2{width: 200px;height: 200px;background-color: #fff;position: absolute;border-radius: 5px;left: 55%;z-index: 11;padding: 10px;display: none;}
.plusPos2:hover ~.detailDiv2{display: block;}
.detailDiv3{width: 200px;height: 215px;background-color: #fff;position: absolute;border-radius: 5px;left: 52%;z-index: 11;padding: 10px;display: none;top:62%;}
.detailImg3{background: url('../img/detailImg3.jpg')no-repeat center;width:100%;height: 60%;    margin-bottom: 10px;}
.plusPos3:hover ~.detailDiv3{display: block;}
.head_pad{padding-top:130px;}
.dn{display: none;}
.gemContrDiv:hover .border_eff1{opacity: 1;}
.gemContrDiv:hover .border_eff1::before{opacity: 1;transform: scale(1);}
.gemContrDiv:hover .border_eff1::after{opacity: 1;transform: scale(1);}
/*.active{opacity: 1;transform: scale(1);}*/
.border_eff1.active::before{opacity: 1;transform: scale(1);}
.border_eff1.active::after{opacity: 1;transform: scale(1);}

.border_eff1{position:absolute;width:100%;height:100%;background:rgba(255,255,255,0.0);opacity:0;transition: 400ms;  -moz-transition: 300ms;  -webkit-transition: 300ms;}
.border_eff1::before,
.border_eff1::after{position: absolute;	content: '';opacity: 0; transition:450ms;-moz-transition:350ms;-webkit-transition:350ms;}
.border_eff1::before{top: 15px; right: 0px;bottom: 15px;left: 0px;border-top: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3;-webkit-transform: scale(0,1);transform: scale(0,1);-webkit-transform-origin: 0 0;transform-origin: 0 0; /*-webkit-transition-delay: 0.15s;transition-delay: 0.15s;*/ }

.border_eff1::after{top: 0px; right: 15px;bottom: 0px;left: 15px;border-right: 1px solid #b3b3b3;border-left: 1px solid #b3b3b3;-webkit-transform: scale(1,0);transform: scale(1,0);-webkit-transform-origin: 100% 0;	transform-origin: 100% 0;}
/*.gemContrDiv:hover {box-shadow: 0px 0px 50px -6px gray;}*/
.p_cont1{font-family: SansationL;position:absolute; opacity:0;top:100px;left:0;right:0;margin:auto;color:#fff;transition:350ms;-moz-transition:350ms;-webkit-transition:350ms;font-size:18px;width:auto;max-width:70%;text-align:center;}




@media only screen and (min-width: 320px) and (max-width: 479px){
    .sectionCont{height: auto;padding-bottom: 20px;}
    .headrParts{width:100%;}
    .centerPart{width:100%;height:200px;background-size: contain;}
    .paddTop{padding-top: 35px!important;}
    .filterSec{height: auto;background-size: contain;background-position: 0px 135px;}
    .subDiv{width:100%;line-height: 70px;}
    .font50{font-size: 25px;}
    .gemContrDiv {width:100%;}
    .info1{height: auto;width:auto;}
    .sideInfo{width: 100%;}
    .gemSize{width:100%;height:200px;background-size:contain;}

}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .sectionCont{height: auto;padding-bottom: 20px;}
    .headrParts{width:100%;}
    .centerPart{width:100%;height:200px;background-size: contain;}
    .paddTop{padding-top: 35px!important;}
    .filterSec{height: auto;background-size: contain;background-position: 0px 135px;}
    .subDiv{width:100%;line-height: 70px;}
    .font50{font-size: 25px;}
    .gemContrDiv {width:50%;}
    .info1{height: auto;width:200%;}
    .sideInfo{width: 100%;}
    .gemSize{width:100%;height:200px;background-size:contain;}
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .font50{font-size: 25px;}
    .font18{font-size: 14px;}
    .gemContrDiv {width:33%;}
    .info1{height: auto;width:300%;}
    .sideInfo{width: 100%;}
    .gemSize{width:100%;height:200px;background-size:contain;}
    .searchBtn{padding: 0px 28px;}
}
@media only screen and (min-width: 960px) and (max-width: 1024px){
    .font50{font-size: 40px;}
    .font18{font-size: 15px;}
    .info1{height: 400px;width:510%;}
    .gemSize{width:42%;height:100%;background-size:initial;}
}
