
*{box-sizing:border-box;}
div{display:block;}
html{width:100%;height:100%;}
body{padding:0;margin:0;}
@font-face{font-family:SansationL;src: url(../fonts/sansation/Sansation_Light.ttf);}
@font-face{font-family:SansationR;src: url(../fonts/sansation/Sansation_Regular.ttf);}
@font-face{font-family:SansationB;src: url(../fonts/sansation/Sansation_Bold.ttf);}
.fmSansR{font-family:SansationR;}
.fmSansL{font-family:SansationL;}
.fmSansB{font-family:SansationB;}
.fLeft{float:left;}
.fRight{float:right;}
.dn{display:none !important;}
.pFixed{position:fixed !important;}
.transition300{transition:300ms;-moz-transition:300ms;-webkit-transition:300ms;}
.btnStyle{background-color:rgba(0,0,0,0.1) !important;border:2px solid #fff !important;}
.icnmsg{background:url(../img/msg.svg)no-repeat;background-size:auto 100%;background-position: left center;}
.icnArrow{background:url(../img/arrow.svg)no-repeat;background-size:auto 90%;background-position:left center;}
.container{width:100%;height:100%;background-color:#fff;overflow: hidden;}
.paddingAll{padding:140px 30px 30px 30px !important;}
.wrapper{width:100%;height:100%;display:inline-block;}
.wrapperMax{width:100%;height:auto;max-width:1400px;margin:auto;}
.header{width:100%;height:130px;background:url(../img/back.png)no-repeat;background-size:cover;background-position:center center;}
.headerTop{width:100%;height:80px;padding:30px 85px 0px 85px;}
.headerLower{width:100%;height:50px;padding-top:10px;padding-bottom:10px;}
.navLst{width:auto;height:30px;line-height:30px;padding:0px 40px;color:#fff;display:inline-block;font-size:15px;}
.subCatHtop{width:25%;height:100%;}
.logoHolderDv{width:50%;height:100%;}
.logo{width:200px;height:50px;background:url(../img/jzevalogo.svg)no-repeat;background-size:auto 70%;background-position:center center;display:inline-block;}
.iconCont{width:35px;height:35px;margin-right:5px;background-color:rgba(0,0,0,0.8);}
.icn1{width:35px;height:35px;background:url(../img/my_account.svg)no-repeat;background-size:auto 100%;display:inline-block;}
.icn2{width:35px;height:35px;background:url(../img/cart.svg)no-repeat;background-size:auto 100%;display:inline-block;}
.icn3{width:35px;height:35px;background:url(../img/search.svg)no-repeat;background-size:auto 100%;display:inline-block;}
.threeStpBar{width:100%;height:60px;padding:10px 0px ;}
.stp1{width:auto;position:relative;height:40px;display:inline-block;margin: 0px 55px;}
.icn4{width:30px;height:40px;position:absolute;background:url(../img/shipping.svg)no-repeat;background-size:auto 100%;background-position: center center;left:0;}
.icn5{width:30px;height:40px;position:absolute;background:url(../img/return.svg)no-repeat;background-size:auto 100%;background-position: center center;left:0;}
.icn6{width:30px;height:40px;position:absolute;background:url(../img/support.svg)no-repeat;background-size:auto 100%;background-position: center center;left:0;}
.stepTxt{width:auto;padding:0px 40px 0px 40px;height:40px;line-height:40px;color:#666;font-size:13px;}
.prdctAdv{width:100%;height:auto;}
.prdctAdd1{width:33%;height:480px;background:url(../img/img2.jpg)no-repeat;background-size:cover;background-position:center center;overflow:hidden;padding-top:25%;}
.prdctAdd1:hover{padding-top:0px;}
.prdctAdd2{width:33%;height:480px;background:url(../img/img2.jpg)no-repeat;background-size:cover;background-position:center center;overflow:hidden;}
.insidePrdcttxt{width:100%;height:100%;padding-top:40px;background-color:rgba(0,0,0,0.3);}
.txtsample{width:100%;height:auto;color:#fff;line-height:35px;font-size:30px;text-align:center;letter-spacing: 0.05em;}
.middleDiv{width:34%;height:480px;background-color:#12AAC1;padding: 135px 30px 30px 30px;}
.largePrdct{width:67%;height:480px;background:url(../img/img1.jpg)no-repeat;background-size:cover;background-position:center center;}
.lrgeTxtDV{width:40%;height:100%;background-color:rgba(0,0,0,0.3);padding:135px 30px 30px 30px;}
.smpleTxt{width:100%;height:auto;color:#fff;line-height:50px;font-size:35px;margin-bottom:5px;text-align:center;}
.prdctAbtTxt{width:100%;height:auto;color:#fff;font-size:19px;line-height:30px;margin-bottom:15px;text-align:center;}
.btnWRp{width:100%;height:auto;}
.btnWRp1{width:100%;height:auto;margin-top:15px;}
.btnDv{width:auto;height:50px;padding:0px 20px;color:#fff;line-height:50px;display:inline-block;background-color:#30B8C8;}
.icnRngWrp{width:50px;height:50px;background:url(../img/diamond.svg)no-repeat;background-size:cover;background-position:center center;display:inline-block;}
.footer1{width:100%;height:auto;padding:50px 0px;}
.emptyDV{width:100%;height:auto;margin-bottom:10px;}
.footerTxt{width:auto;height:auto;color:#666;font-size:15px;line-height:30px;padding:0px 30px;text-transform:uppercase;display:inline-block;}
.inputAndBtn{width:550px;height:40px;position:relative;}
.searchInpt{width:100%;height:40px;outline: none;border:1px solid #ccc;border-right:none;padding-left:30px;padding-right:100px;}
.subscribe{width:auto;height:40px;padding:0px 20px;line-height:40px;background-color:#12AAC1;color:#fff;font-size:13px;position:absolute;right:0;}
.footer2{width:100%;height:auto;padding:30px 0px;}
.tabWrp{width:auto;height:auto;display:inline-block;}
.footerTab{width:auto;height:auto;color:#666;line-height:30px;font-size:15px;padding:0px 25px;}

/*step page*/
.totalCont{width:100%;height:auto;}
.borderClass{border-top:1px solid #ccc !important;border-left:1px solid #ccc !important;border-right:1px solid #ccc !important;border-bottom:none !important;}
.navBar2nd{width:100%;height:50px;padding:10px 0px 10px 40px;}
.homeLogo{width:30px;height:30px;background:url(../img/home.svg)no-repeat;background-size:auto 100%;background-position:center center;margin-right:5px;}
.navStpDiv{width:auto;height:30px;position:relative;padding-left:35px;padding-right:15px;line-height:30px;color:#666;font-size:13px;}
.navStpDiv::before{content:"";width:30px;height:30px;background:url(../img/arrow1.svg)no-repeat;background-size:auto 100%;background-position:center center;position:absolute;left:0;}
.fiveStpWRP{width:100%;height:auto;}
.fiveStpCont{width:100%;height:auto;padding:0px 40px;margin-top: 10px;}
.cAreaLeft1{width:80%;height:auto;border-right: 1px solid #ccc;min-height: 580px;}
.ordrTab{width:20%;height:auto;padding:10px 0px;border-bottom:1px solid #ccc;}
.tabIcnDv{width:100%;height:auto;}
.regIcon{width:70px;height:70px;background:url(../img/registration.svg)no-repeat;background-size:auto 75%;background-position:center center;display:inline-block;border: 1px solid #ccc;border-radius: 50%}
.dAddressIcon{width:70px;height:70px;background:url(../img/delivery_address.svg)no-repeat;background-size:auto 75%;background-position:center center;display:inline-block;border: 1px solid #ccc;border-radius: 50%}
.dOptionIcon{width:70px;height:70px;background:url(../img/delivery_option.svg)no-repeat;background-size:auto 75%;background-position:center center;display:inline-block;border: 1px solid #ccc;border-radius: 50%}
.cOrderIcon{width:70px;height:70px;background:url(../img/confrm_order.svg)no-repeat;background-size:auto 75%;background-position:center center;display:inline-block;border: 1px solid #ccc;border-radius: 50%}
.paymentIcon{width:70px;height:70px;background:url(../img/payment.svg)no-repeat;background-size:auto 75%;background-position:center center;display:inline-block;border: 1px solid #ccc;border-radius: 50%}
.userNameIcn{background:url(../img/username.svg)no-repeat;background-size:auto 100%;background-position:left center;}
.passwordIcn{background:url(../img/password.svg)no-repeat;background-size:auto 100%;background-position:left center;}
.loginIcn{background:url(../img/login.svg)no-repeat;background-size:auto 100%;background-position: 7px center;}
.registerIcn{background:url(../img/register.svg)no-repeat;background-size:auto 100%;background-position:8px center;}
.icnAbtTxt{width:100%;height:auto;font-size:13px;line-height:17px;color:#666;text-align:center;}
.loginTxtWrp{width:100%;height:auto;padding:20px 40px;}
.loginAreaLft{width:50%;height:auto;padding-right:30px;}
.loginHdngTxt{width:100%;height:auto;font-size:13px;color:#666;font-weight:bold;line-height:19px;margin-bottom: 10px;}
.inptAndTxtCnt{width:100%;height:auto;margin-bottom:15px;position:relative}
.label-txt{width:auto;height:auto;font-size:13px;color:#666;position:absolute;left:20px;top:13px;}
.label-exp{width:auto;height:auto;font-size:13px;color:#666;position:absolute;left:20px;top:13px;}
.label-exp1{width:auto;height:auto;font-size:13px;color:#666;position:absolute;left:20px;top:13px;}
.lablTrnst{transform:translateY(-10px);font-size:10px;}
.borderTrnst{border:1px solid #379496 !important;}
.inputHdng{width:100%;height:auto;font-size:13px;color:#666;line-height:17px;margin-bottom:5px;}
.inptTxt{width:100%;height:45px;outline:none;border:1px solid #ccc;padding-left:20px;border-radius: 3px;}
.fgotPswrd{width:100%;height:auto;font-size:13px;line-height:17px;color:#666;margin-top:15px;text-align:right;font-style:italic;}
.divHolder{width:100%;height:auto;margin-top:15px;}
.loginBtn{width:auto;height:35px;padding:0px 20px 0px 40px;line-height:35px;color:#fff;background-color:#379496;font-size:13px;}
.textAreaRight{width:50%;height:auto;padding-left:45px;}
.infrmHdng{width:100%;height:auto;line-height:30px;font-size:15px;color:#666;font-weight: bold;}
.infrmTex{width:100%;height:auto;line-height:20px;font-size:13px;color:#666;margin-top: 10px;min-height: 150px;}
.careaRight1{width:20%;height:auto;padding-left:30px;}
.rightMnuWrp{width:100%;height:auto;}
.listDiv{width:100%;height:auto;font-size:13px;line-height:30px;color:#379496;border-bottom:1px solid #ccc;margin-bottom: 5px;position:relative;}
.icnSetting{width:30px;height:30px;background:url(../img/setting.svg)no-repeat;background-size:auto 85%;background-position:center center;position:absolute;right:0;top:0;cursor:pointer;}
.footer4Reg{width:100%;height:auto;padding:5px 0px 20px 0px;border-top: 2px solid #ccc;border-bottom: 2px solid #ccc;}
.footerCat1{width:13%;height:auto;padding:0px 10px;display:inline-block;}
.txtFtr{width:100%;height:auto;line-height:30px;font-size:15px;color:#379496;text-align:left;}
.txtFtr1{width:100%;height:auto;line-height:25px;font-size:13px;color:#666;text-align:left;}
.footerCat2{width:26%;height:auto;padding:0px 10px;display:inline-block;}
.scrchInftr{width:100%;height:35px;position:relative;margin-bottom: 7.5px;margin-top: 7.5px;}
.subscribeBtn{width:auto;height:35px;padding:0px 20px;background-color:#379496;line-height:35px;color:#fff;font-size:13px;position:absolute;right:0;}
.textFrScrch{width:100%;height:35px;outline: none;border:1px solid #ccc;padding-right:80px;padding-left:20px;}
.lfooter4Reg{width:100%;height:auto;padding:20px 114px;}
.mobileNmbr{width:auto;height:30px;font-size:13px;color:#666;line-height:30px;padding-left:30px;padding-right:30px;position:relative;}
.msgTxt::before{content:"";width:30px;height:30px;background:url(../img/msg.svg)no-repeat;background-size:auto 100%;background-position:center center;position:absolute;left:0;}
.msgTxt{width:auto;height:30px;font-size:13px;color:#666;line-height:30px;padding-left:30px;padding-right:20px;position:relative;}


.addressFrmCnt{width:100%;height:auto;padding: 20px 40px;}
.addressFrmWrp{width:100%;height:auto;border-bottom:1px solid #ccc;padding-bottom: 15px;}
.loginAreaRight{width:50%;height:auto;padding-left: 30px;}
.ddtxt{width:50px;height:45px;outline:none;border:1px solid #ccc;margin-right:10px;padding-left:15px;border-radius:2px;}
.yrTxt{width:70px;height:45px;outline:none;border:1px solid #ccc;padding-left:25px;border-radius: 2px;}
.mngeDv{width:100%;height:50px;margin-bottom: 10px;}
.cheackAndnxt{width:100%;height:auto;padding:20px 0px;}
.cheackTxt{width:auto;height:35px;position:relative;padding-left:25px;color:#666;font-style: italic;font-size:13px;padding-right:20px;line-height: 35px;}
.chkBox{width:15px;height:15px;border:1px solid #ccc;outline: none;position:absolute;left:0;top: 9px;margin: 0px;}
.nxtStp{width:auto;height:35px;background-color:#379496;color:#fff;font-size:13px;line-height:35px;padding:0px 30px;margin-left:8px;text-transform:uppercase;cursor:pointer;}
.back{width:auto;height:35px;background-color:#379496;color:#fff;font-size:13px;line-height:35px;padding:0px 30px;margin-left:8px;text-transform:uppercase;}
 

.bBottom{border-bottom:1px solid #ccc !important;}
.delivryWrp{width:100%;height:auto;padding: 20px 40px;}
.delivrTxtHdng{width:100%;height:auto;text-align:left;font-size:15px;line-height:30px;color:#666;font-weight:bold;}
.delivrAdDiv{width:100%;height:auto;}
.delivrTxt{width:100%;height:auto;color:#666;font-size:13px;line-height:26px;}
.delivrPrdct{width:100%;height:auto;padding-left:30px;}
.optionByChk{width:100%;height:auto;line-height:30px;color:#666;position:relative;padding:2px 0px 0px 30px;font-size:13px;}
.chngeoRdlt{width:auto;height:auto;font-size:13px;line-height:26px;color:#379496;}
.rightMnuWrp1{width:100%;height:auto;}
.rmnuHdng{width:100%;height:auto;font-size:13px;color:#379496;line-height:30px;position:relative;}
.abtInvc{width:100%;height:auto;margin-bottom: 5px;}
.ulInvc{width:100%;height:auto;padding:0;margin:0;list-style-type: none;padding-bottom: 10px;}
.liInvc{width:100%;height:auto;line-height:20px;color:#666;font-size:13px;text-align:left;}

.Bnone{border-bottom:none !important;}
.cOrderWrp{width:100%;height:auto;padding:20px 40px 20px 0px;}
.cOrdrStpbr{width:100%;height:auto;padding:5px 20px;background-color:#F7F7F7;border:1px solid #f7f7f7;}
.stepBar1{width:40%;height:30px;line-height:30px;color:#379496;font-size:15px;text-align:left;}
.stepBar2{width:20%;height:30px;line-height:30px;color:#379496;font-size:15px;text-align:left;}
.orderPrdctWrp{width:100%;height:auto;padding:15px 0px;}
.prdctImgAndTxt{width:100%;height:auto;min-height:165px;position:relative;border-bottom:1px dashed #ccc;margin-bottom: 15px;}
.prdctLogo{width:15%;height:0;padding-bottom:15%;border:2px solid #f0f0f0;position:absolute;left:20px;background:url(../img/ring-01-01.png)no-repeat;background-size:auto 100%;background-position:center center;}
.prdctDtls{width:100%;height:auto;padding-left:18%;min-height: 165px;}
.orderPname{width:25%;height:auto;color:#666;font-size:13px;line-height:20px;padding-left: 15px;}
.orderPrice{width:25%;height:auto;color:#666;font-size:13px;line-height:20px;padding-left: 20px;}
.orderQnt{width:25%;height:auto;color:#666;font-size:13px;line-height:20px;padding-left: 10px;}
.orderSum{width:25%;height:auto;color:#666;font-size:13px;line-height:20px;}
.ulq{width:100%;height:auto;margin:0;padding:0;list-style-type: none;}
.liq{width:100%;height:auto;color:#666;font-size:13px;line-height:20px;text-align:left;padding: 10px 0px;}
.barIpd{width:50%;height:auto;padding:10px 12px;background-color:#F7F7F7;margin-top: 10px;}
.subCat1{width:50%;height:22px;line-height:22px;color:#379496;text-align:left;font-size:13px;}
.editCard{width:auto;height:35px;background-color:#379496;color:#fff;font-size:13px;padding:0px 30px;line-height:35px;}

.paymentWrp{width:100%;height:auto;padding:20px 40px;}
.pOptnLft{width:30%;height:auto;padding-top:20px;border-right:1px dashed #ccc;}
.pOptnRight{width:70%;height:auto;padding-left:50px;}
.expDate{width:22%;height:auto;padding-right:10px;position: relative;}
.edTxt{width:100%;height:45px;outline:none;border:1px solid #ccc;padding-left:20px;border-radius:3px;}


/*track page*/
.brghtNone{border-right:none !important;}
.tCenter{text-align:center;}
.loginCnt{width:100%;height:auto;position:relative;min-height: 350px;margin-bottom: 15px;}
.lgn4trckCnt{width:50%;height:auto;padding:20px 30px 20px 30px;min-height:300px;position:absolute;border:1px solid #ccc;left:0;right:0;margin:auto;}
.tracFlft{width:70%;height:auto;padding-right:30px;border-right:1px solid #ccc;}
.trckHdng{width:100%;height:auto;font-size:15px;color:#379496;line-height:30px;}
.trckTxt{width:100%;height:auto;font-size:13px;color:#666;line-height:20px;margin-bottom: 10px;}
.trckFrght{width:30%;height:auto;padding:40px 0px 0px 35px;}
.centerDvHldr{width:100%;height:auto;padding-top:10px;}
.sgnBtn{width:auto;height:35px;color:#fff;font-size:13px;line-height:35px;background-color:#379496;padding:0px 30px;display:inline-block;}
.afterTrckPage{width:100%;height:auto;padding:0px 40px 0px 40px;margin-bottom: 20px;display:none;}
.aftrTrckStpbr{width:100%;height:auto;padding:5px 0px 5px 30px;background-color: #F7F7F7;border: 1px solid #f7f7f7;}
.trckStp1{width:33%;height:30px;line-height:30px;color:#666;text-align:left;font-size: 15px;}
.trckdtlsDv{width:100%;height:auto;padding:20px 0px;border-bottom:1px dashed #ccc;}
.dtls1{width:33%;height:auto;padding:0px 30px;border-right:1px dashed #ccc;position:relative;min-height: 167px;}
.txtAbttrk{width:100%;height:auto;padding:8px 0px;font-size:13px;color:#666;line-height:20px;border-bottom:1px dashed #ccc;margin-bottom: 5px;}
.aftrTrkJwl{width:25%;height:0;padding-bottom:25%;position:absolute;left:30px;background:url(../img/ring-01-01.png)no-repeat;background-size:auto 100%;background-position:center center;border:2px solid #f0f0f0;}
.crspndngTxt{width:100%;height:auto;min-height:167px;padding-left:34%;}
.displayTxt{width:100%;height:auto;color:#666;line-height:18px;font-size:13px;margin-bottom:5px;}
.rvwBtn{width:auto;height:35px;line-height:35px;color:#fff;background-color:#379496;padding:0px 30px;font-size:13px;}
.infoAbtCstmr{width:100%;height:auto;color:#666;font-size:13px;line-height:20px;}
.shpngStpCont{width:100%;height:auto;padding:20px 0px;border-bottom: 1px dashed #ccc;}
.shpngStpDV{width:100%;height:80px;position:relative;}
.shpngStpWrp{width:100%;height:auto;padding:0px 70px;}
.shStpIcnHldr{width:60px;height:60px;background-color:#fff;border:1px solid #379496;border-radius:50%;position:absolute;left:0;background-image:url(../img/trackorder.svg);background-repeat:no-repeat;background-size:auto 100%;background-position:center center;}
.tagTxt{width:auto;height:auto;font-size:15px;line-height:20px;color:#379496;text-align:center;position:absolute;left:0;top: 62px;padding-right: 20px;padding-left: 2px;}
.shStpIcnHldr1{width:60px;height:60px;background-color:#fff;border:1px solid #379496;border-radius:50%;position:absolute;left:33%;background-image:url(../img/trackorder.svg);background-repeat:no-repeat;background-size:auto 100%;background-position:center center;}
.tagTxt1{width:auto;height:auto;font-size:15px;line-height:20px;color:#379496;text-align:center;position:absolute;left:33%;top: 62px;padding-left: 2px;}
.shStpIcnHldr2{width:60px;height:60px;background-color:#fff;border:1px solid #379496;border-radius:50%;position:absolute;right:30%;background-image:url(../img/shipping.svg);background-size:auto 100%;background-position: center center;background-repeat:no-repeat;}
.tagTxt2{width:auto;height:auto;font-size:15px;line-height:20px;color:#379496;text-align:center;position:absolute;right:30%;top: 62px;padding-left: 2px;}
.shStpIcnHldr3{width:60px;height:60px;background-color:#379496;border:1px solid #379496;border-radius:50%;position:absolute;right:0;}
.tagTxt3{width:auto;height:auto;font-size:15px;line-height:20px;color:#379496;text-align:center;position:absolute;right:0;top: 62px;padding-left: 2px;}
.prgrsDv{width:100%;height:12px;background-color:#f7f7f7;margin-top:24px;margin-bottom:24px;}
.shPngStpInfrm{width:100%;height:auto;padding-top: 10px;}
.sStp1{width:25%;height:auto;min-height: 153px;padding-left: 40px;}

 .prcsdTxt{width:100%;height:auto;padding-bottom:5px;border-bottom:1px dashed #ccc;margin-bottom: 5px;}
 .prcsdTxtFlft{width:30%;height:auto;}
 .prcsdTxtFrght{width:70%;height:auto;}
 .dlvrTxtWrp{width:100%;height:auto;padding-left: 50px;text-align: center;}
 .updateAndnxt{width:100%;height:auto;padding:20px 0px;}
 .cntrMkngDv{width:30%;height:auto;display:inline-block;}
 .upDatedTxt{width:auto;height:auto;font-size:15px;color:#379496;line-height:30px;}
 .text4Mbl{width:auto;height:auto;font-size:13px;color:#666;line-height:20px;margin-bottom: 10px;}
 .inpt4mbl{width:70%;height:35px;outline:none;border:1px solid #ccc;padding-left:10px; margin-bottom: 10px;}
 .btn{width:30%;height:35px;line-height:35px;color:#fff;font-size:13px;background-color:#379496;padding:0px 30px;margin:auto;}
 
 
 /*confirmation*/
 .confrmCont{width:100%;height:auto;padding:20px 40px 0px 40px;}
 .cnfrmLmenu{width:20%;height:auto;padding-right:40px;}
 .cnFrmLhDng{width:100%;height:auto;font-size:15px;line-height:30px;color:#379496;margin-bottom:2px;}
 .lstLmnu{width:100%;height:auto;font-size:13px;line-height:26px;color:#666;border-bottom:1px dashed #ccc;margin-bottom:8px;}
 .cnfrmRmenu{width:80%;height:auto;min-height:450px;padding-left:40px;border-left:1px solid #ccc;padding-bottom: 60px;}
 .orderAndSrch{width:100%;height:auto;margin-bottom:10px;}
 .mYoRdr{width:auto;height:auto;font-size:15px;color:#666;line-height:20px;}
 .scrChDv{width:25%;height:35px;position:relative;}
 .icnScrch{width:30px;height:35px;background:url(../img/search.svg)no-repeat;background-size:auto 100%;background-position:center center;position:absolute;right:0;border-right:1px solid #ccc;background-color: #ccc}
 .cnfrmInptScrch{width:100%;height:35px;outline:none;border: 1px solid #ccc;padding-right:30px;padding-left:20px;}
 .part1Ordr{width:auto;height:35px;font-size:13px;line-height:35px;background-color:#379496;padding:0px 30px;color:#fff;border:1px solid #379496;margin-right:8px;}
 .part2Opnad{width:auto;height:35px;line-height:35px;color:#666;border:1px solid #ccc;font-size:13px;padding:0px 30px;margin-right:8px;}
 .totalCnfrmWrp{width:100%;height:auto;margin-top:15px;}
 .cnfrmDtlsDv{width:100%;height:auto;padding: 30px 0px 30px 30px;border-bottom: 1px dashed #ccc;}
 .cnfrmIdCnt{width:100%;height:auto;padding:5px 30px;background-color:#f7f7f7;border:1px solid #f7f7f7;}
 .spClass1{width:auto;font-size:15px;line-height:30px;color:#666;height:auto;}
 .spClass2{width:auto;font-size:15px;line-height:30px;color:#666;height:auto;padding-left: 20px;}
 .spClass3{width:20%;height:auto;line-height:18px;font-size:13px;color:#666;}
 .spClass4{width:80%;height:auto;line-height:18px;font-size:13px;color:#666;}
 .ordrDtlsandOptn{width:100%;height:auto;min-height:200px;position:relative;}
 .ordrImg{width:14%;height:0;padding-bottom:14%;background:url(../img/ring-01-01.png)no-repeat;background-size:auto 90%;background-position:center center;position:absolute;left:0;border: 2px solid #f0f0f0;}
 .txtAbtPrdct{width:100%;height:auto;min-height: 200px;padding-left:16%;}
 .cnfrmpTxt1{width:33%;height:auto;padding-right:20px;}
 .odBtn{width:auto;height:35px;line-height:35px;color:#666;padding:0px 25px;border:1px solid #ccc;font-size:13px;}
 .optnDiv{width:100%;height:35px;font-size:13px;color:#fff;background-color:#379496;line-height:35px;font-size:13px;padding-left:20px;box-shadow: 0px 9px 3px -5px rgba(38, 35, 38, 0.36);margin-bottom:15px;}
 
 /*mobile menu*/
 .opnMnuLogo{width:50px;height:50px;background:url(../img/menu.svg)no-repeat;background-size:auto 100%;background-position:center center;display:none;}
 .dragTrgt{width:20px;height:100%;position:fixed;z-index:10;left:0;}
 .dragTrgtTrnst{width:50%;left:250px;}
 .trnst-100{transform:translateX(-110%);}
 .lmenu4mble{width:250px;height:100%;background-color:#fff;position:fixed;top:0;z-index:15;display:none;box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);}
 .lmnuHdng{width:100%;height:110px;background:url(../img/back.png)no-repeat;background-size:cover;background-position:center center;}
 .hdrLgo{width:200px;height:80px;background:url(../img/jzevalogo.svg)no-repeat;background-size:auto 45%;background-position:center center;display:inline-block;}
 .lmnuLIstDv{width:100%;height:auto;padding-top:15px;}
 .ulSabcat{width:100%;height:auto;padding:0;margin:0;list-style-type: none;}
 .liSubCat{width:100%;height:auto;font-size:13px;color:#666;padding:10px 0px 10px 10px;border-bottom:1px solid #ccc;text-align:left;line-height:15px;}
 
 
 
 
 @media only screen and (min-width: 320px) and (max-width: 479px){
     /*home*/
     .header {height: 110px;}
     .headerTop{padding: 30px 30px 0px 30px;}
     .opnMnuLogo{display:block;}
     .logoHolderDv {width: 80%;}
     .logo {background-size: auto 60%;background-position: 0px center;}
     .headerLower{display:none;}
     .threeStpBar{height:auto;}
     .stepTxt{width:100%;padding: 0px 10px 0px 40px;display: none;}
     .prdctAdd1{width:100%;padding-top: 90%;}
     .prdctAdd2{width:100%;}
     .middleDiv{width:100%;}
     .largePrdct{width:100%;}
     .lrgeTxtDV{width:100%;}
     .subCatHtop{display:none;}
     .footer1{padding: 30px 0px;}
     .footer2{padding: 20px 0px;}
     .footerTab {font-size: 13px;}
     .inputAndBtn {width: 85%;}
     .searchInpt { width: 100%;padding-right: 100px;}
        .stp1{margin: 0px 40px;}
        
        .lmenu4mble{display:block;}
     
     
     /*confirmation*/
     .confrmCont{padding: 20px 20px 0px 20px;}
     .cnfrmLmenu{width: 100%;padding-right:0px !important;}
     .cnfrmRmenu{width: 100%;padding-left:0px;border-left:none;}
     .scrChDv {width: 60%;}
     .cnfrmInptScrch {width: 100%;}
     .part1Ordr {padding: 0px 12px;margin-right: 4px;}
     .part2Opnad {padding: 0px 4px;margin-right: 4px;}
     .spClass1{font-size: 11px;}
     .cnfrmIdCnt{padding: 5px 10px;}
     .spClass2{font-size: 12px;padding-left: 6px;}
     .ordrImg{width: 100%;padding-bottom: 60%;position: relative;background-size: auto 90%;margin-bottom: 10px;}
     .txtAbtPrdct{padding-left:0px !important;}
     .footerCat1 {width: 45%;padding:0px !important;}
     .txtFtr {font-size: 14px;}
     .footerCat2 {width: 90%; padding:0px !important;}
     .subscribeBtn{padding: 0px 15px;}
     .textFrScrch {width: 100%;padding-right: 100px;}
     .lfooter4Reg{padding: 20px 20px;}
     .odBtn{padding: 0px 30px;}
     .cnfrmDtlsDv{padding: 30px 0px 0px 0px;}
     .cnfrmpTxt1 {width: 100%;padding-right:0px !important;margin-bottom: 10px;}
     .mobileNmbr{padding-left: 5px;line-height: 30px;}
     .msgTxt{    line-height: 30px;}
     
     /*track*/
     .navBar2nd{padding: 10px 10px 10px 10px;}
     .homeLogo{margin-right:0px;}
     .navStpDiv{padding-right:0px;font-size: 10px;padding-left: 26px;}
     .lgn4trckCnt{width: 100%;padding: 20px 30px 20px 30px;display:inline-block;position:relative;margin:0px;border:none;}
     .tracFlft{padding-right:0px;border-right:none;width: 100%;}
     .cheackAndnxt{padding: 10px 0px;}
     .trckFrght{width: 100%;    padding: 0px 0px 0px 0px;}
     .centerDvHldr{padding:0px;}
     .afterTrckPage{padding: 0px 20px 0px 20px;}
     .aftrTrckStpbr{ padding: 5px 0px 5px 5px;}
     .trckStp1{font-size: 11px;}
     .trckdtlsDv{padding: 20px 0px;border-bottom:none;}
     .dtls1{width: 100%;padding:0px;border-right:none;}
     .aftrTrkJwl {width: 100%;padding-bottom: 50%;position:relative;left:0px;}
     .crspndngTxt{width: 100%;min-height: 100px;padding-left:0px;}
     .rvwBtn{padding: 0px 40px;}
     .shpngStpCont{padding:0px !important;}
     .shpngStpWrp{padding:0px;}
     .shStpIcnHldr {width: 45px;height: 45px;top: 7px;}
     .tagTxt{font-size: 13px;}
     .shStpIcnHldr1 { width: 45px;height: 45px;left: 29%;top: 7px;}
     .tagTxt1{font-size: 13px;left: 26%;}
     .shStpIcnHldr2 {width: 45px; height: 45px;right: 30%;top: 7px;}
     .tagTxt2{font-size: 13px;right: 30%;}
     .shStpIcnHldr3 {width: 45px;height: 45px;top: 7px;}
     .tagTxt3{font-size: 13px;}
     .shPngStpInfrm{width: 100%;}
     .sStp1 {width: 100%;padding-left:0px !important;min-height: 50px;margin-bottom: 10px;}
     .cntrMkngDv { width: 100%;}
     .btn {width: 35%;}
     
     /*orders*/
     .fiveStpCont {padding: 0px 20px;}
     .careaRight1 {display:none;}
     .loginTxtWrp {padding: 20px 0px;}
     .cAreaLeft1 {width: 100%;border-right:none;}
     .regIcon {width: 45px;height: 45px;}
     .dAddressIcon {width: 45px;height: 45px;}
     .dOptionIcon {width: 45px; height: 45px;}
     .cOrderIcon {width: 45px;height: 45px;}
     .paymentIcon {width: 45px;height: 45px;}
     .icnAbtTxt {display:none;}
     .loginAreaLft {width: 100%;padding-right:0px;}
     .textAreaRight {width: 100%;padding-left:0px;}
     .addressFrmCnt {padding: 20px 0px;}
     .loginAreaRight {width: 100%;padding-left:0px;}
     .delivryWrp {padding: 20px 0px;}
     .chngeoRdlt {width: 100%;}
     .delivrPrdct{padding-left:0px;}
     .cOrderWrp {padding: 20px 0px 20px 0px;}
     .cOrdrStpbr {padding: 5px 5px;}
     .stepBar1 {font-size: 12px;}
     .stepBar2 {font-size: 12px;}
     .prdctLogo {width: 100%;padding-bottom: 50%;position: relative;left:0;}
     .prdctDtls {padding-left:0px;min-height:125px;padding-top: 5px}
     .orderPname {width: 25%;padding-left:0px;}
     .orderPrice {width: 25%;padding-left:0px;}
     .mtop20 {margin-top:20px !important;}
     .paymentWrp {padding: 20px 0px;}
     .pOptnLft {width: 100%;border-right:none;}
     .pOptnRight {width: 100%;padding-left:0px;}
     .expDate {width: 40%;}
 }
 @media only screen and (min-width: 480px) and (max-width: 767px){
     /*home*/
     .headerTop{padding: 30px 20px 0px 20px;}
     .navLst{padding: 0px 10px;font-size: 12px;}
     .iconCont{width: 30px;height: 30px;}
     .icn3 {width: 30px;height: 30px;}
     .icn2 { width: 30px;height: 30px;}
     .icn1 {width: 30px;height: 30px;}
     .stp1 {margin: 0px 0px;}
     .stepTxt {padding: 0px 16px 0px 30px;font-size: 11px;}
     .prdctAdd1 {width: 100%;padding-top: 45%;}
     .middleDiv {width: 100%;}
     .largePrdct {width: 100%;}
     .lrgeTxtDV {width: 100%;}
     .prdctAdd2 {width: 100%;}
     .footer1 {padding: 40px 0px;}
     .inputAndBtn {width: 450px;}
     .footer2 {padding: 20px 0px;}
     .footerTab {padding: 0px 18px;font-size: 13px;}
     .icnArrow {background-size: auto 70%;}
    
     
     /*track*/
     
      .loginCnt {margin-bottom:0px !important;}
     .lgn4trckCnt {width: 100%;position: relative;display: inline-block;border:none;}
     .tracFlft {width: 100%;padding-right:0px;border-right:none;}
     .trckFrght {width: 100%;padding:0px !important;padding:0px !important;}
     .footerCat1 {width: 45%;}
     .footerCat2 { width: 90%;}
     .lfooter4Reg {padding: 20px 20px;}
     .dtls1 {width: 100%;border-right:none;}
     .shpngStpWrp {padding: 0px 0px;}
     .shStpIcnHldr { width: 45px;height: 45px;top: 5px;}
     .tagTxt{font-size: 13px;top: 55px;}
     .shStpIcnHldr1 {width: 45px;height: 45px;top: 5px;}
     .tagTxt1 {font-size: 13px;top: 55px;}
     .shStpIcnHldr2 {width: 45px;height: 45px;top: 5px;}
     .tagTxt2{font-size: 13px;top: 55px;}
     .shStpIcnHldr3 {width: 45px;height: 45px;top: 5px;}
     .tagTxt3{font-size: 13px;top: 55px;}
     .infoAbtCstmr {width: 100%;font-size: 12px;}
     .prcsdTxtFlft {width: 100%}
     .prcsdTxtFrght {width: 100%;}
     .sStp1 {padding-left: 0px;}
     .pLeft45{padding-left: 45px;}
     .cntrMkngDv { width: 75%;}
     .afterTrckPage {padding: 0px 20px 0px 20px;}
     .trckStp1 {font-size: 13px;}
      .navStpDiv {padding-right: 10px;}
     
     /*confirmation*/
     .cnfrmLmenu {display: none;}
     .cnfrmRmenu {width: 100%;padding-left:0px;border-left:none;}
     .txtAbtPrdct {padding-left:0px;}
     .confrmCont{padding: 20px 20px 0px 20px;}
     .scrChDv { width: 40%;}
     .cnfrmDtlsDv {padding: 30px 0px 30px 0px;}
     .ordrImg {width: 100%;padding-bottom: 50%;position: relative;}
     .cnfrmpTxt1 {width: 100%;padding-right: 0px;}
     .odBtn {padding: 0px 50px;}
     
     /*orders*/
     .fiveStpCont {padding: 0px 20px;}
     .careaRight1 {display:none;}
     .cAreaLeft1 {width:100%;border-right:none;}
     .regIcon {width: 60px;height: 60px;}
     .dAddressIcon {width: 60px; height: 60px;}
     .dOptionIcon { width: 60px;height: 60px;}
     .cOrderIcon {width: 60px;height: 60px;}
     .paymentIcon {width: 60px;height: 60px;}
     .icnAbtTxt { font-size: 11px;}
     .loginTxtWrp {padding: 20px 0px;}
     .loginAreaLft {padding-right: 0px;}
     .textAreaRight {padding-left: 15px;}
     .addressFrmCnt {padding: 20px 0px;}
     .delivryWrp {padding: 20px 0px;}
     .loginAreaRight {padding-left: 15px;}
     .cOrderWrp {padding: 20px 0px 20px 0px;}
     .paymentWrp {padding: 20px 0px;}
     .pOptnRight {padding-left: 25px;}
     .expDate {width: 35%;}
 }
 @media only screen and (min-width: 768px) and (max-width: 959px){
     /*home*/
     .prdctAdd1 {width: 50%;}
     .middleDiv { width: 50%}
     .prdctAdd1 {width: 50%;padding-top: 35%;}
     .largePrdct {width: 50%;}
     .prdctAdd2 {width: 50%;}
     .lrgeTxtDV {width: 100%;}
     .width100{width:100% !important;}
     .navLst {padding: 0px 25px;font-size: 13px;}
     .stp1 {margin: 0px 15px;}
     .stepTxt {padding: 0px 30px 0px 40px;}
     
     /*confirmation*/
     .confrmCont {padding: 20px 20px 0px 20px;}
     .cnfrmLmenu {padding-right: 10px;}
     .cnfrmRmenu {padding-left: 10px;padding-bottom: 40px;}
     .scrChDv {width: 35%;}
     .cnfrmDtlsDv {padding: 30px 0px 30px 30px;}
     .cnfrmpTxt1 {padding-right: 10px;}
     .spClass3 {width: 100%;}
     .spClass4 {width: 100%;}
     .odBtn {padding: 0px 5px;font-size: 12px;}
     
     /*track*/
     .lgn4trckCnt {width: 86%;}
     .afterTrckPage {padding: 0px 20px 0px 20px;}
     .dtls1{padding: 0px 25px;}
     .rvwBtn {padding: 0px 12px;font-size: 12px;}
     .dlvrTxtWrp {padding-left: 0px;}
     .infoAbtCstmr {width: 100%;}
     .prcsdTxtFlft {width: 100%;}
     .prcsdTxtFrght {width: 100%;}
     .cntrMkngDv { width: 50%;}
     
     /*orders*/
     .fiveStpCont {padding: 0px 20px;}
     .careaRight1 {display: none;}
     .cAreaLeft1 {width: 100%;border-right:none;}
     .loginTxtWrp {padding: 20px 0px;}
     .loginAreaLft {padding-right: 20px;}
     .textAreaRight {padding-left: 20px;}
     .addressFrmCnt {padding: 20px 0px;}
     .loginAreaRight {padding-left: 20px;}
     .delivryWrp {padding: 20px 0px;}
     .paymentWrp {padding: 20px 0px;}
     .pOptnRight {padding-left: 25px;}
     .expDate {width: 30%;}
     
     /*footer*/
     .divHolder {margin-top: 10px;}
     .footerCat1 {width: 23%;padding: 0px 13px;}
     .footerCat2 {width: 45%;padding: 0px 15px;}
         
 }
 @media only screen and (min-width: 960px) and (max-width: 1023px){
     /*home*/
     .lrgeTxtDV {width: 100%;}
     .prdctAdd1 {padding-top: 35%;}
     .smpleTxt {font-size: 30px;}
     
     /*confirmation*/
     .confrmCont {padding: 20px 30px 0px 30px;}
     .scrChDv {width: 30%;}
     .cnfrmLmenu {padding-right: 20px;}
     .cnfrmRmenu {padding-left: 20px;}
     .cnfrmpTxt1 {padding-right: 10px;}
     .odBtn {padding: 0px 11px;}
     
     /*orders*/
     .fiveStpCont {padding: 0px 30px;}
     .loginTxtWrp {padding: 20px 20px;}
     .careaRight1 {padding-left: 25px;}
     .addressFrmCnt {padding: 20px 20px;}
     .loginAreaLft {padding-right: 25px;}
     .loginAreaRight {padding-left: 25px;}
     .delivryWrp { padding: 20px 20px;}
     .paymentWrp {padding: 20px 20px;}
     .expDate {width: 30%;}
     .cOrderWrp {padding: 20px 20px 20px 0px;}
     .pOptnRight {padding-left: 30px;}
     
     /*track*/
     .lgn4trckCnt {width: 70%;}
     .rvwBtn {padding: 0px 19px;}
     .cntrMkngDv {width: 45%}
     
     /*footer*/
     .footerCat1 {width: 17%;padding: 0px 6px;}
     .footerCat2 {width: 26%;padding: 0px 5px;}
 }
 @media only screen and (min-width: 1025px) and (max-width: 1279px){
     /*home*/
     .prdctAdd1 {padding-top: 29%;}
     .lrgeTxtDV {width: 50%;}
     .footer1 {padding: 40px 0px;}
     .footer2 {padding: 20px 0px;}
     
     
     /*confirmation*/
     .confrmCont {padding: 20px 20px 0px 20px;}
     .cnfrmLmenu {padding-right: 20px;}
     .cnfrmRmenu {padding-left: 20px;}
     .odBtn {padding: 0px 14px;}
     
     /*orders*/
     .fiveStpCont {padding: 0px 20px;}
     .loginTxtWrp {padding: 20px 20px}
     .textAreaRight {padding-left: 30px;}
     .careaRight1 {padding-left: 20px;}
     .addressFrmCnt {padding: 20px 20px;}
     .ddtxt {width: 60px;}
     .delivryWrp {padding: 20px 20px;}
     .paymentWrp {padding: 20px 20px;}
     .pOptnRight {padding-left: 30px;}
     .expDate {width: 25%;}
     
     
     /*footer*/
     .footerCat1 {width: 17%;}
 }
 
 