
*{box-sizing:border-box;}
div{display:block;}
html{width:100%;height:100%;}
body{padding:0;margin:0;}
textarea:focus, input:focus{outline: none;}
@font-face{font-family:thin;src: url(../fonts/Raleway-Thin.ttf);}
@font-face{font-family:light;src: url(../fonts/Raleway-Light.ttf);}
@font-face{font-family:regular;src: url(../fonts/Raleway-Regular.ttf);}
@font-face{font-family:semibold;src: url(../fonts/Raleway-Semibold.ttf);}
@font-face{font-family:bolder;src: url(../fonts/Raleway-Bold.ttf);}
@font-face{font-family:xlight;src: url(../fonts/Raleway-ExtraLight.ttf);}

.thin{font-family:thin;}
.light{font-family:light;}
.regular{font-family:regular;}
.semibold{font-family:semibold;}
.bolder{font-family:bolder;}
.xlight{font-family:xlight;}

.fLeft{float:left;}
.fRight{float:right;}
.transition300{transition:300ms;-moz-transition:300ms;-webkit-transition:300ms;}
.container{width:100%;height:100vh;background-color:#fff;padding-top:0px;}
.paddingAll{padding:140px 30px 30px 30px !important;}
.wrapper2{width:100%;height:100%;display:inline-block;}
.wrapperMax{width:100%;height:auto;max-width:1400px;margin:auto;}
.inptfrmW{width:100%;height:auto;padding-top: 50px}
.inptC{width:90%;height:auto;margin:auto;min-height: 300px;padding: 5px 20px;border: 1px solid #e6e6e6;}
.abtHdng{width:100%;height:auto;font-size:20px;color:#666;line-height:30px;border-bottom:1px solid #e6e6e6;padding:10px 0px;}
.styleCnt{width:100%;height:auto;margin-top:5px;}

/*input_style*/
.input {position: relative;z-index: 1;	display: inline-block;margin-bottom: 20px;width: 100%;vertical-align: top; overflow: hidden; }

 .input__field {position: relative;display: block;float:right;width: 60%;border: none;border-radius: 0;background: #f0f0f0;color: #aaa;font-weight: bold;margin-top:10px;padding:10px 10px 10px 3px;width:100%;background:transparent;color: #595F6E;-webkit-appearance:none;}

 .input__field:focus {outline: none;}

 .input__label {display:inline-block; float: right;width: 40%;color: #6a7989;font-size: 70.25%;position: absolute;bottom: 0;left: 0;padding:1px;width: 100%;height: calc(100% - 4px);text-align: left;pointer-events: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; 	-webkit-touch-callout: none; 	-webkit-user-select: none; 	-khtml-user-select: none; 	-moz-user-select: none; 	-ms-user-select: none; 	user-select: none; }
 .input__label-content{position: relative;display: block;padding: 15px 0;width: 100%;font-size:13px;position:absolute;}
 .input__label::before, .input__label::after { 	content: '';position: absolute;top: 5px;left: 0;width: 100%;height:calc(100% - 10px);border-bottom: 1px solid #B9C1CA;}
 .input__label::after {border-bottom: 2px solid #379496;-webkit-transform: translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;}

 .input__field:focus + .input__label::after,
 .input-filled .input__label::after { 	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); }
 .input__field:focus + .input__label .input__label-content,

 .input-filled .input__label-content { -webkit-animation: anim-1 0.3s forwards; animation: anim-1 0.3s forwards; }


 @-webkit-keyframes anim-1 {
  	50% {opacity: 0;-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);	}
  	51% {	opacity: 0;	-webkit-transform: translate3d(-10px, -40%, 0);transform: translate3d(-10px, -40%, 0);}
  	100% {opacity: 1;	-webkit-transform: translate3d(0, -40%, 0);	transform: translate3d(0, -40%, 0);}
  }
  @keyframes anim-1 {
    	50% {opacity: 0;-webkit-transform: translate3d(10px, 0, 0);	transform: translate3d(10px, 0, 0);}
  	51% {	opacity: 0;	-webkit-transform: translate3d(-10px, -40%, 0);transform: translate3d(-10px, -40%, 0);}
  	100% {opacity: 1;-webkit-transform: translate3d(0, -40%, 0);transform: translate3d(0, -40%, 0);	}
  }
.col25{width:20%;height:auto;}
.margL20{margin-left:20px}
.btnCnt{width:100%;margin-top:20px}
.button{width:100%;padding:0 20px;height:40px;font-family:regular;font-size: 12px;line-height:38px;text-transform: uppercase;text-align:center;position:relative;display:inline-block;cursor:pointer;z-index:10;overflow:hidden;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;  -ms-user-select: none; user-select: none; }
.btnc1{border:2px solid #333; color:#333;}
.btnc2{border:2px solid #666; color:#666;}
.btnc3{border:1px solid #fff; color:#fff;}
.btnc4{border:2px solid orange; color:orange;}
.button1.btnc1:after, .button2.btnc1:after, .button3.btnc1:after{background: #333;}
.button1.btnc2:after, .button2.btnc2:after, .button3.btnc2:after{background: #666;}
.button1.btnc3:after, .button2.btnc3:after, .button3.btnc3:after{background: #fff;}
.button1.btnc4:after, .button2.btnc4:after, .button3.btnc4:after{background: orange;}
/* Button Style  Slant */
.button1{}
.button1:after{content: '';width: 0;height: 300px;top: 0;left: 10px;right: 10px;bottom: 0;margin: auto;opacity: 0; -webkit-transform:rotate(45deg);-moz-transform:  rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(-45deg);position: absolute;transition: 200ms;z-index: -1;}
.button1:hover:after{opacity: 1;width: 75%;}
.button1:active:after{width: 100%;}
.button1:hover{color:#000;}


/* Button Style  Horizontal */
.button2{}
.button2:after { content: '';width: 0;height: 300px;top: 0;left: 0px;right: 0px;bottom: 0;margin: auto;opacity: 0; position: absolute;transition: 200ms ease-in-out;-ms-transition: 200ms ease-in-out; -moz-transition: 200ms ease-in-out; -webkit-transition: 200ms ease-in-out; -o-transition: 200ms ease-in-out; z-index: -1;}
.button2:hover:after{width:90%;opacity: 1;}
.button2:hover{color:#fff;}
.button2:active:after{width: 100%;}

/* Button Style  Vertical */
.button3{}
.button3:after { content: '';width: 100%;height: 0;top: 0;left: 0px;right: 0px;bottom: 0;margin: auto;opacity: 0; position: absolute;transition: 200ms ease-in-out;-ms-transition: 200ms ease-in-out; -moz-transition: 200ms ease-in-out; -webkit-transition: 200ms ease-in-out; -o-transition: 200ms ease-in-out;z-index: -1;}
.button3:hover:after{height:28px;opacity: 1;}
.button3:hover{color:#fff;}
.button3:active:after{height: 40px;}

/*Loader Animations */

.flag{}
.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #FFF;
  left:0;
  background:#333;
  text-align: center;
  z-index:20;
  display:none;
  opacity:0;
}
.success{background:#333 url(../img/wTick.png)no-repeat;background-size:8%;background-position:center;right: 20px; color: #fff;opacity: 1;position:absolute;left:0; top:0; width:100%;height:100%;opacity:0;}


.cs-loader-inner label {
  font-size: 18px;
  opacity: 0;
  width:30px;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
.button_label{width:100% ; font-size:12px; padding:5px;font-family:bolder;}
.page_loader2 .cs-loader-inner , .page_loader .cs-loader-inner {

    transform: translateY(0%);

    top: 35%;

    color: #000;

     background: transparent;

    text-align: center;

    z-index: 20;

     display: block;

     opacity: 1;

}
