
*{box-sizing:border-box;}
div{display:block;box-sizing:border-box;}
html{width:100%;height:100%;}
body{padding:0;margin:0;}
textarea:focus, input:focus{
    outline: none;
}
@font-face{font-family:SansationL;src: url(../fonts/sansation/Sansation_Light.ttf);}
@font-face{font-family:SansationR;src: url(../fonts/sansation/Sansation_Regular.ttf);}
@font-face{font-family:SansationB;src: url(../fonts/sansation/Sansation_Bold.ttf);}
@font-face{font-family:SansationBI;src: url(../fonts/sansation/Sansation_Bold_Italic.ttf);}
@font-face{font-family:SansationI;src: url(../fonts/sansation/Sansation_Italic.ttf);}
@font-face{font-family:SansationLI;src: url(../fonts/sansation/Sansation_Light_Italic.ttf);}
.fmSansR{font-family:SansationR;}
.fmSansL{font-family:SansationL;letter-spacing: -0.03em;}
.fmSansB{font-family:SansationB;}
.fmSansBI{font-family:SansationBI;}
.fmSansLI{font-family:SansationLI;}
.fmSansI{font-family:SansationI;}
@font-face{font-family:josefinSansL;src: url(../fonts/josefinSans/JosefinSans-Light.ttf);}
@font-face{font-family:josefinSansR;src: url(../fonts/josefinSans/JosefinSans-Regular.ttf);}
@font-face{font-family:josefinSansB;src: url(../fonts/josefinSans/JosefinSans-Bold.ttf);}
.fmjsfSansL{font-family:josefinSansL;}
.fmjsfSansR{font-family:josefinSansR;}
.fmjsfSansB{font-family:josefinSansB;}

@font-face{font-family:OswaldL;src: url(../fonts/oswald/Oswald-Light.ttf);}
@font-face{font-family:OswaldR;src: url(../fonts/oswald/Oswald-Regular.ttf);}
@font-face{font-family:OswaldB;src: url(../fonts/oswald/Oswald-Bold.ttf);}
.fmOsL{font-family:OswaldL;}
.fmOsR{font-family:OswaldR;}
.fmOsB{font-family:OswaldB;}
.color666{color:#666}
.transition300{transition:300ms;-moz-transition:300ms;-webkit-transition:300ms;}
.transition200{transition:200ms;-moz-transition:200ms;-webkit-transition:200ms;}
.fLeft{float:left;}
.fRight{float:right;}
.txt_center{text-align:center}
.txt_right{text-align:center}
.txt_center{text-align:center}
.dn{display:none;}
.col100{width:100%;height:auto}
.col75{width:75%;height:auto}
.col50{width:50%;height:auto}
.col33{width:33%;height:auto}
.col25{width:25% !important;height:auto}
.col20{width:20%;height:auto}
.lnHt25{line-height: 25px;}
.lnHt30{line-height: 30px;}
.pleft40{padding-left:40px;}
.pFixed{position:fixed !important;}
.bcolour1{background-color:#f0f0f0 }
.color666{color:#666 !important;}
.color_black{color:#2d2d2d;}
.colorb3b3b3{color: #b3b3b3;}
.colorV{color:#673B6D;}
.colorP{color:#9638A3 !important;}
.colorLg{color:#22B9C7 !important;}
.colorOwhite{color:#f0f0f0 }
/*color: #ff5a5f;*/
.font10{font-size:10px;}
.font13{font-size:13px;}
.font15{font-size:15px;}
.font20{font-size:20px;}
.font12{font-size:12px !important;}
.font16{font-size:16px !important;}
.pointNone{pointer-events:none}
.poR{position:relative;}
.point{cursor:pointer}
.mTop10{margin-top:10px}
.input {position: relative;z-index: 1;	display: inline-block;margin-bottom: 20px;width: 100%;vertical-align: top; overflow: hidden; }
.wrapper_main{width:100%;height:auto;}
.wrapper_max{width:100%;height:100%;max-width:1400px ; margin:auto}
.footer{width:100%;height:80px;background-color:#2d2d2d;color:#fff}
.header{height:120px;width:100%;position:absolute;top:0;left:0;padding:0px 0px 0px 30px;z-index:12;background: #2d2d2d;}
.logo{width:24%;height:100%;background:url(../img/jzevalogo.svg)no-repeat;background-size:250px;background-position:left center;}
.tabWrap{width:550px;height:100px;position:absolute;z-index:30;top:10px; right:160px;}
.deactive{}
.tabWrap.deactive , .tabWrap2.deactive {z-index:12;pointer-events:none;}
.tab_buffer{width:550px;height:100px;position:relative;z-index:20;}
.tabB{width:20%; height:100px;padding:1px;cursor:pointer;}
.tabWrap2{width:150px;height:100px;position:absolute;z-index:30;top:10px; right:10px;}

.tabS{width:69%; height:100px;padding:1px;cursor:pointer;position:relative;}
.tab2{width:31%; height:50px;padding:1px;cursor:pointer;}
.tab2 .tab{padding:1px;}
.search_bar{width:0;height:100%;padding-right:100%;position:absolute;right:0;top:0;background:#666 url(../img/icons/22.svg) no-repeat; background-size: 70px; background-position: right 13px center;overflow: hidden;}
.tab.cartIcon{background:#fff url(../img/icons/cart.svg) no-repeat; background-size: 65%; background-position:center ;}
.search_bar.search_open{width:650px;padding: 20px 100% 20px 20px;background: #fff url(../img/icons/12.svg) no-repeat;background-size: 80px; background-position: right 13px center;}
.search_ip .search_open{padding: 0px 20px;}
.search_ip{width:100%;height:100%;border:none; border-bottom:2px solid #2d2d2d; font-size:22px; color:#2d2d2d;background: #fff;}
.search_btn{height:100%;width:106px;position:absolute;right:0; top:0;}

.tabWrap2 .tab2{position:relative}
/*.tabWrap2 .tab2:after{content:"";position:absolute; left:0;top:0;background:rgba(0,0,0,0.85);width:100%;height:100%;transition:300ms; opacity:0; pointer-events:none}*/
/*.tabWrap2 .tab2.pointNone:after{opacity:1; }*/
.tabS .tab{padding:0;position:relative;}
.tab{width:100%; height:100%;transition:200ms;color:#fff; padding:70px 10px 10px 10px;font-size:12px;}
.tabB:hover .taba, .selec.taba{background:#22B9C7 !important;color:#fff !important}
.tabB:hover .tabb, .selec.tabb{background:#22B9C7 !important;color:#fff !important}
.tabB:hover .tabc, .selec.tabc{background:#22B9C7 !important;color:#fff !important}
.tabB:hover .tabd, .selec.tabd{background:#22B9C7 !important;color:#fff !important}
.tabB:hover .tabe, .selec.tabe{background:#22B9C7 !important;color:#fff !important}
.tabWrap:hover .tab{background:#fff;color:#2d2d2d;}
.selec{background:#22B9C7;color:#fff}
.over_hide{overflow:hidden !important}
.add_sign{padding-right:40px;background: #fff url(../img/icons/87.svg) no-repeat; background-size: 70%; background-position: center;}
.menu_wrap{position:absolute;top:100%;left:0;width:700px;height:0px;background:transparent;display:none;padding: 1px;overflow:hidden}
.menuB{width:100%;height:100%;position:relative;background:#f0f0f0;}
.overlay{width:100%;height:100vh;position:fixed;background:rgba(0,0,0,0.85);z-index:13;display:none;opacity:0;pointer-events:none;}
.overlay2{width:100%;height:100vh;position:fixed;background:rgba(0,0,0,0.2);z-index:13;opacity:0;pointer-events:none;}
.overlay3{width:100%;height:100%;position:fixed; background:rgba(255,255,255,0.8);z-index: 30;opacity:0;}
.over_open.overlay2{opacity:1}
.pad15{padding:15px}
.menu_elm{width:100%;height:100%;position:absolute;left:0;top:0;background:#fff;padding:20px;z-index:30;}
.menu_head{width:100%;color:#b3b3b3;font-size:15px; padding: 5px 0; margin-bottom: 10px; text-transform: uppercase;  float:left;}
.menu_list{width:80%;color:#666;font-size:12px; text-transform: uppercase;  float:left;padding:5px 7px ;cursor:pointer;}
.menu_list:hover{background:#2d2d2d;color:#fff;}
.menu_wrap .col100{margin-bottom:10px;}
.left_arrow{padding-left:40px;background:url("../img/icons/13.svg")no-repeat;background-size:30px;background-position:left center;opacity:0.3}
.left_arrow:hover{opacity:0.5}
.right_arrow{padding-right:40px;background:url("../img/icons/14.svg")no-repeat;background-size:30px;background-position:right center;opacity:0.3}
.right_arrow:hover{opacity:0.5}
.tab_select{}
.userprofile{background: #fff url(../img/icons/87.svg) no-repeat; background-size: 70%; background-position: center;}
.cart{width:400px;height:100vh;position:fixed;top:0;right:0;background:rgba(255,255,255,0.95);z-index:200;display:none;transform:translateX(400px);-webkit-transform:translateX(400px);-moz-transform:translateX(400px);box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);}
.cart_gen{width:100%;height:auto;max-height:calc(100% - 120px);padding:0 15px; background: #FFF;}
.cart_head{width:100%;height:50px;background:#5f00b8;line-height:50px; padding:0px 60px 0px 20px;color:#fff;cursor:pointer;font-size:12px;position:relative;}
.cart_item{padding:15px 90px 15px 70px; height:80px;width:100%;border-bottom:1px dotted #e6e6e6;position:relative;}
.cart_image{width:60px; height:60px;position:absolute;left:0px;top:5px;background:url("../img/jzeva1.png")no-repeat;background-size:140%;background-position:center -20px;}
.cart_name{width:100%;font-size:15px;line-height:24px;color:#2d2d2d}
.cart_price{width:auto;font-size:12px;line-height:25px;color:#fff;background:#2d2d2d;padding:0 10px}
.cart_foot{width:100%;position:absolute;bottom:0;height:50px;background:#2d2d2d;color:#fff;text-align:center;line-height:50px;cursor:pointer;font-size:18px;}
.amt_selector{width:80px;height:26px;position:absolute;right:10px;top:12px;font-size:13px}
.cart_remove{width:80px;position:absolute;right:10px; top: 45px;font-size: 13px;text-align:right;cursor:pointer}
.cart_btn.sub_no{line-height: 20px;}
.cart_sub{width:100%;height:90px;padding:10px 55% 10px 10px;border-bottom:1px solid #e6e6e6; position:relative;color:#2d2d2d}
.chk_out{width:30%;position:absolute; right:90px; top:0 ;bottom:0 ; margin:auto;height:40px}
.add_no{}
.item_amt{width:30px;height:25px;text-align:center;line-height:25px;}
.cart_btn{width:25px;height:25px;color:#2d2d2d;text-align:center;line-height:25px;cursor:pointer; user-select:none;font-size:16px;border-radius:50%;border:1px solid #2d2d2d}
.wrapper{width:100%;height:100vh;padding:120px 20px 0px 20px;float:left;position: relative; z-index: 7; background: #fff;}
.PRODUCT_GRID .wrapper{padding:120px 0px 0px 0px}
.details_cont{width:25%;height:100%;position:relative;opacity:0;max-height:600px; z-index:20}
.details_head{width:100%;height:auto;line-height:35px; font-size:30px;text-align:right; color:#2d2d2d;padding: 10px 0px;}
.details_desc{width:100%;height:auto;color:#666;}
.details_buffer{width:100%;height:80%;position:absolute; top:0;;bottom:0;margin:auto;text-align:right}
.para{width:100%;height:auto;margin:10px 0px ;  line-height:20px;font-size:14px;word-wrap: break-word; white-space: normal;}
.rota_wrap{width:50%;height:100%;position:relative;opacity:0;max-height:600px;}
.options{width:25%;height:100%;position:relative;opacity:0;max-height:600px}
.options_buffer{width:100%;height:75%;position:absolute;top:0;bottom:0;margin:auto;}
.padX0{padding-left:0 !important ; padding-right:0px !important}
.action_btns{width:100%; float:left;margin-top:10px}
.another_buffer{width:100%;height:auto;position:relative}
.cust_cont{width:100%;height:auto;}
.cust_cont2{width:100%;height:80%;top:80px;left:0;position:absolute}
.desc_row{width:100%;padding:15px; height:auto;border-bottom: 1px dotted #ccc;margin-bottom:5px;opacity:1;color:#2d2d2d}
.desc_row:hover{opacity:1}
.cust_buffer{width:100%;height:auto;position:relative;margin-top:20px}
.rad_wrap{width:20%;height:45px;;font-size:10px;padding:5px;position:relative}
.filter_cont .rad_wrap{width:12%}
.selector1{width:20px;height:20px;border:2px solid #666; border-radius:50%; position:absolute;overflow:hidden; left: 0;right: 0;margin: auto;cursor:pointer}
.selector_label{width:100%;position:absolute;left:0;bottom:5px;text-align:center}
.selector1:after{content:"";position:absolute;top:0;right:0;left:0;bottom:0; margin:auto;transform:scale(0);height:100%;width:100%;background:#22B9C7;border-radius:50%;transition:200ms;-moz-transition:200ms;-webkit-transition:200ms;}
.select_active.selector1:after{transform:scale(0.8)}
.selector_cont{display:none;opacity:0;position:absolute;top:0px;left:0;width:100%;height:200px;background:#fff;z-index:20}
/*.review_btn{width:100%;height:60px;position:absolute;bottom:0;left:0;text-align:center;line-height:60px;color:#666;cursor:pointer}*/
.review_cont{width:100vw;height:calc(100vh - 120px);position:absolute;bottom:0;left:0;transform:translateY(100%);background:rgba(255,255,255,0.9);z-index:150;display:none; -webkit-transform-style: preserve-3d;  transform-style: preserve-3d;}
.review_cont .mCSB_container{padding:60px 10px 40px 10px;}
.review_item{width:100%;height:auto;padding:10px;}
.review_item:hover{background-color:#ebebde;}

/*.review_item:hover{background-color:#ebebde;}*/
.rating_cont{width:120px;height:27px;position:absolute;left:0;top:0;}

.rate_star{width:24px;height:24px;background:url("../img/star1.svg")no-repeat;background-size:110% auto;background-position:center;}
.rate_star.fill{background:url("../img/star2.svg")no-repeat;background-size:110% auto;background-position:center;}
.comment_summ{padding-left:130px;position:relative;}
.review_write{width:100%;height:auto;padding:15px;color:#2d2d2d;font-size: 14px;line-height: 23px;}
.review_user{width:100%; height:60px;padding:10px 10px 0px 10px;font-size:12px}
.page_loader{width:100vw;height:100vh;position:absolute;bottom:0;left: 0;transform:translateY(-100%);z-index: 220;background:#22B9C7 url("../img/diablack.svg")no-repeat;background-size:10%;background-position:center 15vh;color:#fff}
.page_loader2{width:100vw;height:100vh;position:fixed;top:0;z-index: 220;background:#22B9C7 url("../img/diablack.svg")no-repeat;background-size:10%;background-position: center 15vh;color:#fff}
.loader_quote{width:80%; height:80px; position:absolute; left:0;right:0;top:40%;margin:auto;font-size:40px;text-align:center;color:#fff}
.review_canc{position:absolute;top:10px;right:10px;width:40px;height:40px;background:url("../img/close_black.svg")no-repeat;background-size:100%;background-position:center;cursor:pointer}
.filter_cont{width:100vw;height:calc(100vh - 120px);position:absolute;bottom:0;left:0;transform:translateY(100%);background:rgba(255,255,255,0.9);z-index:150;display:none; -webkit-transform-style: preserve-3d;  transform-style: preserve-3d;padding:60px 25px 25px 25px;}
.filter_canc{position:absolute;top:10px;right:10px;width:40px;height:40px;background:url("../img/close_black.svg")no-repeat;background-size:100%;background-position:center;cursor:pointer}
.PRODUCT_PAGE .wrapper_max{max-width:1200px}
.disable1{pointer-events:none;opacity:0.3 !important; transition:300ms}
.disable_full{pointer-events:none;opacity:0 !important; }
.drop_dn{width: auto; color: #333; font-size:14px; cursor: pointer; position: relative; text-transform: uppercase;padding: 15px 0px;margin-bottom:10px;text-align:center;width:33%}
.drop_dn:after{width:40%;position:absolute;border-bottom:1px solid #2d2d2d;top:85%;left:0;right:0;margin:auto;content:"";transform:scaleX(0);transition:300ms}
.drop_dn:hover:after{transform:scaleX(1);}
.border_s{border-left:1px dotted #ccc;border-right:1px dotted #ccc}

.options_back{height:30px;width:100%;line-height:30px;padding-left:30px;background:url("../img/back.svg")no-repeat;background-size:25px;background-position:left center;font-size:12px;cursor:pointer}
.grid_back{height:40px;width:40px;background:url("../img/closeW.svg")no-repeat;background-size:50px;background-position:center;cursor:pointer;position:absolute; left:0; right:0; bottom:30px; margin:auto;}
.scala{}
.drop_dn{}
.drop_dets{width:100%;height:150px;float:left;display:none;background:#e6e6e6;position:absolute;top:40px;left:0;z-index:10}
.price_light{font-size:36px; color:#2d2d2d;width: 85%;height:45px;margin-top:20px}
.rota{width:100%;height:90%;position:relative;max-width:100%;margin:auto}
.rota_buffer{width:100%; height:100%;position:absolute;left:0;right:0;background:#fff ;margin: auto;}
.rota_exstate{position:absolute ;height:100vh ; width:100vh; left:0; right:0 ; margin:auto ;top:0px; background:#fff;max-height:100vh }
.padX5{padding:0px 5px}
.padXl5{padding-left:5px}
.padXlr{padding-right:5px}
.mTop10{margin-top:10px;}
.mBot10{margin-bottom:10px;}
.mTop5{margin-top:5px;}
/*.img1{background:url("../img/jzeva1.png")no-repeat;}
.img2{background:url("../img/jzeva2.png")no-repeat;}
.img3{background:url("../img/jzeva3.png")no-repeat;}
.img4{background:url("../img/jzeva4.png")no-repeat;}
.img5{background:url("../img/jzeva5.png")no-repeat;}
.img6{background:url("../img/jzeva6.png")no-repeat;}
.img7{background:url("../img/jzeva7.png")no-repeat;}
.img8{background:url("../img/jzeva8.png")no-repeat;}
.img9{background:url("../img/jzeva9.png")no-repeat;}
.img10{background:url("../img/jzeva10.png")no-repeat;}
.img11{background:url("../img/jzeva11.png")no-repeat;}
.img12{background:url("../img/jzeva12.png")no-repeat;}
.img13{background:url("../img/jzeva13.png")no-repeat;}
.img14{background:url("../img/jzeva14.png")no-repeat;}
.img15{background:url("../img/jzeva15.png")no-repeat;}
.img16{background:url("../img/jzeva16.png")no-repeat;}
.img17{background:url("../img/jzeva17.png")no-repeat;}
.img18{background:url("../img/jzeva18.png")no-repeat;}
.img19{background:url("../img/jzeva19.png")no-repeat;}
.img20{background:url("../img/jzeva20.png")no-repeat;}
.img21{background:url("../img/jzeva21.png")no-repeat;}
.img22{background:url("../img/jzeva22.png")no-repeat;}
.img23{background:url("../img/jzeva23.png")no-repeat;}
.img24{background:url("../img/jzeva24.png")no-repeat;}
.img25{background:url("../img/jzeva25.png")no-repeat;}
.img26{background:url("../img/jzeva26.png")no-repeat;}
.img27{background:url("../img/jzeva27.png")no-repeat;}
.img28{background:url("../img/jzeva28.png")no-repeat;}
.img29{background:url("../img/jzeva29.png")no-repeat;}
.img30{background:url("../img/jzeva30.png")no-repeat;}*/
.img30{background:url("../img/product1/1.jpg")no-repeat;}
.img29{background:url("../img/product1/2.jpg")no-repeat;}
.img28{background:url("../img/product1/3.jpg")no-repeat;}
.img27{background:url("../img/product1/4.jpg")no-repeat;}
.img26{background:url("../img/product1/5.jpg")no-repeat;}
.img25{background:url("../img/product1/6.jpg")no-repeat;}
.img24{background:url("../img/product1/7.jpg")no-repeat;}
.img23{background:url("../img/product1/8.jpg")no-repeat;}
.img22{background:url("../img/product1/9.jpg")no-repeat;}
.img21{background:url("../img/product1/10.jpg")no-repeat;}
.img20{background:url("../img/product1/11.jpg")no-repeat;}
.img19{background:url("../img/product1/12.jpg")no-repeat;}
.img18{background:url("../img/product1/13.jpg")no-repeat;}
.img17{background:url("../img/product1/14.jpg")no-repeat;}
.img16{background:url("../img/product1/15.jpg")no-repeat;}
.img15{background:url("../img/product1/16.jpg")no-repeat;}
.img14{background:url("../img/product1/17.jpg")no-repeat;}
.img13{background:url("../img/product1/18.jpg")no-repeat;}
.img12{background:url("../img/product1/19.jpg")no-repeat;}
.img11{background:url("../img/product1/20.jpg")no-repeat;}
.img10{background:url("../img/product1/21.jpg")no-repeat;}
.img9{background:url("../img/product1/22.jpg")no-repeat;}
.img8{background:url("../img/product1/23.jpg")no-repeat;}
.img7{background:url("../img/product1/24.jpg")no-repeat;}
.img6{background:url("../img/product1/25.jpg")no-repeat;}
.img5{background:url("../img/product1/26.jpg")no-repeat;}
.img4{background:url("../img/product1/27.jpg")no-repeat;}
.img3{background:url("../img/product1/28.jpg")no-repeat;}
.img2{background:url("../img/product1/29.jpg")no-repeat;}
.img1{background:url("../img/product1/30.jpg")no-repeat;}
/*.img36{background:url("../img/Ring_0000.jpg")no-repeat;}
.img35{background:url("../img/Ring_0001.jpg")no-repeat;}
.img34{background:url("../img/Ring_0002.jpg")no-repeat;}
.img33{background:url("../img/Ring_0003.jpg")no-repeat;}
.img32{background:url("../img/Ring_0004.jpg")no-repeat;}
.img31{background:url("../img/Ring_0005.jpg")no-repeat;}
.img30{background:url("../img/Ring_0006.jpg")no-repeat;}
.img29{background:url("../img/Ring_0007.jpg")no-repeat;}
.img28{background:url("../img/Ring_0008.jpg")no-repeat;}
.img27{background:url("../img/Ring_0009.jpg")no-repeat;}
.img26{background:url("../img/Ring_0010.jpg")no-repeat;}
.img25{background:url("../img/Ring_0011.jpg")no-repeat;}
.img24{background:url("../img/Ring_0012.jpg")no-repeat;}
.img23{background:url("../img/Ring_0013.jpg")no-repeat;}
.img22{background:url("../img/Ring_0014.jpg")no-repeat;}
.img21{background:url("../img/Ring_0015.jpg")no-repeat;}
.img20{background:url("../img/Ring_0016.jpg")no-repeat;}
.img19{background:url("../img/Ring_0017.jpg")no-repeat;}
.img18{background:url("../img/Ring_0018.jpg")no-repeat;}
.img17{background:url("../img/Ring_0019.jpg")no-repeat;}
.img16{background:url("../img/Ring_0020.jpg")no-repeat;}
.img15{background:url("../img/Ring_0021.jpg")no-repeat;}
.img14{background:url("../img/Ring_0022.jpg")no-repeat;}
.img13{background:url("../img/Ring_0023.jpg")no-repeat;}
.img12{background:url("../img/Ring_0024.jpg")no-repeat;}
.img11{background:url("../img/Ring_0025.jpg")no-repeat;}
.img10{background:url("../img/Ring_0026.jpg")no-repeat;}
.img9{background:url("../img/Ring_0027.jpg")no-repeat;}
.img8{background:url("../img/Ring_0028.jpg")no-repeat;}
.img7{background:url("../img/Ring_0029.jpg")no-repeat;}
.img6{background:url("../img/Ring_0030.jpg")no-repeat;}
.img5{background:url("../img/Ring_0031.jpg")no-repeat;}
.img4{background:url("../img/Ring_0032.jpg")no-repeat;}
.img3{background:url("../img/Ring_0033.jpg")no-repeat;}
.img2{background:url("../img/Ring_0034.jpg")no-repeat;}
.img1{background:url("../img/Ring_0035.jpg")no-repeat;}*/
.imgHolder{width:100%;height:100%;position:absolute;background-size:115%;background-position:center;cursor: w-resize;}
.imgHolder img{width:100%;height:100%;border:0}
img{width:100%;height:100%;border:0}
.rota_run{background:url("../img/360.svg")no-repeat;background-size:30px;background-position:left center;width:auto;padding-left:35px;display:inline-block;height:50px;line-height:50px;font-size:12px;margin:0 20px;}
.rota_expand{background:url("../img/icons/03.svg")no-repeat;background-size:30px;background-position:left center;width:auto;padding-left:35px;display:inline-block;height:50px;line-height:50px;font-size:12px;margin:0 20px;}
.rota_expand.rota_shrink{background:url("../img/icons/04.svg")no-repeat;background-size:40px;background-position:left center;}
.rota_stop{background:url("../img/pause.svg")no-repeat;background-size:30px;background-position:left center;width:auto;padding-left:35px;display:inline-block;height:50px;line-height:50px;font-size:12px;margin:0 20px;}
.rota_btn{width: 100%;height: 10%; background-position: center; cursor: pointer; position: absolute; bottom: 0; left: 0; right: 0;}
.closeCart{width:50px;height:50px;position:absolute;right:0;top:0;background:url("../img/close_black.svg")no-repeat;background-size:60%;background-position:center;cursor:pointer;}
.grid_cont{width:100%;height:calc(100vh - 180px);padding:0;background:#fff;white-space:nowrap;overflow:hidden;min-height:450px;}
.grid3{width:auto;height:auto; max-height: 600px;display:inline-block;vertical-align:top; -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.facet_front{width:100%;height:100%;position:absolute;left:0;top:0;padding:10px;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;transform:rotateY(0deg);-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;}
.facet_back{width:100%;height:100%;position:absolute;left:0;top:0;padding:10px; transform:rotateY(180deg);-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;}
.facet_cont{width:100%;height:100%;background:#2d2d2d; color:#fff;padding:20px 20px 100px 20px;    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.1);}
.facet_icons{width:100%;height:40px;position:absolute; left:0;bottom:80px}
.grid_item{width:20.5vw;height:100%;}
.grid_item:hover{}
.grid_icons{width:80%;height:50px;left:0; bottom:80px; position:absolute;left:0; right:0; margin:auto}
.soc_elem2 {width:50px;height:50px;display:inline-block;cursor:pointer}
.soc_commentW{background:url("../img/icons/commentW.svg")no-repeat;background-size:100%;background-position:center;}
.soc_likeW{background:url("../img/icons/likeW.svg")no-repeat;background-size:85%;background-position:center;}
.soc_shareW{background:url("../img/icons/shareW.svg")no-repeat;background-size:100%;background-position:center;}
.soc_cartW{background:url("../img/icons/cartW.svg")no-repeat;background-size:90%;background-position:center;}
.grid_img{height:20.5vw;width:100%;cursor: w-resize;float:left;position:relative;background:#fff}
.grid_img img{width:100%;height:100%;position:absolute;}
.grid_img div{width:100%;height:100%;position:absolute;}
.grid_dets{height:70px;width:100%;float:left;padding:5px;border-top:1px solid #e6e6e6;background: #fff;}
.grid_name{width:100%;height:25px;text-align:center;line-height:25px;font-size:15px;color:#2d2d2d}
.grid_price{width: 100%;color: #2d2d2d; padding: 7px 15px; font-size: 20px; position: absolute; bottom: 0; text-align: center; right: 0; z-index: 100;}
.grid_opt{font-size:13px;color:#2d2d2d;font-family:SansationB; padding-left:20px;cursor:pointer;}
.container2{width:100%;min-height: 100%;background-color: #fff;padding-top: 0px;height: auto;float: left;}
.filterH{width:100%;height:60px;line-height:60px;font-size:18px;padding:0px 30px; }
.filter_btn{width:60px;height:60px ;background:url("../img/filter.svg")no-repeat;background-size:100%;background-position:center;cursor:pointer}
.head_wrap{width:100%;position:absolute;top:0;left:0;z-index: 25;}
.head_wrap .overlay2{position:absolute}
.grid_item .col100{white-space:normal;text-align:center;line-height:20px}
.trns1{opacity:0;animation-delay: 0s;}
.trns1:nth-child(3){animation-delay: 0s;}
.grid3:hover .trns1:nth-child(3){animation-delay: 0.2s;}
.grid3:hover .trns1:nth-child(1){animation-delay: 0s;}
.PRODUCT_GRID2 .grid3{width:33.33%;display:block;float:left;position:absolute;height:29.5vw;}
/*.PRODUCT_GRID2 .grid3:nth-child(5n){border-left:1px dotted #ccc}
.PRODUCT_GRID2 .grid3:nth-child(-n+4){border-top:1px dotted #ccc}*/
.PRODUCT_GRID2 .grid3:hover{z-index: 200;}
.PRODUCT_GRID2 .grid_cont{height:auto;padding:10px 10px 100px 300px; background:#e6e6e6;position:relative;overflow:visible;perspective:1500px }
.PRODUCT_GRID2 .posab{position:absolute;bottom:0;left:0;}
.PRODUCT_GRID2 .grid_cont{}
.PRODUCT_GRID2 .wrapper{padding:120px 0 0 0}
.PRODUCT_GRID2 .grid_item{width:100%;background:#fff;    box-shadow: 0px 4px 18px 4px rgba(0,0,0,0.1);}
.filter_main{width:270px;position:absolute;top:20px;left:20px; height:auto;min-height:100vh;padding:15px;border-radius:2px}
.filter_elem{width:100%;height:auto;margin-bottom:10px}
.filter_selector{width:100%;height:20px;margin-bottom:10px; position:relative; padding-left:30px;font-size:14px; line-height:20px; cursor:pointer}
.filter_cat{width:100%;height:auto; margin-bottom:20px; position:relative;}
.filter_cat:after{content:""; width:80%;height:0;border-top:1px dotted #2d2d2d;position:absolute; left:0 ; bottom:-5px}
.sel_box{width:20px; height:20px; border:1px solid #666 ; border-radius:50%; position:absolute; left:0;top:0;overflow:hidden}
.sel_box:after{content:"";width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto; transform:scale(0); transition:300ms; border-radius:50%}
.gold.sel_box:after{background:#DAA520}
.white_gold.sel_box:after{background:#bba58e}
.platinum.sel_box:after{background:#E5E4E2}
.silver.sel_box:after{background:#C0C0C0}
.rose_gold.sel_box:after{background:#b76e79}
.diamond.sel_box:after{background:#22B9C7}
.ruby.sel_box:after{background:#9b111e}
.emerald.sel_box:after{background:#50c878}
.zirconium.sel_box:after{background:#ffffff}

.selected.sel_box:after{transform:scale(0.8);}
.soc_icons{width:50px;height:160px; position:absolute;right:10px;top:80px; bottom:0;cursor:pointer}
.soc_elem{width:50px;height:50px;opacity:0;transform:translate(10px);}
.soc_elem:hover{opacity:1}
.soc_face{background:url(../img/icons/facebook.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_face:hover{background:url(../img/icons/facebook_color.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_twit{background:url(../img/icons/twitter.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_twit:hover{background:url(../img/icons/twitter_color.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_insta{background:url(../img/icons/instagram.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_insta:hover{background:url(../img/icons/instagram_color.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_wish2{background:url(../img/icons/like.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_wish2:hover{opacity:1 !important}
.soc_wish2.soc_wishfill{background:url(../img/icons/like_fill.svg)no-repeat;background-size:auto 100%;background-position:center;}
.soc_comment{background:url(../img/icons/comment.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_comment:hover{opacity:1 !important}
.soc_share{background:url(../img/icons/share.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_share:hover{opacity:1 !important}
.soc_insta{background:url(../img/icons/instagram.svg)no-repeat;background-size:auto 100%;background-position: center;}
.soc_wish{background:url(../img/icons/like.svg)no-repeat;background-size:auto 70px;background-position: center;height:70px;}
.soc_wish:hover{background:url(../img/icons/like_fill.svg)no-repeat;background-size:auto 70px;background-position: center;height:70px;}
.grid_over{width:100%;height:100%;position:absolute;background:rgba(0,0,0,0.6);left:0; top:0}
.icnLike{background:url(../img/icons/like.svg)no-repeat;background-size:auto 70px;background-position: center;height:70px;opacity:0.4;position:relative}
.icnLike:hover{opacity:1;transition-delay:0}
.icnLike:after{content:"";background:url(../img/icons/like_fill.svg)no-repeat;background-size:auto 70px;left:0px;top:0px;background-position: center;opacity:0;position:absolute;transition:300ms;pointer-events:none;width:100%;height:100% }
.icnLike.liked{opacity:1;    background-size: auto 65px;}
.liked.icnLike:after{opacity:1}

.icnCmnt{background:url(../img/icons/comment.svg)no-repeat;background-size:auto 70px;background-position: center;height:70px;opacity:0.4}
.icnCmnt:hover{opacity:1}
.icnShre{background:url(../img/icons/share.svg)no-repeat;background-size:auto 70px;background-position: center;height:70px;opacity:0.4}
.icnShre:hover{opacity:1}
/*@-webkit-keyframes fadeRt {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity:0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity:1;
  }
}
@keyframes fadeRt {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
      opacity:0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
      opacity:1;
  }
}
@-webkit-keyframes fadeUpInit2 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity:1;
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity:0;
  }
}
@keyframes fadeUpInit2 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
      opacity:1;
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
      opacity:0;
  }
}
.grid3:hover .soc_elem{
  -webkit-animation-name: fadeRt;
  animation-name: fadeRt;
}
.grid3 .soc_elem{
  -webkit-animation-name: fadeUpInit2;
  animation-name: fadeUpInit2;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   -o-animation-fill-mode:forwards;
   -ms-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}
.soc_elem:nth-child(4){ -webkit-animation-delay: 0s;  animation-delay: 0s;}
.soc_elem:nth-child(3){ -webkit-animation-delay: 0.1s;  animation-delay: 0.1s;}
.soc_elem:nth-child(2){ -webkit-animation-delay: 0.2s;  animation-delay: 0.2s;}
.soc_elem:nth-child(1){ -webkit-animation-delay: 0.3s;  animation-delay: 0.3s;}
.soc_elem:nth-child(0){ -webkit-animation-delay: 0.4s;  animation-delay: 0.4s;}*/
.grid3:hover .soc_elem{transform:translate(0px);opacity:0.6}
.soc_elem:nth-child(0){transition-delay:0ms}
.soc_elem:nth-child(1){transition-delay:100ms}
.soc_elem:nth-child(2){transition-delay:200ms}
.soc_elem:nth-child(3){transition-delay:300ms}
.soc_elem:nth-child(4){transition-delay:400ms}
@-webkit-keyframes fadeUp1 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity:0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity:1;
  }
}
@keyframes fadeUp1 {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
      opacity:0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
      opacity:1;
  }
}
@-webkit-keyframes fadeUpInit {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity:1;
  }

  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity:0;
  }
}

@keyframes fadeUpInit {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
      opacity:1;
  }

  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
      opacity:0;
  }
}

.grid3:hover .trns1{
  -webkit-animation-name: fadeUp1;
  animation-name: fadeUp1;
}
.grid3 .trns1{
  -webkit-animation-name: fadeUpInit;
  animation-name: fadeUpInit;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   -o-animation-fill-mode:forwards;
   -ms-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}
.morewritefaggery{display:none;height: auto;min-height: 400px; position: absolute; z-index: 20; background: #fff;padding-bottom:70px}
.closewritefaggery{position:absolute;left:0;right:0; margin:auto ; bottom:10px ; width:70px; height:70px;background:url(../img/icons/close.svg)no-repeat;background-size:60px;background-position: center;opacity:0.7;cursor:pointer }
.closewritefaggery:hover{opacity:1}
.u_line{position:relative}
.u_line:after{content:"";width:100%;border-top:1px solid #2d2d2d;position:absolute;bottom:-5px;left:0;height:0;transform:scaleX(0);transition:300ms}
.u_line:hover:after{transform:scaleX(1)}
.flip_card{transform:rotateY(180deg)}
.light_header{width:100%;color:#f0f0f0;font-size:22px; text-align:center;position:relative;margin-bottom:15px}
.u_lineW{position:relative}
.u_lineW:after{content:"";width:100%;border-top:1px dotted #f0f0f0 ; left:0; bottom:-3px;position:absolute}
.facet_cont .desc_row{color:#fff;padding: 9px;margin:0;border-bottom: 1px dotted rgba(255,255,255,0.2)}
.facet_cont .para{font-size:12px}
.facet_cont .grid_back{margin-top:5px}
.close_fs{width:70px;height:70px; background:; position:absolute; right:50px; top:50px;background:url(../img/close_black.svg)no-repeat;background-size:100%;background-position: center;z-index:10;cursor:pointer}
.lat_logo{width:13vh; height:100vh; position:absolute;left:10px;top:0;}
.lat_logo:after{content:"";height: 12vh; width: 100vh; position: absolute; transform: rotate(-90deg) translateX(60px); background: url(../img/jzevalogoN.svg)no-repeat; background-size: auto 100%; background-position: center; z-index: 10; top: 50%; left: calc(-50vh + 60px);opacity:0.6}

@media only screen and (max-width: 1200px){
  .PRODUCT_GRID2 .grid3{width: 33.33%;height: 32.5vw;}
}
