html{}
body{padding: 0;margin: 0;}
*{outline:none;outline-style: none}
@font-face{font-family:openR;src: url(../fonts/OpenSans-Regular.ttf);}
@font-face{font-family:openL;src: url(../fonts/OpenSans-Light.ttf);}
@font-face{font-family:openB;src: url(../fonts/OpenSans-Bold.ttf);}

a { color: inherit;text-decoration: none; }
.fmOpenR{font-family:openR}
.fmOpenL{font-family:openL; letter-spacing: -0.03em;}
.fmOpenB{font-family:openB}

.font12{font-size: 12px!important;}
.font13{font-size: 13px;}
.font14{font-size: 13px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font35{font-size: 35px;}
.font40{font-size: 40px;}
.font43{font-size: 43px;}
.font45{font-size: 45px;}
.font55{font-size: 55px;}
.font65{font-size: 65px;}

.cFF {color: #fff;}

.backF0{background: #f0f0f0;}

*{box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-appearance: none;}
/*div,span{-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}*/

.dn{display: none!important;}
.fLeft{float:left!important}
.fRight{float:right!important}
.txtCenter{text-align: center}
.txtLeft{text-align: left!important;}
.txtRight{text-align: right}
.txtOver{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.txtCap{text-transform: capitalize;}

.transition100 {transition: 100ms ease-in-out;-moz-transition: 100ms ease-in-out;-ms-transition: 100ms ease-in-out;-webkit-transition: 100ms ease-in-out;-o-transition: 100ms ease-in-out;}
.transition300 {transition: 300ms ease-in-out;-moz-transition: 300ms ease-in-out;-ms-transition: 300ms ease-in-out;-webkit-transition: 300ms ease-in-out;-o-transition: 300ms ease-in-out;}

.poR{position: relative}
.bNone{border:none!important;}
.txtCap {text-transform: capitalize;}

.container{width:100%;height:auto;display: table;padding-bottom:0px;}

.wrapper{width:100%;height:auto;}
.wrapperMax{width:100%;max-width: 1200px;height:100%;margin: auto;display: table;}
.addProduct .wrapperMax{width:100%;max-width: 1080px;height:100%;margin: auto;display: table;}


/*Header*/
.header{width:100%;height:90px;position: fixed;top:0;left:0;background: #fff;box-shadow: 0 0 35px 0px rgba(0,0,0,0.2);z-index: 100;}
.header .wrapperMax{padding: 0 15px;}
.logoDiv{background: transparent url(../img/logo.png)no-repeat;background-position: left center;background-size: auto 45%;width:200px;height: 50px;}
.loggedUser{width:auto;height: 50px;line-height: 50px;font-size: 13px;color:#666;}
.logoutBtn {width: auto;height: 34px;line-height: 34px;margin: 8px 10px;background: #2F665C;padding: 0 25px;color: #fff;font-size: 13px;border-radius: 2px;cursor: pointer;}

.tabsCont{width:100%;height: 40px;background: #fff;}
.tabsComm{width:auto;height: 40px;margin:0 10px 0 0; color: #2F665C;font-size: 13px;font-family: openR;padding: 0 15px;cursor: pointer;border-bottom: 5px solid #FFF;border-bottom: 5px solid #2F665C;line-height: 40px;border-width: 0px;}
.tabActive{border-width: 5px;line-height: 35px;}
.tabsComm:hover{border-width: 5px;line-height: 35px;}
.tabsComm a{width:100%;height: auto;display: block;}


/* Contents */

.contents{width:100%;height:auto;padding:110px 25px 50px 25px;}
.commTitle0{width: 100%;height: auto;line-height: 50px;font-size: 22px;text-align: center;margin: 10px 0;color: #2A6869;}
.commTitle1 {width: 100%;height: auto;line-height: 30px;font-size: 30px;text-align: left;color: #2A6869;border-left: 10px solid #2a6869;padding-left: 15px;}
.commTitle2{width: 100%;height: 35px;font-size: 25px;color: #4d4d4d;margin: 0;text-align: center;}

.ctgForm{width:400px;height:auto;border:0px solid #ccc;margin: auto;display: table;}

.divCon {width: 100%;height: auto;margin-top: 20px;}
.borderDashed{border:1px dashed #2f665c;padding: 15px!important; height:auto !important;}
.titleDiv {width: 100%;height: auto;line-height: 20px;text-align: left;padding: 0 15px 0 0;margin: 0px 0 2px 0;color: #4d4d4d;font-weight: bold;font-size: 13px;}
.smallTitle{font-size: 11px;}
.txtInput {width: 100%;height: 35px;padding: 0 15px;outline: none;outline-style: none;border: 1px solid #ccc;border-radius: 2px;background: #fff;}
.txtSelect{width: 100%;height: 35px;padding: 0 15px;outline: none;outline-style: none;border: 1px solid #ccc;border-radius: 2px;background: #fff url(../img/down_arrow.svg)no-repeat;background-size: auto 100%;background-position: right center;cursor: pointer;text-transform: capitalize;}
.txtSelect option{color:#666;font-family: openR;text-transform: capitalize;}

.checkDiv {width: 50%;height: 25px;margin: 3px 0;padding-right: 10px;}
.checkDiv.font18 label{font-size: 24px!important;}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {position: absolute;left: -9999px; }
[type="checkbox"] {/* checkbox aspect */ }
[type="checkbox"] + label {position: relative;padding-left: 25px;cursor: pointer;display: inline-block;height: 20px;line-height: 20px;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;color: #666;font-size: 13px;}
[type="checkbox"] + label:before {content: '';position: absolute;top: 0;left: 0;width: 18px;height: 18px;z-index: 0;border: 2px solid #5a5a5a;border-radius: 1px;margin-top: 2px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;-ms-transition: 0.2s;transition: 0.2s; }
[type="checkbox"]:not(:checked):disabled + label:before {border: none;background-color: rgba(0, 0, 0, 0.26); }
[type="checkbox"]:checked + label:before {top: -4px;left: -3px;width: 12px;height: 22px;border-top: 2px solid transparent;border-left: 2px solid transparent;border-right: 2px solid #2F665C;border-bottom: 2px solid #2F665C;-webkit-transform: rotate(40deg);-moz-transform: rotate(40deg);-ms-transform: rotate(40deg);-o-transform: rotate(40deg);transform: rotate(40deg);-webkit-backface-visibility: hidden;-webkit-transform-origin: 100% 100%;-moz-transform-origin: 100% 100%;-ms-transform-origin: 100% 100%;-o-transform-origin: 100% 100%;transform-origin: 100% 100%; }[type="checkbox"]:checked:disabled + label:before {border-right: 2px solid rgba(0, 0, 0, 0.26);border-bottom: 2px solid rgba(0, 0, 0, 0.26); }
[type="checkbox"]:checked + label{font-weight: bold;color: #2F665C;}
/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {left: -10px;top: -11px;width: 10px;height: 22px;border-top: none;border-left: none;border-right: 2px solid #2F665C;border-bottom: none;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);-webkit-backface-visibility: hidden;-webkit-transform-origin: 100% 100%;-moz-transform-origin: 100% 100%;-ms-transform-origin: 100% 100%;-o-transform-origin: 100% 100%;transform-origin: 100% 100%; }
[type="checkbox"]:indeterminate:disabled + label:before {border-right: 2px solid rgba(0, 0, 0, 0.26);background-color: transparent; }
[type="checkbox"].filled-in + label:after {border-radius: 2px; }
[type="checkbox"].filled-in + label:before, [type="checkbox"].filled-in + label:after {content: '';left: 0;position: absolute;/* .1s delay is for check animation */transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;z-index: 1; }
[type="checkbox"].filled-in:not(:checked) + label:before {width: 0;height: 0;border: 3px solid transparent;left: 6px;top: 10px;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 20% 40%;transform-origin: 100% 100%; }
[type="checkbox"].filled-in:not(:checked) + label:after {height: 17px;width: 17px;background-color: transparent;background: #e6e6e6; border:1px solid rgba(0,0,0,0.1); top: 0px;z-index: 0; }
[type="checkbox"].filled-in:checked + label:before {top: 0px;left: 1px;width: 4px;height: 9px;border-top: 2px solid transparent;border-left: 2px solid transparent;border-right: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
[type="checkbox"].filled-in:checked + label:after {top: 0px;width: 17px;height: 17px;border: 1px solid #2F665C;background-color: #2F665C;z-index: 0;}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {background-color: transparent;border: 2px solid transparent; }[type="checkbox"].filled-in:disabled:not(:checked) + label:after {border-color: transparent;background-color: #BDBDBD; }
[type="checkbox"].filled-in:disabled:checked + label:before {background-color: transparent; }
[type="checkbox"].filled-in:disabled:checked + label:after {background-color: #BDBDBD;border-color: #BDBDBD; }


[type="radio"]:not(:checked), [type="radio"]:checked {position: absolute;left: -9999px;visibility: hidden; }
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {position: relative;padding-left: 30px;cursor: pointer;display: inline-block;height: 26px;line-height: 26px;font-size: 13px;-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;-ms-transition: .28s ease;transition: .28s ease;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;color: #666;}
[type="radio"] + label:before, [type="radio"] + label:after {content: '';position: absolute;left: 0;top: 0;margin: 5px;width: 12px;height: 12px;z-index: 0;-webkit-transition: .28s ease;-moz-transition: .28s ease;-o-transition: .28s ease;-ms-transition: .28s ease;transition: .28s ease;}
[type="radio"]:not(:checked) + label:before {border-radius: 50%;border: 2px solid #5a5a5a; }
[type="radio"]:not(:checked) + label:after {border-radius: 50%;border: 2px solid #5a5a5a;z-index: -1;-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0); }
[type="radio"]:checked + label:before {border-radius: 50%;border: 2px solid transparent; }
[type="radio"]:checked + label{color:#2F665C;font-weight: bold;}
[type="radio"]:checked + label:after {border-radius: 50%;border: 2px solid #2F665C;background-color: #2F665C;z-index: 0;-webkit-transform: scale(1.02);-moz-transform: scale(1.02);-ms-transform: scale(1.02);-o-transform: scale(1.02);transform: scale(1.02); }
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {background-color: transparent;border-color: rgba(0, 0, 0, 0.26); }
[type="radio"]:disabled + label {color: rgba(0, 0, 0, 0.26); }
[type="radio"]:disabled:not(:checked) + label:hover:before {border-color: rgba(0, 0, 0, 0.26); }



.btnCont{width:100%;height: 40px;margin: 20px 0}
.submitBtn{width:150px;height: 40px;font-size: 13px;line-height: 40px;text-align: center;display: inline-block;padding: 0;background: #2F665C url(../img/tickCircle.svg)no-repeat;background-position: 150% center;background-size: auto 70%;color:#fff;border-radius: 2px;cursor: pointer;-webkit-appearance: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
.submitBtn:hover {background-position: 98% center;}

.cancelBtn{width:150px;height: 40px;font-size: 13px;line-height: 40px;text-align: center;display: inline-block;padding: 0;background: #666 url(../img/tickCancel.svg)no-repeat;background-position: -60% center;background-size: auto 70%;color:#fff;border-radius: 2px;cursor: pointer;-webkit-appearance: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
.cancelBtn:hover {background-position: 5px center;}





.sampleBox{width: 100%;height: 200px;;margin: 0;background: #f0f0f0;padding: 15px;border-radius: 2px;overflow: hidden;margin-top: 20px;}

.dropTags {width: 100%;height: auto;padding: 5px 0;}
.tagCommon {width: auto;height: 25px;line-height: 23px;background-color: #f0f0f0;border: 1px solid #ccc;padding: 0 0 0 10px;margin: 0 5px 5px 0;cursor: default;font-size: 13px;border-radius: 2px;}
.removeTag {margin-left: 5px;width: 25px;height: 25px;background: url(../img/cancelBlack.svg)no-repeat;background-size: auto 20px;background-position: center;cursor: pointer;}

/* Add Products*/

.addProduct{}
.addProduct .checkDiv{width:auto;margin:5px 15px 0 0;display: inline-block;}
.mTop0{margin-top:0!important}
.addProduct .ctgForm{width:600px;}
.txtArea {width: 100%;height: auto;min-height: 40px;padding: 15px;outline-style: none;border: 1px solid #ccc;border-radius: 2px;background: #fff;resize: none;}



/*Shapes Cont*/




.shapesContComm{width:100%;height:auto;margin:10px 0 }
.allShapes{width:100%;height:auto;}
.shapeComm {border:2px solid #FFF;border-radius:5px; position: relative;background-image: url(../img/shapes.svg);background-repeat: no-repeat;margin: 0.5%;width: 9%!important;padding-bottom: 9%;height:0!important;display: inline-block;vertical-align: bottom;text-align: center;cursor: pointer;background-size: 1000% auto;}
.shapeComm:hover{border:2px solid #2F665C;}


.Round{background-position: 0% 0%;}
.Pear{width:40px;background-position: 11% 0%;}
.Heart{background-position: 22% 0%;}
.Princess{background-position: 33.5% 0%;}
.Asscher{background-position: 44.5% 0%;}
.Marquise{background-position: 55.5% 0%;}
.Oval{background-position: 66.5% 0%;}
.Emerald {background-position: 78% 0%;}
.Radiant {background-position: 89% 0%;}
.Cushion {background-position: 100% 0%;}


.shapeSelected.shapeComm.Round{background-color:#fff;border:2px solid #e6e6e6;background-position: 0% 33%;}
.shapeSelected.shapeComm.Pear{background-color:#fff;border:2px solid #e6e6e6;background-position: 11% 33%;}
.shapeSelected.shapeComm.Heart{background-color:#fff;border:2px solid #e6e6e6;background-position: 22% 33%;}
.shapeSelected.shapeComm.Princess{background-color:#fff;border:2px solid #e6e6e6;background-position: 33.5% 33%;}
.shapeSelected.shapeComm.Asscher{background-color:#fff;border:2px solid #e6e6e6;background-position: 44.5% 33%;}
.shapeSelected.shapeComm.Marquise{background-color:#fff;border:2px solid #e6e6e6;background-position: 55.5% 33%;}
.shapeSelected.shapeComm.Oval{background-color:#fff;border:2px solid #e6e6e6;background-position: 66.5% 33%;}
.shapeSelected.shapeComm.Emerald {background-color:#fff;border:2px solid #e6e6e6;background-position: 78% 33%;}
.shapeSelected.shapeComm.Radiant{background-color:#fff;border:2px solid #e6e6e6;background-position: 89% 33%;}
.shapeSelected.shapeComm.Cushion {background-color:#fff;border:2px solid #e6e6e6;background-position: 100% 33%;}

.shapeComm.shapeSelected {background-color: #fff;}
.shapeComm.shapeSelected::after{content: '';position: absolute;right: 5px;top: 5px;width: 20px;height: 20px;background: url(../img/tick.svg)no-repeat;background-position: center;background-size: auto 100%;}


.radioCont{width:100%;height: auto;}


/* Products List*/
.allProducts{}
.allProducts .commTitle2 {width: auto;text-align: left;}

.allProducts .date{width: 10%;}
.allProducts .stockCode{width: 13%;}
.allProducts .prdName{width: 33%;}
.allProducts .dmdWt{width: 10%;}
.allProducts .metalWt {width: 10%;}
.allProducts .acct{width: 24%;border-right: none!important;position: relative}


.stockCode .lwSpan{color: #8A0044;font-size: 11px;font-family: openB;}
li div{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
li .date{text-align: left;padding: 0 10px;}
li .prdName{text-align: left;padding: 0 10px;}
li .stockCode{text-align: left;padding: 0 10px;}
li .metal{text-align: center;}
li .catg{padding: 0 10px;}
li .dmdWt{text-align: center;}
li .metalWt {text-align: center;}
li .price{color: #8A0044;font-family: openB;text-align: right;padding: 0 10px;}
li .acct{border-right: none!important;position: relative;padding: 0 15px 0 0px}

.inStockPrd {background: #4db800 url(../img/down_arrow_white.svg)no-repeat;background-size: auto 30px;background-position: right center;}
.outStockPrd {background: #b80f00 url(../img/down_arrow_white.svg)no-repeat;background-size: auto 30px;background-position: right center;}
.backtxtSelect {width: 110px;height: 25px;line-height: 24px;border: none;border-radius: 5px;font-size: 10px;color: #666;cursor: pointer;margin: 7px 10px 0 0;padding-left: 5px;text-transform: uppercase;color: #fff;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;}
.backtxtSelect option {background: #fff;color: #666;}







/* For Pagination */
.pagination{width:100%;height: 70px;background: #fff;padding: 10px 0;color:#666;font-size: 13px;text-align: center;}
.pPrev{width:auto;height: 40px;border-radius:5px;display: inline-block;line-height: 40px;margin-right: 10px;cursor: pointer;vertical-align: top;padding:0 15px 0 35px;}
.pPrev::after {content: '';position: absolute;left: 0%;top: 0px;width: 40px;height: 40px;background: url(../img/arrow_left_black.svg)no-repeat;background-size: auto 100%;background-position: center;}
.pNext{width:auto;height: 40px;border-radius: 5px;padding:0 35px 0 15px;display: inline-block;line-height: 40px;cursor: pointer;vertical-align: top;}
.pNext::after {content: '';position: absolute;right: 0;top: 0px;width: 40px;height: 40px;background: url(../img/arrow_left_black.svg)no-repeat;background-size: auto 100%;background-position: center;-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg); }
.pgComm{width:40px;height: 40px;border-radius: 20px;border:1px solid #d4d4c8;color:#666;display: inline-block;line-height: 40px;margin:0 10px 0 0;cursor: pointer;vertical-align: top;}
.pgComm:hover{background: #22675A;color:#fff;border-color:  #22675A;}
.pgEmpty{width:10px;height: 10px;border-radius: 5px;background: #d4d4c8;display: inline-block;line-height: 20px;margin:0 10px 0 0;vertical-align: bottom;}
.pgActive{background: #22675A;color:#fff;border-color:  #22675A;}
.pPrev:hover{color:#22675A;}
.pNext:hover{color:#22675A;}
/* For Pagination */


/* Coupons*/
.coupons{}
.couponCont{width:100%;height: auto;background: #fff;padding: 0 15px;}
.coupons .commTitle2{width: auto;text-align: left;}

.p015{padding: 0 15px;}
.p030{padding: 0 30px;}
.prdSearchDiv {width: 100%;height: 55px;background: #fff;padding: 10px 0px;margin-top: 0px;}
.prdSeachTxt {width: 200px;height: 35px;border: 1px solid #d4d4c8;outline: none;outline-style: none;padding: 0 15px;border-radius: 5px;font-size: 13px;}


.addCouponBtn {width: auto;background: #2F665C url(../img/tickCircle.svg)no-repeat;background-position: 150% center;background-size: auto 70%;margin-left: 10px;color: #fff;height: 35px;line-height: 35px;font-size: 13px;border-radius: 5px;cursor: pointer;}
.addCouponBtn a{width:100%;height: auto;display: block;padding: 0 30px }
.addCouponBtn:hover{background-position: 98% center}

.cpListHeader {width: 100%;height: 45px;background: #e6e6e6;text-align: center!important;}
.cpListHeader div{border-right:1px solid #d4d4c8;height: 100%;line-height: 43px;padding: 0 15px;font-size: 13px;text-align: center!important;color:#4d4d4d;}
.cpListHeader  div:last-child{border: none!important;}

.coupons .date{width: 15%;}
.coupons .ccode{width: 15%;}
.coupons .cdescrp{width: 20%;}
.coupons .stDate{width: 15%;}
.coupons .enDate{width: 15%;}
.coupons .actt{width: 20%;border-right: none!important;}

.couponList {width: 100%;height: auto;margin: 0;padding: 0;list-style: none;}
 
.couponList li {width: 100%;height: 50px;line-height: 40px;float: left;color: #4d4d4d;font-size: 13px;border-bottom: 1px solid #e6e6e6;border-top: none;padding: 5px 0;}
.upSpan{display: block;width:100%;line-height: 20px}
.lwSpan {display: block;width: 100%;line-height: 15px;font-size: 11px;font-family: openB;}


.couponList li .ccode{font-size: 18px;letter-spacing: 0.08em;text-align: center;color: #0B4040;text-transform: uppercase;}

.couponList li .cdescrp {padding: 0 15px;font-size: 13px;}

.deltBtn {vertical-align: top;display: inline-block;width: 40px;height: 40px!important;line-height: 40px;color: #fff;background: url(../img/delete.svg)no-repeat;background-size: auto 80%;background-position: center;padding: 0!important;cursor: pointer;}
.deltBtn:hover {background-color: #f0f0f0;border-radius: 5px;}

.editBtn {vertical-align: top;display: inline-block;width: 40px;height: 40px!important;line-height: 40px;color: #fff;background: url(../img/edit.svg)no-repeat;background-size: auto 80%;background-position: center;padding: 0!important;cursor: pointer;}
.editBtn:hover {background-color: #f0f0f0;border-radius: 5px;}

.uploadBtn {vertical-align: top;display: inline-block;width: 40px;height: 40px!important;line-height: 40px;color: #fff;background: url(../img/upload.svg)no-repeat;background-size: auto 80%;background-position: center;padding: 0!important;cursor: pointer;}
.uploadBtn:hover {background-color: #f0f0f0;border-radius: 5px;}

.overlay {background: rgba(0,0,0,0.8);height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 115;}
.cEditPop {background: #fff none repeat scroll 0 0;border-radius: 5px;bottom: 0;height: 310px;left: 0;margin: auto;padding:25px;position: fixed;right: 0;top: 0;width: 500px;z-index: 116;}


.divCon2{width:49%;height: auto;margin-top: 20px;}
.couponCode{color: #2A6869;font-family: openB;}

.toggle-button {background-color: #e00000;margin: 5px 0;border-radius: 20px;border: 2px solid #e00000!important;height: 22px!important;cursor: pointer;width: 60px;float: right;position: relative;display: inline-block;line-height: 18px!important;font-size: 10px;margin: 0;margin-top: -2px;padding: 0 5px;color: #fff;margin: 10px 20px;overflow: visible;}
.toggle-button button {cursor: pointer;outline: 0;display: block;position: absolute;left: 0;top: 0;border-radius: 100%;width: 25px;height: 25px;background-color: #fff;float: left;margin: -2px 0 0 -3px;border: 2px solid #666;transition: left 0.3s;}
.toggle-button-selected {background-color: #91BF34;border: 2px solid #91BF34!important;padding: 0 5px;color: #fff;}
.toggle-button-selected button { left: 38px;border-color:#666;background:#fff;}
.fActive{display:block;float:left}
.fDactive{display:block;float:right}



/*Calander*/
.hasDatepicker_{width:100% !important;height:auto;position: absolute;z-index: 111;font-family:openR;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);-webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);-moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);-ms-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);-o-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);}
.ui-datepicker{background: #fff;width: 260px!important;padding: 15px;    box-shadow: 0 0 35px 0px rgba(0,0,0,0.2);display: none;}
.ui-datepicker-calendar{width:100%;}
.ui-datepicker-calendar a{text-decoration: none;color:#666}
.ui-datepicker-calendar td{width:14%;height: 30px;text-align: center;margin:0;padding:0;}
.ui-datepicker-calendar th{width:14%;height: 30px;background: #f0f0f0;color:#2F665C;font-weight: normal;font-family: openR}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{width:100%;height: 30px;display: block;border:1px solid #e6e6e6;line-height: 30px;box-sizing: border-box}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{background: #2F665C;color:#fff}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background: #333;color:#fff}
.ui-datepicker-title{width: 70%;height: 30px;line-height: 30px;font-size: 16px;text-align: center;float: left;color:#333;font-family: openR;}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{width: 100%;height: 30px;line-height: 30px;}
a.ui-datepicker-prev.ui-corner-all {width: 15%;height: 30px;line-height: 30px;text-align: center;display: block;float: left;cursor: pointer;font-size: 12px;font-family: openR;}
a.ui-datepicker-next.ui-corner-all{width: 15%;height: 30px;line-height: 30px;text-align: center;display: block;float: right;cursor: pointer;font-size: 12px;font-family: openR; }
.ui-state-disabled {color: #888;}



.ordersPage{}
.orderComm{width:100%;height: 250px;width: 100%;margin-bottom: 30px;box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);background: #fff;border-radius: 2px;padding: 0px 20px 0px 20px;}

.cnfrmntnHdng {width: 100%;height: auto;padding: 8px 0px;border-bottom: 1px solid #ccc;}
.advnameandLctn {width: auto;height: auto;}
.textprv {width: 100%;font-size: 13px;line-height: 15px;color: #f49712;}
.textprv1 {width: 100%;font-size: 18px;line-height: 20px;color: #666;font-weight: bold;}


.orderDtls {width: 100%;height: auto;padding: 20px 0px 15px 0px;position: relative;}



section{width:100%;height: auto;border:1px dashed #b3b3b3;float: left;margin:0 0 20px 0;padding:30px;border-radius: 2px;}
.wAuto{width:auto!important;}

.dQuality {width: 100%;height: auto;padding: 0 0;margin-bottom: 0;border-bottom: 1px dashed #ccc;}
.intColors{width:auto;margin-top: 5px;}
.availCol{width:auto;color:#666;font-size: 13px;margin-right: 0!important;padding-right:10px!important;line-height: 22px;}


.intInp {width: auto;background: #4db800;height: 25px;margin: 5px 15px;border-radius: 25px;padding: 0 15px;color: #fff;font-size: 14px;font-family: openB;line-height: 25px;}

.intInp2 {width: 200px;margin: 5px 15px}

.minwidth100{min-width: 100px;margin-top: 5px!important;}

.otherDsetting{width:180px;margin-top: 0!important;}


/*Diamond Cont*/
.diamondCont{}
.diamondCont .divCon2{width:19%;margin-right:1%;}

/*Gemstone Cont*/
.gemstoneCont{}
.gemstoneCont .divCon2{width:24%;margin-right:1%;}



/*Solitaire Cont*/
.solitaireCont{}
.solitaireCont .divCon2{width:19%;margin-right:1%;}
.solitaireCont .breakLine{margin-bottom: 0}

/*uncut Cont*/
.uncutCont{}
.uncutCont .divCon2{width:19%;margin-right:1%;}


/*General Cont*/
.generalCont{}
.generalCont .forInp{width:19%;margin-right:1%;}

.breakLine{width:100%;border-bottom:1px dashed #ccc;float: left;margin: 15px 0}
.divCon.backF0{padding:30px;border-radius: 2px;}


.qltCLeft{width:70%;height:auto;border-right:1px solid #ccc;padding: 0 15px 15px 0}
.qltCRight{width:30%;height:auto;padding: 0 0 0 20px}


.intColors  .checkDiv{margin-top:0!important;}


.addBtn {width: auto;background: #2F665C url(../img/tickPlus.svg)no-repeat;background-position: 150% center;background-size: auto 70%;margin:20px 0 0 0;color: #fff;height: 35px;line-height: 35px;font-size: 13px;padding: 0 30px;border-radius: 5px;cursor: pointer;display: inline-block;}
.addBtn:hover{background-position: 98% center;}

.noBorder .dQuality{border-bottom: none!important;}


.divAuto{}
.divAuto .dQuality{width:auto;margin-right: 15px;border-bottom: none;}
.divAuto .dQuality .checkDiv{margin:5px 0 5px 5px!important;}
.divAuto .dQuality .intInp{margin:5px 0 0 0}


.minwidth60 {min-width: 60px;margin-top: 10px!important;margin-right: 0!important;}
.backF0 .commTitle1{margin-bottom: 20px;}


.mtxtInput {width: 40%;height: 35px;padding: 0 15px;outline: none;outline-style: none;border: 1px solid #d4d4c8;border-radius: 2px;background: #fff;}
.mInputDiv span {width: 10%;height: 35px;line-height: 35px;color: #4d4d4d;text-align: center;font-size: 13px;font-family: openB;}
.innerCont{width:100%;height: auto;}

/*Price Cont*/
.priceCont{}
.priceHeading{width:100%;height: 40px;background: #f0f0f0}
.priceHeading div{border-right:1px solid #ccc;line-height: 40px;font-family: openB;font-size: 14px;text-align: left;padding: 0 15px;color:#4d4d4d;}

.forComponent{width:40%; }
.forRate{width:20%; }
.forWeight{width:20%; }
.forPrice{width:20%;border-right:none!important; }
.pricingul{width:100%;height: auto;margin: 0;padding: 0;list-style: none;}
.pricingul li{width:100%;height: auto;height: 40px;line-height: 39px;padding:0;border-bottom: 1px dashed #ccc;;margin: 0;font-size: 14px;float: left;color:#666}

.pricingul li div{height: 100%;}
.pricingul li .forComponent{width:40%;padding: 0 0px;}
.pricingul li .forRate{width:20%;padding: 0 15px;}
.pricingul li .forWeight{width:20%;padding: 0 15px;font-family: openB;height: 100%;}
.pricingul li .forPrice{width:20%;border-right:none!important;padding: 0 15px;font-family: openB;text-align: right;}

.pl35{padding-left: 35px!important;}
.pl15{padding-left: 15px!important;}

.gTotal{border-top: 2px solid #2A6869;margin-top: -1px!important;border-bottom: none!important;}

.gTotal .forComponent{color: #2A6869;font-family: openB}
.gTotal .forPrice{color: #2A6869;font-family: openB}
.headLi{border-bottom: none!important;color:#666;font-family: openB;height: 30px!important;line-height: 30px!important;}


/* Rate Manager*/

.rateManager{}
.rateManager .wrapperMax{max-width: 600px;width: 100%;height: auto;padding: 30px 30px 15px 30px;border-radius: 2px;border: 1px dashed #b3b3b3;}

.ratHeader{width:100%;height: 40px;background: #f0f0f0;}
.ratHeader div{border-right:1px solid #ccc;line-height: 40px;font-family: openB;font-size: 14px;text-align: left;padding: 0 15px;color:#4d4d4d;}
.rComponent{width:60%;}
.rCprice{width:40%;border-right:none!important; }
.rateul{width:100%;height: auto;margin: 0;padding: 0;list-style: none;}

.rateul li{width:100%;height: auto;height: 40px;line-height: 39px;padding:0;border-bottom: 0px solid #ccc;margin: 0;font-size: 14px;float: left;color:#666}
.rateul li div{height: 100%;}
.rateTxt{width:90%;margin:0 5% 10px 5%;height: 30px;padding: 0 15px;border: 1px solid #ccc;font-size: 14px;border-radius: 2px;color:#666;}


.rComponent{font-family: openB;padding: 0 15px!important;}
.gpcloud{width:24%;height: 30px!important;line-height: 30px;background: #318484;color:#fff;padding: 0 10px;margin:5px 1% 5px 0;font-size: 12px;font-family: openB;text-align: center;border-radius:30px;}

.mBot20{margin-bottom: 20px;}

/* Category List */

.categoryList{padding-bottom: 50px;}

.catListCont{width: 100%;height: auto;background: #fff;padding: 0 15px; }
.catListCont .commTitle2 {width: auto;text-align: left;}
.listHeaderCom {width: 100%;height: 45px;background: #e6e6e6;text-align: center!important;}
.listHeaderCom div{border-right: 1px solid #d4d4c8;height: 100%;line-height: 43px;padding: 0 15px;font-size: 13px;text-align: center!important;color: #4d4d4d;}
.catName{width:30%;}
.parentName{width:40%}
.dPos{width:10%;}
.cactt{width:20%;border:none!important;}

.commonList{width: 100%;height: auto;margin: 0;padding: 0;list-style: none;}
.commonList li{width: 100%;height: 50px;line-height: 40px;float: left;color: #4d4d4d;font-size: 13px;border-bottom: 1px solid #e6e6e6;border-top: none;padding: 5px 0;}
.commonList li .catName{padding-left: 15px;}
.commonList li .parentName{padding-left: 15px;}
.commonList li .dPos{text-align: center;}




.attributeList{}
.attrName{width: 25%;}
.attrType{width: 15%;}
.attrMapp{width: 30%;}
.attrUnit{width: 10%;}
.cattrAct{width: 20%;border:none!important;}



.commonList li .attrName{padding-left: 15px;font-family: openB;}
.commonList li .attrType{padding-left: 15px;text-align: center}
.commonList li .attrMapp{padding:0 15px;}
.commonList li .attrUnit{text-align: center}
.commonList li .cattrAct{}


/* Discounts*/
.discounts{}
.discounts .commTitle2 {width: auto;text-align: left;}
.discounts .date{width: 15%;text-align: left!important;}
.discounts .stockCode{width: 15%;text-align: left!important;}
.discounts .cdescrp{width: 20%;}
.discounts .stDate{width: 15%;}
.discounts .enDate{width: 15%;}
.discounts .actt{width: 20%;border-right: none!important}



.commonList li .date{padding-left: 15px;}
.commonList li .stockCode{padding-left: 15px;}
.commonList li .cdescrp{padding-left: 15px;}
.commonList li .stDate{text-align: center}
.commonList li .enDate{text-align: center}
.commonList li .actt{width: 20%;border-right: none!important}

.tagcloud {width: auto;height: 30px!important;line-height: 30px;background: #fff url(../img/cancelBlack.svg)no-repeat;background-position: 95% 5px;background-size: auto 70%;color: #4d4d4d;padding: 0 25px 0 10px;margin: 5px 1% 5px 0;font-size: 11px;font-family: openB;text-align: center;border-radius: 2px;border: 1px solid #666;position: relative;}
.tagcloud::after {content: '';width: 24px;height: 28px;position: absolute;right: 0;top: 0;cursor: pointer;}
.attrValues {width:100%;height: auto;}


/*Product Preview*/
.productPreview{}
.wrapLeft{width:70%;height: auto;margin-bottom:0px;border-right:1px solid #ccc;}
.wrapRight{width:30%;height: auto;padding-left: 30px;}
.wrapRight .checkDiv{width:50%;;float: left;}



.productPreview .commTitle1{margin: 15px 0 0 0;font-size: 20px}
.w100{width:100%!important;}
.productPreview .titleDiv {width: auto;font-size: 12px;color:#2F665C;font-family: openR; padding-right: 5px;}


.prData{width:auto;height: auto;margin: 0 0 5px 0;color:#666;padding-right: 20px; font-family: openR; font-size: 14px;border-right:0px solid #ccc;}

.prDataCont{width:auto;height: auto;margin:0 20px 5px 0;}


.cardComm{width:95%;height: auto;background: #fff;border: 1px dashed #b3b3b3;margin:15px 0;padding: 15px 15px 5px 15px;}
.cardComm .prDataCont {width: 33%;height: auto;margin: 0 0px 5px 0;}

.cardComm.w25 .prDataCont {width: 25%;}

.overlay{width:100%;height: 100%;background: rgba(0,0,0,0.6);position: fixed;top:0;left:0;z-index: 100;}
.loader{width:200px;height: 200px;background: url(../img/loader1.svg)no-repeat;background-position: center;background-size: auto 100px;position: fixed;top:0;left:0;right:0;bottom:0;margin: auto;z-index: 110;}

.allChildCatg{width:100%;height: auto;min-height: 200px;border:1px solid #333;}
.op0{opacity: 0!important;cursor: default;}


.commCont{width:100%;height: auto;}
.newElements{width:100%;height:auto;border: 0px solid #333;}

.priceCont select{width: 100%;height: 38px;border: none;font-size: 14px;color: #666;background: url(../img/down_arrow.svg)no-repeat;background-position:right center;background-size: auto 40px;cursor: pointer;}
.op0{opacity: 0}

/* No Results*/
.noresDiv {width: 100%;height: 160px;padding: 50px 0;text-align: center;color: #d4d4c8;border: 1px solid #d4d4c8;margin-bottom: 50px;font-family: openR;}
.noresults {width: 100%;}
.mTop10{margin-top: 10px;}


/* Error */
.error{}
.shapesContComm center{border:1px solid #fff;}
.txtSelect.error{border-color: #e00000!important;}
.txtInput.error{border-color: #e00000!important;}
.mtxtInput.error{border-color: #e00000!important;}
center.error{border-color: #e00000!important;}
label.error{color:#e00000!important;}
[type="checkbox"].filled-in:not(:checked) + label.error:after {height: 17px;width: 17px;background-color: transparent;background: #e6e6e6;border: 1px solid #e00000;top: 0px;z-index: 0;}
[type="radio"]:not(:checked) + label.error:before {border-radius: 50%;border: 2px solid #e00000;}

.deleteElements {width: 40px;height: 40px;background: url(../img/delete.svg)no-repeat;background-size: auto 100%;cursor: pointer;border-radius: 2px;}
.deleteElements:hover {background-color:#f0f0f0;}



/* Image Moderation */
.thumbnilPage{}
.thumbnilPage .prdSearchDiv{width: 70%;margin: 0 15%;border-bottom: 1px solid #ccc;}
.thumbnailCont{width:100%;height: auto;}
.thumbnilComm {width: 70%;height: 120px;border-bottom: 1px dotted #ccc;border-radius: 2px;padding: 10px 0;margin: 0 15% 10px 15%;}
.actThumbnail {width: 100px;height: 100px;border: 0px solid #ccc;cursor: pointer;}
.comment {width: 30%;height: 100px;padding: 0;border-radius: 3px;}
.txtComment {width: 100%;height: 80px;padding: 0;line-height: 16px;font-size: 13px;resize: none;border: none;color: #666;border: 1px solid #ccc;border-radius: 2px;padding: 5px;}
.seqTitle {width: 100%;height: 20px;line-height: 20px;color: #666;font-size: 12px;font-family: openB;}
.seqTxt {width: 35px;height: 35px;color: #666;border: 1px solid #ccc;border-radius: 2px;padding: 0;text-align: center;line-height: 35px;}
.seq {width: 100px;height: 60px;margin: 0 10px;padding: 0 15px;}


/* Product Images*/

.prdName2 {width: 30%;}
.prdTotalImg {width:10%}
.prdPendImg{width:8%}
.prdAccptImg {width:8%}
.prdRejImg{width:10%}
.prdViewImgBtn{width:11%}

li div:last-child{border: none!important;}


li .prdName2 {padding: 0 15px}
li .prdTotalImg {text-align: center;}
li .prdPendImg{text-align: center;}
li .prdAccptImg {text-align: center;}
li .prdRejImg{text-align: center;}
li .prdViewImgBtn{}
.viewImgB {display: inline-block;width: auto;height: 34px;line-height: 34px;color: #fff;background: #2f665c;padding: 0 15px;font-size: 12px;border-radius: 2px;cursor: pointer;vertical-align: top;margin: 3px 0;}

.forScrollBtn {width: 40px;height: 40px;position: fixed;bottom: 60px;right: 20px;background: #333 url(../img/scrollTop.svg)no-repeat;background-size: auto 60%;background-position: center;z-index: 10101;border-radius: 5px;opacity: 0.5;cursor:pointer;}
.forScDown{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);bottom: 10px;}


/*preview page*/
.preview{}
.mtop20{margin-top: 20px;}



.halfContr{width: 50%;float: left;height: auto;}
.w50{width:50%;}
.w60{width:60%;}
.color69{color: #2A6869;}
.c4d{color: #4d4d4d;}
.fieldTitle{padding: 10px 0px 10px 0px;font-size: 13px;width:100%;height: auto;}
.fieldTitle.w50{width: 50%!important;}

.textcenter{text-align: center;}
.padR15{padding-right:15%;}
.outContr{width:100%;height:auto;display:inline-block;padding: 10px;}

/*.preview section{border: 1px solid #b3b3b3;padding: 0px;margin-left:10px;float:none;}*/



.preview .priceHeading{line-height: 40px;padding: 0 15px;font-size:14px;color: #4d4d4d;}
.shapeCont{width:20%;height:auto;}



.product{}
.product .halfContr{width:35%;}
.width40{width:40%;}


/*.preview .commTitle1{border-left: none;padding-left: 0;}*/


.preview .shapeComm:hover{border-color:#fff;cursor: default;}


.preview .shapeComm{width:150px!important;padding-bottom:140px;position: absolute;top:0;left:0;}
.preview .commCont.poR{padding-left: 200px;min-height: 160px;}
.forAuto{}
.forAuto .fieldTitle{width:25%;margin:0 10px;}
.forAuto .fieldTitle .w50{}

.forAuto .fieldTitle .padR15 {padding-right: 10px;}

.preview .solitaireCont .breakLine {margin-bottom: 15px;}

.preview .commTitle1{margin-bottom: 15px;}
.preview .newElements .breakLine:last-child{display: none;}


.previewContainer{width:80%;height: auto;position: absolute;top:100px;left: 0;right:0;margin: auto;background: #fff;}