<?php include 'jBhead.html'?>
    <body>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="ctgForm fmOpenR">
                        <div class="commTitle1 fLeft fmOpenL">Add a new attribute</div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Select Attribute Type</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666">
                                <option>Check Box</option>
                                <option>Radio Button</option>
                                <option>Drop Down</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Name *</div>
                            <input name="" type="text" id="catname" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit *</div>
                            <input name="" type="text" id="catname" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit Position*</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666">
                                <option>Prefix</option>
                                <option>Postfix</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Position</div>
                            <input name="" type="text" id="catname" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Map Attribute Column*</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666">
                                <option>Column 1</option>
                                <option>Column 2</option>
                                <option>Column 3</option>
                                <option>Column 4</option>
                                <option>Column 5</option>
                            </select>
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <div class="cancelBtn fmOpenR ripplelink poR" onclick="">CANCEL</div>
                                <div class="submitBtn transition300 fmOpenR ripplelink poR" onclick="" id="Submitdiv">SUBMIT</div>
                            </center>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>