<?php include 'jBhead.html'?>
<?php
echo "<script>var edit=$edit; var data= '$data';</script>";
?>
    <body>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="ctgForm fmOpenR">
                        <?php if($edit==0) {?>
                            <div class="commTitle1 fLeft fmOpenL">Add a new attribute</div>
                        <?php }  if($edit==1) { ?>
                            <div class="commTitle1 fLeft fmOpenL">Update attribute</div>
                        <?php }?>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Select Attribute Type</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666" id="attr_type">
                                <option value="0">Textbox</option>
                                <option value="1">Checkbox</option>
                                <option value="2">Radio Button</option>
                                <option value="3">Dropdown</option>
                                <option value="4">Range</option>
                                <option value="5">Autosuggest</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Name *</div>
                            <input name="" type="text" id="name" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit</div>
                            <input name="" type="text" id="unit" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit Position</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666" id="upos">
                                <option value="0">Prefix</option>
                                <option value="1">Postfix</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Position</div>
                            <input name="" type="text" id="apos" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Add Attribute Values*</div>
                            <input name="" type="text" id="attrinpVal" autocomplete="false"  placeholder="Add comma seperated values for filtering this attribute" class="txtInput fLeft fmOpenR font14 c666">
                            <div class="attrValues fLeft" id='attrValues'></div>
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <a href='<?php echo DOMAIN;?>backend/?action=attributes'><div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div></a>
                                <div class="submitBtn transition300 fmOpenR poR" onclick="addAttribute()" id="Submitdiv">SUBMIT</div>
                            </center>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="<?php echo $jvs['addAttribute']; ?>"></script>
        <script>var attributeid="";</script>
    </body>
</html>