 <?php include 'jBhead.html'?> 
<?php
echo "<script>var edit=$edit; var data= '$data';</script>";
?> 
    <body>
      <div class="detaCmngcnt"></div>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft">
                <div class="wrapperMax poR">
                    <div class="ctgForm fmOpenR">
                        <?php if($edit==0) {?>
                            <div class="commTitle1 fLeft fmOpenL">Add a new attribute</div>
                        <?php }  if($edit==1) { ?>
                            <div class="commTitle1 fLeft fmOpenL">Update attribute</div>
                        <?php }?>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Select Attribute Type</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666" id="attr_type">
                                <option value="-1">Select Type</option>
                                <option value="0">Textbox</option>
                                <option value="1">Checkbox</option>
                                <option value="2">Radio Button</option>
                                <option value="3">Dropdown</option>
                                <option value="4">Range</option>
                                <option value="5">Autosuggest</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Name *</div>
                            <input name="" type="text" id="name" autocomplete="false"  placeholder="Please enter attribute name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit</div>
                            <input name="" type="text" id="unit" autocomplete="false"  placeholder="Please enter attribute unit" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Unit Position</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666" id="upos">
                                <option value="0">Prefix</option>
                                <option value="1">Postfix</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Attribute Position</div>
                            <input name="" type="text" id="apos" autocomplete="false"  placeholder="Please enter attribute position" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                        </div>
                        <div class="divCon  fLeft valattr">
                            <div class="titleDiv txtCap fLeft">Add Attribute Values*</div>
                            <input name="" type="text" id="attrinpVal" autocomplete="false"  placeholder="Add comma seperated values for filtering this attribute" class="txtInput fLeft fmOpenR font14 c666">
                            <div class="attrValues fLeft" id='attrValues'></div>
                        </div>
                            
                        <div class="divCon  fLeft Rngattr1 dn">
                            <div class="titleDiv txtCap fLeft">Add Minimum Value*</div>
                            <input name="" type="text" id="rngVal1" autocomplete="false" maxlength="8" onkeypress="return common.isNumberKey(event);" placeholder="Please enter minimum bound value" class="txtInput fLeft fmOpenR font14 c666">
                            <div class="attrValues fLeft" id='attrValues'></div>
                        </div>
                        <div class="divCon  fLeft Rngattr2 dn">
                            <div class="titleDiv txtCap fLeft">Add Maximum Value*</div>
                            <input name="" type="text" id="rngVal2" autocomplete="false" maxlength="8" onkeypress="return common.isNumberKey(event);" placeholder="Please enter maximum bound value" class="txtInput fLeft fmOpenR font14 c666">
                            <div class="attrValues fLeft" id='attrValues'></div>
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <div class="cancelBtn transition300 fmOpenR poR" onclick="showConfirmBox();">CANCEL</div>
                                <div class="submitBtn transition300 fmOpenR poR" onclick="addAttribute()" id="Submitdiv">SUBMIT</div>
                            </center>
                        </div>                        
                    </div>
                    
                    <div class="demoAttrCont fRight fmOpenR dn">
                        <div class="commTitle1 fLeft fmOpenL">Sample Box</div>
                        <div class="divCon  fLeft dn" id='demo_0'>
                            <div class="titleDiv txtCap fLeft">Sample Text Box</div>
                            <input name="" type="text" placeholder="Please enter sample text" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft dn" id='demo_1'>
                            <div class="titleDiv txtCap fLeft">Sample Checkbox</div>
                        </div>
                        <div class="divCon  fLeft dn" id='demo_2'>
                            <div class="titleDiv txtCap fLeft">Sample Radio Buttons</div>
                        </div>
                        <div class="divCon  fLeft dn" id='demo_3'>
                            <div class="titleDiv txtCap fLeft">Sample Drop Down</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666" id='demoSelect'>
                                <option value="0">Option 1</option>
                                <option value="1">Option 2</option>
                                <option value="2">Option 3</option>
                                <option value="3">Option 4</option>
                                <option value="4">Option 5</option>
                                <option value="5">Option 6</option>
                            </select>
                        </div>
                        <div  class="filterCont fLeft dn" id='demo_4'>
                            <div class="titleDiv txtCap fLeft">Sample Range Selector</div>
                            <div class="fLeft rangeCont">
                                <div class="fLeft rangeDiv">
                                    <input type="text" id="range_03" class="fLeft rngInp irs-hidden-input" style="visibility: hidden;" readonly="">
                                </div>
                            </div>
                        </div>
                        <div class="divCon  fLeft poR dn" id='demo_5'>
                            <div class="titleDiv txtCap fLeft">Sample Autosuggest Box</div>
                            <input name="" type="text" placeholder="Please search value" class="txtInput fLeft fmOpenR font14 c666" id="demoeAutoST">
                            <div class="demoautoSuggestOuter fLeft dn">
                                <ul>
                                    <li class="autoSuggstions">Value 1</li>
                                    <li class="autoSuggstions">Value 2</li>
                                    <li class="autoSuggstions">Value 3</li>
                                </ul>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div id="delOverlay" class="deloverlay dn"></div>
        <div id="confirmBox" class="confirmBox dn fmOpenR">
            <div class="bformHead fmOpenL">Do you want to skip this page?</div>
            <center>
                <div class="delBtnCont fmOpenR">
                    <div class="delbtnComm arrowLeft fLeft" onclick="hideConfirmBox()">No</div>
                    <a href='<?php echo DOMAIN;?>backend/?action=attributes'><div class="delbtnComm arrowRight fRight" id='prddeleteBtn'>YES</div></a>
                </div>
            </center>
        </div> 
        
        <script type="text/javascript" src="<?php echo $jvs['addAttribute']; ?>"></script>
        <link rel="stylesheet" href="<?php echo $css['rangeSlider']?>">
        <link rel="stylesheet" href="<?php echo $css['rangeSkin']?>">
        <link rel="stylesheet" href="<?php echo $css['rangeNormalize']?>">
        <script type="text/javascript" src="<?php echo $jvs['rangeJS']; ?>"></script>
        
 
        <script> 
            var attributeid=""; 
        </script>
    </body>
</html>