<?php include 'jBhead.html'?>
    <body>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft addCategory">
                <div class="wrapperMax">
                    <div class="ctgForm fmOpenR">
                        <div class="commTitle1 fLeft fmOpenL">Add a new category</div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Category Name *</div>
                            <input name="" type="text" id="catname" autocomplete="false"  placeholder="Please enter category name" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Select Parent Category</div>
                            <select class="txtSelect fLeft fmOpenR font14 c666">
                                <option>None</option>
                                <option>Jewellery</option>
                                <option>Rings</option>
                                <option>Earrings</option>
                                <option>Pendants</option>
                                <option>Chains</option>
                                <option>Mens</option>
                                <option>Bangles</option>
                                <option>Bracelets</option>
                                <option>Platinum</option>
                                <option>Platinum Gold</option>
                            </select>
                        </div>
                        <div class="divCon  fLeft">
                            <div class="titleDiv txtCap fLeft">Display Position</div>
                            <input name="" type="text" id="dpos" autocomplete="false"  placeholder="Please enter display position" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon  fLeft">
                            <div class="commTitle1 fLeft fmOpenL mBot20">Map attributes</div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="1"> 
                                <label for="1">Gemstone</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="2"> 
                                <label for="2">Metal Color</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="3"> 
                                <label for="3">Metal Purity</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="4"> 
                                <label for="4">Size</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="5"> 
                                <label for="5">Material</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="subcat_type" class="filled-in" value="10008" id="6"> 
                                <label for="6">Gemstone Color</label>
                            </div>
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div>
                                <div class="submitBtn transition300 fmOpenR poR" onclick="" id="Submitdiv">SUBMIT</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>