<?php echo "<script>var edit=$edit; var pid= '$pid';</script>";?>
<?php include 'jBhead.html' ?>
<body>
    <div class="container addProduct ">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft" id='prdForm'>
            <div class="wrapperMax fmOpenR">
                <!-----Category Section--!-->
                <div class="noresDiv fLeft dn" id='noresults'>
                    <div class="noresults font25 fLeft">There are no categories available.</div>
                    <div class="noresults font20 fLeft">Please add categories.</div>
                </div>

                <section id='category_Section' class="dn">
                    <div class="commTitle1 fmOpenL fLeft">Select your category*</div>
                    <div class="divCon  fLeft fmOpenR">
                        <div class="treeCont fLeft">
                            <div class="tree transition300" id='parentCatg'></div>
                       </div>
                        
                    </div>
                    <div class="divCon fLeft">
                        <div class="divCon2 fLeft mTop0">
                            <div class="titleDiv txtCap fLeft">Select Vendor*</div>
                            <select id="vendorList"  class="txtSelect fLeft fmOpenR font14 c666"></select>
                        </div>
                        <div class="divCon2 fRight mTop0">
                            <div class="titleDiv txtCap fLeft">Vendor Product Code*</div>
                            <input name="" type="text" id="vendorPrdCode" maxlength="40" autocomplete="false"  placeholder="Enter vendor product code" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                    </div>
                    <div class="divCon2 fLeft">
                        <div class="titleDiv txtCap fLeft">Product Name*</div>
                        <input name="" type="text" id="product_name" autocomplete="false"  placeholder="Enter product name" class="txtInput fLeft fmOpenR font14 c666">
                    </div>
                    <div class="divCon2 fRight">
                        <div class="titleDiv txtCap fLeft">Product SEO Name*</div>
                        <input name="" type="text" id="product_seo_name" autocomplete="false"  placeholder="Enter product SEO name" class="txtInput fLeft fmOpenR font14 c666">
                    </div>
                    <div class="divCon fLeft">
                        <div class="divCon2 fLeft">
                            <div class="titleDiv txtCap fLeft">Product Weight <span class="txtLower">in gm(s)*</span></div>
                            <input name="" type="text" id="product_weight" autocomplete="false"  placeholder="Enter product weight" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                        </div>
                        <div class="divCon2 fRight">
                            <div class="titleDiv txtCap fLeft">Gender*</div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name="gender" class="filled-in" value="0" id="gender1" checked="">
                                <label for="gender1">Female</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name="gender" class="filled-in" value="1" id="gender2">
                                <label for="gender2">Male</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name="gender" class="filled-in" value="2" id="gender3">
                                <label for="gender3">Unisex</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="divCon2 fLeft">
                        <div class="titleDiv txtCap fLeft">Delivery Lead Time</div>
                        <input name="" type="text" id="leadTime" autocomplete="false"  placeholder="Enter delivery lead time" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fRight">
                        <div class="titleDiv txtCap fLeft">The Jewellery is*</div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="jType" class="filled-in" value="1" id="jType1" checked="">
                            <label for="jType1">Gemstone</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="jType" class="filled-in" value="2" id="jType2">
                            <label for="jType2">Plain Gold</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="jType" class="filled-in" value="3" id="jType3">
                            <label for="jType3">Platinum</label>
                        </div>
                    </div>
                    <div class="divCon backF0 fLeft stonesSelect">
                        <div class="commTitle1 fmOpenL fLeft">Select the stones available in the product</div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Solitaire" id="stone1">
                            <label for="stone1">Solitaire</label>
                        </div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Diamonds" id="stone2">
                            <label for="stone2">Diamond</label>
                        </div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Uncut" id="stone3">
                            <label for="stone3">Uncut Diamond</label>
                        </div>

                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Gemstone" id="stone4">
                            <label for="stone4">Gemstone</label>
                        </div>
                    </div>
                </section>
                <!-----Category Section End--!-->

                <!-----Solitaire Section--!-->
                <section id='solitaires_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Solitaire</div>
                    <div class="newElements fLeft" id="newSolitaires"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="checkSolAdd()">Add Solitaire</div></center>
                    </div>
                </section>
                <!-----Solitaire Section End--!-->

                <!-----Diamond Section--!-->
                <section id='diamond_Section' class="diamondCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Diamond</div>
                    <div class="newElements fLeft" id="newDiamonds"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="checkDmdAdd()">Add Diamond</div></center>
                    </div>
                </section>
                <!-----Diamond Section End--!-->

                <!-----Uncut Diamond Section--!-->
                <section id='uncut_Section' class="uncutCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Uncut Diamond</div>
                    <div class="newElements fLeft" id="newUncutDiamonds"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="checkUncutAdd()">Add Uncut Diamond</div></center>
                    </div>
                </section>
                <!-----Uncut Diamond Section End--!-->



                <!-----Gemstone Section--!-->
                <section id='gemstone_Section' class="gemstoneCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Gemstone</div>
                    <div class="newElements fLeft" id="newGemstone"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="checkGemsAdd()">Add Gemstone</div></center>
                    </div>
                </section>
                <!-----Gemstone Section End--!-->

                <!-----General Section--!-->
                <section id='general_Section' class="generalCont dn">
                    <div class="commTitle1 fmOpenL fLeft">General Information</div>
<!--                    <div class="divCon fLeft fmOpenR">
                        <div class="titleDiv txtCap fLeft">Diamond Setting type*</div>
                        <div class="radioCont fLeft">
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Prong" id="ds1">
                                <label for="ds1">Prong</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Bezel" id="ds2">
                                <label for="ds2">Bezel</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Pave" id="ds3">
                                <label for="ds3">Pave</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Channel" id="ds4">
                                <label for="ds4">Channel</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Invisible" id="ds5">
                                <label for="ds5">Invisible</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Cluster" id="ds6">
                                <label for="ds6">Cluster</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Illusion" id="ds7">
                                <label for="ds7">Illusion</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Other" id="ds8">
                                <label for="ds8">Other</label>
                            </div>
                            <div class="divCon2 fLeft otherDsetting op0" id='otherdsType'>
                                <input name="" type="text" id="diamond_settingOth" autocomplete="false" placeholder="Enter other type" class="txtInput fLeft fmOpenR font14 c666">
                            </div>

                        </div>
                    </div>-->

                    <div class="divCon fLeft fmOpenR jewelCertificates">
                        <div class="titleDiv txtCap fLeft">Product Certificate*</div>

                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="SGL" id="certsgl">
                            <label for="certsgl">SGL</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="IGI" id="certigi">
                            <label for="certigi">IGI</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="EGL" id="certegl">
                            <label for="certegl">EGL</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="DGLA" id="certdgla">
                            <label for="certdgla">DGLA</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="GIA" id="certgia">
                            <label for="certgia">GIA</label>
                        </div>
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Metal Weight <span class="txtLower">gm(s)*</span></div>
                        <input name="" type="text" id="metal_weight" autocomplete="false" placeholder="Enter gold weight" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Making Charges / <span class="txtLower">gm(s)*</span></div>
                        <input name="" type="text" id="making_charges" autocomplete="false" placeholder="Enter making charges" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Procurement Cost*</div>
                        <input name="" type="text" id="procurement_cost" autocomplete="false" placeholder="Enter procurement cost" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Margin</div>
                        <input name="" type="text" id="margin" autocomplete="false" placeholder="Enter margin" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2  fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Measurement*</div>
                        <div class="mInputDiv fLeft">
                            <input name="measurement1" id="measure1" autocomplete="false" type="text" placeholder=" eg. 10" maxlength="5" class="mtxtInput fLeft fmOpenR font14 c666" value="" onkeypress="return common.isDecimalKey(event, this.value);">
                            <span class="fLeft">X</span>
                            <input name="measurement2" id="measure2" type="text" autocomplete="false" placeholder=" eg. 20" maxlength="5" class="mtxtInput fLeft fmOpenR font14 c666" value="" onkeypress="return common.isDecimalKey(event, this.value);">
                        </div>
                    </div>
                    <div class="divCon fLeft metalPurityDiv">
                        <div class="titleDiv txtCap fLeft wAuto">Metal Purity*</div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isPurityCustz" class="filled-in" value="0" id="purcust1">
                            <label for="purcust1">Customizable</label>
                        </div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isPurityCustz" class="filled-in" value="1" id="purcust2">
                            <label for="purcust2">Not Customizable</label>
                        </div>
                    </div>
                    <div class="divCon  fLeft fmOpenR divAuto dn" id='ifpurityCustomiz'></div>
                    <div class="divCon  fLeft fmOpenR divAuto dn" id='ifpurityNotCustomiz'></div>


                    <div class="divCon fRight metalColorDiv">
                        <div class="titleDiv txtCap fLeft wAuto">Metal Color*</div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isColorCustz" class="filled-in" value="0" id="colorcust1">
                            <label for="colorcust1">Customizable</label>
                        </div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isColorCustz" class="filled-in" value="1" id="colorcust2">
                            <label for="colorcust2">Not Customizable</label>
                        </div>

                        <div class="innerCont fLeft dn" id='ifcolorCustomiz'></div>
                        <div class="innerCont dn fLeft" id='ifcolorNotCustomiz'></div>
                    </div>
                    
                    <div class="divCon fLeft noBorder dn" id='cat_sizes'>
                        <div class="titleDiv txtCap fLeft">Select Size</div>
                    </div>
                </section>
                <!-----General Section End--!-->

                <!-----Price Section--!-->
                <section id='price_Section' class="priceCont dn poR">
                    <div class="commTitle1 fmOpenL fLeft">Price Breakup</div>
                    <div class="divCon fLeft">
                        <div class="priceHeading fLeft">
                            <div class="forComponent fLeft">Component</div>
                            <div class="forRate fLeft">Rate</div>
                            <div class="forWeight fLeft">Weight</div>
                            <div class="forPrice fLeft">Price</div>
                        </div>
                        <ul class="pricingul fLeft"></ul>
                    </div>
                    <div class="priceOverlay dn">
                        <div class="priceBtn transition300 fmOpenR poR" onclick="genPriceSection()" id="">GENERATE PRICE</div>
                    </div>
                </section>
                <!-----Price Section End--!-->
                <div class="btnCont fLeft dn">
                    <center>
                        <a href='<?php echo DOMAIN; ?>backend/?action=products'><div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div></a>
                        <div class="submitBtn transition300 fmOpenR poR" onclick="addProduct()" id="Submitdiv">PREVIEW</div>
                    </center>
                </div>
            </div>
        </div>

        <div class="forScrollBtn op01" onclick="moveUp()"></div>
        <div class="forScrollBtn op01 forScDown" onclick="moveDown()"></div>
        <div class="overlay dn"></div>
        <div class="loader dn"></div>
    </div>

    <!--PREVIEW SECTION-->
    <div class="previewContainer preview dn" id='previewDiv'>
        <div class="wrapperMax fmOpenR">
            <div class="previewLeft fLeft">

                <section id='general_Section' class="generalCont">
                    <div class="commTitle1 fmOpenR">General Information</div>
                    <div class=" fLeft dtl">
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Product Name </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prproduct_name'></div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Product SEO Name </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prproduct_seo_name'></div>
                        </div>

                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Product Weight (grms) </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prproduct_weight'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Gender </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prgender'></div>
                        </div>

                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Diamond Setting Type </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prdmdSetting'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Product Certificate </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prcertificate'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Metal Weight(Grm)</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prmetal_weight'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Making Charges/Grm</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prmaking_charges'></div>
                        </div>
                    </div>
                    <div class=" fRight dtl">
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Category </div>
                            <div class="w50 fRight txtCap fmOpenB txtRight" id='prcategories'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Vendor </div>
                            <div class="w50 fRight fmOpenB txtRight" id='prvendorid'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Procurement Cost</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prprocurement_cost'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Margin</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prmargin'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Measurement</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prmeasurement'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Metal Purity</div>
                            <div class="w50 fRight fmOpenB txtRight" id='prmetalpurity'></div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft c4d padR15 fmOpenR">Metal color</div>
                            <div class="w50 fRight txtCap fmOpenB txtRight" id='prmetalcolor'></div>
                        </div>
                        <div class="fieldTitle fLeft dn" id='forSelectedSize'>
                            <div class="w50 fLeft c4d padR15 fmOpenR">Selected Size</div>
                            <div class="w50 fRight txtCap fmOpenB txtRight" id='prsize'></div>
                        </div>
                    </div>
                </section>
                <section id='prsolitaires_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Added Solitaire(s)</div>
                    <div class="newElements fLeft prevSoltr" id="prnewSolitaires"></div>
                </section>

                <section id='prdiamond_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Added Diamond(s)</div>
                    <div class="newElements fLeft" id="prnewDiamonds"></div>
                </section>

                <section id='pruncut_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Added Uncut(s)</div>
                    <div class="newElements fLeft" id="prnewUncut"></div>
                </section>

                <section id='prgemstone_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Added Gemstone(s)</div>
                    <div class="newElements fLeft" id="prnewgemstone"></div>
                </section>
                <section id="prprice_Section" class="priceCont dn">
                    <div class="priceHeading fmOpenB"><span class="c4d">Grand Total</span><span class="fRight">&#8377 2,00,000</span></div>
                </section>

            </div>
            <div class="previewRight fLeft">
                <div class="catValDiv dn">
                    <div class="commTitle1 fmOpenL fLeft">Map Product Attribute</div>
                    <div class="divCon fLeft fmOpenR">
                        <div class="radioCont fLeft">
                            <div class="treeCont fLeft">
                                <div class="fLeft">
                                    <div class="tree transition300" id="mapTree"></div>
                                    <div class="range transition300" id="mapRange"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="btnCont fLeft">
                <center>
                    <div class="cancelBtn transition300 fmOpenR poR" onclick="hidePreview()">CANCEL</div>
                    <div class="submitBtn transition300 fmOpenR poR" onclick="submitData()" id="Submitdiv">SUBMIT</div>
                </center>
            </div>
        </div>
    </div>

    <!--Category Value Map-->


    <link rel="stylesheet" href="<?php echo $css['rangeSlider']?>">
    <link rel="stylesheet" href="<?php echo $css['rangeSkin']?>">
    <link rel="stylesheet" href="<?php echo $css['rangeNormalize']?>">
    <script type="text/javascript" src="<?php echo $jvs['rangeJS']; ?>"></script>
    <script type="text/javascript" src="<?php echo $jvs['addProduct']; ?>"></script>
    <script type="text/javascript" src="<?php echo $jvs['nicescroll']; ?>"></script>
    <script>
                        
                        function showpreview(data)
                        {
                            
                            var mpurity = data['mpurity'];
                            var metalcolor = data['metalcolor'];
                            var sizes = data['sizes'];
                            var solitaires = data['solitaires'];
                            var has_solitaire = data['has_solitaire'];
                            var diamonds = data['diamonds'];
                            var has_diamond = data['has_diamond'];
                            var uncut = data['uncut'];
                            var has_uncut = data['has_uncut'];
                            var gemstone = data['gemstone'];
                            var has_gemstone = data['has_gemstone'];
                            var details = data['details'];
                            var catid = data['catid'].split(",");
                            $('#prnewSolitaires,#prnewDiamonds,#prnewgemstone,#prnewUncut').html('');
                            $('#prsolitaires_Section,#prgemstone_Section,#pruncut_Section,#prdiamond_Section').addClass('dn');

                            $('#prvendorid').text($('#vendorList option:selected').text());
                            $('#prproduct_name').text(decodeURIComponent(details["product_name"]));
                            $('#prproduct_seo_name').text(decodeURIComponent(details["product_seo_name"]));
                            var gen = "Female";
                            if (details["gender"] == 1)
                                gen = "Female";

                            else if (details["gender"] == 2)
                                gen = "Unisex";

                            $('#prgender').text(gen);
                            $('#prproduct_weight').text(details["product_weight"]);
                            $('#prcertificate').text(details["certificate"]);
                            $('#prmetal_weight').text(details["metal_weight"] + " grm");
                            $('#prmaking_charges').html("&#8377; " + details["making_charges"]);
                            $('#prprocurement_cost').html("&#8377; " + details["procurement_cost"]);
                            $('#prmargin').html(details["margin"]);
                            $('#prmeasurement').html(details["measurement"]);
                            $('#prdmdSetting').html(details["dmdSetting"]);


                            var mpurity = [];
                            var mcolor = [];
                            if (metalColorCust)
                            {

                                $('[name=gcolorCustomize]').each(function () {
                                    if ($(this).is(':CHECKED'))
                                        mcolor.push($(this).next('label').text());

                                    else if (!$(this).is(':CHECKED')) {
                                        var removeItem = $(this).next('label').text();
                                        mcolor = jQuery.grep(mcolor, function (value) {
                                            return value !== removeItem;
                                        });
                                    }

                                });
                            } else if (!metalColorCust)
                            {
                                mcolor.push($('[name=gcolorNotCustomize]:CHECKED').next('label').text());
                            }



                            if (metalPurityCust)
                            {

                                $('[name=gpurityCustomize]').each(function () {
                                    if ($(this).is(':CHECKED'))
                                        mpurity.push($(this).next('label').text());
                                    else if (!$(this).is(':CHECKED')) {
                                        var removeItem = $(this).next('label').text();
                                        mpurity = jQuery.grep(mpurity, function (value) {
                                            return value !== removeItem;
                                        });
                                    }

                                });
                            } else if (!metalPurityCust)
                            {
                                mpurity.push($('[name=gpurityNotCustomize]:CHECKED').next('label').text());
                            }

                            $('#prmetalpurity').text(mpurity.toString());
                            $('#prmetalcolor').text(mcolor.toString());


                            if($('[name=size]').length>0)
                            {

                                var selsize='';
                                $("input[name='size']").each(function(){
                                    if ($(this).is(':CHECKED'))
                                    {
                                        selsize=$(this).next('label').text();
                                    }

                                });
                                $('#prsize').text(selsize);
                                $('#forSelectedSize').removeClass('dn');
                            }

                            var catstr = "";
                            $(catid).each(function (i) {
                                $(categories).each(function (j, vl) {
                                    if (catid[i] == vl.cid && i < catid.length - 1)
                                    {
                                        catstr += vl.name + " , ";
                                    } else if (catid[i] == vl.cid)
                                    {
                                        catstr += vl.name;
                                    }
                                });

                            });
                            $('#prcategories').html(catstr);


                            if (has_solitaire == 1)
                            {

                                var str = "";
                                $(solitaires).each(function (j, vl) {

                                    str += "<div class='commCont fLeft poR forAuto '>";
                                    str += "<div class='shapeComm " + vl.shape + "'></div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft  padR15 fmOpenR'>Color </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.color + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Clarity </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.clarity) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Cut </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.cut) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Symmetry </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.symmetry) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Polish </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.polish) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Fluorescence </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.fluorescence) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Price/Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>&#8377;" + vl.price_per_carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Table </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.table + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Crown Angle </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.crown_angle + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Gridle</div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.girdle + "</div>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "<div class='breakLine'></div>";

                                });

                                $('#prnewSolitaires').html(str);
                                $('#prsolitaires_Section').removeClass('dn');
                            }



                            if (has_diamond == 1)
                            {
                                var str = "";
                                $(diamonds).each(function (i, vl) {
                                    var ids = i + 1;
                                    var customiz = $('[name*=isDiamondCustz_' + ids + ']:checked').val();
                                    var dquality = new Array();
                                    if (customiz == 1)
                                    {

                                        $('[name=dmdquality_cust' + ids + ']').each(function () {

                                            if ($(this).is(':CHECKED'))
                                            {
                                                dquality.push($(this).next('label').text());

                                            } else if (!$(this).is(':CHECKED')) {
                                                var removeItem = $(this).next('label').text();
                                                dquality = jQuery.grep(dquality, function (value) {
                                                    return value !== removeItem;
                                                });
                                            }

                                        });

                                    } else if (customiz == 0)
                                    {
                                        dquality.push($('[name*=dmdquality_notCust' + ids + ']:checked').next('label').text());
                                    }


                                    str += "<div class='commCont fLeft  forAuto'>";
//                                    str += "<div class='shapeComm " + vl.shape + "'></div>";
                                    str += "<div class='outContr fLeft'>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Diamond Quality </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + dquality.toString() + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Pieces</div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.total_no + "</div>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "<div class='breakLine'></div>";
                                });

                                $('#prnewDiamonds').html(str);
                                $('#prdiamond_Section').removeClass('dn');

                            }


                            if (has_uncut == 1)
                            {
                                var str = "";
                                $(uncut).each(function (i, vl) {
                                    str += "<div class='commCont fLeft forAuto'>";
                                    str += "<div class='outContr fLeft'>";
//                                    str += "<div class='dtl_cont fLeft'>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Diamond Color </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight '>" + vl.color + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Diamond Quality </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.quality + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.carat + "</div>";
                                    str += "</div>";
//                                    str += "</div>";
//                                    str += "<div class='dtl_cont fRight'>";
                                    str += "<div class='fieldTitle fLeft '>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Price/Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>&#8377; " + vl.price_per_carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Pieces</div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.total_no + "</div>";
                                    str += "</div>";
                                    str += "</div>";
//                                    str += "</div>";
                                    str += "</div>";
                                    str += "<div class='breakLine'></div>";
                                });

                                $('#prnewUncut').html(str);
                                $('#pruncut_Section').removeClass('dn');

                            }



                            if (has_gemstone == 1)
                            {
                                var str = "";
                                $(gemstone).each(function (i, vl) {
                                    str += "<div class='commCont fLeft forAuto'>";
                                    str += "<div class='outContr fLeft'>";
//                                    str += "<div class='dtl_cont fLeft'>";
                                    str += "<div class='fieldTitle fLeft w25'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Gemstone</div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + getGemstoneName(vl.gvalue) + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft w25'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft w25'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Price/Carat </div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.price_per_carat + "</div>";
                                    str += "</div>";
                                    str += "<div class='fieldTitle fLeft w25'>";
                                    str += "<div class='w50 fLeft c4d padR15 fmOpenR'>Pieces</div>";
                                    str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.total_no + "</div>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "</div>";
                                    str += "<div class='breakLine'></div>";
                                });

                                $('#prnewgemstone').html(str);
                                $('#prgemstone_Section').removeClass('dn');

                            }

                            $('#prdForm').addClass('dn');
                            $('#previewDiv').removeClass('dn');
                            hideLoader();
                            moveUp();
                            getMultyCatMapping();
                            //checkedTree(catid);
                        }




                        function getGemstoneName(id)
                        {
                            var name;
                            $(gemstonelist).each(function (i, v) {
                                if (v.id == id)
                                {
                                    name = v.name;
                                    return v.name;
                                }
                            });

                            return name;
                        }

                        function bindElementChange()
                        {
                            $('.shapeComm').bind('click', function () {
                                $('.priceOverlay').removeClass('dn');

                            });

                            var txt_selector = ['input[type=text],textarea'];
                            //var radioCh_selector = ['input[type=radio],input[type=checkbox],label'];


                            $(txt_selector).bind('blur', function () {
                                $('.priceOverlay').removeClass('dn');
                            });
                            $('label').bind('click', function () {
                                $('.priceOverlay').removeClass('dn');
                            });

                        }

$(document).ready(function( ) {
    bindTree();
});

    function bindTree()
    {
        $('#mapTree li').each(function() {
            if ($(this).children('ul').length > 0) {
                $(this).addClass('parent');
            }
        });
        $('#mapTree li.parent > a').bind('click',function( ) {
            var id = $(this).parent().attr('id');
            $(this).parent().toggleClass('active');
            $(this).parent().children('ul').slideToggle('fast');
                if($(this).parent().hasClass('active')){}
                else
                {
                    $('#'+id+' :input[type=checkbox]').each(function() {
                           // $(this).attr('checked',false);
                    });
                }
        });
        if(edit==0)
        {
            $('#mapTree ul:first > li').eq(0).each(function() {
                $(this).toggleClass('active');
                $(this).children('ul').slideToggle('fast');
            });
        }
        else if(edit==1)
        {
            $('#mapTree ul:first > li').eq(0).each(function() {
                $(this).toggleClass('active');
                $(this).children('ul').slideToggle('fast');
            });
        }
    }

    function getMultyCatMapping(allCid)
    {
        var catArray=new Array();
        $('[name=prtcateg]').each(function() {
            if ($(this).is(':CHECKED'))
            {
                catArray.push($(this).val());
            }
//            else if (!$(this).is(':CHECKED')) {
//                var removeItem = $(this).val();
//                catArray = jQuery.grep(catArray, function(value) {
//                    return value !== removeItem;
//                });
//            }
        });

        values = {};
        values['catid']=catArray.toString();
        var dt=JSON.stringify(values);
        $.ajax({
            url:APIDOMAIN+"index.php?action=getMultyCatMapping",
            type:'POST',
            data:{dt: dt},
            success:function(res){
                res=JSON.parse(res);
                attrValuesCallBack(res);
            }
        });
    }
    
    
    
    function attrValuesCallBack(data)
    {
        var slider;
        var rangeArr = new Array();
        if(data['error']['err_code']==0)
        {
            var str="";
            var str2="";
            $(data['result']).each(function(i,vl)
            {
                if(vl.attrid && vl.type !== '4')
                {
                    
                    str+="<ul class='superparent'>";
                        str+="<li id='attr_"+vl.attrid+"' class='parent'><a>"+vl.name+"</a>";
                            str+="<ul>";
                                var values=vl.values.split(",");
                                $(values).each(function(j,v){
                                    v = v.split('_').join(' ');
                                    str+="<li>";
                                        str+="<a>";
                                            str+="<div class='checkDiv fLeft'>";
                                                str+="<input type='checkbox' name='attrVals' class='filled-in' id='attr_"+vl.attrid+"_"+v.replace(/ /g,'_')+"' value='"+v+"'  data-for='"+vl.attrid+"'>";
                                                str+="<label for='attr_"+vl.attrid+"_"+v.replace(/ /g,'_')+"'>"+v+"</label>";
                                            str+="</div>";
                                        str+="</a>";
                                    str+="</li>";
                                });
                            str+="</ul>";
                        str+="</li>";
                    str+="</ul>";
                }
/*                else
                {
                    str2+="<ul class='superparent sprCnt '>";
                    str2+="<div class='filterCont fLeft ffDmyCnt w100' id='demo_"+i+"'>";
                        str2+="<div class='txtCap'>"+vl.name+" Range</div>";
                        str2+="<div class='fLeft rangeCont'>";
                            str2+="<div class='fLeft rangeDiv'>";
                                str2+="<input type='text' id='range_"+i+"' class='fLeft rngInp irs-hidden-input' style='visibility: hidden;' readonly=''>";
                            str2+="</div>";
                        str2+="</div>";
                    str2+="</div>";
                    str2+="</ul>";
                }
*/
            });

            $('#mapTree').html(str);
//            $('#mapRange').html(str2);
            
/*For Range creation in preview*/

/*            $(data['result']).each(function(i,vl)
            {
                
                if(vl.attrid && vl.type == '4')
                {
                    
                    var $range = $("#range_"+i);
                    var values = vl.values.split(',');
                    var val1 = values[0];
                    var val2 = values[1];
                    if(val1 !== '' && rangeArr.indexOf(val1) == -1)
                    {
                        rangeArr[0] = val1;
                    }
                    if(val2 !== '' && rangeArr.indexOf(val2) == -1)
                    {
                        rangeArr[1] = val2;
                    }
                    if(rangeArr.length==2 && rangeArr[0] !== '' && rangeArr[1] !== '')
                    {
                        $("#range_"+i).ionRangeSlider
                                ({
                                        min: Math.floor(rangeArr[0]),
                                        max: Math.ceil(rangeArr[1]),
                                        from: Math.ceil(rangeArr[0]),
                                        to: Math.ceil(rangeArr[1]),
                                        type: 'double',
                                        Grid: true,
                                        hasGrid: true,
                                        drag_interval: true
                                });
                        slider = $range.data("ionRangeSlider");
                    }
                    else
                    {
                        slider && slider.destroy();
                    }
                }
                
            });*/ 

            $('.catValDiv').removeClass('dn');
            bindTree();
        }
        else{
            common.toast(0, 'Error in fetching data');
        }


        if(edit==1)
        {
            setAtttrValues(attrVals);
        }

    }
    
//    function checkedTree(catArr)
//    {
//        var allCheckd = new Array();
//        $('#parentCatg input[type=checkbox]').each(function()
//        {
//            if ($(this).is(':checked') == true)
//            {
//                allCheckd.push($(this).parent().parent().html());
//            }
//        });
//        $('#mapTree').append(allCheckd);
//        
//    }

    function stopBodyScroll(){
        $('body').bind('scroll touchmove mousewheel', function(e){
            e.preventDefault();
            e.stopPropagation();
            return false;
        });
    }

    function startBodyScroll(){
        $('body').unbind();
    }


    </script>


</body>
</html>
