<?php include 'jBhead.html' ?>
<body>
    <div class="container addProduct">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax fmOpenR">
                <!-----Category Section--!-->
                <div class="noresDiv fLeft dn" id='noresults'>
                    <div class="noresults font25 fLeft">There are no categories available.</div>
                    <div class="noresults font20 fLeft">Please add categories.</div>
                </div>
                
                <section id='category_Section' class="dn">
                    <div class="commTitle1 fmOpenL fLeft">Select your category*</div>
                    <div class="divCon  fLeft fmOpenR" id='parentCatg'></div>
                    <div class="breakLine"></div>

                    <div class="divCon fLeft">
                        <div class="divCon2 fLeft mTop0">
                            <div class="titleDiv txtCap fLeft">Select Vendor*</div>
                            <select id="vendorList"  class="txtSelect fLeft fmOpenR font14 c666"></select>
                        </div>
                    </div>
                    <div class="divCon2 fLeft">
                        <div class="titleDiv txtCap fLeft">Product Name*</div>
                        <input name="" type="text" id="product_name" autocomplete="false"  placeholder="Enter product name" class="txtInput fLeft fmOpenR font14 c666">
                    </div>
                    <div class="divCon2 fRight">
                        <div class="titleDiv txtCap fLeft">Product SEO Name*</div>
                        <input name="" type="text" id="product_seo_name" autocomplete="false"  placeholder="Enter product SEO name" class="txtInput fLeft fmOpenR font14 c666">
                    </div>

                    <div class="divCon2 fLeft">
                        <div class="titleDiv txtCap fLeft">Product Weight in Grms*</div>
                        <input name="" type="text" id="product_weight" autocomplete="false"  placeholder="Enter product weight" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fRight">
                        <div class="titleDiv txtCap fLeft">Gender*</div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="gender" class="filled-in" value="0" id="gender1" checked="">
                            <label for="gender1">Female</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="gender" class="filled-in" value="1" id="gender2">
                            <label for="gender2">Male</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="gender" class="filled-in" value="2" id="gender3">
                            <label for="gender3">Unisex</label>
                        </div>
                    </div>
                    <div class="divCon backF0 fLeft ">
                        <div class="commTitle1 fmOpenL fLeft">Select the stones available in the product</div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Solitaire" id="stone1">
                            <label for="stone1">Solitaire</label>
                        </div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Diamonds" id="stone2">
                            <label for="stone2">Diamond</label>
                        </div>
                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Uncut" id="stone3">
                            <label for="stone3">Uncut Diamond</label>
                        </div>

                        <div class="checkDiv fmOpenL borderDashed font18">
                            <input type="checkbox" name="stones" class="filled-in" value="Gemstone" id="stone4">
                            <label for="stone4">Gemstone</label>
                        </div>
                    </div>
                </section>
                <!-----Category Section End--!-->

                <!-----Solitaire Section--!-->
                <section id='solitaires_Section' class="solitaireCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Solitaire</div>
                    <div class="newElements fLeft" id="newSolitaires"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="addSolitaire()">Add Solitaire</div></center>
                    </div>
                </section>
                <!-----Solitaire Section End--!-->

                <!-----Diamond Section--!-->
                <section id='diamond_Section' class="diamondCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Diamond</div>
                    <div class="newElements fLeft" id="newDiamonds"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="addDiamond()">Add Diamond</div></center>
                    </div>
                </section>
                <!-----Diamond Section End--!-->

                <!-----Uncut Diamond Section--!-->
                <section id='uncut_Section' class="uncutCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Uncut Diamond</div>
                    <div class="newElements fLeft" id="newUncutDiamonds"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="addUncut()">Add Uncut Diamond</div></center>
                    </div>
                </section>
                <!-----Uncut Diamond Section End--!-->



                <!-----Gemstone Section--!-->
                <section id='gemstone_Section' class="gemstoneCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Add Gemstone</div>
                    <div class="newElements fLeft" id="newGemstone"></div>
                    <div class="divCon fLeft">
                        <center><div class="addBtn transition300" onclick="addGemstone()">Add Gemstone</div></center>
                    </div>
                </section>
                <!-----Gemstone Section End--!-->

                <!-----General Section--!-->
                <section id='general_Section' class="generalCont dn">
                    <div class="commTitle1 fmOpenL fLeft">General Information</div>
                    <div class="divCon fLeft fmOpenR">
                        <div class="titleDiv txtCap fLeft">Diamond Setting type*</div>
                        <div class="radioCont fLeft"> 
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Prong" id="ds1">
                                <label for="ds1">Prong</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Bezel" id="ds2">
                                <label for="ds2">Bezel</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Pave" id="ds3">
                                <label for="ds3">Pave</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Channel" id="ds4">
                                <label for="ds4">Channel</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Invisible" id="ds5">
                                <label for="ds5">Invisible</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Cluster" id="ds6">
                                <label for="ds6">Cluster</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Illusion" id="ds7">
                                <label for="ds7">Illusion</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="checkbox" name="diamond_setting" class="filled-in" value="Other" id="ds8">
                                <label for="ds8">Other</label>
                            </div> 
                            <div class="divCon2 fLeft otherDsetting op0" id='otherdsType'>
                                <input name="" type="text" id="diamond_settingOth" autocomplete="false" placeholder="Enter other type" class="txtInput fLeft fmOpenR font14 c666">
                            </div>

                        </div>
                    </div>

                    <div class="divCon fLeft fmOpenR">
                        <div class="titleDiv txtCap fLeft">Product Certificate*</div>

                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="SGL" id="certsgl">
                            <label for="certsgl">SGL</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="IGI" id="certigi">
                            <label for="certigi">IGI</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="EGL" id="certegl">
                            <label for="certegl">EGL</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="DGLA" id="certdgla">
                            <label for="certdgla">DGLA</label>
                        </div>
                        <div class="checkDiv fLeft">
                            <input type="radio" name="certificate" class="filled-in" value="GIA" id="certgia">
                            <label for="certgia">GIA</label>
                        </div>
                    </div>    
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Metal Weight (grm)*</div>
                        <input name="" type="text" id="metal_weight" autocomplete="false" placeholder="Enter gold weight" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Making Charges / grm*</div>
                        <input name="" type="text" id="making_charges" autocomplete="false" placeholder="Enter making charges" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Procurement Cost*</div>
                        <input name="" type="text" id="procurement_cost" autocomplete="false" placeholder="Enter procurement cost" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2 fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Margin</div>
                        <input name="" type="text" id="margin" autocomplete="false" placeholder="Enter margin" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isDecimalKey(event, this.value);">
                    </div>
                    <div class="divCon2  fLeft forInp">
                        <div class="titleDiv txtCap fLeft">Measurement*</div>
                        <div class="mInputDiv fLeft">
                            <input name="measurement1" id="measure1" autocomplete="false" type="text" placeholder=" eg. 10" maxlength="5" class="mtxtInput fLeft fmOpenR font14 c666" value="" onkeypress="return common.isDecimalKey(event, this.value);">
                            <span class="fLeft">X</span>
                            <input name="measurement2" id="measure2" type="text" autocomplete="false" placeholder=" eg. 20" maxlength="5" class="mtxtInput fLeft fmOpenR font14 c666" value="" onkeypress="return common.isDecimalKey(event, this.value);">
                        </div>
                    </div>
                    <div class="divCon fLeft">
                        <div class="titleDiv txtCap fLeft wAuto">Metal Purity*</div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isPurityCustz" class="filled-in" value="0" id="purcust1">
                            <label for="purcust1">Customizable</label>
                        </div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isPurityCustz" class="filled-in" value="1" id="purcust2">
                            <label for="purcust2">Not Customizable</label>
                        </div>
                    </div>
                    <div class="divCon  fLeft fmOpenR divAuto dn" id='ifpurityCustomiz'></div>
                    <div class="divCon  fLeft fmOpenR divAuto dn" id='ifpurityNotCustomiz'></div>


                    <div class="divCon fRight">
                        <div class="titleDiv txtCap fLeft wAuto">Metal Color*</div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isColorCustz" class="filled-in" value="0" id="colorcust1">
                            <label for="colorcust1">Customizable</label>
                        </div>
                        <div class="checkDiv fLeft mTop0">
                            <input type="radio" name="isColorCustz" class="filled-in" value="1" id="colorcust2">
                            <label for="colorcust2">Not Customizable</label>
                        </div>

                        <div class="innerCont fLeft dn" id='ifcolorCustomiz'></div>
                        <div class="innerCont dn fLeft" id='ifcolorNotCustomiz'></div>
                    </div>


                    <div class="divCon2 fLeft noBorder" id='cat_sizes'>
                        <div class="titleDiv txtCap fLeft">Bangle Sizes</div>
                    </div>
                </section>
                <!-----General Section End--!-->

                <!-----Price Section--!-->
                <section id='price_Section' class="priceCont dn">
                    <div class="commTitle1 fmOpenL fLeft">Price Breakup</div>
                    <div class="divCon fLeft">

                        <div class="priceHeading fLeft">
                            <div class="forComponent fLeft">Component</div> 
                            <div class="forRate fLeft">Rate</div> 
                            <div class="forWeight fLeft">Weight</div> 
                            <div class="forPrice fLeft">Price</div> 
                        </div>
                        <ul class="pricingul fLeft"></ul>
                    </div> 
                </section>
                <!-----Price Section End--!-->
                <div class="btnCont fLeft dn">
                    <center>
                        <a href='<?php echo DOMAIN;?>backend/?action=products'><div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div></a>
                        <div class="submitBtn transition300 fmOpenR poR" onclick="addProduct()" id="Submitdiv">SUBMIT</div>
                    </center>
                </div>
            </div>
        </div>

        <div class="forScrollBtn op0" onclick="moveUp()"></div>
        <div class="forScrollBtn op0 forScDown" onclick="moveDown()"></div>
        <div class="overlay dn"></div>
        <div class="loader dn"></div>
    </div>
    <script type="text/javascript" src="<?php echo $jvs['addProduct']; ?>"></script>
</body>
</html>