<?php include 'jBhead.html'?>
    <body>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft attributeList">
                <div class="wrapperMax">
                    <div class="catListCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft"><span id="attrCount">NA</span> attributes available</div>
                            <div class="addCouponBtn fRight transition300"><a href='<?php echo BACKDOMAIN;?>?action=addAttribute'>Add Attribute</a></div>
                            <input type="text"  autocomplete="false" class="prdSeachTxt fRight fmOpenR" placeholder=" Search Attributes">
                        </div>
                        <div class="listHeaderCom fLeft fmOpenR">
                            <div class="attrName fLeft">Attribute Name</div>
                            <div class="attrType fLeft">Type</div>
                            <div class="attrUnit fLeft">Unit</div>
                            <div class="attrMapp fLeft">Mapped</div>
                            <div class="cattrAct fLeft">Action</div>
                        </div>
                        <ul class="commonList fLeft fmOpenR"></ul>
                        <div class="noresDiv fLeft dn" id='noresults'>
                            <div class="noresults font25 fLeft">There are no coupons available.</div>
                        </div>
                        <div class="fLeft pagination fmOpenR dn">
                            <center>
                                <div class="pPrev poR transition300">Previous</div>
                                <div class="pgComm poR transition300 pgActive">1</div>
                                <div class="pgComm poR transition300">2</div>
                                <div class="pNext poR transition300">Next</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="<?php echo $jvs['attribute']; ?>"></script>
    </body>
</html>