<?php include 'jBhead.html'?>
    <body>
        <div class="container">
            <?php include 'jBheader.html'?>
            <div class="contents fLeft categoryList">
                <div class="wrapperMax">
                    <div class="catListCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft">50 categories available</div>
                            <div class="addCouponBtn fRight transition300"><a href='<?php echo BACKDOMAIN;?>?action=addCategory'>Add Category</a></div>
                            <input type="text"  autocomplete="false" class="prdSeachTxt fRight fmOpenR" placeholder=" Search Category">
                        </div>
                        <div class="listHeaderCom fLeft fmOpenR">
                            <div class="catName fLeft">Category Name</div>
                            <div class="parentName fLeft">Parents</div>
                            <div class="dPos fLeft op0">Display Pos.</div>
                            <div class="cactt fLeft">Action</div>
                        </div>
                        <ul class="commonList fLeft fmOpenR"></ul>
                        <div class="fLeft pagination fmOpenR dn">
                            <center>
                                <div class="pPrev poR transition300">Previous</div>
                                <div class="pgComm poR transition300 pgActive">1</div>
                                <div class="pgComm poR transition300">2</div>
                                <div class="pNext poR transition300">Next</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="<?php echo $jvs['category']; ?>"></script>
    </body>
</html>