<?php include 'jBhead.html' ?>
    <body>
      <div class="detaCmngcnt"></div>
        <div class="container customer">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="couponCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                             <div class="commTitle2 fLeft"><span id="totalCust" >No</span> Customers</div>
                            <input type="text"  autocomplete="off" class="prdSeachTxt lsearchTxt fRight fmOpenR marR" placeholder=" Search customer">
                        </div>
                         
                        <div class="cpListHeader fLeft fmOpenB">
                            <div class="date fLeft">Name</div>
                            <div class="prdName fLeft">E-mail Id </div>
                            <div class="prdName fLeft">Current Orders</div>
                            <div class="prdImg fLeft">Past Orders </div>
                            <div class="acct fLeft"></div>
                        </div>
                        <ul class="couponList fLeft fmOpenR searchDiv" id='users'></ul>
                      
                        <div class="noresDiv fLeft dn " id="noresults" >
                            <div class="noresults font25 fLeft">No records found</div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay dn"></div>
        <div class="loader dn"></div>
        
        <?php include 'loader.html';?>

        <script>
            $(document).ready(function()
            {
             // common.showLoader();
             
                getUserList();
               
//               $('.prdSeachTxt').bind('keyup', function() {
//                    var total=$("li").size();
//                    var dncnt=0;
//                    
//                    $("li").each(function() {
//                        
//                        if ($(this).html().toLowerCase().search(_this.val().toLowerCase()) < 0) {
//                            $(this).addClass('dn');
//                            dncnt++;
//                        }
//                        else {
//                        $(this).removeClass('dn');
//                        }
//                    });
//              });
            });
            
            
            function getUserList()
            {
                $.ajax({
                    url:APIDOMAIN+"index.php?action=getUserList",
                    type:'POST',
                    success:function(res){
                       var data=JSON.parse(res);
                       var total=data['result'].length
                     
                    $('#totalCust').html(total);
                var str="";
                
                if(data["error"]["err_code"]==0)
                {
//                   if(data['result'] == null  ){
//                $('#noresults').removeClass('dn');
//            }
//            else{
//                $('#noresults').add();
//               //  common.hideLoader();
//            }
            
                    $(data['result']).each(function(i,v){
                       
                        str+="<li class='transition300 searchRow'>";
                        str+="<div class=' date fLeft '>";
                        str+="<span class='upSpan fmOpenB'>"+v.name+"</span>";
                        str+="<span class='lwSpan'>"+v.mb+"</span>";
                        str+="</div>";
                        str+="<div class=' date fLeft '>"+v.em+"</div>";
                        str+="<div class=' prdName fLeft '>"+v.openOrd+"</div>";
                        str+="<div class=' prdImg fLeft '>"+v.pastOrd+"</div>";
                        str+="<div class=' acct fLeft '>";
                        str+= "<a href='" + DOMAIN + "backend/index.php?action=customer&uid=" + v.uid + "'><div class='fRight viewM transition300'></div></a>";
                        str+="<div class='fRight fmOpenR transition300 resetPsw' onclick=\"sendResetLink('"+v.uid+"')\">Reset</div>";
                        str+="</div>";
                        str+="</li>";
                        
                       
                    });
                  
                    $('#users').append(str);

         
                }
               
                    }
                });
            }
        
           
            
            function sendResetLink(uid){
                common.toast(1,"Password reset link sent to user");
            }
            
            $('.lsearchTxt').bind('keyup', function() 
        {
            var _this = $(this);
            var obj=$(this).parent().siblings('.searchDiv');
            var resultCount = 0;
            $(".searchRow").each(function()
            {
                if ($(this).html().toLowerCase().search(_this.val().toLowerCase()) < 0)
                {
                    $(this).addClass('dn');
                    $('#noresults').removeClass('dn');
                }
                else
                {
                    resultCount++;
                    $('#totalCust').html(resultCount);
                    $(this).removeClass('dn');
                }
            });
           
            if(resultCount==0) {
                $('#noresults').remove('dn');
                $('#totalCust').html(resultCount);
            } else { 
                $('.searchDiv').next().addClass('dn');
            }
});
            
            
        
        </script>
      
    </body>
</html>