<?php include 'jBhead.html' ?>
<body>
    <div class="container ordersPage">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax custDetail">
                <div class="aHead font20 fmOpenR padL pl20">Customer Details</div>
                <div class="main">
                    <div class="dtl_cont fLeft  font13">
                        <div class="divCon1 fLeft bNone">
                            <div class="w50 fLeft  c4d padR15 fmOpenR nameIcon h35">Name
                                <span class="fRight">:</span>
                            </div>
                            <div class="w50 fRight fmOpenB txtLeft lineHght">Chandrika</div>
                        </div>
                        <div class="divCon1 fLeft bNone">
                            <div class="w50 fLeft  c4d padR15 fmOpenR  mobIcon h35">Mobile number <span class="fRight">:</span></div>
                            <div class="w50 fRight fmOpenB txtLeft lineHght">8123128747</div>
                        </div>
                        <div class="divCon1 fLeft  bNone">
                            <div class="w50 fLeft  c4d padR15 fmOpenR mobIcon h35">Alternate number <span class="fRight">:</span></div>
                            <div class="w50 fRight fmOpenB txtLeft lineHght">9535638121</div>
                        </div>
                        <div class="divCon1 fLeft bNone">
                            <div class="w50 fLeft  c4d padR15 fmOpenR eMIcon h35"> <span class="fRight">:</span>Email Id</div>
                            <div class="w50 fRight fmOpenB txtLeft lineHght">Chandrika@xelpmoc.in</div>
                        </div>
                        <div class="fRight line"></div>
                    </div>

                    <div class="dtl_cont fLeft  font13">
                        <div class="divCon1 fLeft bNone ">
                            <div class="w50 fLeft  c4d padR15 fmOpenR addrsIcon h35">Delivery Address<span class="fRight">:</span></div>
                            <div class="w50 fRight fmOpenB lineHght">
                                Kormangala 6th block <br>
                                5th A cross,17th E Main
                                Koramangala club
                                Bangalore 560095
                            </div>
                        </div>
                        <div class="divCon1 fLeft bNone">
                            <div class="w50 fLeft  c4d padR15 fmOpenR bNone addrsIcon h35"><span class="fRight">:</span>Alternate Address</div>
                            <div class="w50 fRight fmOpenB lineHght">
                                Kormangala 6th block <br>
                                5th A cross,17th E Main
                                Koramangala club
                                Bangalore 560095
                            </div>
                        </div>

                    </div>
                </div>
                <div class="aHead font20 fmOpenR padL pl20">2 Current Orders</div>
                <div class="main bNone">
                    <div class="orderComm fLeft">

                        <div class="fmOpenR font20 fLeft currHead">Current Order</div>
                        <div class="prdInfo fLeft brdN w10">

                            <div class="fLeft pictr"></div>
                        </div>

                        <div class="dt_cont w40 fLeft mTop10">
                            <div class="prdInfo fLeft brdN w100">
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Product Name<span class="fRight">:</span></div>
                                    <div class='w50 fRight'>Earring</div>
                                </div>
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Product Name <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>ORD10101010101</div>
                                </div>
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Price <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>1000</div>
                                </div>
                            </div>

                        </div>
                        <div class="dt_cont w40 fLeft mTop10">
                            <div class="prdInfo fLeft brdN w100">
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Option <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>same day</div>
                                </div>
                                <div class='fieldTitle  fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Date<span class="fRight">:</span></div>
                                    <div class='w50 fRight'>20/02/2017</div>
                                </div>
                                <div class="logoutBtn fLeft fmOpenR font13">View Order Details</div>
                            </div>
                        </div>
                    </div>
                    <div class="orderComm fLeft">

                        <div class="fmOpenR font20 fLeft currHead">Current Order</div>
                        <div class="prdInfo fLeft brdN w10">

                            <div class="fLeft pictr"></div>
                        </div>

                        <div class="dt_cont w40 fLeft mTop10">
                            <div class="prdInfo fLeft brdN w100">
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Product Name<span class="fRight">:</span></div>
                                    <div class='w50 fRight'>Earring</div>
                                </div>
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Product Name <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>ORD10101010101</div>
                                </div>
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Price <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>1000</div>
                                </div>
                            </div>

                        </div>
                        <div class="dt_cont w40 fLeft mTop10">
                            <div class="prdInfo fLeft brdN w100">
                                <div class='fieldTitle fLeft fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Option <span class="fRight">:</span></div>
                                    <div class='w50 fRight'>same day</div>
                                </div>
                                <div class='fieldTitle  fmOpenR brdN'>
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Date<span class="fRight">:</span></div>
                                    <div class='w50 fRight'>20/02/2017</div>
                                </div>
                            </div>
                            <div class="logoutBtn fLeft fmOpenR font13">View Order Details</div>
                        </div>
                    </div>

                </div>


                <div class="aHead font20 fmOpenR padL pl20 fLeft"><span >2</span>&nbsp;Past Orders</div>

                <div class="orderComm fLeft mTop10">
                    <div class="prdInfo fLeft brdN w10">
                        <div class="fLeft pictr mTop0"></div>
                    </div>
                    <div class="dt1_cont fLeft bNone w40">

                        <div class="prdInfo fLeft brdN w100 mTop10">
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Product Name<span class="fRight">:</span></div>
                                <div class='w50 fRight'>Earring</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Product Id <span class="fRight">:</span></div>
                                <div class='w50 fRight'>ORD10101010101</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Price <span class="fRight">:</span></div>
                                <div class='w50 fRight'>1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="dt1_cont fLeft bNone w40">

                        <div class="prdInfo fLeft brdN w100 mTop10">
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Status<span class="fRight">:</span></div>
                                <div class='w50 fRight'>Earring</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Option<span class="fRight">:</span></div>
                                <div class='w50 fRight'>ORD10101010101</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Date <span class="fRight">:</span></div>
                                <div class='w50 fRight'>1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="viewTxt fmOpenB c4d">View Details</div>
                </div>

                <div class="orderComm fLeft mTop10">
                    <div class="prdInfo fLeft brdN w10">
                        <div class="fLeft pictr mTop0"></div>
                    </div>
                    <div class="dt1_cont fLeft bNone w40">

                        <div class="prdInfo fLeft brdN w100 mTop10">
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Product Name<span class="fRight">:</span></div>
                                <div class='w50 fRight'>Earring</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Product Id <span class="fRight">:</span></div>
                                <div class='w50 fRight'>ORD10101010101</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Price <span class="fRight">:</span></div>
                                <div class='w50 fRight'>1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="dt1_cont fLeft bNone w40">

                        <div class="prdInfo fLeft brdN w100 mTop10">
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Status<span class="fRight">:</span></div>
                                <div class='w50 fRight'>Earring</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Option<span class="fRight">:</span></div>
                                <div class='w50 fRight'>ORD10101010101</div>
                            </div>
                            <div class='fieldTitle fLeft fmOpenR brdN'>
                                <div class="w50 fLeft c4d padR15 fmOpenB">Delivery Date <span class="fRight">:</span></div>
                                <div class='w50 fRight'>1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="viewTxt fmOpenB c4d">View Details</div>
                </div>

            </div>


        </div>
    </div>

    <script type="text/javascript">

        var forDate;
        $('#datepicker').datepicker({
            onSelect: function (dateText, inst) {
                var dateText = $.datepicker.formatDate("yy-mm-dd", new Date(dateText));
                $(this).val(dateText);
                $('#' + forDate).val(dateText);
                if (forDate === 'dateTo') {
                    setFilterDate();
                }
                $('#datepicker').addClass('dn');
            },
            maxDate: "+0D"
        });

        function showCalander(inpDiv) {
            forDate = inpDiv;
            var pos = $('#' + inpDiv).position();
            var pTop = pos.top + 35;
            var pLeft = (pos.left);
            $('#datepicker').css({top: pTop + "px", right: 515 + "px"});
            $('#datepicker').removeClass('dn');
        }

        function checkToHide(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode === 8) {
                $('#datepicker').addClass('dn');
            }
        }


    </script>