<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
    <div class="container customer">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="couponCont fLeft">
                    <div class="prdSearchDiv fLeft fmOpenR">
                        <input type="text"  autocomplete="off" class="prdSeachTxt fRight fmOpenR" placeholder=" Search customer">
                    </div>
                    <div class="cpListHeader fLeft fmOpenB">
                        <div class="date fLeft">Name</div>
                        <div class="prdName fLeft">E-mail Id </div>
                        <div class="prdName fLeft">Current Orders</div>
                        <div class="prdImg fLeft">Past Orders </div>
                        <div class="acct fLeft"></div>
                    </div>
                    <ul class="couponList fLeft fmOpenR">
                        <li>
                            <div class=" date fLeft  ">
                                <span class="upSpan fmOpenB">Ankur Gala</span>
                                <span class="lwSpan">9876543210</span>
                            </div>
                            <div class=" date fLeft ">Ankurgala@xelpmoc.in</div>
                            <div class=" prdName fLeft ">1</div>
                            <div class=" prdImg fLeft ">2</div>
                            <div class=" acct fLeft ">
                                <div class="fRight viewM transition300"></div>
                                <div class="fRight fmOpenR transition300 resetPsw">Reset</div>
                            </div>
                        </li>
                        <li>
                            <div class=" date fLeft fmOpenB ">
                                <span class="upSpan fmOpenB">Ankur Gala</span>
                                <span class="lwSpan">9876543210</span>
                            </div>
                            <div class=" date fLeft ">Ankurgala@xelpmoc.in</div>
                            <div class=" prdName fLeft ">2</div>
                            <div class=" prdImg fLeft ">2</div>
                            <div class="  acct fLeft">
                                <div class="fRight viewM transition300"></div>
                                <div class="fRight fmOpenR transition300 resetPsw">Reset</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

