<?php include 'jBhead.html' ?>
    <body>
      <div class="detaCmngcnt"></div>
        <div class="container discounts">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="couponCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft">10 discounts available</div>
                            <div class="addCouponBtn fRight transition300 p030" onclick="addDiscount();">Add Discount</div>
                            <input type="text"  autocomplete="false" class="prdSeachTxt fRight fmOpenR" placeholder=" Search Discount">
                        </div>
                        <div class="listHeaderCom  fLeft fmOpenR">
                            <div class="date fLeft">Date</div>
                            <div class="stockCode fLeft">Stock Code</div>
                            <div class="cdescrp fLeft">Description</div>
                            <div class="stDate fLeft">Start Date</div>
                            <div class="enDate fLeft">End Date</div>
                            <div class="actt fLeft">Action</div>
                        </div>
                        <ul class="commonList fLeft fmOpenR">
                            <?php for($i=0;$i<15;$i++){?>
                            <li id='discount_Jzeva5<?php echo $i;?>'>
                                <div class="date fLeft">
                                    <span class="upSpan">2016-01-01</span>
                                    <span class="lwSpan">10:10:29</span>
                                </div>
                                <div class="stockCode fLeft">
                                    <span class="upSpan fmOpenB">TT32TE9</span>
                                    <span class="lwSpan"><a href="#">View Details</a></span>
                                </div>
                                <div class="cdescrp fLeft">20% Off</div>
                                <div class="stDate fLeft txtCenter">2016-01-15</div>
                                <div class="enDate fLeft">2016-01-01</div>
                                <div class="actt fLeft">
                                    <div class="deltBtn fRight transition300" onclick="deleteDiscount('discount_Jzeva5<?php echo $i;?>');"></div>
                                    <div class="editBtn fRight transition300" onclick="editDiscount('discount_Jzeva5<?php echo $i;?>');"></div>
                                    <div class="toggle-button toggle-button-selected  fLeft">      
                                        <span class="fActive">On</span>      
                                        <button class="button"></button>  
                                        <span class="fDactive">Off</span>   
                                    </div>
                                </div>
                            </li>
                            <?php } ?>
                        </ul>
                        <div class="fLeft pagination fmOpenR">
                            <center>
                                <div class="pPrev poR transition300">Previous</div>
                                <div class="pgComm poR transition300 pgActive">1</div>
                                <div class="pgComm poR transition300">2</div>
                                <div class="pNext poR transition300">Next</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay" class="overlay transition3001 dn"></div>
        <div id="discountEditDiv" class="cEditPop transition3001 dn">
            <div class="commTitle2 fLeft fmOpenR">Edit Discount For - <span class="couponCode" id="ccodeEdit">JZEVA50</span></div>
            <div class="divCon  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Description*</div>
                <input name="" type="text" id="descEdit" autocomplete="false" placeholder="Please provide discount description" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="divCon2  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Start Date*</div>
                <input name="" type="text" id="dateEdit" autocomplete="false" placeholder="Please enter start date" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="divCon2  fRight fmOpenR">
                <div class="titleDiv txtCap fLeft">End Date*</div>
                <input name="" type="text" id="date2Edit" autocomplete="false" placeholder="Please enter end date" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="btnCont fLeft">
                <center>
                    <div class="cancelBtn transition300 fmOpenR poR" onclick="closeEditBox()">CANCEL</div>
                    <div class="submitBtn transition300 fmOpenR poR" onclick="">SUBMIT</div>
                </center>
            </div>
        </div>
        <div id="discountAddDiv" class="cEditPop transition3001 dn" style="height:520px;">
            <div class="commTitle2 fLeft fmOpenR">Add Discount</div>
            <div class="divCon  fLeft fmOpenR mTop0">
                <div class="titleDiv txtCap fLeft">Search Product *</div>
                <input name="" type="text" id="coupName" autocomplete="false" placeholder="Search product to add discount" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="divCon2  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Discount Type *</div>
                <select class="txtSelect fLeft fmOpenR font14 c666">
                    <option>Fixed Amount</option>
                    <option>Percentage</option>
                </select>
            </div>
            <div class="divCon2  fRight fmOpenR">
                <div class="titleDiv txtCap fLeft">Discount Amount / %</div>
                <input name="" type="text" id="amt" autocomplete="false" placeholder="Please enter amount / %" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="divCon  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Minimum Applicable Amount</div>
                <input name="" type="text" id="descAdd" autocomplete="false" placeholder="Please enter minimum amount" class="txtInput fLeft fmOpenR font14 c666" onkeypress="return common.isNumberKey(event)">
            </div>
            <div class="divCon  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Description* <span class="fRight font12">50 character max</span></div>
                <input name="" type="text" id="descAdd" autocomplete="false" placeholder="Please provide discount description" class="txtInput fLeft fmOpenR font14 c666">
            </div>

            <div class="divCon2  fLeft fmOpenR">
                <div class="titleDiv txtCap fLeft">Start Date*</div>
                <input name="" type="text" id="dateAdd" autocomplete="false" placeholder="Please enter start date" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="divCon2  fRight fmOpenR">
                <div class="titleDiv txtCap fLeft">End Date*</div>
                <input name="" type="text" id="date2Add" autocomplete="false" placeholder="Please enter end date" class="txtInput fLeft fmOpenR font14 c666">
            </div>
            <div class="btnCont fLeft">
                <center>
                    <div class="cancelBtn transition300 fmOpenR poR" onclick="closeEditBox()">CANCEL</div>
                    <div class="submitBtn transition300 fmOpenR poR" onclick="closeEditBox()">SUBMIT</div>
                </center>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#dateEdit,#date2Edit,#dateAdd,#date2Add").datepicker();
                $('.toggle-button').click(function(){
                   $(this).toggleClass('toggle-button-selected'); 
                });
            });
                       

            function editDiscount(id) {
                var pcode = $.trim($('#'+id+" .stockCode .upSpan").text());
                var desc =  $.trim($('#'+id+" .cdescrp").text());
                var stDate =$.trim($('#'+id+" .stDate").text());
                var enDate =$.trim($('#'+id+" .enDate").text());

                $('#ccodeEdit').text(pcode);
                $('#descEdit').val(desc);
                $('#dateEdit').val(stDate);
                $('#date2Edit').val(enDate);
                openEditBox(1);
            }


            function deleteDiscount(id){
                alert(id);
            }

            $('#overlay').velocity({opacity: 0}, {delay: 0, duration: 0});
            $('#discountEditDiv,#discountAddDiv').velocity({scale: 0,borderRadius:"65%",opacity:0}, {delay: 0, duration:0});

            function openEditBox(type){
                var ids="";
                if(type===1)
                    ids='discountEditDiv';
                else if(type===2){
                    ids='discountAddDiv';
                }

                $('#overlay').removeClass('dn');
                $('#'+ids).removeClass('dn');
                setTimeout(function () {
                    $('#overlay').velocity({opacity: 1}, {delay: 0, duration: 300, ease: 'swing'});
                    $('#'+ids).velocity({scale: 1,borderRadius:"0",opacity:1}, {delay: 180, duration: 300, ease: 'swing'});
                }, 10);
            }

            function closeEditBox() {
                $('#discountEditDiv,#discountAddDiv').velocity({scale: 0,borderRadius:"65%",opacity:0}, {duration:200,delay: 0, ease: 'swing'});
                $('#overlay').velocity({opacity: 0}, {delay: 100, ease: 'swing'});
                setTimeout(function () {
                    $('#overlay').addClass('dn');
                }, 400);
            }

            function addDiscount(){
                openEditBox(2);
            }            
            
        </script>
    </body>
</html>
