<div class="header">
    <div class="wrapperMax">
        <div class="logoDiv fLeft"></div>
        <div class="loggedUser fmOpenR fRight">
            <div class="fRight logoutBtn fmOpenB">Logout</div>
            <div class="fRight">Hi, Karan Mehta</div>
        </div>
        <div class="tabsCont fLeft">
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=products'>products</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=orders'>orders</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=category'>category</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=attributes'>attribute</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=rates'>rate manager</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=coupon'>coupons</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=discounts'>discounts</a></div>
        </div>
    </div>
</div>