<!DOCTYPE html>
<html>
    <head>
        <title>Jzeva - <?php echo $page;?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="<?php echo $css['backend'];?>">
        <link rel="stylesheet" href="<?php echo $css['jquery_toast']; ?>">
        <script type="text/javascript" src="<?php echo $jvs['jqry']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['jqryUi']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['increase']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['jquery_toast']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['velocity']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['common']; ?>"></script>
        <script>
            var BWEBROOT='<?php echo BACKWEBROOT?>';
            var DOMAIN ='<?php echo DOMAIN?>';
            var APIDOMAIN ='<?php echo APIDOMAIN?>';
            var IMGDOMAIN ='<?php echo IMGDOMAIN?>';
            var page='<?php echo $page?>';
            var tab='<?php echo $tab?>';
            common.applyTabClass();
        </script>
    </head>
