<div class="header">
    <div class="wrapperMax">
        <div class="logoDiv fLeft"></div>
        <div class="loggedUser fmOpenR fRight">
            <div class="fRight logoutBtn fmOpenB">Logout</div>
            <div class="fRight">Hi, Karan Mehta</div>
        </div>
        <div class="tabsCont fLeft">
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=products'>Products</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=orders'>Orders</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=category'>Category</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=attributes'>Attribute</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=rates'>Rate Manager</a></div>
            <div class="tabsComm transition100 fLeft"><a href='<?php echo BACKDOMAIN;?>?action=coupon'>Coupons</a></div>
        </div>
    </div>
</div>