<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
    <div class='loginHdr'></div>
    <div class="signUpDiv">
        <div class="fmOpenB font30 txtCenter c4d">LOGIN</div>
        <div class="inputContr">
            <input type="tel"  class="txtBox fmOpenR mobileIcon1" placeholder="MOBILE OR EMAIL">
        </div>
        <div class="inputContr">
            <input type="password"  class="txtBox fmOpenR passwordIcon" placeholder="PASSWORD">
        </div>
        <div class="btnCont fLeft">
            <center>
                <div class="cancelBtn transition300 fmOpenR poR">CANCEL</div>
                <div class="submitBtn transition300 fmOpenR poR">SUBMIT</div>
            </center>
        </div>
        <div class="info_sec">
            <div class="fLeft font13 c4d frgtDiv fmOpenB">Forgot Password?</div>
            <div class="fRight font13 c4d frgtDiv fmOpenB">Sign Up</div>
        </div>
    </div>
</body>
</html>
