<?php include 'jBhead.html' ?>
 <?php echo "<script>var orderid=$orderid;</script>"; ?> 
 <script>  var pid = "<?php echo $_GET['pid'];  ?>";var combn = "<?php echo $_GET['combn'];  ?>";var sz = "<?php echo $_GET['sz']; ?>"; var oid="<?php echo $_GET['orderid']; ?>";</script>
<body>
  <div class="detaCmngcnt"></div>
    <div class="container cust_detail">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <section>                    
                    <div class="ratHeader fmOpenB">Order Details</div>
                    <div class="det_sec  fLeft">
                        <div class="prd_img"></div>
                        <div class="info_sec">
                            <div class="ttl_txt fmOpenB" id='prdName'></div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Order Id</div>
                                <div class="fieldTitle2 fmOpenB fRight" id="ordId">123456789</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Code</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdCod'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">MRP Price</div>
                                <div class="fieldTitle2 fmOpenB fRight"><span class="rSign" id='prdprice'></span></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Procurement Cost</div>
                                <div class="fieldTitle2 fmOpenB fRight"><span class="rSign" id='procureCost'></span></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Payment Method</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='payType'></div>
                            </div>
                             <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Transaction ID</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='transcId'></div>
                            </div>
                        </div>
                    </div>
                    <div class="det_sec fLeft">
                        <div class="ratHeader fmOpenB">Order Status</div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="0" id="Placed" >
                            <label for="Placed" class="font15">Order Placed</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="1" id="Approved" >
                            <label for="Approved" class="font15">Order Approved</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="2" id="manufactured" >
                            <label for="manufactured" class="font15">Getting manufactured</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="3" id="QC" >
                            <label for="QC" class="font15">In QC</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="4" id="certification" >
                            <label for="certification" class="font15"> In certification</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="5" id="Shipped" >
                            <label for="Shipped" class="font15"> Shipped</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="6" id="Delivered" >
                            <label for="Delivered" class="font15"> Delivered</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="7" id="NotD" >
                            <label for="NotD" class="font15">Not delivered</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="8" id="Rescheduled" >
                            <label for="Rescheduled" class="font15">Rescheduled</label>
                        </div>
                    </div>
                    <div class="nameContr padLR10 fRight">
                        <div class="outrDiv nameIcon ">
                            <div class="fmOpenB font14 txtStyle">Name</div>
                            <div class="fmOpenR font14" id='uname'></div>
                        </div>
                        <div class="outrDiv genderIcon dn" >
                            <div class="fmOpenB font14 txtStyle">Gender</div>
                            <div class="fmOpenR font14" id='ugender'></div>
                        </div>
                        <div class="outrDiv mobIcon ">
                            <div class="fmOpenB font14 txtStyle">Mobile Number</div>
                            <div class="fmOpenR font14" id='umobile'></div>
                        </div>
                        <div class="outrDiv eMIcon ">
                            <div class="fmOpenB font14 txtStyle">E-mail Id</div>
                            <div class="fmOpenR font14" id='uemail'></div>
                        </div>
                        <div class="outrDiv addrsIcon ">
                            <div class="fmOpenB font14 txtStyle"> Address</div>
                            <div class="fmOpenR font14" id='uaddress'></div>
                        </div>
                    </div>
                </section>                
<!--                <div class="all_det_section  fLeft">-->
                    <section>
                        <div class="ratHeader fmOpenB">Product Details</div>
                        <div class="dtl fLeft ">
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product SEO Name </div>
                                <div class="fieldTitle2 fmOpenB fRight" id="prdseoname"></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Category </div>
                                <div class="fieldTitle2 fmOpenB fRight txtCap" id='prdCats'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Vendor </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='vendorName'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Weight (grms) </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdWt'></div>
                            </div>
                            <div class="divCon1 fLeft" id="size">
                                <div class="fieldTitle1 fLeft">Size</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='gender'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Diamond Setting Type </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='dmdSetting'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Certificate </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdcrtficte'></div>
                            </div>
                        </div>
                        <div class="dtl fRight">
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Weight(Grm)</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mtlwght'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Making Charges/Grm</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mkngCrg'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Procurement Cost</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='procCost'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Margin</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mrgn'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Measurement</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mesmnt'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Purity</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdmetalpurity'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal color</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdmetalcolor'></div>
                            </div>
                        </div>
                    </section>
                    <section  class="solitaireCont dn" id='prsolitaires_Section'>
                        <div class="ratHeader fmOpenB">Added Solitaire(s)</div>
                        <div class="newElements fLeft" id='prnewSolitaires'></div>
                    </section>
                    <section  class="solitaireCont dn" id='prdiamond_Section'>
                        <div class="ratHeader fmOpenB">Added Diamond(s)</div>
                        <div class="newElements fLeft" id='prnewDiamonds'></div>
                    </section>
                    <section  class="solitaireCont dn" id='pruncut_Section'>
                        <div class="ratHeader fmOpenB">Added Uncut(s)</div>
                        <div class="newElements fLeft" id='prnewUncut'></div>
                    </section>
                    <section  class="solitaireCont dn" id='prgemstone_Section'>
                        <div class="ratHeader fmOpenB">Added Gemstone(s)</div>
                        <div class="newElements fLeft" id='prnewgemstone'></div>
                    </section>
                    <section id="price_Section" class="priceCont poR dn">
                        <div class="commTitle1 fmOpenL fLeft">Price Breakup</div>
                        <div class="divCon fLeft">
                            <div class="priceHeading fLeft">
                                <div class="forComponent fLeft">Component</div> 
                                <div class="forRate fLeft">Rate</div> 
                                <div class="forWeight fLeft">Weight</div> 
                                <div class="forPrice fLeft">Price</div> 
                            </div>
                            <ul class="pricingul fLeft fmOpenR"></ul>
                        </div>
                    </section>
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="overlay dn"></div>
    <div class="loader dn"></div>
    <script>
        var data=new Array();
        var mpurity = [];
      
        $(document).ready(function(){ 
              getOrderDetails();
	 
            $("input[name='status']").bind('click', function(event) {
                 stopPropGate(event);
                 var st=$(this).val();
                     showLoader();
                   
                  if($(this). prop("checked") == true){
                    changeOrderStatus(st);  
                  }
                  else if($(this). prop("checked") == false){ 
			changeOrderStatus(st-1);   
                  } 
                 
                if((st !== '7') && (st !== '8')){
                    $("[name='status']").each( function(r,v) {
                        if ($(this).val() < st) 
                            $(this).attr('checked', true); 
                    });  
                }
               
                
            });
            
             
        });
         
        function stopPropGate(event)
        {
            if (event && $.isFunction(event.stopImmediatePropagation))
                event.stopImmediatePropagation();
            else
                window.event.cancelBubble = true;
        }
      
        function getOrderDetails(){
            
            var URL=APIDOMAIN+"index.php?action=orderTrack&orderid="+orderid+"&pid="+pid+"&combn="+combn+"&sz="+sz;
          
            $.ajax({
                url:URL,
                type:'POST',
                async: false,
                success: function(res) {
                   
                    res=JSON.parse(res);  
                    showLoader();
                    getOrderDetailsCallBack(res);
                   
                }
            });
            
        }
        var _t;
        var userid;
        function getOrderDetailsCallBack(data)
        {  
            hideLoader();
            
            if(data['error']['err_code']==0)
            {   
                var l=data['result'][0];  
              
                var uid=userid=l.uid;
                var pid=l.pid; 
                var ostatus=l.ostatus;
                var price=l.price;
                var oid=l.oid;
                $('#ordId').text(oid);
                $('#prdprice').text(price);
              // getProductDetails(pid,l);
               // getorderdetails(l);
                getDetails(l);
                
                var paytype='Credit Card';
                
                if(l.pm==1)
                    paytype='Debit Card';
                
                if(l.pm==2)
                    paytype='Net Banking';
                
                if(l.pm==3)
                    paytype='EMI';
                
                if(l.pm==3)
                    paytype='COD';
                
                
                //0-Credit Card | 1-Debit Card | 2-Net Banking | 3-EMI | 4-COD
               var paymode=l.paymode; 
               var transcId= l.transcId;
                $('#payType').html(paymode);
               $('#transcId').html(transcId);
               
                $("input[name='status']").each(function(){
                    var val=$(this).val();
                    if(val==ostatus){
                        $(this).click();
                          _t=$(this);
                        $(this).parent().prevAll().each(function(){
                            $(this).find('input').click();
                        });  
                    }
                    
                    if(ostatus==7 || ostatus==8)
                    {
                        $('#Delivered').attr('checked',false);
                        
                    }
                  
                   
                });
               
            }
            else
            {
                common.toast(0, 'Error in retrieving data');
                hideLoader();
               
            }
            
        }
    
        function getDetails(dt)
        { 
                        $('#uname').text(dt.uname);
                        var gen="Female";
                        if(dt.gn==1)
                        {
                            gen="Male";
                        }
                        else if(dt.gn==1){
                            gen="Other";
                        }
                      
                        $('#umobile').text(dt.umobile);
                        $('#uemail').text(dt.email);
                        $('#uaddress').text(""+dt.address+" , "+dt.city+" , "+dt.state+"  "+dt.pincode+"");
                        
               
                var catName =dt.ccatname;
   var catgryname = dt.catgryname;
  catgryname= catgryname.split(',');
  var catgName =catgryname[1]; 
  
                $('#prdCod').text(dt.prdcode);
                            $('#prdseoname').text(dt.prdSeo);
                            $('#prdName').text(dt.prdname);
                            $('#prdWt').text(dt.prodwgt);
                            $('#procureCost').html(dt.proccost);
                            $('#prdCats').text(catgName);
                            $('#procCost').html("&#8377;" + dt.proccost);
                             $('#vendorName').text(dt.vendorname);
                          $('#dmdSetting').html(dt.dmdsetting);
                            $('#prdcrtficte').html(dt.certificate);
                             $('#mrgn').html(dt.margin);
                            $('#mesmnt').html(dt.measurement);
                             $('#prdmetalpurity').text(dt.Metalcarat);
                              $('#prdmetalcolor').text(dt.color);
                              
    var mtlWgDav = 0;
    var bseSize = 0;
  
        
   var currentSize=dt.sz;
   var storedWt =dt.mtlwgt;
   var storedMkCharge=dt.mkngchrg;
    if (catName == 'Rings') {
        bseSize = parseFloat(14);
        mtlWgDav = 0.05;
    } else if (catName== 'Bangles') {
        bseSize = parseFloat(2.4);
        mtlWgDav = 7;
    }
    
     if (isNaN(currentSize))
    {
        
        if (catName == 'Rings')
            currentSize = parseFloat(14);
        else if (catName == 'Bangles')
            currentSize = parseFloat(2.4);
        else if (catName !== 'Rings' && catName !== 'Bangles') {
            currentSize = 0;
        }
    }


    var changeInWeight = (currentSize - bseSize) * mtlWgDav;
    var newWeight = (parseFloat(storedWt) + parseFloat(changeInWeight)).toFixed(3);
     $('#mtlwght').html(newWeight + " gms");
      var mkCharges = parseFloat(storedMkCharge * newWeight);
      var mkc =mkCharges.toFixed();
     $('#mkngCrg').html("&#8377;" + mkc + " /grm");
     if(catgName == 'Rings' || catgName == 'Bangles'){
       
      $('#gender').text(dt.sz);
        $('#size').removeClass('dn');
     }else{
          $('#size').addClass('dn');
     }
                              
                            var dmdstr ="";
                              
                                dmdstr += "<div class='commCont fLeft forAuto'>";
                              //  dmdstr +="<div class='shapeComm "+dt.dmdshape+"'></div>";
                                dmdstr += "<div class='outContr'>";
                                dmdstr += "<div class='fieldTitle fLeft w25'>";
                                dmdstr += "<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                                dmdstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.dmdshape + "</div>";
                                dmdstr += "</div>";
                                dmdstr += "<div class='fieldTitle fLeft w25'>";
                                dmdstr += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                                dmdstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.quality+ "</div>";
                                dmdstr += "</div>";
                                dmdstr += "<div class='fieldTitle fLeft w25'>";
                                dmdstr += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                dmdstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.dmdcarat + "</div>";
                                dmdstr += "</div>";
                                dmdstr += "<div class='fieldTitle fRight w25 marR0'>";
                                dmdstr += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                dmdstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.totdmd + "</div>";
                                dmdstr += "</div>";
                                dmdstr += "</div>";
                                dmdstr += "</div>";
                                dmdstr += "<div class='breakLine'></div>";
                                
                                 $('#prnewDiamonds').html(dmdstr);
                                 if(dt.alldmd !== null){
                            $('#prdiamond_Section').removeClass('dn');
                        }
                        
                        var gemstr ="";
                        
                        gemstr += "<div class='commCont fLeft forAuto'>";
                                gemstr += "<div class='outContr fLeft'>";
                                gemstr += "<div class='fieldTitle fLeft w25'>";
                                gemstr += "<div class='w50 fLeft  padR15 fmOpenR'>Gemstone<span class='fRight'></span></div>";
                                gemstr += "<div class='w50 fRight fmOpenB txtRight'>" + (dt.gemstoneName) + "</div>";
                                gemstr += "</div>";
                                gemstr += "<div class='fieldTitle fLeft w25'>";
                                gemstr += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                gemstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.gemscarat + "</div>";
                                gemstr += "</div>";
                                gemstr += "<div class='fieldTitle fLeft w25'>";
                                gemstr += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                gemstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.gemsPricepercarat + "</div>";
                                gemstr += "</div>";
                                gemstr += "<div class='fieldTitle fRight w25 marR0'>";
                                gemstr += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                gemstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.totalgems + "</div>";
                                gemstr += "</div>";
                                gemstr += "</div>";
                                gemstr += "</div>";
                                gemstr += "<div class='breakLine'></div>";
                                
                               $('#prnewgemstone').html(gemstr);
                               if(dt.allgems !== null){
                            $('#prgemstone_Section').removeClass('dn');
                        }
                        
                      var solistr ="";
                        solistr += "<div class='commCont fLeft poR forAuto'>";
                                solistr += "<div class='shapeComm " + dt.solishape + "'></div>";
                                solistr += "<div class='fieldTitle fLeft '>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.solishape + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft '>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Color <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.soliclr + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fRight marR0'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Clarity <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(dt.soliclar) + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Cut <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(dt.solicut) + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Symmetry <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(dt.solisymm) + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fRight marR0'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Polish <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(dt.solipolish) + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Fluorescence <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(dt.soliflrcnce) + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft '>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.Solicarat + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fRight marR0'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>&#8377;" + dt.SoliPricepercarat + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Table <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.solitblno + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fLeft'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Crown Angle <span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.solicrwnangle + "</div>";
                                solistr += "</div>";
                                solistr += "<div class='fieldTitle fRight marR0'>";
                                solistr += "<div class='w50 fLeft  padR15 fmOpenR'>Gridle<span class='fRight'></span></div>";
                                solistr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.soligirdle + "</div>";
                                solistr += "</div>";
                                solistr += "</div>";
                                solistr += "<div class='breakLine'></div>";
                                
                                  $('#prnewSolitaires').html(solistr);
                                 if(dt.allSolit !== null)
                            $('#prsolitaires_Section').removeClass('dn');
                        
                        var uncutstr=""
                        
                        uncutstr += "<div class='commCont fLeft forAuto'>";
                                uncutstr += "<div class='outContr fLeft'>";
                                uncutstr += "<div class='fieldTitle fLeft '>";
                                uncutstr += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Color <span class='fRight'></span></div>";
                                uncutstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.Uncutclr + "</div>";
                                uncutstr += "</div>";
                                uncutstr += "<div class='fieldTitle fLeft '>";
                                uncutstr += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                                uncutstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.uncutqual + "</div>";
                                uncutstr += "</div>";
                                uncutstr += "<div class='fieldTitle fRight marR0'>";
                                uncutstr += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                uncutstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.Uncutcarat + "</div>";
                                uncutstr += "</div>";
                                uncutstr += "<div class='fieldTitle fLeft '>";
                                uncutstr += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                uncutstr += "<div class='w50 fRight fmOpenB txtRight'>&#8377; " + dt.UncutPricepercarat + "</div>";
                                uncutstr += "</div>";
                                uncutstr += "<div class='fieldTitle fLeft'>";
                                uncutstr += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                uncutstr += "<div class='w50 fRight fmOpenB txtRight'>" + dt.totalUncut + "</div>";
                                uncutstr += "</div>";
                                uncutstr += "</div>";
                                uncutstr += "</div>";
                                uncutstr += "<div class='breakLine'></div>";
                                
                                 $('#prnewUncut').html(uncutstr);
                                 if(dt.allUncut !== null)
                            $('#pruncut_Section').removeClass('dn');
                        
                         
                            if (dt.aflag == 1)
                            {
                                $('.backtxtSelect').addClass('inStockPrd').removeClass('outStockPrd');
                                $('.backtxtSelect option').eq(0).attr('selected',true);
                                $('.backtxtSelect option').eq(1).removeAttr('selected');
                            }
                            else{
                                $('.backtxtSelect').addClass('outStockPrd').removeClass('inStockPrd');
                                $('.backtxtSelect option').eq(1).attr('selected',true);
                                $('.backtxtSelect option').eq(0).removeAttr('selected');
                            }
                            
                            $('.backtxtSelect').removeClass('dn');
                            
                          
                            if (dt.defimg !== null) {
                            var image = IMGDOMAIN + dt.defimg;
                        } else {
                            var image = dt.prdimg;
                            image = image.split(',');
                            image = IMGDOMAIN + image[0];
                        }
                        
                         
                            
                              if (image.length>0)
                        {
                            
                             
                            $('.prd_img').css({
                                "background-image": "url(\"" + image + "\")",
                                "background-position": "center",
                                "background-repeat": "no-repeat",
                                "background-size": "40% auto",
                            });

                            
                            $('.prd_img').removeClass('noimage');
                            
                        }
                        else{
                            $('.prd_img').addClass('noimage');
                        }
        }
        
       
     
        
        function getProductDetails(pid)
        {
            var URL = APIDOMAIN + "index.php?action=getProductById&pid=" + pid;
            $.ajax({
                url: URL,
                type: 'POST',
                success: function(res) {
                    data = JSON.parse(res);
           
                    if (data['error']['err_code'] == '0')
                    {
                        var dt = data['results'];  
                        var basic = dt['basicDetails'];
                        var catAttr = dt['catAttr'];
                        var vendor = dt['vendor'];
                        var metalPurity = dt['metalPurity'];
                        var metalColor = dt['metalColor'];
                        var solitaire = dt['solitaire'];
                        var diamonds = dt['dimond'];
                        var uncut = dt['uncut'];
                        var gemstone = dt['gamestone'];
                        var images = dt['images'];


                        if (images.count>0)
                        {
                            
                            $('.prd_img').css({
                                "background-image": "url(" + images['images'][0] + ")",
                                "background-position": "center",
                                "background-repeat": "no-repeat",
                                "background-size": "40% auto",
                            });

                            
                            $('.prd_img').removeClass('noimage');
                            
                        }
                        else{
                            $('.prd_img').addClass('noimage');
                        }


                        $(basic).each(function(i, vl) {
                            $('#prdCod').text(vl.prdCod);
                            $('#prdseoname').text(vl.prdSeo);
                            $('#prdName').text(vl.prdSeo);
                            $('#prdWt').text(vl.prdWgt);

                            var gen = "Female";
                            if (vl.gender == 1)
                                gen = "Female";

                            else if (vl.gender == 2)
                                gen = "Unisex";

                            $('#gender').text(gen);
                            $('#dmdSetting').html(vl.dmdStng);
                            $('#prdcrtficte').html(vl.crtficte);
                            $('#mtlwght').html(vl.mtlWgt + " grm");
                            $('#mkngCrg').html("&#8377;" + vl.mkngCrg + " /grm");
                            $('#procCost').html("&#8377;" + vl.procmtCst);
                            $('#procureCost').html("&#8377;" + vl.procmtCst);
                            
                            
                            
                            $('#disPrice').html("&#8377;" + vl.procmtCst);
                            $('#mrgn').html("&#8377;" + vl.mrgn);
                            $('#mesmnt').html(vl.mesmnt);
                            
                            
                            if (basic.active_flag == 1)
                            {
                                $('.backtxtSelect').addClass('inStockPrd').removeClass('outStockPrd');
                                $('.backtxtSelect option').eq(0).attr('selected',true);
                                $('.backtxtSelect option').eq(1).removeAttr('selected');
                            }
                            else{
                                $('.backtxtSelect').addClass('outStockPrd').removeClass('inStockPrd');
                                $('.backtxtSelect option').eq(1).attr('selected',true);
                                $('.backtxtSelect option').eq(0).removeAttr('selected');
                            }
                            
                            $('.backtxtSelect').removeClass('dn');
                            
                        });

                        $(vendor['results']).each(function(i, vl) {
                            $('#vendorName').text(vl.nm);
                        });

                        var locCat = new Array();
                        $.each(catAttr.results, function(i, vl) {
                            locCat.push(vl.name);
                        });

                        $('#prdCats').text(locCat.toString());


                        
                        var mcolor = [];
                        $.each(metalPurity.results, function(i, vl) { 
                          
                            mpurity.push(vl.dVal);
                        });
                        $('#prdmetalpurity').text(mpurity.toString());

                        $.each(metalColor.results, function(i, vl) {
                            mcolor.push(vl.dVal);
                        });
                        $('#prdmetalcolor').text(mcolor.toString());



                        if (basic.hasSol == 1)
                        {

                            var str = "";
                            $(solitaire['results']).each(function(j, vl) {
                                str += "<div class='commCont fLeft poR forAuto'>";
                                str += "<div class='shapeComm " + vl.shape + "'></div>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.shape + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Color <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.colr + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Clarity <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.clrty) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Cut <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.cut) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Symmetry <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.symty) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Polish <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.polish) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Fluorescence <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + decodeURIComponent(vl.flresce) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.carat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>&#8377;" + vl.prcPrCrat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Table <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.tblNo + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Crown Angle <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.crwnAngle + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Gridle<span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.girdle + "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "<div class='breakLine'></div>";

                            });

                            $('#prnewSolitaires').html(str);
                            $('#prsolitaires_Section').removeClass('dn');
                        }


                        if (basic.hasDmd == 1)
                        {
                            var str = "";
                            $(diamonds['results']).each(function(i, vl) {
                                var dquality = new Array();


                                $.each(vl.QMast.results, function(i, vl) {
                                    dquality.push(vl.dVal);
                                });
                                str += "<div class='commCont fLeft forAuto'>";
                                //str+="<div class='shapeComm "+vl.shape+"'></div>";
                                str += "<div class='outContr'>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.shape + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + dquality.toString() + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.crat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight w25 marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.totNo + "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "<div class='breakLine'></div>";
                            });

                            $('#prnewDiamonds').html(str);
                            $('#prdiamond_Section').removeClass('dn');

                        }



                        if (basic.hasUnct == 1)
                        {
                            var str = "";
                            $(uncut['results']).each(function(i, vl) {
                                str += "<div class='commCont fLeft forAuto'>";
                                str += "<div class='outContr fLeft'>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Color <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.clor + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.qulty + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.crat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft '>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>&#8377; " + vl.prcPrCrat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.totNo + "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "<div class='breakLine'></div>";
                            });

                            $('#prnewUncut').html(str);
                            $('#pruncut_Section').removeClass('dn');

                        }

                        if (basic.hasGem == 1)
                        {
                            var str = "";
                            $(gemstone['results']).each(function(i, vl) {
                                str += "<div class='commCont fLeft forAuto'>";
                                str += "<div class='outContr fLeft'>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Gemstone<span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + (vl.gemNm) + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.crat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fLeft w25'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.prcPrCrat + "</div>";
                                str += "</div>";
                                str += "<div class='fieldTitle fRight w25 marR0'>";
                                str += "<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                                str += "<div class='w50 fRight fmOpenB txtRight'>" + vl.totNo + "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "</div>";
                                str += "<div class='breakLine'></div>";
                            });

                            $('#prnewgemstone').html(str);
                            $('#prgemstone_Section').removeClass('dn');

                        }

                    }
                }
            });
        }
        
        function changeOrderStatus(st)
        {
            
            var URL=APIDOMAIN+"index.php?action=changeOrderStatus";
            values={};
            values['orderid']=orderid.toString();
            values['userid']=userid.toString();
            values['ostatus']=st;
            values['pid']=pid;
            values['combn']=combn;
            values['sz']=sz;
            var dt=JSON.stringify(values);
         
            $.ajax({
                url:URL,
                type:'POST',
                data:{dt:dt},
                success: function (res) {
                    res=JSON.parse(res);
                      
                    statusCallBack(res);
                }
               
            });
            
        }
        
        function statusCallBack(data)
        {
            if (data['error']['err_code'] == '0')
            {
                common.toast(1, 'Order status updated successfully');
                hideLoader();
                //window.location.reload(true);
            }
            else
            {
                common.toast(0, 'Error in updating status');
                hideLoader();
            }

            
        }
        
        function showLoader()
        {
            $('.overlay,.loader').removeClass('dn');
        }

        function hideLoader()
        {
            $('.overlay,.loader').addClass('dn');
        }

 
    </script>
</body>
</html>
