<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
    <div class="container cust_detail">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="prdSearchDiv fLeft fmOpenR">
                    <div class="commTitle2 fLeft">Order Details</div>
                </div>
                <section>
                    
                    <div class="nameContr padLR10 fRight">
                        <div class="outrDiv nameIcon ">
                            <div class="fmOpenB font14 txtStyle">Name</div>
                            <div class="fmOpenR font14">Bhagya</div>
                        </div>
                        <div class="outrDiv mobIcon ">
                            <div class="fmOpenB font14 txtStyle">Mobile Number</div>
                            <div class="fmOpenR font14">9874563217</div>
                        </div>
                        <div class="outrDiv mobIcon ">
                            <div class="fmOpenB font14 txtStyle">Alternate Number</div>
                            <div class="fmOpenR font14">9874563217</div>
                        </div>
                        <div class="outrDiv eMIcon ">
                            <div class="fmOpenB font14 txtStyle">E-mail Id</div>
                            <div class="fmOpenR font14">abc@gmail.com</div>
                        </div>
                        <div class="outrDiv addrsIcon ">
                            <div class="fmOpenB font14 txtStyle"> Address</div>
                            <div class="fmOpenR font14">#657, 5th A Cross, 17th E Main Road,Koramangala 6th Block,Bangalore – 560095</div>
                        </div>
                    </div>

                    
                    
                    <div class="det_sec  fLeft">
                        <div class="prd_img"></div>
                        <div class="info_sec">
                            <div class="ttl_txt fmOpenB">Rosalia Ring</div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Code</div>
                                <div class="fieldTitle2 fmOpenB fRight">PRD324765</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Price</div>
                                <div class="fieldTitle2 fmOpenB fRight"><span class="poR pl20"><span class="rsSpan"></span>13,000</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="det_sec fLeft">
                        <div class="ratHeader fmOpenB">Order Status</div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Order Placed" id="Placed" >
                            <label for="Placed" class="font15">Order Placed</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Order Approved" id="Approved" >
                            <label for="Approved" class="font15">Order Approved</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Getting manufactured" id="manufactured" >
                            <label for="manufactured" class="font15">Getting manufactured</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="In QC" id="QC" >
                            <label for="QC" class="font15">In QC</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="In certification" id="certification" >
                            <label for="certification" class="font15"> In certification</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Shipped" id="Shipped" >
                            <label for="Shipped" class="font15"> Shipped</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Delivered" id="Delivered" >
                            <label for="Delivered" class="font15"> Delivered</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Not delivered" id="NotD" >
                            <label for="NotD" class="font15">Not delivered</label>
                        </div>
                        <div class="checkDiv fLeft fmOpenR">
                            <input type="checkbox" name="status" class="filled-in" value="Rescheduled" id="Rescheduled" >
                            <label for="Rescheduled" class="font15">Rescheduled</label>
                        </div>
                    </div>
                    <div class="breakLine"></div>
                    <div class="det_sec  fLeft w100">
                        <div class="ratHeader fmOpenB">Product Details</div>
                        <div class="dtl_cont fLeft ">

                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product SEO Name </div>
                                <div class="fieldTitle2 fmOpenB fRight">Ring</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Category </div>
                                <div class="fieldTitle2 fmOpenB fRight">Diamond Jewellery , Men Rings</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Vendor </div>
                                <div class="fieldTitle2 fmOpenB fRight">1</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Weight (grms) </div>
                                <div class="fieldTitle2 fmOpenB fRight">5</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Gender</div>
                                <div class="fieldTitle2 fmOpenB fRight">Female</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Diamond Setting Type </div>
                                <div class="fieldTitle2 fmOpenB fRight">Channel</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Certificate </div>
                                <div class="fieldTitle2 fmOpenB fRight">GIA</div>
                            </div>
                        </div>
                        <div class="dtl_cont fLeft">
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Weight(Grm)</div>
                                <div class="fieldTitle2 fmOpenB fRight">5 grm</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Making Charges/Grm</div>
                                <div class="fieldTitle2 fmOpenB fRight">23</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Procurement Cost</div>
                                <div class="fieldTitle2 fmOpenB fRight">23</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Margin</div>
                                <div class="fieldTitle2 fmOpenB fRight">23</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Measurement</div>
                                <div class="fieldTitle2 fmOpenB fRight">10X20</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Purity</div>
                                <div class="fieldTitle2 fmOpenB fRight">14 carat</div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal color</div>
                                <div class="fieldTitle2 fmOpenB fRight">Rose</div>
                            </div>

                        </div>
                        
                        <section  class="solitaireCont">
                            <div class="ratHeader fmOpenB">Added Solitaire(s)</div>
                            <div class="newElements fLeft" >
                                <div class="commCont fLeft poR forAuto">
                                    <div class="shapeComm Round"></div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Color </div>
                                            <div class="w50 fRight fmOpenB txtRight">E</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Clarity </div>
                                            <div class="w50 fRight fmOpenB txtRight">IF</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Cut </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Good</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Symmetry </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Polish </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Fluorescence </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Strong</div>

                                        </div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">1</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Price/Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">₹1000</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Table </div>
                                            <div class="w50 fRight fmOpenB txtRight">1000</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Crown Angle </div>
                                            <div class="w50 fRight fmOpenB txtRight">52</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Gridle</div>
                                            <div class="w50 fRight fmOpenB txtRight">1.22</div>
                                        </div>


                                </div>
                            </div>
                        </section>


                        <section  class="solitaireCont">
                            <div class="ratHeader fmOpenB">Added Diamond(s)</div>
                            <div class="newElements fLeft" >
                                <div class="commCont fLeft poR forAuto">
                                    <div class="shapeComm Round"></div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Color </div>
                                            <div class="w50 fRight fmOpenB txtRight">E</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Clarity </div>
                                            <div class="w50 fRight fmOpenB txtRight">IF</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Cut </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Good</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Symmetry </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Polish </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Fluorescence </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Strong</div>

                                        </div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">1</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Price/Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">₹1000</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Table </div>
                                            <div class="w50 fRight fmOpenB txtRight">1000</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Crown Angle </div>
                                            <div class="w50 fRight fmOpenB txtRight">52</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Gridle</div>
                                            <div class="w50 fRight fmOpenB txtRight">1.22</div>
                                        </div>


                                </div>
                            </div>
                        </section>


                        <section  class="solitaireCont">
                            <div class="ratHeader fmOpenB">Added Uncut(s)</div>
                            <div class="newElements fLeft" >
                                <div class="commCont fLeft poR forAuto">
                                    <div class="shapeComm Round"></div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Color </div>
                                            <div class="w50 fRight fmOpenB txtRight">E</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Clarity </div>
                                            <div class="w50 fRight fmOpenB txtRight">IF</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Cut </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Good</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Symmetry </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Polish </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Fluorescence </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Strong</div>

                                        </div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">1</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Price/Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">₹1000</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Table </div>
                                            <div class="w50 fRight fmOpenB txtRight">1000</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Crown Angle </div>
                                            <div class="w50 fRight fmOpenB txtRight">52</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Gridle</div>
                                            <div class="w50 fRight fmOpenB txtRight">1.22</div>
                                        </div>


                                </div>
                            </div>
                        </section>

                        <section  class="solitaireCont">
                            <div class="ratHeader fmOpenB">Added Gemstone(s)</div>
                            <div class="newElements fLeft">
                                <div class="commCont fLeft poR forAuto">
                                    <div class="shapeComm Round"></div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Color </div>
                                            <div class="w50 fRight fmOpenB txtRight">E</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Clarity </div>
                                            <div class="w50 fRight fmOpenB txtRight">IF</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Cut </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Good</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Symmetry </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Polish </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Fluorescence </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Strong</div>

                                        </div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">1</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Price/Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">₹1000</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Table </div>
                                            <div class="w50 fRight fmOpenB txtRight">1000</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Crown Angle </div>
                                            <div class="w50 fRight fmOpenB txtRight">52</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Gridle</div>
                                            <div class="w50 fRight fmOpenB txtRight">1.22</div>
                                        </div>


                                </div>
                            </div>
                        </section>
                        <div class="breakLine"></div>
                        <section  class="priceCont">
                            <div class="priceHeading fmOpenB"><span class="c4d">Grand Total</span><span class="fRight pl20 poR"><span class="rsSpan"></span> 2,00,000</span></div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
