<?php include 'jBhead.html' ?>
    <body>
        <div class="container ordersPage">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="orderComm fLeft">
                        <div class="cnfrmntnHdng fLeft">
                            <div class="advnameandLctn fLeft">
                                <div class="textprv fLeft fmOpenR ">Product Name</div>
                                <div class="textprv1 fLeft fmOpenR ">22KT -3013DGI - DROP EAR RING</div>
                            </div>
                            <div class="advnameandLctn fRight">
                                <div class="textprv fLeft fmOpenR ">Status</div>
                                <div class="textprv1 fLeft fmOpenR ">Confirm</div>
                            </div>
                        </div>
                        <div class="orderDtls fLeft">



                        </div>                    
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>    