<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
    <div class="container ordersPage">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="couponCont fLeft">
                    <div class="prdSearchDiv fLeft fmOpenR">
                        <div class="commTitle2 fLeft"><span >3</span> Orders</div>
                        <div class="addCouponBtn fRight transition300">Filter By Date</div>
                        <input type="text" id="dateTo" autocomplete="off" class="prdSeachTxt fRight fmOpenR" value="2016/01/01" readonly onfocus="showCalander('dateTo')" onkeyup="checkToHide(event);">
                        <div class="fmOpenB font13 dateTo c4d fRight txtCenter">to</div>
                        <input type="text"  autocomplete="off" class="prdSeachTxt fRight fmOpenR" id="dateFrom" value="2016/01/30" readonly onfocus="showCalander('dateFrom')" onkeyup="checkToHide(event);">
                        <div id="datepicker" class="dn"></div>
                        <input type="text"  autocomplete="off" class="prdSeachTxt fRight fmOpenR marR" placeholder=" Search Order">
                    </div>
                    <div class="cpListHeader fLeft fmOpenR">
                        <div class="date fLeft">Order ID</div>
                        <div class="dmdWt fLeft">Product Name</div>
                        <div class="stockCode fLeft">Customer Name</div>
                        <div class="dmdWt fLeft">Order/Delivery date</div>
                        <!--                        <div class="metalWt fLeft">Delivery date</div>-->
                        <div class="acct fLeft">Price</div>
                        <div class="acct fLeft">Order Status</div>
                    </div>
                    <ul class="couponList fLeft fmOpenR">
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010101</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>

                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span> <span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured </div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010856</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>
                            <!--                            <div class="metalWt fLeft">20 Feb 2016</div>-->
                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span> <span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured</div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010171</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>
                            <!--                            <div class="metalWt fLeft">20 Feb 2016</div>-->
                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span> <span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured</div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010101</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>
                            <!--                            <div class="metalWt fLeft">20 Feb 2016</div>-->
                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span> <span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured</div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010856</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>
                            <!--                            <div class="metalWt fLeft">20 Feb 2016</div>-->
                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span> <span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured</div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                        <li class="transition300">
                            <div class="date fLeft">ORD10101010171</div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan fmOpenR">Rosalia Ring</span>
                                <span class="lwSpan">View Details</span>
                            </div>
                            <div class="stockCode fLeft">
                                <span class="upSpan fmOpenR">Ashok Chakravarthy</span>
                                <span class="lwSpan">9535638121</span>
                            </div>
                            <div class="dmdWt fLeft">
                                <span class="upSpan">12 Feb 2016</span>
                                <span class="lwSpan">20 Feb 2016</span>
                            </div>
                            <!--                            <div class="metalWt fLeft">20 Feb 2016</div>-->
                            <div class="acct fLeft fmOpenB"><span class="rsSpan"></span><span> 40,000</span></div>
                            <div class="acct fLeft">Getting manufactured</div>
                            <div class="fRight viewM transition300"></div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var forDate;
        $('#datepicker').datepicker({
            onSelect: function (dateText, inst) {
                var dateText = $.datepicker.formatDate("yy-mm-dd", new Date(dateText));
                $(this).val(dateText);
                $('#' + forDate).val(dateText);
                if (forDate === 'dateTo') {
                    setFilterDate();
                }
                $('#datepicker').addClass('dn');
            },
            maxDate: "+0D"
        });

        function showCalander(inpDiv) {
            forDate = inpDiv;
            var pos = $('#' + inpDiv).position();
            var pTop = pos.top + 35;
            var pLeft = (pos.left);
            $('#datepicker').css({top: pTop + "px", right: 210 + "px"});
            $('#datepicker').removeClass('dn');
        }

        function checkToHide(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode === 8) {
                $('#datepicker').addClass('dn');
            }
        }

    </script>
</body>
</html>