<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
    <div class="container preview">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="outContr">
                    <div class="halfContr fmOpenR">
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Category <span class="fRight">:</span></div>
                            <div class="w50 fRight">Diamond Jewellery</div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Vendor <span class="fRight">:</span></div>
                            <div class="w50 fRight">Angella Gossow</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Product Name <span class="fRight">:</span></div>
                            <div class="w50 fRight">Amulette de necklace</div>
                        </div>
                    </div>
                    <div class="halfContr fmOpenR">
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Product Weight In Grams <span class="fRight">:</span></div>
                            <div class="w50 fRight">3</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Product SEO Name <span class="fRight">:</span></div>
                            <div class="w50 fRight">Alissa White-gluz</div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Gender <span class="fRight">:</span></div>
                            <div class="w50 fRight">Female</div>
                        </div>
                    </div>
                </div>
                <section class="product">
                    <div class="priceHeading fmOpenB"><span class="color69">Selected Product &nbsp;:&nbsp;</span>Solitaire</div>
                    <div class="outContr fmOpenR">
                        <div class="fLeft shapeCont">
                            <div class="shapeComm Asscher"></div>
                        </div>
                        <div class="halfContr">
                            <div class="fieldTitle fLeft ">
                                <div class="w50 fLeft color69 padR15">Color <span class="fRight">:</span></div>
                                <div class="w50 fRight">D</div>
                            </div>
                            <div class="fieldTitle fLeft ">
                                <div class="w50 fLeft color69 padR15">Clarity <span class="fRight">:</span></div>
                                <div class="w50 fRight">IF</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Cut <span class="fRight">:</span></div>
                                <div class="w50 fRight">Very Good</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Symmetry <span class="fRight">:</span></div>
                                <div class="w50 fRight">Very Good</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Polish <span class="fRight">:</span></div>
                                <div class="w50 fRight">Very Good</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Fluorescence <span class="fRight">:</span></div>
                                <div class="w50 fRight">None</div>
                            </div>
                        </div>
                        <div class="halfContr">
                            <div class="fieldTitle fLeft ">
                                <div class="w50 fLeft color69 padR15">Carat <span class="fRight">:</span></div>
                                <div class="w50 fRight">2</div>
                            </div>
                            <div class="fieldTitle fLeft ">
                                <div class="w50 fLeft color69 padR15">Price/Carat <span class="fRight">:</span></div>
                                <div class="w50 fRight">1000</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Table <span class="fRight">:</span></div>
                                <div class="w50 fRight">1000</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Crown Angle <span class="fRight">:</span></div>
                                <div class="w50 fRight">52</div>
                            </div>
                            <div class="fieldTitle fLeft">
                                <div class="w50 fLeft color69 padR15">Gridle<span class="fRight">:</span></div>
                                <div class="w50 fRight">1.2</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="w100 fLeft">
                    <section class="w50 fLeft">
                        <div class="priceHeading fmOpenB"><span class="color69">Selected Product &nbsp;:&nbsp;</span>Solitaire</div>
                        <div class="outContr fmOpenR">
                            <div class="fLeft shapeCont width40">
                                <div class="shapeComm Pear"></div>
                            </div>
                            <div class="halfContr fRight w60">
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Diamond Quality <span class="fRight">:</span></div>
                                    <div class="w50 fRight">VVS</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Price/Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Table <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Crown Angle <span class="fRight">:</span></div>
                                    <div class="w50 fRight">52</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Gridle<span class="fRight">:</span></div>
                                    <div class="w50 fRight">1.2</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="w100 fLeft">
                    <section class="width40 fLeft">
                        <div class="priceHeading fmOpenB"><span class="color69">Selected Product &nbsp;:&nbsp;</span>Solitaire</div>
                        <div class="outContr fmOpenR">
                            <div class="halfContr w100">
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">2</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Price/Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Table <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Crown Angle <span class="fRight">:</span></div>
                                    <div class="w50 fRight">52</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">Gridle<span class="fRight">:</span></div>
                                    <div class="w50 fRight">1.2</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="w100 fLeft">
                    <section class="width40 fLeft">
                        <div class="priceHeading fmOpenB"><span class="color69">Selected Product &nbsp;:&nbsp;</span>Solitaire</div>
                        <div class="outContr fmOpenR">
                            <div class="halfContr w100">
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Selected Gemstone <span class="fRight">:</span></div>
                                    <div class="w50 fRight">IF</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">2</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft color69 padR15">Price/Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft color69 padR15">No. of pieces<span class="fRight">:</span></div>
                                    <div class="w50 fRight">5</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="commTitle1 fmOpenR">General Information</div>
                <div class="outContr">
                    <div class="halfContr fmOpenR">
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Diamond Setting Type <span class="fRight">:</span></div>
                            <div class="w50 fRight">Prong</div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Product Certificate <span class="fRight">:</span></div>
                            <div class="w50 fRight">GIA</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Metal Weight(Grm)<span class="fRight">:</span></div>
                            <div class="w50 fRight">10</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Making Charges/Grm<span class="fRight">:</span></div>
                            <div class="w50 fRight">2000</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Procurement Cost<span class="fRight">:</span></div>
                            <div class="w50 fRight">100000</div>
                        </div>
                    </div>
                    <div class="halfContr fmOpenR">
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Margin<span class="fRight">:</span></div>
                            <div class="w50 fRight">Margin</div>
                        </div>
                        <div class="fieldTitle fLeft">
                            <div class="w50 fLeft color69 padR15">Measurement<span class="fRight">:</span></div>
                            <div class="w50 fRight">10*10</div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Metal Purity<span class="fRight">:</span></div>
                            <div class="w50 fRight">Customizable</div>
                        </div>
                        <div class="fieldTitle fLeft ">
                            <div class="w50 fLeft color69 padR15">Metal color<span class="fRight">:</span></div>
                            <div class="w50 fRight">Customizable</div>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="priceHeading fmOpenB"><span class="color69">Grand Total</span><span class="fRight">&#8377 2,00,000</span></div>
                </section>
                <div class="btnCont fLeft">
                    <center>
                        <a href='<?php echo DOMAIN;?>backend/?action=products'><div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div></a>
                        <div class="submitBtn transition300 fmOpenR poR" onclick="addProduct()" id="Submitdiv">SUBMIT</div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
