<?php include 'jBhead.html' ?>
<body>
    <div class="container preview">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax fmOpenR">
                <section id='general_Section' class="generalCont">
                    <div class="commTitle1 fmOpenR">General Information</div>
                    <div class="fieldTitle fLeft">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Product Name <span class="fRight">:</span></div>
                        <div class="w50 fRight">Amulette de necklace</div>
                    </div>
                    <div class="fieldTitle fLeft">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Product SEO Name <span class="fRight">:</span></div>
                        <div class="w50 fRight">Alissa White-gluz</div>
                    </div>
                    <div class="fieldTitle fLeft ">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Category <span class="fRight">:</span></div>
                        <div class="w50 fRight">Diamond Jewellery</div>
                    </div>
                    <div class="fieldTitle fLeft ">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Vendor <span class="fRight">:</span></div>
                        <div class="w50 fRight">Angella Gossow</div>
                    </div>
                    <div class="breakLine"></div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Product Weight (grms) <span class="fRight">:</span></div>
                        <div class="w50 fRight">3</div>
                    </div>

                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Gender <span class="fRight">:</span></div>
                        <div class="w50 fRight">Female</div>
                    </div>

                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Diamond Setting Type <span class="fRight">:</span></div>
                        <div class="w50 fRight">Prong</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Product Certificate <span class="fRight">:</span></div>
                        <div class="w50 fRight">GIA</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Metal Weight(Grm)<span class="fRight">:</span></div>
                        <div class="w50 fRight">10</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Making Charges/Grm<span class="fRight">:</span></div>
                        <div class="w50 fRight">2000</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Procurement Cost<span class="fRight">:</span></div>
                        <div class="w50 fRight">100000</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Margin<span class="fRight">:</span></div>
                        <div class="w50 fRight">Margin</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Measurement<span class="fRight">:</span></div>
                        <div class="w50 fRight">10*10</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Metal Purity<span class="fRight">:</span></div>
                        <div class="w50 fRight">9 carat ,14 carat ,22 carat</div>
                    </div>
                    <div class="fieldTitle fLeft w50">
                        <div class="w50 fLeft c4d padR15 fmOpenB">Metal color<span class="fRight">:</span></div>
                        <div class="w50 fRight">Yellow , Gold</div>
                    </div>
                </section>



                <section id='solitaires_Section' class="solitaireCont">
                    <div class="commTitle1 fmOpenL fLeft">Added Solitaire(s)</div>
                    <div class="newElements fLeft" id="newSolitaires">

                        <?php for ($i = 0; $i < 1; $i++) { ?>
                            <div class="commCont fLeft poR forAuto" id="solitaireComm_1" db-id="">
                                <div class="shapeComm Asscher"></div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Color <span class="fRight">:</span></div>
                                    <div class="w50 fRight">D</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Clarity <span class="fRight">:</span></div>
                                    <div class="w50 fRight">IF</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Cut <span class="fRight">:</span></div>
                                    <div class="w50 fRight">Very Good</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Symmetry <span class="fRight">:</span></div>
                                    <div class="w50 fRight">Very Good</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Polish <span class="fRight">:</span></div>
                                    <div class="w50 fRight">Very Good</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Fluorescence <span class="fRight">:</span></div>
                                    <div class="w50 fRight">None</div>
                                </div>

                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">2</div>
                                </div>
                                <div class="fieldTitle fLeft ">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Price/Carat <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Table <span class="fRight">:</span></div>
                                    <div class="w50 fRight">1000</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Crown Angle <span class="fRight">:</span></div>
                                    <div class="w50 fRight">52</div>
                                </div>
                                <div class="fieldTitle fLeft">
                                    <div class="w50 fLeft c4d padR15 fmOpenB">Gridle<span class="fRight">:</span></div>
                                    <div class="w50 fRight">1.2</div>
                                </div>
                            </div>
                            <div class="breakLine"></div>
                        <?php } ?>
                    </div>
                </section>


                <section id='diamond_Section' class="solitaireCont">
                    <div class="commTitle1 fmOpenL fLeft">Added Diamond(s)</div>
                    <div class="newElements fLeft" id="newSolitaires">
                        <?php for ($i = 0; $i < 1; $i++) { ?>
                            <div class="commCont fLeft poR" id="solitaireComm_1" db-id="">
                                <div class="shapeComm Asscher"></div>

                                <div class="outContr">                            
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Diamond Quality <span class="fRight">:</span></div>
                                        <div class="w50 fRight">VVS - IF , VVS - IF , VVS - IF , VVS - IF , VVS - IF , VVS - IF , </div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">2</div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Price/Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">1000</div>
                                    </div>

                                    <div class="fieldTitle fLeft">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Gridle<span class="fRight">:</span></div>
                                        <div class="w50 fRight">1.2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="breakLine"></div>
                        <?php } ?>
                    </div>
                </section>


                <section id='uncut_Section' class="solitaireCont">
                    <div class="commTitle1 fmOpenL fLeft">Added Uncut(s)</div>
                    <div class="newElements fLeft" id="newSolitaires">
                        <?php for ($i = 0; $i < 5; $i++) { ?>
                            <div class="commCont fLeft" id="solitaireComm_1" db-id="">
                                <div class="outContr fLeft">                            
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Diamond Color <span class="fRight">:</span></div>
                                        <div class="w50 fRight">VVS - IF , VVS - IF , VVS - IF , VVS - IF , </div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Diamond Quality <span class="fRight">:</span></div>
                                        <div class="w50 fRight">VVS - IF </div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">2</div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Price/Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">1000</div>
                                    </div>

                                    <div class="fieldTitle fLeft">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Pieces<span class="fRight">:</span></div>
                                        <div class="w50 fRight">50</div>
                                    </div>
                                </div>
                            </div>

                            <div class="breakLine"></div>
                        <?php } ?>
                    </div>
                </section>

                <section id='gemstone_Section' class="solitaireCont">
                    <div class="commTitle1 fmOpenL fLeft">Added Gemstone(s)</div>
                    <div class="newElements fLeft" id="newSolitaires">
                        <?php for ($i = 0; $i < 1; $i++) { ?>
                            <div class="commCont fLeft" id="solitaireComm_1" db-id="">
                                <div class="outContr fLeft">                            
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Gemstone<span class="fRight">:</span></div>
                                        <div class="w50 fRight">Hydro</div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">2</div>
                                    </div>
                                    <div class="fieldTitle fLeft ">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Price/Carat <span class="fRight">:</span></div>
                                        <div class="w50 fRight">1000</div>
                                    </div>

                                    <div class="fieldTitle fLeft">
                                        <div class="w50 fLeft c4d padR15 fmOpenB">Pieces<span class="fRight">:</span></div>
                                        <div class="w50 fRight">50</div>
                                    </div>
                                </div>
                            </div>

                            <div class="breakLine"></div>
                        <?php } ?>
                    </div>
                </section>
                <section id="price_Section" class="priceCont">
                    <div class="priceHeading fmOpenB"><span class="c4d">Grand Total</span><span class="fRight">&#8377 2,00,000</span></div>
                </section>
                <div class="btnCont fLeft">
                    <center>
                        <a href='<?php echo DOMAIN; ?>backend/?action=products'><div class="cancelBtn transition300 fmOpenR poR" onclick="">CANCEL</div></a>
                        <div class="submitBtn transition300 fmOpenR poR" onclick="addProduct()" id="Submitdiv">SUBMIT</div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>