<?php include 'jBhead.html' ?>
    <body>
        <div class="container allProducts">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="couponCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft"><span id='productCnt'>0</span> products available</div>
                            <div class="addCouponBtn fRight transition300"><a href='<?php echo BACKDOMAIN;?>?action=addProduct'>Add Product</a></div>
                            <input type="text"  autocomplete="off" class="prdSeachTxt lsearchTxt fRight fmOpenR" placeholder=" Search Product">
                        </div>
                        <div class="cpListHeader fLeft fmOpenR">
                            <div class="date fLeft">Date</div>
                            <div class="stockCode fLeft">Stock Code</div>
                            <div class="prdName fLeft">Product Name</div>
                            <div class="prdImg fLeft">Images</div>
<!--                            <div class="dmdWt fLeft">Diamond Wt</div>
                            <div class="metalWt fLeft">Metal Wt</div>-->
                            <div class="acct fLeft">Action</div>
                        </div>
                        <ul class="couponList fLeft fmOpenR searchDiv" id='productList'></ul>
                        <div class="noresDiv fLeft dn" id='noresults'>
                            <div class="noresults font25 fLeft">There are no products available.</div>
                        </div>
                    </div>
                    <div class="fLeft pagination fmOpenR dn">
                        <center>
                            <div class="pPrev poR transition300">Previous</div>
                            <div class="pgComm poR transition300 pgActive">1</div>
                            <div class="pgComm poR transition300">2</div>
                            <div class="pNext poR transition300">Next</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div id="delOverlay" class="deloverlay dn"></div>
        <div id="confirmBox" class="confirmBox dn fmOpenR">
            <div class="bformHead fmOpenL">Are you sure you want to delete?</div>
            <center>
                <div class="delBtnCont fmOpenR">
                    <div class="delbtnComm arrowLeft fLeft" onclick="hideConfirmBox()">No</div>
                    <div class="delbtnComm arrowRight fRight" id='prddeleteBtn'>YES</div>
                </div>
            </center>
        </div>        
        <script type="text/javascript" src="<?php echo $jvs['Product']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['search']; ?>"></script>
    </body>
</html>