<?php include 'jBhead.html' ?>
<body>
    <div class="container allProducts">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="couponCont fLeft">
                    <div class="prdSearchDiv fLeft fmOpenR">
                        <div class="commTitle2 fLeft"><span id='productCnt'>0</span> products listed with images</div>
                    </div>
                    <div class="cpListHeader fLeft fmOpenR">
                        <div class="date fLeft">Date</div>
                        <div class="stockCode fLeft">Stock Code</div>
                        <div class="prdName2 fLeft">Product Name</div>
                        <div class="prdTotalImg fLeft">Total Images</div>
                        <div class="prdPendImg fLeft">Pending</div>
                        <div class="prdAccptImg fLeft">Accepted</div>
                        <div class="prdRejImg fLeft">Rejected</div>
                        <div class="prdViewImgBtn fLeft">Action</div>
                    </div>
                    <ul class="couponList fLeft fmOpenR" id='productList'></ul>
                    <div class="noresDiv fLeft dn" id='noresults'>
                        <div class="noresults font25 fLeft">There are no products available.</div>
                    </div>
                </div>
                <div class="fLeft pagination fmOpenR dn">
                    <center>
                        <div class="pPrev poR transition300">Previous</div>
                        <div class="pgComm poR transition300 pgActive">1</div>
                        <div class="pgComm poR transition300">2</div>
                        <div class="pNext poR transition300">Next</div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script>

        var pgno = 1;
        var currentPage = 1;
        function loadProducts(pgno) {
            var tmstmp = new Date().getTime();
            $.ajax({
                url: DOMAIN + "apis/index.php?action=getProdList&page=" + pgno + "&limit=50&timestamp=" + tmstmp,
                success: function(result) {
                    loadProductsCallback(result, pgno);
                }});
        }


        function loadProductsCallback(res, pgno) {
            var obj = jQuery.parseJSON(res);
            if (obj['results'] != '') {
                $('#pgno').val(pgno);
                var total = obj['results']['total_products'];
                $('#productCnt').text(total);
                var total_pages = obj['results']['total_pages'];

                var str = '';
                if (total != 0)
                {
                    if (total_pages == currentPage)
                    {
                        loadProduct = false;
                    }
                    var len = obj['results']['products'].length;
                    var i = 0;
                    while (i < len) {
                        str += generatProductsList(obj['results']['products'][i]);
                        i++;
                    }
                    var html = pagination(obj, pgno);
                }
                else
                {
                    str = '<div class="noresDiv fLeft dn" id="noresults"><div class="noresults font25 fLeft">There are no products available.</div></div>';
                    loadProduct = false;
                }
                $('#productList').html(str);
                $('#productList').append(html);
                $('.pgComm').click(function() {

                    $('.pgComm').removeClass('pgActive');
                    $(this).addClass('pgActive');
                    loadProducts($(this).text());
                    $('html,body').animate({scrollTop: $('.prdResults').offset().top - 100}, 300);
                });
                paginationPrevNext();
            } else {
                loadProduct = false;
            }
        }
        function generatProductsList(obj) {
            var tempUrl = '';
            var str = "";
            var cdat = obj['date'].split("|");
            str += "<li>";
            str += "<div class='date fLeft'>";
            str += "<span class='upSpan'>" + cdat[0] + "</span>";
            str += "<span class='lwSpan'>" + cdat[1] + "</span>";
            str += "</div>";
            str += "<div class='stockCode fLeft'>";
            str += "<span class='upSpan fmOpenB'>" + obj['pcode'] + "</span>";
            str += "<span class='lwSpan'><a href='" + APIDOMAIN + "?action=getProductById&pid=" + obj['id'] + "'>View Details</a></span>";
            str += "</div>";
            str += "<div class='prdName2 fLeft'>" + obj['pname'] + "</div>";
            str += "<div class='prdTotalImg fLeft'>" + obj['total_img'] + "</div>";
            str += "<div class='prdPendImg fLeft'>" + obj['pend_img'] + "</div>";
            str += "<div class='prdAccptImg fLeft'>" + obj['appr_img'] + "</div>";
            str += "<div class='prdRejImg fLeft'>" + obj['rej_img'] + "</div>";
            str += '<a href="' + DOMAIN + 'backend/index.php?action=thumbnail&pid=' + obj['id'] + '" target="_blank"><div class="prdViewImgBtn fLeft"><center><div class="viewImgB">View Images</div></center></div></a>';
            str += '</li>';
            return str;
        }


        function pagination(data, pgno) {
            return "";
        }
        function paginationPrevNext() {
        }
        $(document).ready(function() {
            loadProducts(1);
        });



    </script>
</body>
</html>