<?php include 'jBhead.html' ?>
    <body>
        <div class="container allProducts">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="couponCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft">50 products available</div>
                            <div class="addCouponBtn fRight transition300"><a href='<?php echo DOMAIN;?>?action=addProduct'>Add Product</a></div>
                            <input type="text"  autocomplete="false" class="prdSeachTxt fRight fmOpenR" placeholder=" Search Product">
                        </div>
                        <div class="cpListHeader fLeft fmOpenR">
                            <div class="date fLeft">Date</div>
                            <div class="stockCode fLeft">Stock Code</div>
                            <div class="metal fLeft">Metal</div>
                            <div class="catg fLeft">Category</div>
                            <div class="dmdWt fLeft">Diamond Wt</div>
                            <div class="metalWt fLeft">Metal Wt</div>
                            <div class="price fLeft">Price</div>
                            <div class="acct fLeft">Action</div>
                        </div>
                        <ul class="couponList fLeft fmOpenR">
                             <?php for($i=0;$i<15;$i++){?>
                            <li>                                
                                <div class="date fLeft">
                                    <span class="upSpan">2016-01-01</span>
                                    <span class="lwSpan">10:10:29</span>
                                </div>
                                <div class="stockCode fLeft">
                                    <span class="upSpan fmOpenB">TT32TE9</span>
                                    <span class="lwSpan"><a href='#'>View Details</a></span>
                                </div>
                                <div class="metal fLeft">Platinum</div>
                                <div class="catg fLeft">Pendants</div>
                                <div class="dmdWt fLeft">0.012 ct</div>
                                <div class="metalWt fLeft">23.322 gms</div>
                                <div class="price fLeft fmOpenB">&#8377;27,813</div>
                                <div class="acct fLeft">
                                    <div class="deltBtn fRight transition300"></div>
                                    <div class="editBtn fRight transition300"></div>
                                    <div class="uploadBtn fRight transition300"></div>
                                    <select class="backtxtSelect fmOpenR fRight inStockPrd" onchange="inStock(this)">
                                        <option value="0">In Stock (55)</option>
                                        <option value="1">Out Of Stock</option>
                                    </select>
                                </div>
                            </li>
                         <?php } ?>    
                        </ul>
                    </div>
                    <div class="fLeft pagination fmOpenR">
                        <center>
                            <div class="pPrev poR transition300">Previous</div>
                            <div class="pgComm poR transition300 pgActive">1</div>
                            <div class="pgComm poR transition300">2</div>
                            <div class="pNext poR transition300">Next</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        
       
        <script>
            $(document).ready(function() {
                
            });
                        
            function inStock(obj){
                var val=$(obj).val();
                
                if(val==0)
                    $(obj).addClass('inStockPrd').removeClass('outStockPrd');
                else
                    $(obj).addClass('outStockPrd').removeClass('inStockPrd');
            }
        </script>
    </body>
</html>