<?php include 'jBhead.html'?>
<?php echo "<script>var pid= '$pid';</script>";?>
<body>
    <div class="container cust_detail">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax">
                <div class="prdSearchDiv fLeft fmOpenR">
                    <div class="commTitle2 fLeft">Product Details</div>
                </div>
                <section>
                    <div class="det_sec_left  fLeft">
                        <div class="prImgContainer fLeft ">
                            <div id="mainImg" class="mainImage">
                                <div class='prdimgHolder'>
                                    <img id="mainImg1" src="http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109461ring1.jpg" onmouseover="showZoomedImg();" onmouseleave="hideZoomedImg()">
                                </div>
                            </div>
                            <div class="prImageStrip">
                                <div class="prImgPrev fLeft pointer" onclick="movePrImg(true)"></div>
                                <div class="prImgNext fRight pointer" onclick="movePrImg(false)"></div>
                                <ul class="carousel transition300">
                                    <li>
                                        <div class="thumbContainer">
                                            <div class="thumb" onmouseover="updateMainImage(this)" style="background-image:url(http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109461ring1.jpg)" data-imageid="IMAE2C8STZ4ZGEWR">
                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="thumbContainer">
                                            <div class="thumb" onmouseover="updateMainImage(this)" style="background-image:url(http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109461ring2.jpg)" data-imageid="IMAE2C8S7QFSMM3P">
                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="thumbContainer">
                                            <div class="thumb" onmouseover="updateMainImage(this)" style="background-image:url(http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109513ring3.png)" data-imageid="IMAE2C8SYFD8Y24J">
                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="thumbContainer">
                                            <div class="thumb" onmouseover="updateMainImage(this)" style="background-image:url(http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109461ring4.jpg)" data-imageid="IMAE2C8SD7Y7WYET">
                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="thumbContainer">
                                            <div class="thumb" onmouseover="updateMainImage(this)" style="background-image:url(http://localhost/jzeva/backend/image-upload/uploads/6120160315162137/1458109461ring5.jpg)" data-imageid="IMAE2C8SZ5EGSBDU">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        
                        
                        
                        
                        
                        
                        
                        
                        
                    </div>
                    <div class="det_sec_right fLeft">
                        <div class="info_sec">
                            <div class="ttl_txt fmOpenB" id='prdName'></div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Code</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdCod'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Procurement Price</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='disPrice'></div>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    
                    
                    <div class="det_sec  fLeft w100">
                        <div class="ratHeader fmOpenB">Product Details</div>
                        <div class="dtl_cont fLeft ">

                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product SEO Name </div>
                                <div class="fieldTitle2 fmOpenB fRight" id="prdseoname"></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Category </div>
                                <div class="fieldTitle2 fmOpenB fRight txtCap" id='prdCats'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Vendor </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='vendorName'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Weight (grms) </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdWt'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Gender</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='gender'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Diamond Setting Type </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='dmdSetting'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Product Certificate </div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdcrtficte'></div>
                            </div>
                        </div>
                        <div class="dtl_cont fLeft">
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Weight(Grm)</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mtlwght'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Making Charges/Grm</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mkngCrg'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Procurement Cost</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='procCost'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Margin</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mrgn'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Measurement</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='mesmnt'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal Purity</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdmetalpurity'></div>
                            </div>
                            <div class="divCon1 fLeft">
                                <div class="fieldTitle1 fLeft">Metal color</div>
                                <div class="fieldTitle2 fmOpenB fRight" id='prdmetalcolor'></div>
                            </div>

                        </div>
                        
                        <section  class="solitaireCont dn" id='prsolitaires_Section'>
                            <div class="ratHeader fmOpenB">Added Solitaire(s)</div>
                            <div class="newElements fLeft" id='prnewSolitaires'></div>
                        </section>


                        <section  class="solitaireCont dn" id='prdiamond_Section'>
                            <div class="ratHeader fmOpenB">Added Diamond(s)</div>
                            <div class="newElements fLeft" id='prnewDiamonds'></div>
                        </section>


                        <section  class="solitaireCont dn" id='pruncut_Section'>
                            <div class="ratHeader fmOpenB">Added Uncut(s)</div>
                            <div class="newElements fLeft" id='prnewUncut'></div>
                        </section>

                        <section  class="solitaireCont dn" id='prgemstone_Section'>
                            <div class="ratHeader fmOpenB">Added Gemstone(s)</div>
                            <div class="newElements fLeft" id='prnewgemstone'>
                                <div class="commCont fLeft poR forAuto">
                                    <div class="shapeComm Round"></div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Color </div>
                                            <div class="w50 fRight fmOpenB txtRight">E</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Clarity </div>
                                            <div class="w50 fRight fmOpenB txtRight">IF</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Cut </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Good</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Symmetry </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Polish </div>
                                            <div class="w50 fRight fmOpenB txtRight">Excellent</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Fluorescence </div>
                                            <div class="w50 fRight fmOpenB txtRight">Very%20Strong</div>

                                        </div>

                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">1</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Price/Carat </div>
                                            <div class="w50 fRight fmOpenB txtRight">₹1000</div>
                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Table </div>
                                            <div class="w50 fRight fmOpenB txtRight">1000</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Crown Angle </div>
                                            <div class="w50 fRight fmOpenB txtRight">52</div>

                                        </div>
                                        <div class="fieldTitle fLeft c4d">
                                            <div class="w50 fLeft  padR15 fmOpenR">Gridle</div>
                                            <div class="w50 fRight fmOpenB txtRight">1.22</div>
                                        </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="productImageZoom dn" style=""></div>
    
    <script>
    
        $(document).ready(function(){
            
            var URL=APIDOMAIN+"?action=getProductById&pid="+pid;
            $.ajax({
                url:URL,
                type:'POST',
                success:function(res){
                    var data=JSON.parse(res);
                    //oneditmodeCallBack(res);
                   // console.log(data);
                    
                    if (data['error']['err_code'] == '0')
                    {
                        var dt=data['results'];
                        var basic=dt['basicDetails'];
                        var catAttr = dt['catAttr'];
                        var vendor = dt['vendor'];
                        var metalPurity = dt['metalPurity'];
                        var metalColor = dt['metalColor'];
                        var solitaire = dt['solitaire'];
                        var diamonds = dt['dimond'];
                        var uncut = dt['uncut'];
                        var gemstone = dt['gamestone'];
                        
                        
                        $(basic).each(function(i,vl){
                            $('#prdCod').text(vl.prdCod);
                            $('#prdseoname').text(vl.prdSeo);
                            $('#prdName').text(vl.prdSeo);
                            $('#prdWt').text(vl.prdWgt);
                            
                            var gen="Female";
                            if(vl.gender==1)
                                gen="Female";

                            else if(vl.gender==2)
                                gen="Unisex";
                            
                            $('#gender').text(gen);
                            
                            
                            $('#dmdSetting').html(vl.dmdStng);
                            $('#prdcrtficte').html(vl.crtficte);
                            $('#mtlwght').html(vl.mtlWgt+" grm");
                            $('#mkngCrg').html("&#8377;" +vl.mkngCrg+" /grm");
                            $('#procCost').html("&#8377;" +vl.procmtCst);
                            $('#disPrice').html("&#8377;" +vl.procmtCst);
                            $('#mrgn').html("&#8377;" +vl.mrgn);
                            $('#mesmnt').html(vl.mesmnt);
                            
                        });
                        
                        
                                                
                        
                        $(vendor['results']).each(function(i,vl){
                            console.log(dt)
                            $('#vendorName').text(vl.nm);
                        });
                        
                        var locCat=new Array();
                        $.each(catAttr.results, function(i,vl) {
                            locCat.push(vl.name);
                        });
                        
                        $('#prdCats').text(locCat.toString());
                        
                        
                        
                        var mcolor = [];
                        var mpurity = [];
                        $.each(metalPurity.results, function(i,vl) {
                            mpurity.push(vl.dVal);
                        });
                        $('#prdmetalpurity').text(mpurity.toString());
                        
                        $.each(metalColor.results, function(i,vl) {
                            mcolor.push(vl.dVal);
                        });
                        $('#prdmetalcolor').text(mcolor.toString());
                        
                    

            if(basic.hasSol==1)
            {
             
                var str="";
                $(solitaire['results']).each(function(j,vl){
                    str+="<div class='commCont fLeft poR forAuto'>";
                    str+="<div class='shapeComm "+vl.shape+"'></div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.shape+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Color <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.colr+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Clarity <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+decodeURIComponent(vl.clrty)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Cut <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+decodeURIComponent(vl.cut)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Symmetry <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+decodeURIComponent(vl.symty)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Polish <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+decodeURIComponent(vl.polish)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Fluorescence <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+decodeURIComponent(vl.flresce)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.carat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>&#8377;"+vl.prcPrCrat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Table <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.tblNo+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Crown Angle <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.crwnAngle+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Gridle<span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.girdle+"</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="<div class='breakLine'></div>";

                });

                $('#prnewSolitaires').html(str);
                $('#prsolitaires_Section').removeClass('dn');
            }
            
            
            if(basic.hasDmd==1)
            {
                var str="";
                $(diamonds['results']).each(function(i,vl){
                    var dquality = new Array();
                    
                    
                    $.each(vl.QMast.results, function(i,vl) {
                        dquality.push(vl.dVal);
                    });
                    str+="<div class='commCont fLeft forAuto'>";
                    //str+="<div class='shapeComm "+vl.shape+"'></div>";
                    str+="<div class='outContr'>";       
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Shape <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.shape+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+dquality.toString()+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.crat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.totNo+"</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="<div class='breakLine'></div>";
                });

                $('#prnewDiamonds').html(str);
                $('#prdiamond_Section').removeClass('dn');
                
            }
            
            
                        
            if(basic.hasUnct==1)
            {
                var str="";
                $(uncut['results']).each(function(i,vl){
                    str+="<div class='commCont fLeft forAuto'>";
                    str+="<div class='outContr fLeft'>";                            
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Diamond Color <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.clor+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Diamond Quality <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.qulty+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.crat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft '>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>&#8377; "+vl.prcPrCrat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.totNo+"</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="<div class='breakLine'></div>";
                });

                $('#prnewUncut').html(str);
                $('#pruncut_Section').removeClass('dn');
                
            }
            
            if(basic.hasGem==1)
            {
                var str="";
                $(gemstone['results']).each(function(i,vl){
                    str+="<div class='commCont fLeft forAuto'>";
                    str+="<div class='outContr fLeft'>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Gemstone<span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+(vl.gemNm)+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.crat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Price/Carat <span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.prcPrCrat+"</div>";
                    str+="</div>";
                    str+="<div class='fieldTitle fLeft w25'>";
                    str+="<div class='w50 fLeft  padR15 fmOpenR'>Pieces<span class='fRight'></span></div>";
                    str+="<div class='w50 fRight fmOpenB txtRight'>"+vl.totNo+"</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="</div>";
                    str+="<div class='breakLine'></div>";
                });

                $('#prnewgemstone').html(str);
                $('#prgemstone_Section').removeClass('dn');

            }

            
        }
                }
            });
            
            
        });
    
        
        function showZoomedImg() {
            var img = $('#mainImg1').attr('src');
            var _url = "url(" + img + ")";
            $('.productImageZoom').css({
                "background-image": _url,
                "background-position": "0 0"
            });
            $('.productImageZoom').removeClass('dn');

        }

        function hideZoomedImg() {
            $('.productImageZoom').addClass('dn');
        }
        
        $(function() {
            $("#mainImg1").mousemove(function(e) {
                var imgWidth = $("#mainImg1").width();
                var imgHeight = $("#mainImg1").height();
                var offset = $(this).offset();
                var relativeX = (e.pageX - offset.left);
                var relativeY = (e.pageY - offset.top);

                relativeX = (relativeX / imgWidth) * 100;
                relativeY = (relativeY / imgHeight) * 100;

                $('.productImageZoom').css({
                    "background-position": relativeX + "% " + relativeY + "%"
                });
            });
        });
        
        function updateMainImage(thisobj) {
            var img = $(thisobj).css('backgroundImage');
            var nImg = img.split('"');
            $('#mainImg1').attr({src: nImg[1]});
        }
        
        var val = 0;
        var moveCount = 0;
        function movePrImg(flag) {
            var totalThumbs = $(".carousel  li").length;
            var liWidth = ($(".carousel  li").outerWidth());
            if (!flag) {
                if (moveCount < (totalThumbs - 4)) {
                    val = val - liWidth;
                    $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                    moveCount++;
                }
            }
            else if (flag) {
                if (moveCount > 0) {
                    val = val + liWidth;
                    $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                    moveCount--;
                }
            }
        }

    
    </script>
    
    
    
    
    
    
    
    
    
</body>