<?php include 'jBhead.html' ?>
<body>
    <div class="container productPreview">
        <?php include 'jBheader.html' ?>
        <div class="contents fLeft">
            <div class="wrapperMax fmOpenR">
                <div class="wrapLeft  fLeft">
                    <div class="prDataCont fLeft w100">
                        <div class="titleDiv txtCap fLeft">Jewellery > Rings > Office Wear Ring, Party Wear Ring</div>
                    </div>

                    <div class="prDataCont fLeft">
                        <div class="titleDiv txtCap fLeft">Name</div>
                        <div class="prData fLeft fmOpenR">18K Gold Ring</div>
                    </div>

                    <div class="prDataCont fLeft">                        
                        <div class="titleDiv txtCap fLeft">SEO Name</div>
                        <div class="prData fLeft fmOpenR">18K Gold Office Wear Ring</div>
                    </div>                   
                    <div class="commTitle1 fmOpenR fLeft">General Details</div>
                    <div class="cardComm fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Product Weight (Gms)</div>
                            <div class="prData fLeft fmOpenR">5.5 gms</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Diamond Setting Type</div>
                            <div class="prData fLeft fmOpenR">Prong</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Product Certificate</div>
                            <div class="prData fLeft fmOpenR">SGL</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Metal Weight (Gms)</div>
                            <div class="prData fLeft fmOpenR">10</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Making Charges / Grm</div>
                            <div class="prData fLeft fmOpenR">1000</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Procurement Cost</div>
                            <div class="prData fLeft fmOpenR">100000</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Margin</div>
                            <div class="prData fLeft fmOpenR">5%</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Measurement</div>
                            <div class="prData fLeft fmOpenR">10X50</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Metal Purity</div>
                            <div class="prData fLeft fmOpenR">9 carat</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Metal Color</div>
                            <div class="prData fLeft fmOpenR">Rose, White</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Size</div>
                            <div class="prData fLeft fmOpenR">4, 5, 6</div>
                        </div>
                    </div>
                    <div class="commTitle1 fmOpenR fLeft">Solitaire</div>
                    <div class="cardComm fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Shape</div>
                            <div class="prData fLeft fmOpenR">Round</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Color</div>
                            <div class="prData fLeft fmOpenR">D</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Clarity</div>
                            <div class="prData fLeft fmOpenR">VVS1</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Cut</div>
                            <div class="prData fLeft fmOpenR">Good</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Symmetry</div>
                            <div class="prData fLeft fmOpenR">Fair</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Polish</div>
                            <div class="prData fLeft fmOpenR">Excellent</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Fluorescence</div>
                            <div class="prData fLeft fmOpenR">Strong</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Table</div>
                            <div class="prData fLeft fmOpenR">23</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Crown Angle</div>
                            <div class="prData fLeft fmOpenR">45</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Girdle</div>
                            <div class="prData fLeft fmOpenR">5.33</div>
                        </div>
                    </div>
                    <div class="cardComm fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Shape</div>
                            <div class="prData fLeft fmOpenR">Heart</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Color</div>
                            <div class="prData fLeft fmOpenR">D</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Clarity</div>
                            <div class="prData fLeft fmOpenR">VVS1</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Cut</div>
                            <div class="prData fLeft fmOpenR">Good</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Symmetry</div>
                            <div class="prData fLeft fmOpenR">Fair</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Polish</div>
                            <div class="prData fLeft fmOpenR">Excellent</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Fluorescence</div>
                            <div class="prData fLeft fmOpenR">Strong</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Table</div>
                            <div class="prData fLeft fmOpenR">23</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Crown Angle</div>
                            <div class="prData fLeft fmOpenR">45</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Girdle</div>
                            <div class="prData fLeft fmOpenR">5.33</div>
                        </div>
                    </div>
                    
                    <div class="commTitle1 fmOpenR fLeft">Diamond</div>
                    <div class="cardComm fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Shape</div>
                            <div class="prData fLeft fmOpenR">Round</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Diamond Quality</div>
                            <div class="prData fLeft fmOpenR">VVS - IF, VVS -EF</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">No. Of Pieces</div>
                            <div class="prData fLeft fmOpenR">5</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                    </div>
                    
                    <div class="commTitle1  fmOpenR fLeft">Uncut Diamond</div>
                    <div class="cardComm w25 fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Diamond Color</div>
                            <div class="prData fLeft fmOpenR">D</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">No. Of Pieces</div>
                            <div class="prData fLeft fmOpenR">5</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                    </div>
                    <div class="commTitle1 fmOpenR fLeft">Gemstone</div>
                    <div class="cardComm w25 fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Type</div>
                            <div class="prData fLeft fmOpenR">Amber</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">No. Of Pieces</div>
                            <div class="prData fLeft fmOpenR">5</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                    </div>
                    <div class="cardComm w25 fLeft">
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Type</div>
                            <div class="prData fLeft fmOpenR">Ruby</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Carat</div>
                            <div class="prData fLeft fmOpenR">0.55</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">No. Of Pieces</div>
                            <div class="prData fLeft fmOpenR">5</div>
                        </div>
                        <div class="prDataCont fLeft">
                            <div class="titleDiv txtCap fLeft">Price / Carat</div>
                            <div class="prData fLeft fmOpenR">10000</div>
                        </div>
                    </div>
                </div>
                <div class="wrapRight fLeft">
                    <div class="commTitle1 fmOpenR fLeft">Add Filters</div>
                    
                    <div class="divCon fLeft">
                        <div class="titleDiv txtCap fLeft w100">Gemstone</div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t7"> 
                            <label for="t7">Amber</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t8"> 
                            <label for="t8">Amethyst</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t9"> 
                            <label for="t9">Aquamarine</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t10"> 
                            <label for="t10">Blue Topaz</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t11"> 
                            <label for="t11">Emerald</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t12"> 
                            <label for="t12">Garnet</label>
                        </div>
                    </div>
                    <div class="divCon fLeft fmOpenR">                    
                        <div class="titleDiv txtCap fLeft w100">For Metal Colors</div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t13"> 
                            <label for="t13">Yellow</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t14"> 
                            <label for="t14">Rose</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t15"> 
                            <label for="t15">White</label>
                        </div>
                    </div>
                    <div class="divCon fLeft fmOpenR">                    
                        <div class="titleDiv txtCap fLeft w100">For Metal Purity</div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t16"> 
                            <label for="t16">9 carat</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t17"> 
                            <label for="t17">14 carat</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t18"> 
                            <label for="t18">18 carat</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t19"> 
                            <label for="t19">22 carat</label>
                        </div>
                        <div class="checkDiv">
                            <input type="checkbox" class="filled-in" value="10008" id="t20"> 
                            <label for="t20">24 carat</label>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        
    </script>
</body>
</html>