<!DOCTYPE html>
<?php include 'jBhead.html' ?>
<body>
  <div class="detaCmngcnt"></div>
    <div class='loginHdr'></div>
    <div class="signUpDiv resetP">
        <div class="fmOpenR font30 txtCenter c4d">Reset Password</div>
        <div class="inputContr">
            <input type="password"  class="txtBox fmOpenR passwordIcon" placeholder="NEW PASSWORD">
        </div>
        <div class="inputContr">
            <input type="password"  class="txtBox fmOpenR passwordIcon" placeholder="CONFIRM PASSWORD">
        </div>
        <div class="btnCont fLeft">
            <center>
                <div class="cancelBtn transition300 fmOpenR poR">CANCEL</div>
                <div class="submitBtn transition300 fmOpenR poR">SUBMIT</div>
            </center>
        </div>
    </div>
</body>
</html>