<?php include 'jBhead.html' ?>
    <body>
        <div class="container thumbnilPage">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="catListCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft"><span id="imgCount"><?php echo $result['total_imgs']; ?></span> image(s) available</div>
                            <div class="addCouponBtn fRight transition300"><a href="<?php echo DOMAIN . 'backend/index.php?action=products'; ?>">Back</a></div>
                            <div class="addCouponBtn saveProduct fRight transition300" id="<?=$result['pid'];?>"><a>Save</a></div>
                        </div>

                        <div class="thumbnailCont fLeft">

                            <?php
                                $data = $result['imgs'];
                                for ($i = 0; $i < count($data); $i++)
                                {
                                    $image = IMGDOMAIN . $data[$i]['product_image'];
                            ?>
                                    <div class="thumbnilComm fLeft fmOpenR">
                                        <div id='thumb1' class="actThumbnail fLeft" onclick="openTab('<?php echo $image; ?>')" style='background: url(<?php echo $image; ?>) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);'></div>
                                        <div class="imageName txtOver" title="<?php echo $data[$i]['image_name']; ?>"><?php echo $data[$i]['image_name']; ?></div>
                                        <div class="comment fRight">
                                            <div class="seqTitle fLeft">Comment (if any)</div>
                                            <textarea class="txtComment fmOpenR" id="reason_<?php echo $data[$i]['id']; ?>" placeholder=" eg. Front View"><?php echo $data[$i]['reason']; ?></textarea>
                                        </div>
                                        <div class="acceptRej fRight">
                                            <div class="checkDiv fLeft">
                                                <input type="radio" value="1"  name="accept_<?php echo $data[$i]['id']; ?>" <?php if($data[$i]['active_flag']==1) { echo 'checked'; } ?> class="filled-in" id="accept_<?php echo $data[$i]['id']; ?>">
                                                <label for="accept_<?php echo $data[$i]['id']; ?>">Active</label>
                                            </div>
                                            <div class="checkDiv fLeft">
                                                <input type="radio" value="0" name="accept_<?php echo $data[$i]['id']; ?>"<?php if($data[$i]['active_flag']==0) { echo 'checked'; } ?> class="filled-in" id="reject_<?php echo $data[$i]['id']; ?>">
                                                <label for="reject_<?php echo $data[$i]['id']; ?>">Delete</label>
                                            </div>
                                        </div>
                                        <div class="seq fRight">
                                            <div class="seqTitle fLeft">Position</div>
                                            <input type="text" id="seq_<?php echo $data[$i]['id']; ?>" value="<?php echo $data[$i]['image_sequence']; ?>" class="seqTxt fLeft fmOpenR font14" placeholder=" eg 1">
                                        </div>
                                    </div>
                                <?php
                                }
                                ?>
                        </div>
                        <div class="noresDiv fLeft dn" id="noresults">
                            <div class="noresults font25 fLeft">There are no images available.</div>
                        </div>
                        <div class="fLeft pagination fmOpenR dn">
                            <center>
                                <div class="pPrev poR transition300">Previous</div>
                                <div class="pgComm poR transition300 pgActive">1</div>
                                <div class="pgComm poR transition300">2</div>
                                <div class="pNext poR transition300">Next</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay dn"></div>
            <div class="loader dn"></div>
        </div>
        <script>
            $('document').ready(function()
            {
                $('.saveProduct').bind('click',function()
                {
                    updateData($(this).attr('id'));
                });
            });
            function showLoader()
            {
                $('.overlay').removeClass('dn');
                $('.loader').removeClass('dn');
            }
            function hideLoader()
            {
                $('.overlay').addClass('dn');
                $('.loader').addClass('dn');
            }
            function openTab(link)
            {
                window.open(link, '_blank');
            }

            function updateData(pid)
            {
                var tmstmp = new Date().getTime();
                var sequences = [];
                var flags = [];
                var reasons = [];
                $('.seqTxt').each(function()
                {
                    sequences.push(encodeURIComponent($(this).val()));
                });

                $('.acceptRej').find('.checkDiv input[type="radio"]').each(function()
                {
                    if($(this).is(':checked'))
                    {
                        flags.push($(this).val());
                    }
                });
                $('.txtComment').each(function()
                {
                    reasons.push(encodeURIComponent($(this).val()));
                });

                var checkDuplicate = testDuplicate(sequences);
                if(checkDuplicate == false)
                {
                      showLoader();
                      var data = {'seq' : sequences,'flag':flags,'reason':reasons,'prdid':pid};
                      var params = {'data':data};
                      data = JSON.stringify(data);
                      $.ajax(
                      {
                          url: DOMAIN + "apis/index.php?action=updateImageData&timestamp=" + tmstmp,
                          data: params,
                          success: function(result)
                          {
                              var obj = jQuery.parseJSON(result);
                              var errCode = obj['error']['Code'];
                              var errMsg = obj['error']['Msg'];
                              if(errCode == 0)
                              {
                                  hideLoader();
                                  common.toast(1,errMsg);
                                  $.ajax(
                                  {
                                      url: DOMAIN + "apis/index.php?action=getImgByProd&pid=" +pid,
                                      data: params,
                                      success: function(result)
                                      {
                                          var obj = jQuery.parseJSON(result);
                                          var errCode = obj['error']['Code'];
                                          var errMsg = obj['error']['Msg'];
                                          var data = obj.results;
                                          if(errCode == 0)
                                          {
                                              setTimeout(function()
                                              {
                                                  regenrateDiv(data);
                                              },10);
                                          }
                                      }
                                });
                              }
                              else
                              {
                                  hideLoader();
                                  common.toast(0,'Error in adding products image Details')
                              }
                          }
                    });
                }
                else
                {
                      hideLoader();
                      common.toast(0,'Duplicate positions cannot be saved');
                      return false;
                }

            }
            function testDuplicate(arr)
            {
                var sorted_arr = arr.slice().sort();
                var results = [];
                for (var i = 0; i < arr.length - 1; i++)
                {
                    if (sorted_arr[i + 1] == sorted_arr[i])
                    {
                        results.push(sorted_arr[i]);
                    }
                }
                if(results.length>0)
                    return true;
                else
                    return false;
            }

            function regenrateDiv(obj)
            {
                  data = obj.imgs;
                  var str = '';
                  str+='<div class="thumbnailCont fLeft">';
                      for (var i = 0; i < data.length; i++)
                      {

                          image = IMGDOMAIN+data[i]['product_image'];
                          str+='<div class="thumbnilComm fLeft fmOpenR">';
                                      str+='<div id="thumb1" class="actThumbnail fLeft" onclick="openTab('+image+')" style="background: url('+image+') 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>';
                                      str+='<div class="imageName txtOver" title="'+data[i]["image_name"]+'">'+data[i]["image_name"]+'</div>';
                                      str+='<div class="comment fRight">';
                                          str+='<div class="seqTitle fLeft">Comment (if any)</div>';
                                          str+='<textarea class="txtComment fmOpenR" id="reason_'+data[i]["id"]+'" placeholder=" eg. Front View">'+data[i]['reason']+'</textarea>';
                                      str+='</div>';
                                      str+='<div class="acceptRej fRight">';
                                          str+='<div class="checkDiv fLeft">';
                                              str+='<input type="radio" value="1"  name="accept_'+data[i]["id"]+'" '+(data[i]["active_flag"]==1 ? "checked" : "" )+' class="filled-in" id="accept_'+data[i]["id"]+'">';
                                              str+='<label for="accept_'+data[i]["id"]+'">Active</label>';
                                          str+='</div>';
                                          str+='<div class="checkDiv fLeft">';
                                              str+='<input type="radio" value="0" name="accept_'+data[i]["id"]+'" '+(data[i]["active_flag"]==0 ? "checked" : "" )+' class="filled-in" id="reject_'+data[i]['id']+'">';
                                              str+='<label for="reject_'+data[i]["id"]+'">Delete</label>';
                                          str+='</div>';
                                      str+='</div>';
                                      str+='<div class="seq fRight">';
                                          str+='<div class="seqTitle fLeft">Position</div>';
                                          str+='<input type="text" id="seq_'+data[i]["id"]+'" value="'+data[i]["image_sequence"]+'" class="seqTxt fLeft fmOpenR font14" placeholder=" eg 1">';
                                      str+='</div>';
                                  str+='</div>';
                    }
                str+='</div>';
                $('.thumbnailCont').html(str);
            }

        </script>
    </body>
</html>
