<?php include 'jBhead.html' ?>
    <body>
        <div class="container thumbnilPage">
            <?php include 'jBheader.html' ?>
            <div class="contents fLeft">
                <div class="wrapperMax">
                    <div class="catListCont fLeft">
                        <div class="prdSearchDiv fLeft fmOpenR">
                            <div class="commTitle2 fLeft"><span id="imgCount"><?php echo $result['total_imgs']; ?></span> image(s) available</div>
                            <div class="addCouponBtn fRight transition300"><a href="<?php echo DOMAIN . 'backend/index.php?action=product_List'; ?>">Back</a></div>
                        </div>
                        
                        <div class="thumbnailCont fLeft">
                            
                            <?php
                                $data = $result['imgs'];
                                for ($i = 0; $i < count($data); $i++) 
                                {
                                    $image = IMGDOMAIN . $data[$i]['product_image'];
                            ?>
                                    <div class="thumbnilComm fLeft fmOpenR">
                                        <div id='thumb1' class="actThumbnail fLeft" onclick="openTab('<?php echo $image; ?>')" style='background: url(<?php echo $image; ?>) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);'></div>
                                        <div class="comment fRight">
                                            <div class="seqTitle fLeft">Comment (if any)</div>
                                            <textarea class="txtComment fmOpenR" id="reason_<?php echo $data[$i]['id']; ?>"  onblur="updateData(<?php echo $data[$i]['id']; ?>);" placeholder=" eg. Front View"><?php echo $data[$i]['reason']; ?></textarea>
                                        </div>
                                        <div class="seq fRight">
                                            <div class="seqTitle fLeft">Position</div>
                                            <input type="text" id="seq_<?php echo $data[$i]['id']; ?>" value="<?php echo $data[$i]['image_sequence']; ?>" onblur="updateData(<?php echo $data[$i]['id']; ?>);" class="seqTxt fLeft fmOpenR font14" placeholder=" eg 1">
                                        </div>
                                    </div>
                                <?php 
                                }
                                ?>
                        </div>
                        <div class="noresDiv fLeft dn" id="noresults">
                            <div class="noresults font25 fLeft">There are no images available.</div>
                        </div>
                        <div class="fLeft pagination fmOpenR dn">
                            <center>
                                <div class="pPrev poR transition300">Previous</div>
                                <div class="pgComm poR transition300 pgActive">1</div>
                                <div class="pgComm poR transition300">2</div>
                                <div class="pNext poR transition300">Next</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function openTab(link)
            {
                window.open(link, '_blank');
            }

            function updateFlag(pid, id)
            {
                var flag = $('#' + id).val();
                var tmstmp = new Date().getTime();
                $.ajax({url: DOMAIN + "apis/index.php?action=updateImageData&id=" + pid + "&flag=" + flag + "&timestamp=" + tmstmp, success: function(result) {
                        var obj = jQuery.parseJSON(result);
                        var errCode = obj['error']['Code'];
                        var errMsg = obj['error']['Msg'];

                    }});
            }

            function updateData(id)
            {
                var reason = $('#reason_' + id).val();
                var seq = $('#seq_' + id).val();
                var tmstmp = new Date().getTime();
                $.ajax({url: DOMAIN + "apis/index.php?action=updateImageData&id=" + id + "&rea=" + reason + "&seq=" + seq + "&timestamp=" + tmstmp, success: function(result) {
                        var obj = jQuery.parseJSON(result);
                        var errCode = obj['error']['Code'];
                        var errMsg = obj['error']['Msg'];

                    }});
            }
        </script>
    </body>
</html>