<?php include 'jhead.html' ?>
<body class="greyBg">

    <?php include 'Cart.html'?>
    <?php include 'loader.html'?>
    <?php include 'header.html'?>
    <?php include 'login.html'?>

    <div class="wrapper_main fLeft HOME_PAGE">
        <div class="wrapper">
            <div class="coverImg2">
                <!-- <div class="coverImgsli">
                    <div class="col100">Jewellery can be an extremely personal affair; it can hold a million emotions in it especially if it is for some one very special. We at Jzeva, would feel special to be a part of your personal journey of discovering your style and personality and inducing it in your jewellery.</div>
                    <div class="col100"><center><div class="actBtn" id="moreId">know more</div></center></div>
                </div> -->
                <div class="banner_over" id="banner_over"></div>
            </div>
            <!-- <div class="three_col fLeft img2m">
              <div class="fader transition300">
              </div>
              <div class="title_fader fmSansL transition300">Bridal Collection</div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img3m">
              <div class="fader transition300"></div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img2m">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div>
          <div class="two_col fLeft img1m">
                <div class="fader transition300"></div>
            <div class="framer2"></div>
          </div> -->
            <!-- <div class="three_col fLeft img2c">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div> -->
            <div class="greyCont">
                <div class="container2 fLeft">
                    <div class="wrapper_max wrapper_max offsetTop transition600">
                        <div class="tCommon fLeft">
                          <div class="spBespoke">Jewellery can be an extremely personal affair; it can hold a million emotions in it especially if it is for some one very special. We at Jzeva, would feel special to be a part of your personal journey of discovering your style and personality and inducing it in your jewellery.</div>
                        </div>
                        <div class="tCommon fLeft">
                            <div class="tHead fLeft">How to go about your bespoke journey?</div>
                            <div  class="pCont fLeft">
                                <div class="fLeft tCont points">
                                    The Journey starts with you booking an appointment with our Concierge services team.
                                </div>
                                <div class="fLeft tCont points">
                                    We will get one of our Elite designers to talk to you on the booked appointment date and time.
                                </div>
                                <div class="fLeft tCont points">
                                    The designer will understand your ideas, thoughts and dreams about your design.
                                </div>
                                <div class="fLeft tCont points">
                                    The designer will produce a sketch of the ideas and get your approval (multiple iterations may be required).
                                </div>
                                <div class="fLeft tCont points">
                                    We will also help you choose the right precious metal and gemstones for the design.
                                </div>
                                <div class="fLeft tCont points">
                                    Once the design is approved a computer generated 3D model will be shared with you which will give you close enough feel of the actual live look.
                                </div>
                                <div class="fLeft tCont points">
                                    Once you approve the render, we will manufacture, certify and Hallmark the jewellery.
                                </div>
                                <div class="fLeft tCont points">
                                    A final round our quality check from our side and your bespoke jewellery is ready to be shipped.
                                </div>
                            </div>
                        </div>
                        <div class="tCommon fLeft">
                            <div class="fLeft tHead">Why Bespoke Jewellery?</div>
                            <div class="pCont fLeft">
                                <div class="fLeft tCont">The bespoke jewellery you spend time designing and bringing to life is your style and personality induced in it, and it will be as unique as you are as there will be no piece that will be the same as the one you have designed.</div>
                                <div class="fLeft tCont">I already have a design in mind!</div>
                                <div class="fLeft tCont">Brilliant! If sketching is your thing, go ahead and share the sketch with us and we will take over from there.</div>
                            </div>
                        </div>
                        <div class="tCommon fLeft">
                            <div class="fLeft tHead">Are there any pre-requisites?</div>
                            <div class="pCont fLeft">
                                <div class="fLeft tCont">If you need a designer to work with you personally to design your bespoke jewellery, the order size needs to be a minimum of INR 3,00,000.</div>
                                <div class="fLeft tCont">If you have a design in mind and can share the sketch of it, you can get your personalised piece of jewellery starting from INR 25,000.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="darkCont dn" id="darkCont">
                <div class="wrapper_max">
                    <div class="homeCollect">
                        <div class="colleCont tempBg2">
                            <div class="galleryImg"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <!-- <div class="galleryImg dn"></div> -->
                            <div class="galleryCover "></div>
                        </div>
                        <div class="colleCont v2">
                            <div class="smUline animFade">FRESH NEW</div>
                            <div class="collCenter animFade">
                                <div class="collectH">SIGNATURE</div>
                                <div class="collectY">Solitaires by Jzeva</div>
                            </div>
                            <div class="smUBot animFade">EXPLORE</div>
                        </div>
                        <div class="sliderTimer">
                            <div class="sliderProgress " id="sliderProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="greyCont dn">
                <div class="wrapper_max">
                    <div class="wCont fLeft animFade">
                        <div class="wJzeva fLeft">
                            <div class="absHeader animFade">WHY JZEVA?</div>

                            <!--<div class="jzgrid grStyl1"></div>-->
                            <a  target="_blank" href='<?php echo DOMAIN?>index.php?action=craftsmanship'><div class="jzgrid grStyl2 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">CRAFTMANSHIP</div>
                                </div></a><a target="_blank" href='<?php echo DOMAIN?>index.php?action='><div class="jzgrid grStyl3 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">OUR PACKAGING</div>
                                </div></a>
                            <a target="_blank" href='<?php echo DOMAIN?>index.php?action=ourPromise'><div class="jzgrid grStyl4 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">OUR PROMISE</div>
                                </div></a><a target="_blank" href='<?php echo DOMAIN?>index.php?action=ourStory'><div class="jzgrid grStyl5 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">OUR STORY</div>
                                </div></a><div class="col30 animFade">
                                <a target="_blank" href='<?php echo DOMAIN?>index.php?action=conciergeServices'><div class="jzgrid grStyl6" id='cServices'>
                                        <div class="fLeft"></div>
                                        <div class="hovTr">
                                            <div class="hovTrans">
                                                <div class="plusCont">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grCap">CONCIERGE SERVICES</div>
                                    </div></a><a target="_blank" href='<?php echo DOMAIN?>index.php?action=responsiblef'><div class="jzgrid grStyl7">
                                        <div class="hovTr">
                                            <div class="hovTrans">
                                                <div class="plusCont">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grCap">RESPONSIBLE FASHION</div></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="helpFooterW fLeft">
                          <div class="wrapper_max">
                            <div class="fhelpSection fPhone fLeft">
                              <div class="fhelpHead">NEED HELP?</div>
                              <div class="fhelpPara">
                                If you need help  contact us at 9988556622 (Monday - Friday 10AM To 10PM IST | Saturday 10AM-6:30PM IST) or email the Concierge  Care@Jzeva.Com
                              </div>
                            </div>
                            <div class="fhelpSection fPayment fLeft">
                              <div class="fhelpHead">PAYMENT OPTIONS</div>
                                <div class="fhelpPara">
                                  Choose a convenient option to pay for your jewellery from AMEX, Diner Club Card, Xyz Akdfkk & PAY U wallet.
                                </div>
                            </div>
                            <div class="fhelpSection  fShipping fLeft">
                              <div class="fhelpHead">FREE SHIPPING AND WARRENTY</div>
                              <div class="fhelpPara">
                              Free rapid and secure delivery, to find more aboutfree delivery click here .2 year warranty on all products from JZEVA Signatures.
                              </div>
                            </div>
                          </div>

                        </div>-->
            <?php include 'footer.html'?>
        </div>


        <?php include 'loaderStatic.html'?>
        <div class="overlay3 pointNone"></div>
    </div>
    <script>
        function loadComplete() {
            $('.wrapper_max').removeClass('offsetEffects');
        }
        $(document).ready(function () {
            load_page();
        });

        $('#moreId').click(function () {
            $('body').animate({scrollTop: 400}, 'slow');
        });
    </script>
</body>
