
<script>
    var BWEBROOT = '<?php echo BACKWEBROOT?>';
    var DOMAIN = '<?php echo DOMAIN?>';
    var APIDOMAIN = '<?php echo APIDOMAIN?>';
    var IMGDOMAIN = '<?php echo IMGDOMAIN ?>';
    var page = '<?php echo $page?>';
    var BACKDOMAIN= '<?php echo BACKDOMAIN?>';
</script>
<div class="cartPopup dn" id="cartpID">
    <div class="inCartPop" id="inCartID">
        <div class="txtTitle mar0" id="rmvpoptxt">Do you want to delete this addresses</div>
        <div class="col100 fLeft bolder mTop30">
            <center>
                <div class="actBtn button padLR25 mar0" id="cNo">NO</div>
                <div class="actBtn button padLR25 mar0" id="cYes">YES</div>
            </center>
        </div>
    </div>
</div>

<div class="cart" id="cartMain">
    <!-- <div class="cart_head ">
      YOUR CART

    </div> -->

    <div class="cartHeader fLeft">
        <!-- <div class="wrapper_max"> -->
            <div class="transition300 mar0  closeCartW" id="closeCart"></div>

            <div class="payOption fRight ">
                <div class="pay certiIc fRight mar0">certified jewellery</div>
                <div class="pay lifeIc fRight">Life time exchange</div>
                <div class="pay secureIc fRight">secure payements</div>
            </div>
        <!-- </div> -->
    </div>
   <div class="fLeft totalItem dn checBtnIndx" id="totitm_cart">

                    <div class="fLeft col100 cart_name semibold ">Total Price</div>
                    <div class="fLeft cart_price"><span class="total_price_gen  colorfff cartRupee font25" id="totprz_cart">126,000</span>
                        <div class="actBtn  fLeft bolder pad10  colorfff fRight" id="check_out">CHECKOUT</div>
                    </div>

        <!-- <div class="closeCart"></div> -->
    </div>

    <div class="col100 fLeft " id="nocart">
        <div class="wrapper_max">
        <center>
            <div class="cartEmptyImg"></div>
            <div class="noOrdTxt">
                <div class="fooH mar0 color666">No Items</div>
                <div class="font13">Sorry,you have not added anything in your shopping bag</div>
            </div>
            <div class="col100">
                <div class="actBtn button colorfff"  onclick="closeCart()">continue shopping</div>
            </div>
        </center>
        </div>
    </div>

    <!--    <div class="fLeft totalItem">
        <div class="closeCart"></div>
        <div class="fLeft col100 pBtm5">Total Items</div>
        <div class="col100 fLeft">
            <div class="fLeft cart_price font20">&#8377<span class="total_price_gen ">126,000</span></div>
            <div class="button actBtn transition300 mar0 fRight">CHECKOUT</div>
        </div>
        </div>-->
        <div class="cart_gen fLeft">
            <div class="incart_gen fLeft" id="niceCart"></div>
            <!-- <div class="cart_item" id="cartItems">
                <div class="cart_image"></div>
                <div class="cart_name ">Étourdissant Cartier</div>
                <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no"></div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no"></div>
                </div>
                  <div class="cart_remove ">Remove</div>
              </div>-->
            <!-- <div class="cart_item">
               <div class="cart_image"></div>
               <div class="cart_name ">Étourdissant Cartier</div>
               <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
               <div class="amt_selector ">
                 <div class="cart_btn fLeft sub_no"></div>
                 <div class="item_amt fLeft fmOsR">1</div>
                 <div class="cart_btn fLeft add_no"></div>
               </div>
               <div class="cart_remove ">Remove</div>
             </div>
             <div class="cart_item">
               <div class="cart_image"></div>
               <div class="cart_name ">Étourdissant Cartier</div>
               <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
               <div class="amt_selector ">
                 <div class="cart_btn fLeft sub_no"></div>
                 <div class="item_amt fLeft fmOsR">1</div>
                 <div class="cart_btn fLeft add_no"></div>
               </div>
                 <div class="cart_remove">Remove</div>
             </div>
             <div class="cart_item">
               <div class="cart_image"></div>
               <div class="cart_name ">Étourdissant Cartier</div>
               <div class="cart_price fLeft">&#8377 <span class="price_gen">26,000</span></div>
               <div class="amt_selector ">
                 <div class="cart_btn fLeft sub_no"></div>
                 <div class="item_amt fLeft fmOsR">1</div>
                 <div class="cart_btn fLeft add_no"></div>
               </div>
                 <div class="cart_remove">Remove</div>
             </div>-->
        </div>
        <div class="cart_gen2 fRight ">
            <div class="cartBox fLeft">
                <div class="cartHd helpIc fLeft"></div>
                <div class="cartTool sty1">
                  <div class="cartTxt font12 fLeft">Need help ?</div>
                  <div class="infoTxt jzevaColor fLeft font18 pad0">9880824707</div>
                  <div class="infoTxt font11 fLeft">(Monday - friday 10AM to 10PM IST | saturday 10AM-6:30PM IST)</div>
                  <div class="fLeft cartTxt pBtm0 font11">OR email the concierge</div>
                  <div class="font11 infoTxt jzevaColor fLeft txtLower">care@jzeva.com</div>
                </div>
            </div>
            <div class="cartBox fLeft  ">
                <div class="cartHd shipIc fLeft"></div>
                <div class="cartTool sty2">
                  <div class="cartTxt font12 fLeft">free shipping and warranty</div>
                  <div class="pad0  infoTxt font11 fLeft">free rapid and secure delivery</div>
                  <div class="infoTxt font11 jzevaColor fLeft">2 YEARS WARRANTY ON ALL PRODUCTS</div>
                </div>

            </div>
        </div>
        <!-- <div class="twoBtn fLeft">
            <center>
                <div class="actBtn  colorfff " style="display: inline-block" onclick="closeCart()">continue shopping</div>
                <div class="actBtn  bolder pad10  colorfff  margL20" style="display: inline-block" id="chkout">checkout</div>
            </center>
        </div> -->

    <!-- <div class="cart_foot ">Checkout</div> -->

</div>
<script type="text/javascript" src="<?php echo $jvs['cart']; ?>"></script>
<script type="text/javascript" src="<?php echo $fjvs['Common']; ?>"></script>
<script type="text/javascript" src="<?php echo $fjvs['cookie']; ?>"></script>
<script>
                            /* Add commas in numbers */
                            $.fn.digits = function () {
                                return this.each(function () {
                                    $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                                })
                            }
                    /*Increase/Decrease number of Items in Cart and the corresponding price , comma spacing of price  */
                    /* $('.sub_no').click(function(){
                     var e=$(this).siblings('.item_amt');
                     var j =$(this).siblings('.item_amt').text();
                     var e2=  $(this).closest('.cart_item').find('.price_gen');
                     var price= $(this).closest('.cart_item').find('.price_gen ').text();
                     price=price.replace(/\,/g,'');
                     price=parseInt(price,10);
                     if(j>1){
                     price=price/j;
                     j--;
                     price=price*j;
                     $(e2).html(price);
                     $(e2).digits();
                     $(e).html(j);
                     }
                     });
                     $('.add_no').click(function(){
                     var e=$(this).siblings('.item_amt');
                     var j =$(this).siblings('.item_amt').text();
                     var e2=  $(this).closest('.cart_item').find('.price_gen ')
                     var price= $(this).closest('.cart_item').find('.price_gen ').text();
                     price=price.replace(/\,/g,'');
                     price=parseInt(price,10);
                     price=price/j;
                     j++;
                     price=price*j;
                     $(e2).html(price);
                     $(e2).digits();
                     $(e).html(j);
                     });*/
                    $('#check_out').click(function () {
                        var cururl = window.location.search;
                        var date = new Date();
                        var minutes = 120;
                        date.setTime(date.getTime() + (minutes * 60 * 1000));
                        $.cookie("jzeva_currurl", null);
                        $.cookie("jzeva_currurl", cururl, {expires: date});
			var userid=common.readFromStorage('jzeva_uid');
			if(userid == null || userid == undefined)
			{
			  window.location.href=DOMAIN + 'index.php?action=checkoutGuest';
			}
			else
			{
			  load_checkout();
			}

                    });
                    $('#chkout').click(function () {
                        load_checkout();
                    });
                    function load_checkout() {
                        window.location.assign(DOMAIN + 'index.php?action=checkOutNew');
                        $('body').addClass('over_hide');
                        $('.page_loader').velocity({translateX: [0, '-100%']}, {duration: 300, easing: 'easeInOutExp', display: 'block',
                            complete: function () {
                                setTimeout(function () {
                                    //  window.location.assign(DOMAIN + 'index.php?action=checkOutNew');
                                }, 1000);
                            }
                        });

                    }

                    function cartpopUp() {
                        $('#cartpID').removeClass("dn");
                        $('#cartpID').velocity({opacity: [1, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
                        $('#inCartID').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
                    }
                    function cartpopUpClose() {
                        $('#cartpID').addClass("dn");
                        $('#cartpID').velocity({opacity: [0, 1]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
                        $('#inCartID').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
                    }

//    $(document).on('click', '.addrCommon', function () {
//
//
//    });

                    $(document).ready(function () {
                        $('#niceCart').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
                        $('#cartMain').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
                    });
</script>
