
     <div class="cart fmSansR">
        <!-- <div class="cart_head fmSansR">
          YOUR CART

        </div> -->
         <div class="cart_sub fmSansR">
           <div class="fLeft col100 lnHt30 fmSansB"> Total Items: 9</div>
           <div class="fLeft col100">
            <span class="cart_price fmSansR fLeft ">&#8377
                <span class="price_gen ">126,000</span>
              </span>
            </div>
            <div class="chk_out "><div class="button button1 btnc1 transition300" id="check_out">Checkout</div></div>
              <div class="closeCart"></div>
          </div>
            <div class="cart_gen fLeft">
             <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name ">Étourdissant Cartier</div>
                <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove ">Remove</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name ">Étourdissant Cartier</div>
                <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                <div class="cart_remove ">Remove</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name ">Étourdissant Cartier</div>
                <div class="cart_price  fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove">Remove</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name ">Étourdissant Cartier</div>
                <div class="cart_price fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove">Remove</div>
              </div>
            </div>
            <!-- <div class="cart_foot fmSansR">Checkout</div> -->
        </div>