<?php include 'jhead.html' ?>
<body class="greyBg"  >
    <?php include 'Cart.html' ?>
<div class="chkoutHeader">
        <div class="logo fLeft"></div>
    </div>
    <div class="wrapper_main fLeft CHECKOUT_PAGE">
      <div class="wrapper chkout">
            <div class="darkCont fadeInup runslider" id="darkCont">
          <div class="wrapper_max">
            <div class="homeCollect">
                  <div class="colleCont dTab dn ePadding" id="addOpt">
                      <div class="tabDaddrss1 semibold">DELIVERY OPTION</div>
                  <div class="dAdrsshdr fLeft semibold">CONFIRM NUMBER
                      <div class="cbrdr"></div>
                  </div>
                      <div class="delvrAdress fLeft regular">
                          <div class="w50r fLeft">
                              <div class="text fLeft">Janardan prasanna ghosh</div>
                               <div class="text fLeft">janardan@xelpmoc.in</div>
                                <div class="text fLeft">bangalore-560095</div>
                          </div>
                          <div class="w50l fRight">
                              <div class="text fLeft"><span>#657 5th A cross,17th E main road,Koromangala club,Bangalore,Karanataka,560095</span></div>
                          </div>
                      </div>
                      <div class="entrOtp fLeft semibold">Enter OTP</div>
                      <div class="centerDvHldr fLeft regular">
                          <center>
                              <div class="cntrDvcnt">
                             <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box ">
                            </div>
                              </div>
                          </center>
                          <center>
                              <div class="txt">We have sent an OTP via sms to 7797553117</div>
                          </center>
                      </div>
                      <div class="centerDvHldr fLeft regular">
                          <center>
                              <div class="txt1">Resend OTP</div>
                          </center>
                      </div>
                   <div class="cotpTxt fLeft semibold">CONFIRM OTP</div>
                  <div class="cnclSbmt fLeft bolder">
                      <div class="w50 fLeft" id="bck">BACK</div>
                      <div class="w51 fRight">SUBMIT</div>
                  </div>
              </div>
              <div class="colleCont ePadding" id="txtAdd">
                  <div class="tabDaddrss semibold">DELIVERY ADDRESS</div>
                  <div class="dAdrsshdr fLeft semibold">CONFIRM ORDER
                      <div class="cbrdr"></div>
                  </div>
                  <div class="hdrcrsTxt fLeft regular">
                      <div class="intTxt fLeft">Please fill in the details below to proceed</div>
                      <div class="intTxt fLeft">To purchase this amazing product</div>
                  </div>
                  <div class="frmDtls fLeft semibold">
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdname" maxlength="30">
                                <div class="inp_label fmSansB">Name*</div>
                            </div>
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box "  id="shpdmobile" maxlength="10">
                                <div class="inp_label fmSansB">Mobile*</div>
                            </div>
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdemail" maxlength="30">
                                <div class="inp_label fmSansB">Email*</div>
                            </div>


                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdstreet" maxlength="15">
                                <div class="inp_label fmSansB">Address*</div>
                            </div>
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box "  id="shpdpincode">
                                <div class="inp_label fmSansB">Zip code*</div>
                            </div>
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdstate" maxlength="20">
                                <div class="inp_label fmSansB">State*</div>
                            </div>
                            <div class="inp_cont fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdcity" maxlength="15">
                                <div class="inp_label fmSansB">City*</div>
                            </div>
                  </div>
                  <div class="cnclSbmt fLeft bolder">
                      <div class="w50 fLeft">BACK</div>
                      <div class="w51 fRight" id="nxt">SUBMIT</div>
                  </div>
              </div>
              <div class="colleCont v2 black">
                  
                   <div class="dAdrsshdr fLeft semibold">GRAND TOTAL
                      <div class="cbrdr"></div>
                  </div>
                  <div class="prcTxt fLeft regular">3,56,000</div>
                  <div class="jwlCnt fLeft regular" id="scroll">
                      <div class="jwlCntdtls fLeft regular">
                          <div class="clsePrdct"></div>
                      <div class="ordrJwl"></div>
                      <div class="jwlryDtls fLeft">
                          <div class="w60 fLeft">
                              <div class="text fLeft bolder">CAROLE WEDDING RING</div>
                              <div class="text fLeft">White gold 18 carats,Diamond 22 carats</div>
                     <div class="text fLeft"><span class="spanl">Quality : VVS - EF</span><span class="spanl">Purity - 9CARAT</span></div>
                               <div class="text fLeft"><span class="spanl">Color :YELLOW</span><span class="spanl">Size - 28</span></div>
                          </div>
                          <div class="w40 fLeft">
                              <div class="text fLeft">Rs. 830909000</div>
                              <div class="pCount fLeft">
                                  <center>
                                      <div class="incr icnMns"></div> 
                                  <div class="pNumber light">1</div>
                                   <div class="incr icnPls"></div> 
                                  </center>
                              </div>
                          </div>
                      </div>
                      </div>
                         <div class="jwlCntdtls fLeft regular">
                             <div class="clsePrdct"></div>
                      <div class="ordrJwl"></div>
                      <div class="jwlryDtls fLeft">
                          <div class="w60 fLeft">
                              <div class="text fLeft bolder">CAROLE WEDDING RING</div>
                              <div class="text fLeft">White gold 18 carats,Diamond 22 carats</div>
                              <div class="text fLeft"><span class="spanl">Quality : VVS - EF</span><span class="spanl">Purity - 9CARAT</span></div>
                               <div class="text fLeft"><span class="spanl">Color :YELLOW</span><span class="spanl">Size - 28</span></div>
                          </div>
                          <div class="w40 fLeft">
                              <div class="text fLeft">Rs. 830909000</div>
                              <div class="pCount fLeft">
                                  <center>
                                  <div class="incr icnPls"></div> 
                                  <div class="pNumber light">1</div>
                                  <div class="incr icnMns"></div> 
                                  </center>
                              </div>
                          </div>
                      </div>
                      </div>
                         <div class="jwlCntdtls fLeft regular">
                             <div class="clsePrdct"></div>
                      <div class="ordrJwl"></div>
                      <div class="jwlryDtls fLeft">
                          <div class="w60 fLeft">
                              <div class="text fLeft bolder">CAROLE WEDDING RING</div>
                              <div class="text fLeft">White gold 18 carats,Diamond 22 carats</div>
                              <div class="text fLeft"><span class="spanl">Quality : VVS - EF</span><span class="spanl">Purity - 9CARAT</span></div>
                               <div class="text fLeft"><span class="spanl">Color :YELLOW</span><span class="spanl">Size - 28</span></div>
                          </div>
                          <div class="w40 fLeft">
                              <div class="text fLeft">Rs. 830909000</div>
                              <div class="pCount fLeft">
                                  <center>
                                  <div class="incr icnPls"></div> 
                                  <div class="pNumber light">1</div>
                                  <div class="incr icnMns"></div> 
                                  </center>
                              </div>
                          </div>
                      </div>
                      </div>
                         <div class="jwlCntdtls fLeft regular">
                             <div class="clsePrdct"></div>
                      <div class="ordrJwl"></div>
                      <div class="jwlryDtls fLeft">
                          <div class="w60 fLeft">
                              <div class="text fLeft bolder">CAROLE WEDDING RING</div>
                              <div class="text fLeft">White gold 18 carats,Diamond 22 carats</div>
                              <div class="text fLeft"><span class="spanl">Quality : VVS - EF</span><span class="spanl">Purity - 9CARAT</span></div>
                               <div class="text fLeft"><span class="spanl">Color :YELLOW</span><span class="spanl">Size - 28</span></div>
                          </div>
                          <div class="w40 fLeft">
                              <div class="text fLeft">Rs. 830909000</div>
                              <div class="pCount fLeft">
                                  <center>
                                  <div class="incr icnPls"></div> 
                                  <div class="pNumber light">1</div>
                                  <div class="incr icnMns"></div> 
                                  </center>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>
<!--        <div class="maxContr" >
            <div class="ckMainCont">
                <div class="addDiv borderN">
                    <div class="fmSansB txtTitle tUline">Shipping Details</div>
                    <div class="newAddDiv" id="txtAdd">
                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdname" maxlength="30">
                                <div class="inp_label fmSansB">Name*</div>
                            </div>
                        </div>
                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="tel" class="inp_box " id="shpdmobile" maxlength="10">
                                <div class="inp_label fmSansB">Mobile*</div>
                            </div>
                        </div>
                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdemail" maxlength="30">
                                <div class="inp_label fmSansB">Email*</div>
                            </div>
                        </div>
                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdcity" maxlength="15">
                                <div class="inp_label fmSansB">City*</div>
                            </div>
                        </div>
                        <div class="txtOutcont1 fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box" id="shpdaddrs">
                                <div class="inp_label fmSansB" >Address*</div>
                            </div>
                        </div>
                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box " id="shpdstate" maxlength="20">
                                <div class="inp_label fmSansB">State*</div>
                            </div>
                        </div>

                        <div class="txtOutCont fLeft">
                            <div class="txtB fmSansR fLeft">
                                <input type="text" class="inp_box" id="shpdpincode">
                                <div class="inp_label fmSansB">Pin code*</div>
                            </div>
                        </div>
                        <div class="buttonPos fLeft">
                            <center>
                                <div class="btnContainr  fmOsR padXr5" >
                                    <div class="button button2 btnc1 transition300 fLeft">BACK</div>
                                </div>
                                <div class="btnContainr  fmOsR padXl5" id="nxt">
                                    <div class="button button2 btnc1 transition300 fLeft">NEXT</div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="newAddDiv dn" id="addOpt">
                        <div class="contAdd fLeft fmSansR">
                            <div class="dlHead fLeft fmSansR ">Deliver to:</div>
                            <div class="dlevryTxt fLeft fmSansB"><span id="spdnamedispl"></span>Ganesh Belle </div>
                            <div class="dlevryTxt fLeft"><span id="spdaddrdspl"></span>#32 17th B Main ,5th Cross Bannerughatta Hulimangala Road, Bengaluru, Karnataka 560105, India</div>
                        </div>
                        <div class="breakLine fLeft"></div>
                        <div class="contAdd fRight">
                            <div class="dlHead fLeft fmSansR ">Delivery Option:</div>
                            <div class="gnrlWrp fLeft mtop10">
                                <div class="checkDiv fLeft fmSansR">
                                    <input type="checkbox" name="select" id="date" class="filled-in" value="1">
                                    <label for="date">Between 9-12 Jan- Free delivery on eligible orders</label>
                                </div>
                                <div class="checkDiv fLeft fmSansR">
                                    <input type="checkbox" name="select" id="time" class="filled-in" value="2">
                                    <label for="time">Saturday - two-day delivery at Rs.50</label>
                                </div>
                                <div class="checkDiv fLeft fmSansR">
                                    <input type="checkbox" name="select" id="price" class="filled-in" value="3">
                                    <label for="price">Same day at Rs.120</label>
                                </div>
                            </div>
                        </div>
                        <div class="buttonPos fLeft">
                            <center> 
                                <div class="btnContainr  fmOsR " id="bck">
                                    <div class="button button2 btnc1 transition300 fLeft">BACK</div>
                                </div>
                                <div class="btnContainr  fmOsR " >
                                    <div class="button button2 btnc1 transition300 fLeft" id="paymentbtn">PAYMENT</div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="addDiv1 dn">
                    <div class="fmSansB txtTitle tUline">Your Orders</div>
                    <div class="prfinalCont fLeft">
                        <div class="prdFinalCont">
                            <div class="ckPrCont fLeft">
                                <div class="ckPrImg fLeft"></div>
                                <div class="incCont fLeft">
                                    <div class="cCont fLeft ">
                                        <div class="cart_btn fLeft sub_no" id="drcmnt"></div>
                                        <div class="item_amt fLeft fmSansR">1</div>
                                        <div class="cart_btn fLeft add_no" id="incrmnt"></div>
                                    </div>
                                </div>
                                <div class="namCont fLeft fmSansR">
                                    <div class="ckPrNam fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100 colorLg font11 fmSansR">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="rsContr fLeft">
                                        <div class="col50 fLeft">
                                            <div class="prTxt1 fmSansR fLeft ">₹ 26,000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clBtn transition200 fmSansB noselect">REMOVE</div>
                            </div>
                            <div class="ckPrCont fLeft">
                                <div class="ckPrImg fLeft"></div>
                                <div class="incCont fLeft">
                                    <div class="cCont fLeft ">
                                        <div class="cart_btn fLeft sub_no" id="drcmnt"></div>
                                        <div class="item_amt fLeft fmSansR">1</div>
                                        <div class="cart_btn fLeft add_no" id="incrmnt"></div>
                                    </div>
                                </div>
                                <div class="namCont fLeft fmSansR">
                                    <div class="ckPrNam fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100 colorLg font11 fmSansR">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="rsContr fLeft">
                                        <div class="col50 fLeft">
                                            <div class="prTxt1 fmSansR fLeft ">₹ 26,000</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clBtn transition200 fmSansB noselect">REMOVE</div>
                            </div>
                            <div class="ckPrCont fLeft">
                                <div class="ckPrImg fLeft"></div>
                                <div class="incCont fLeft">
                                    <div class="cCont fLeft ">
                                        <div class="cart_btn fLeft sub_no" id="drcmnt"></div>
                                        <div class="item_amt fLeft fmSansR">1</div>
                                        <div class="cart_btn fLeft add_no" id="incrmnt"></div>
                                    </div>
                                </div>
                                <div class="namCont fLeft fmSansR">
                                    <div class="ckPrNam fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100 colorLg font11 fmSansR ">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="rsContr fLeft">
                                        <div class="col50 fLeft">
                                            <div class="prTxt1 fmSansR fLeft">₹ 26,000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clBtn transition200 fmSansB noselect">REMOVE</div>
                            </div>
                            <div class="ckPrCont fLeft">
                                <div class="ckPrImg fLeft"></div>
                                <div class="incCont fLeft">
                                    <div class="cCont fLeft ">
                                        <div class="cart_btn fLeft sub_no" id="drcmnt"></div>
                                        <div class="item_amt fLeft fmSansR">1</div>
                                        <div class="cart_btn fLeft add_no" id="incrmnt"></div>
                                    </div>
                                </div>
                                <div class="namCont fLeft fmSansR">
                                    <div class="ckPrNam fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100 colorLg font11 fmSansR ">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="rsContr fLeft">
                                        <div class="col50 fLeft">
                                            <div class="prTxt1 fmSansR fLeft ">₹ 26,000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clBtn transition200 fmSansB noselect">REMOVE</div>
                            </div>
                        </div>



                        <div class="productContr">
                            <div class="fmSansB font14 subTCont">
                                <span class="fLeft fmSansR font12">SUBTOTAL</span>
                                <span class="fRight" id="shpntotalprdprc">&#8377 52,000</span>
                            </div>
                            <div class="fmSansB font14 subTCont brdBottom">
                                <span class="fLeft fmSansR font12">SHIPPING</span>
                                <span class="fRight">&#8377 100</span>
                            </div>
                            <div class="fmSansB  subTCont">
                                <span class="fLeft fmSansR font16">TOTAL</span>
                                <span class="fRight font20" id="shpntotalprc">&#8377 52,100</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->

    </div>
    <div class="page_loader">
        <div class="cs-loader-inner ">
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
        </div>
        <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div>
    </div>
    <div class="page_loader2">
        <div class="cs-loader-inner ">
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
        </div>
        <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div>
    </div>

    <script type="text/javascript" src="<?php echo $jvs['checkout']; ?>"></script>
    <script type="text/javascript" src="<?php echo $fjvs['Common']; ?>"></script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                load_page();
            }, 2000);
        });
        function load_page() {
            $('body').addClass('over_hide');
            $('.page_loader2').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                    $('body').removeClass('over_hide');
                }});
             $('#scroll').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
        }

        $('#nxt').click(function () {
            $('#addOpt').removeClass("dn");
            $('#txtAdd').addClass("dn");
        });
        $('#bck').click(function () {
            $('#txtAdd').removeClass("dn");
            $('#addOpt').addClass("dn");
        });


//        $('.inp_box').focus(function () {
//            $(this).closest('.txtB').addClass('focul');
//        });
//        $('.inp_box').blur(function () {
//            var k = $(this).val();
//            if (k == "") {
//                $(this).closest('.txtB').removeClass('focul');
//            }
//
//        });


   $('.inp_box').focus(function () {
            $(this).closest('.inp_cont').addClass('focul');
        });
        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k == "") {
                $(this).closest('.inp_cont').removeClass('focul');
            }

        });

    </script>
</body>