<!DOCTYPE html>
<?php include 'jhead.html' ?> 
<script>  var actn = "<?php echo $_GET['actn'];  ?>";</script>
<body class="greyBg"  >
    <?php include 'Cart.html' ?>
    <div class="cartPopup dn" id="cartpID">
        <div class="inCartPop" id="inCartID">
            <div class="txtTitle mar0" id="rmvpoptxt">Do you want to delete this addresses</div>
            <div class="col100 fLeft bolder">
                <center>
                    <div class="col50 fLeft"><div class="actBtn button" id="cYes">YES</div></div>
                    <div class="col50 fRight"><div class="actBtn button" id="cNo">NO</div></div>
                </center>
            </div>
        </div>
    </div>
    <div class="chkoutHeader">
        <div class="wrapper_max">
	  <a href="<?php echo DOMAIN ?>index.php?action=landing_page"><div class="logo fLeft" id="jzeva_log"></div></a>
           <a class="logoA" href="<?php echo DOMAIN ?>"><div class="mlogoHeader"></div></a> 
           <div class="payHelp1 fRight mob_help" id="mob_help">Need Help?</div>
            <div class="fLeft callUs">Got Question? call us on 9880824707</div>
            <div class="payOption fRight">
                <div class="col50 pay certiIc fRight">certified jewellery</div>
                <div class="col50 pay lifeIc fRight">Life time exchange</div>
                <div class="col50 pay secureIc fRight">secure payements</div>
                <div class="payHelp fRight">Need Help?</div>
            </div>
        </div>
    </div>
    <div class="checkoutheader_mobile fLeft">
        <div class="actBtn button fLeft checkout_details">DETAILS</div>
        <div class="actBtn button fLeft cart_first">CART</div>
    </div>
    <div class="wrapper_main fLeft CHECKOUT_PAGE checkoutBefore">
        <div class="wrapper chkout">
            <div class="darkCont fadeInup runslider" id="darkCont">
                <div class="wrapper_max">
                    <div class="homeCollect">
                        <!--                        /*take code from here*/-->

                        <div class="colleCont dTab ePadding" id="addOpt">
                            <div class="mobile_height fLeft" id="selected_address">
                                <div class="col100 fLeft">
                                    <div class="dAdrsshdr fLeft semibold">confirm DETAILS
                                        <div class="cbrdr"></div>
                                    </div>
                                </div>
                                <div class="yetanotherbuffer" id="smry">
                                    <div class="summary fLeft">
                                        <div class="col100 fLeft radTor poR">
                                            <div class="w50r fLeft">
                                                <div class="checkName fLeft semibold" id="cust_name"></div>
    <!--                                            <div class="text fLeft " ></div>
                                                <div class="text fLeft " id="cust_email"></div>-->
                                                <div class="text fLeft  semibold" id="cust_mobl"></div>
                                                <div class="text fLeft pad0"><span id="addr"></span></div>
                                                <div class="text fLeft pad0" id="adcity"></div>
                                                <div class="text fLeft pad0" id="state"></div>
                                            </div>
                                            <div class="mob_icondiv fLeft">
                                                <div class="payOption fLeft">
                                                    <center>
                                                    <div class="col50 pay secureIc">secure payements</div> 
                                                    <div class="col50 pay lifeIc">Life time exchange</div>
                                                    <div class="col50 pay certiIc">certified jewellery</div>
                                                    </center>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="cnclSbmt fLeft bolder webCheck_btn">
                                        <center>
    <!--
                                            <div class="col50 fLeft"><div class="actBtn button mar0" id="smryBack">Back</div></div>

                                            <div class="col50 fLeft"><div class="actBtn button mar0">Back</div></div>-->

                                            <div class="col50 fLeft"><div class="actBtn button mar0" id="chck_bak">Back</div></div>
                                            <div class="col50 fRight"><div class="actBtn button mar0" id="submt">PROCEED TO PAYMENT</div></div>
                                        </center>
                                    </div>
<!--                                    <div class="mob_submit fLeft checkout_before">
                                        <div class="col50 actBtn button" id="chck_bak">
                                           BACK
                                        </div>
                                        <div class="col50 actBtn button" id="submt">
                                           PAYMENT
                                        </div>
                                    </div>-->
                                </div>
                            </div>    
                        </div>



                        <!--//black side cont-->
                        <div class="colleCont v2 black mobile_height">

                            <div class="fLeft totalItem txt_center colorfff" id="totitm_chckbefor">
                                <div class="fLeft col100 cart_name light colorfff">Cart Value
                                </div>
                                <div class="fLeft cart_price font35 colorfff"><span class="total_prc font35" id="totprz_chkbfr"></span>

                                </div>

                            </div>
                            <!--                            <div class="fLeft totalItem txt_center">
                                                            <div class="fLeft col100 cart_name light">Your Orders</div>
                                                        </div>-->
                            <div class="col100 fLeft dn" id="noprdinchkotbefr">
                                <center>
                                    <div class="cartEmptyImg"></div>
                                    <div class="noOrdTxt">
                                        <div class="fooH mar0 color666">No Items</div>
                                        <div class="font13">Sorry,you have not added anything in your shopping bag</div>
                                    </div>
                                    <div class="col100">
                                        <div class="actBtn button colorfff"  id="cntshpng">continue shopping</div>
                                    </div>
                                </center>
                            </div>
                            <div class="jwlCnt fLeft regular" id="scrollchckbfr">

                                <div id="cartdet">

                                    <!--                                <div class='cart_item' id="cartdet">-->
                                    <!--                                <div class='cart_image'><img src=""></div>
                                                                        <div class="cart_name">chained bangle</div>
                                                                        <div class="cart_desc  fLeft" id='nwwt'>Gold: 150gms | Diamond : 14Ct | Quality : SI-JI;
                                                                            <div class="cart_desc  fLeft">Purity : 14carat</div>
                                                                            <div class='cart_price cartRup15 fLeft'><span class='price_gen'>22000</span></div>
                                                                        </div>-->
                                    <!--                                </div>-->
                                    <!--                                <div class='cart_item'>
                                                                        <div class='cart_image'><img src=""></div>
                                                                        <div class="cart_name">chained bangle</div>
                                                                        <div class="cart_desc  fLeft" id='nwwt'>Gold: 150gms | Diamond : 14Ct | Quality : SI-JI;
                                                                            <div class="cart_desc  fLeft">Purity : 14carat</div>
                                                                            <div class='cart_price cartRup15 fLeft'><span class='price_gen'>22000</span></div>
                                                                        </div>

                                                                    </div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <?php include 'footer.html'?>
        </div>
        <div class="mBtns transition600 checkout_before fLeft pad0">
            <div class="col50 actBtn button fLeft" id="backto_chek">
               BACK
            </div>
             <div class="col50 actBtn button fRight" id="proceed_payment">
               PAYMENT
            </div>
        </div>
    </div>



<!--    <div class="checkFoo fLeft">
        <div class="cartBox fLeft pad25">
            <div class="cartHd helpIc fLeft"></div>
            <div class="cartTxt font12 fLeft">Need help ?</div>

            <div class="infoTxt jzevaColor fLeft font18 pad0">9988556622</div>
            <div class="infoTxt font11 fLeft">(Monday - friday 10AM to 10PM IST | saturday 10AM-6:30PM IST)</div>
            <div class="fLeft cartTxt pBtm0 font11">OR email the concierge</div>
            <div class="font11 infoTxt jzevaColor fLeft txtLower">care@jzeva.com</div>

        </div>
        <div class="cartBox fLeft pad25">
            <div class="cartHd paymentIc fLeft"></div>
            <div class="cartTxt font12 fLeft">payment methods</div>
            <div class="infoTxt font11 fLeft pad0">choose a convenient option to pay for your jewellery</div>
            <div class="optionPay fLeft">
                <center>
                    <img src="frontend/tools/img/icons/c1.jpg" alt="no-image">
                    <img src="frontend/tools/img/icons/c2.jpg" alt="no-image">
                    <img src="frontend/tools/img/icons/c3.jpg" alt="no-image">
                    <img src="frontend/tools/img/icons/c5.jpg" alt="no-image">
                    <img src="frontend/tools/img/icons/c6.jpg" alt="no-image">
                </center>
            </div>
        </div>
        <div class="cartBox fLeft pad25">
            <div class="cartHd shipIc fLeft"></div>
            <div class="cartTxt font12 fLeft">free shipping and warranty</div>
            <div class="pad0  infoTxt font11 fLeft">free rapid and secure delivery</div>
            <div class="infoTxt font11 jzevaColor fLeft">2 YEARS WARRANTY ON ALL PRODUCTS</div>
        </div>
                <center>
                    <div class="col100">
                        <img src="frontend/tools/img/icons/10.jpg" alt="no-image">
                        <img src="frontend/tools/img/icons/02.jpg" alt="no-image">
                        <img src="frontend/tools/img/icons/03.jpg" alt="no-image">
                        <img src="frontend/tools/img/icons/04.jpg" alt="no-image">
                        <img src="frontend/tools/img/icons/05.jpg" alt="no-image">
                    </div>
                </center>
    </div>-->

    <script type="text/javascript" src="<?php echo $jvs['checkoutbefore']; ?>"></script>
    <script type="text/javascript" src="<?php echo $fjvs['Common']; ?>"></script>
    <script type="text/javascript">

    $('#smryBack').click(function(){
       $('#smry').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
    });


    $('.payHelp').click(function () {
        $('body').animate({scrollTop: 1000}, 'slow');
    });
    $('#mob_help').click(function () {
        $('html,body').animate({ scrollTop: $("#need_help").offset().top},'slow');
    });
    $('#scrollchckbfr').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});

    $('.inp_box').focus(function () {
        $(this).closest('.txtB').addClass('focul');
    });

    $('.inp_box').blur(function () {
        var k = $(this).val();
        if (k === "") {
            $(this).closest('.txtB').removeClass('focul');
        }
    });

    $(document).click(function (event) {
        if (!$(event.target).closest('.dropBox').length)
        {
            if ($('.dropBox').find('ul').is(":visible"))
            {
                $('.dropBox').find('ul').slideUp('swing');
                $('.dropBox').removeClass("drop");
            }
        }
    });


//                $(window).load(function () {
//
//                    setTimeout(function () {
//                        load_page();
//                    }, 2000);
//                });
    function load_page() {
        $('body').addClass('over_hide');
        $('.page_loader2').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                $('body').removeClass('over_hide');
            }});
        $('#scrollchckbfr').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
    }

    $('#nxt').click(function () {
        if (validationFlag == 2) {
            // sendotp();
            $('.txt').html('We have sent an OTP via sms to ' + mobileno)

        }
        $('#addOpt').removeClass("dn");
        $('#txtAdd').addClass("dn");
    });
    $('#bck').click(function () {
        $('#txtAdd').removeClass("dn");
        $('#addOpt').addClass("dn");
    });


    //        $('.inp_box').focus(function () {
    //            $(this).closest('.txtB').addClass('focul');
    //        });
    //        $('.inp_box').blur(function () {
    //            var k = $(this).val();
    //            if (k == "") {
    //                $(this).closest('.txtB').removeClass('focul');
    //            }
    //
    //        });


    $('.inp_box').focus(function () {
        $(this).closest('.inp_cont').addClass('focul');
    });
    $('.inp_box').blur(function () {
        var k = $(this).val();
        if (k == "") {
            $(this).closest('.inp_cont').removeClass('focul');
        }

    });
    //          $('#fstup').velocity({opacity: 1,translateY:'0px'}, {delay: 0, duration: 0,display:'block'});
    //            $('#scndup').velocity({opacity:0,translateY:'20px'}, {delay: 0, duration: 0,display:'none'});
    function openfst() {
        $('#fstup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#intscrl').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
    }
    function openfst1() {
        chkouttentrflag = 5;
        $('#fourthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#fstup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        setTimeout(function () {
            $('#shpdmobile').focus();
        }, 500);
    }
    function opnscnd() {
        bakflag = 2;
        chkouttentrflag = 5;
        shipng_id = 0;
        $('#shpdaddrs').val('');
        $('#shpdcity').val('');
        $('#shpdstate').val('');
        $('#shpdpincode').val('');
        $('.txtB ').removeClass('focul');
        $('#fstup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#scndup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('.neadHide').addClass('dn');
    }
    function openThrd() {
        chkouttentrflag = 3;
        $('#fourthup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#thrdup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function openFifth() {
        chkouttentrflag = 2;
        $('#fifthup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fstup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function openSixth() {
        chkouttentrflag = 4;
        $('#sixthup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fifthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function closeThrd() {
        chkouttentrflag = 1;
        $('#fstup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#thrdup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
    }
    function opnfrth() {
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fourthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#intscrl').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
    }
    function mtrmklm() {
        $('#fifthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#thrdup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function lmtmkm() {
        $('#sixthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#thrdup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    $('.entrotppopup').velocity({opacity: 0}, {delay: 0, duration: 0});
    $('.enterotpCnt').velocity({scale: 0, borderRadius: "50%", opacity: 0}, {delay: 0, duration: 0});
    function openotppop() {
        $(".entrotppopup").css("display", "block");
        $('.entrotppopup').velocity({opacity: 1}, {delay: 0, duration: 300, ease: 'swing'});
        $(".enterotpCnt").velocity({scale: 1, borderRadius: "0", opacity: 1}, {delay: 180, duration: 300, ease: 'swing'});
    }
    function closeotppop() {
        $(".entrotppopup").velocity({opacity: 0}, {delay: 0, duration: 200, ease: 'swing'});
        $(".enterotpCnt").velocity({scale: 0, borderRadius: "50%", opacity: 0}, {duration: 200, delay: 0, ease: 'swing'});
        setTimeout(function () {
            $('.entrotppopup').css("display", "none");
        }, 400);

    }
    function dfltscndopn() {
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#thrdup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function dfltscndopn1() {
        $('#scndup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fstup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
        $('#intscrl').niceScroll({cursorcolor: "#000000", touchbehavior: true, cursorwidth: "4px", autohidemode: false, cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
    }


    function bmtm() {
        chkouttentrflag = 1;
        $('#thrdup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fifthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function bmtm1() {
        chkouttentrflag = 1;
        $('#thrdup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#fourthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }
    function bmtm2() {
        $('#fifthup').velocity({translateY: [0, 20], opacity: [1, 0]}, {duration: 300, easing: 'easeInOut', display: 'block'});
        $('#sixthup').velocity({translateY: [-20, 0], opacity: [0, 1]}, {duration: 300, easing: 'easeInOut', display: 'none'});
    }


    $('#pswrd2').keyup(function () {
        var val1 = $('#pswrd1').val();
        var val2 = $('#pswrd2').val();
        var th = $(this);
        if (val1 != "" && val2 != "") {
            if (val1 == val2) {
                contnu_enble = 1;
                passwrd = val1;
                $('.matchIcn1').removeClass('dn');
                $('.unmatchIcn1').addClass('dn');
            }
            //
            else {
                contnu_enble = 0;
                $('.matchIcn1').addClass('dn');
                $('.unmatchIcn1').removeClass('dn');
            }
        } else {
            $('.matchIcn1').addClass('dn');
            $('.unmatchIcn1').addClass('dn');
        }
    });
    $('#pswrd1').keyup(function () {
        var th1 = $(this);
        var th2 = $('#pswrd2');
        if (th1.val() != "" && th2.val() != "") {
            if (th1.val() == "" || th1.val() == 0) {
                $('.matchIcn1').addClass('dn');
            } else {
                contnu_enble = 0;
                $('.matchIcn1').addClass('dn');
            }
        } else {
            $('.matchIcn1').addClass('dn');
        }
    });

//tabs

$('.checkout_details').click(function () {
    $('#selected_address,.dAdrsshdr').css({"display":"block"});
    $('.colleCont.v2.black').css({"display":"none"});
    $('body').scrollTop(0);
});
$('.cart_first').click(function () {
     $('.colleCont.v2.black').css({"display":"block"});
    $('#selected_address,.dAdrsshdr').css({"display":"none"});
     $('body').scrollTop(0);
});
$(window).scroll(function () {
    if ( $(this).width() <= 1024 ) {    
        var win = $(window).scrollTop();
        if (win >= 0) {
            $('.footer').addClass('mBot60');
            $('.backTop').css({'bottom':'80px'});
        } else if (win < 0) {
            $('.footer').removeClass('mBot60');
            $('.backTop').css({'bottom':'2%'});
        }
    }
});
    </script>
