<?php include 'jhead.html' ?>
<body class="">
    <?php include 'Cart.html' ?>
    <?php include 'header.html' ?>
    <div class="wrapper_main fLeft COLLECTIONS bgcolorf0f0">
        <div class="banner1 fLeft fmOsL">
            <div class="bannerTxt fmOsL">Every Promise begins with a ring</div>
        </div>
        <div class="subHead fLeft">
            <div class="maxContr">
                <div class="subCol1 fLeft">
                    <div class="smContr1  fLeft">
                        <div class="subCatDiv ringCol fLeft poR" >
                            <div class="poA colTxt">
                                <div class="fmSansR colr1">WEDDING RING COLLECTIONS FOR MEN</div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR ">
                                            <div class="button button2 btnR transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="bgContr1 fLeft">
                        <div class="subCatDiv2 bangleCol fLeft poR">
                            <div class="poA banglTxt">
                                <div class="fmSansR colr2">DIAMOND BANGLES COLLECTIONS</div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR ">
                                            <div class="button button2 btnB transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="subCol2 fLeft">
                    <div class="bgContr1 fLeft">
                        <div class="subCat fLeft bracLets poR">
                            <div class="poA braceltTxt">
                                <div class="fmSansR colr3">CASUAL BRACELETS COLLECTIONS </div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR ">
                                            <div class="button button2 btnBr transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="smContr1 fLeft">
                        <div class="subCat fLeft earRingcol poR">
                            <div class="poA earRingTxt">
                                <div class="fmSansR colr4">BRIDAL EARRING COLLECTIONS </div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR ">
                                            <div class="button button2 btnEr transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>  
                    </div>   
                </div>
                <div class="subCol1 fLeft">
                    <div class="smContr1 fLeft">
                        <div class="subCatDiv fLeft manalSutra poR" >
                            <div class="poA mngalsTxt">
                                <div class="fmSansR colr5">MANGALSUTRA COLLECTIONS</div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR fRight">
                                            <div class="button button2 btnMs transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="bgContr1 fLeft">
                        <div class="subCatDiv2 neckSet fLeft poR">
                            <div class="poA neckSetTxt">
                                <div class="fmSansR colr6">NECKLACE COLLECTION </div>
                                <div class="buttonPos fLeft">
                                    <center>
                                        <div class="btnContainr  fmOsR ">
                                            <div class="button button2 btnNl transition300 fLeft">SHOP NOW</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>