
<?php include 'jhead.html' ?>
    <body>
        <div class="lmenu4mble trnst-100 transition300">
            <div class="lmnuHdng fLeft">
                <center>
                    <div class="hdrLgo"></div>
                </center>
            </div> 
            <div class="lmnuLIstDv fLeft fmSansR">
                <ul class="ulSabcat ">
                    <li class="liSubCat">JEWELLERY</li>
                    <li class="liSubCat">SOLITARIES</li>
                    <li class="liSubCat">DESIGNER</li>
                    <li class="liSubCat">VINTAGE</li>
                    <li class="liSubCat">BRIDAL</li>
                </ul>
            </div>
        </div>
        <div class="dragTrgt" id="dragTrgt"></div>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="totalCont fLeft">
                    <div class="wrapperMax">
                      <div class="navBar2nd fLeft fmSansR">
                        <div class="homeLogo fLeft"></div>
                        <div class="navStpDiv fLeft">MY ACCOUNT</div>
                        <div class="crss4Mmnu fRight"></div>
                      </div> 
                        <div class="confrmCont fLeft fmSansR">
                            <div class="cnfrmLmenu fLeft">
                                <div class="cnFrmLhDng fLeft">My Jzeva account</div>
                                <div class="lstLmnu fLeft" onclick="tabchange('ordrWrp')" id="oW">Orders</div>
                                <div class="lstLmnu fLeft" onclick="tabchange('savedAddress')" id="sA">My Saved Address</div>
                                <div class="lstLmnu fLeft" onclick="tabchange('wishLst')" id="wL">Wishlist</div>
                                <div class="lstLmnu fLeft">My Reviews</div>
                                <div class="cnFrmLhDng fLeft">My Account Setting</div>
                                 <div class="lstLmnu fLeft" onclick="tabchange('piCont')" id="pC">Personal Info</div>
                                <div class="lstLmnu fLeft"  onclick="tabchange('chngPass')" id="cP">Change Password</div>
                                <div class="lstLmnu fLeft" onclick="tabchange('update_cont')" id="uC">Update Contact</div>
                            </div>
                            <div class="cnfrmRmenu fLeft">
                                <div class="orderWrPR fLeft transition300" id="ordrWrp">
                                <div class="orderAndSrch fLeft">
                                    <div class="mYoRdr fLeft">My Order</div>
                                    <div class="scrChDv fRight">
                                        <div class="icnScrch"></div>
                                        <input type="text" class="cnfrmInptScrch fLeft">
                                    </div>
                                </div>
                                <div class="orderAndSrch fLeft">
                                    <div class="part1Ordr fLeft">Orders</div>
                                    <div class="part2Opnad fLeft">Open Orders</div>
                                    <div class="part2Opnad fLeft">Canceled Orders</div>
                                </div>
                                <div class="totalCnfrmWrp fLeft">
                                <div class="cnfrmIdCnt fLeft">
                                    <span class="spClass1 fLeft">Order Id:</span>
                                    <span class="spClass2 fLeft">Od204765434567</span>
                                    <span class="spClass1 fRight">Delivered 11- Dec-15</span>
                                </div>
                                <div class="cnfrmDtlsDv fLeft">
                                    <div class="ordrDtlsandOptn fLeft">
                                        <div class="ordrImg"></div>
                                        <div class="txtAbtPrdct fLeft">
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="displayTxt fLeft">Joker & witch elegant charmer for women</div>
                                                <div class="displayTxt fLeft"><span style="color:#379496">&#2352; 84,200 - quantity: 1</span></div>
                                                <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spClass4">JZEVA Signature Jewelcrafts Private Limited</span>
                                                </div>
                                                <div class="displayTxt fLeft">Amount Paid: <span style="color:#379496"> Rs. 2205</span></div>
                                                <div class="odBtn fLeft">Order Details</div>
                                                  <div class="odBtn fRight">Invoice</div>
                                            </div>
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="displayTxt fLeft">Your package was delivered</div>
                                                 <div class="displayTxt fLeft">The delivery receipt was signed by Ankur Gala</div>
                                            </div>
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="optnDiv fLeft transition300">Track Order</div>
                                                <div class="optnDiv fLeft transition300">Return or replace item</div>
                                                <div class="optnDiv fLeft transition300">Leave seller feedback</div>
                                                <div class="optnDiv fLeft transition300">Product reviews</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                  <div class="totalCnfrmWrp fLeft">
                                <div class="cnfrmIdCnt fLeft">
                                    <span class="spClass1 fLeft">Order Id:</span>
                                    <span class="spClass2 fLeft">Od204765434567</span>
                                    <span class="spClass1 fRight">Delivered 11- Dec-15</span>
                                </div>
                                <div class="cnfrmDtlsDv fLeft">
                                    <div class="ordrDtlsandOptn fLeft">
                                        <div class="ordrImg"></div>
                                        <div class="txtAbtPrdct fLeft">
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="displayTxt fLeft">Joker & witch elegant charmer for women</div>
                                                <div class="displayTxt fLeft"><span style="color:#379496">&#2352; 84,200 - quantity: 1</span></div>
                                                <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spClass4">JZEVA Signature Jewelcrafts Private Limited</span>
                                                </div>
                                                <div class="displayTxt fLeft">Amount Paid: <span style="color:#379496"> Rs. 2205</span></div>
                                                <div class="odBtn fLeft">Order Details</div>
                                                  <div class="odBtn fRight">Invoice</div>
                                            </div>
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="displayTxt fLeft">Your package was delivered</div>
                                                 <div class="displayTxt fLeft">The delivery receipt was signed by Ankur Gala</div>
                                            </div>
                                            <div class="cnfrmpTxt1 fLeft">
                                                <div class="optnDiv fLeft transition300">Track Order</div>
                                                <div class="optnDiv fLeft transition300">Return or replace item</div>
                                                <div class="optnDiv fLeft transition300">Leave seller feedback</div>
                                                <div class="optnDiv fLeft transition300">Product reviews</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                                <div class="wishLstCnt fLeft fmSansR dn" id="wishLst">
                                    <div class="wishLstHdng fLeft">
                                        <div class="hdngTxtWsh fLeft">Wish List</div>
                                    </div>
                                    <div class="abtWshLst fLeft">simply dummy text of the printing and typesetting industry.</div>
                                    <div class="wishLstadvWrp fLeft">
                                        <div class="wishLstDvsn fLeft">
                                            <div class="showWishLST fLeft">
                                                <div class="wishLstIMG"></div>
                                                <div class="abtWishLST fLeft">
                                                    <div class="displayTxt fLeft">Joker & witch elegant charmer for women</div>
                                                     <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spClass4">JZEVA Signature Jewelcrafts Private Limited</span>
                                                </div>
                                                      <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spnPrce">&#2352; 84200</span>
                                                </div>
                                                    <div class="btnDvwishLst fLeft">
                                                     <div class="odBtn fLeft">ADD TO CART</div>
                                                  <div class="odBtn fRight">REMOVE</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="wishLstDvsn1 fLeft">
                                            <div class="showWishLST fLeft">
                                                <div class="wishLstIMG"></div>
                                                <div class="abtWishLST fLeft">
                                                    <div class="displayTxt fLeft">Joker & witch elegant charmer for women</div>
                                                     <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spClass4">JZEVA Signature Jewelcrafts Private Limited</span>
                                                </div>
                                                      <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spnPrce">&#2352; 84200</span>
                                                </div>
                                                    <div class="btnDvwishLst fLeft">
                                                     <div class="odBtn fLeft">ADD TO CART</div>
                                                  <div class="odBtn fRight">REMOVE</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="wishLstDvsn fLeft">
                                            <div class="showWishLST fLeft">
                                                <div class="wishLstIMG"></div>
                                                <div class="abtWishLST fLeft">
                                                    <div class="displayTxt fLeft">Joker & witch elegant charmer for women</div>
                                                     <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spClass4">JZEVA Signature Jewelcrafts Private Limited</span>
                                                </div>
                                                      <div class="displayTxt fLeft">
                                                    <span class="spClass3 fLeft">Seller:</span>
                                                    <span class="fLeft spnPrce">&#2352; 84200</span>
                                                </div>
                                                    <div class="btnDvwishLst fLeft">
                                                     <div class="odBtn fLeft">ADD TO CART</div>
                                                  <div class="odBtn fRight">REMOVE</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="savedAddCnt fLeft dn" id="savedAddress">
                                     <div class="wishLstHdng fLeft">
                                        <div class="hdngTxtWsh fLeft">Saved Address</div>
                                    </div>
                                    <div class="abtWshLst fLeft">simply dummy text of the printing and typesetting industry.</div>
                                    <div class="savedAdrssCnt fLeft">
                                        <div class="savedAdrssWrp fLeft">
                                            <div class="address1 fLeft">Address 1:</div>
                                            <div class="SavedAddBx fLeft">
                                                <div class="inSdeTxt fLeft">Alissa White-Gluz</div>
                                                 <div class="inSdeTxt fLeft">41/3, Kappil Beach, Udma West (P.O.),Paalakunnu,</div>
                                                 <div class="inSdeTxt fLeft">Kasaragod District, Mahatma Gandhi Road,</div>
                                                 <div class="inSdeTxt fLeft">Bangalore, Karnataka - 560 100, India ,</div>
                                            </div>
                                            <div class="editDltOptnDv fLeft"> 
                                                <div class="chckDV4Sad fLeft">
                                                     <input type="radio" name="Default address" id="Defaultaddress"  class="filled-in" value="Default address">
                                                <label for="Defaultaddress">Default address</label>
                                                </div>
                                                <div class="editSAD fRight"></div> 
                                                <div class="rmvSAD fRight"></div>
                                            </div>
                                        </div>
                                          <div class="savedAdrssWrp1 fLeft">
                                            <div class="address1 fLeft">Address 2:</div>
                                            <div class="SavedAddBx fLeft">
                                                <div class="inSdeTxt fLeft">Alissa White-Gluz</div>
                                                 <div class="inSdeTxt fLeft">41/3, Kappil Beach, Udma West (P.O.),Paalakunnu,</div>
                                                 <div class="inSdeTxt fLeft">Kasaragod District, Mahatma Gandhi Road,</div>
                                                 <div class="inSdeTxt fLeft">Bangalore, Karnataka - 560 100, India ,</div>
                                            </div>
                                             <div class="editDltOptnDv fLeft"> 
                                                <div class="chckDV4Sad fLeft">
                                                     <input type="radio" name="Default address1" id="Defaultaddress1"  class="filled-in" value="Default address">
                                                <label for="Defaultaddress1">Default address</label>
                                                </div>
                                                <div class="editSAD fRight"></div> 
                                                <div class="rmvSAD fRight"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="personalInfoCnt fLeft dn" id="piCont">
                                    <div class="wishLstHdng fLeft">
                                        <div class="hdngTxtWsh fLeft">Personal Info</div>
                                    </div>
                                    <div class="abtWshLst fLeft">simply dummy text of the printing and typesetting industry.</div>
                                    <div class="piWrapp fLeft">
                                    <div class="pInfoLft fLeft">
                                      <div class="input ">
                                            <input class="input__field" type="text" id="f_n" />
                                            <label class="input__label  " for="f_n">
                                              <span class="input__label-content ">First Name</span>
                                            </label>
                                      </div>
                                     <div class="input ">
                                            <input class="input__field" type="text" id="l_n" />
                                            <label class="input__label  " for="l_n">
                                              <span class="input__label-content ">Last Name</span>
                                            </label>
                                      </div>
                                         <div class="mrtlStsdv fLeft">Marital Status:</div>
                                    <div class="editDltOptnDv fLeft"> 
                                     <div class="chckDV4Sad fLeft">
                                          <input type="radio" name="mstatus" id="single"  class="filled-in" value="single">
                                           <label for="single">Single</label>
                                       </div>
                                        <div class="chckDV4Sad fLeft">
                                          <input type="radio" name="mstatus" id="Married"  class="filled-in" value="Married">
                                           <label for="Married">Married</label>
                                       </div>
                                    </div>
                                         <div class="aniversry fLeft">Anniversary:</div>
                                        
                                            <div  class="ddtxt fLeft">
                                                  <div class="input ">
                                                    <input class="input__field" type="text" id="input-22" />
                                                    <label class="input__label  " for="input-22">
                                                      <span class="input__label-content ">DD</span>
                                                    </label>
                                                  </div>
                                                </div>
                                                <div class="ddtxt fLeft">  <div class="input ">
                                                    <input class="input__field" type="text" id="input-23" />
                                                    <label class="input__label  " for="input-23">
                                                      <span class="input__label-content ">MM</span>
                                                    </label>
                                                  </div></div>
                                                <div class="yrTxt fLeft" >
                                                  <div class="input ">
                                                    <input class="input__field" type="text" id="input-24" />
                                                    <label class="input__label  " for="input-24">
                                                      <span class="input__label-content ">YY</span>
                                                    </label>
                                                  </div>
                                                </div>
                                    </div>
                                    <div class="pInfoRght fLeft">
                                         <div class="mrtlStsdv fLeft">Gender:</div>
                                         <div class="genderSdiv fLeft"> 
                                     <div class="chckDV4Sad fLeft">
                                          <input type="radio" name="Gender" id="Male"  class="filled-in" value="Male">
                                           <label for="Male">Male</label>
                                       </div>
                                        <div class="chckDV4Sad fLeft">
                                          <input type="radio" name="Gender" id="Female"  class="filled-in" value="Female">
                                           <label for="Female">Female</label>
                                       </div>
                                    </div>
                                         <div class="aniversry fLeft">Date of Birth</div>
                                          <div  class="ddtxt fLeft">
                                                  <div class="input ">
                                                    <input class="input__field" type="text" id="input-22" />
                                                    <label class="input__label  " for="input-22">
                                                      <span class="input__label-content ">DD</span>
                                                    </label>
                                                  </div>
                                                </div>
                                                <div class="ddtxt fLeft">  <div class="input ">
                                                    <input class="input__field" type="text" id="input-23" />
                                                    <label class="input__label  " for="input-23">
                                                      <span class="input__label-content ">MM</span>
                                                    </label>
                                                  </div></div>
                                                <div class="yrTxt fLeft" >
                                                  <div class="input ">
                                                    <input class="input__field" type="text" id="input-24" />
                                                    <label class="input__label  " for="input-24">
                                                      <span class="input__label-content ">YY</span>
                                                    </label>
                                                  </div>
                                                </div>
                                    </div>
                                </div>
                                    <div class="pInfoCSdv fLeft">
                                             <div class="PinfoCbtn fLeft">CANCEL</div>
                                             <div class="PinfoCbtn1 fRight"> SUBMIT</div>
                                         </div>
                                </div>
                                
                                <div class="chngePassCnt fLeft dn" id="chngPass">
                                   <div class="wishLstHdng fLeft">
                                        <div class="hdngTxtWsh fLeft">Change Password</div>
                                    </div>
                                    <div class="abtWshLst fLeft">simply dummy text of the printing and typesetting industry.</div>
                                    <div class="piWrapp fLeft">
                                    <div class="pInfoLft fLeft">
                                         <div class="input ">
                                            <input class="input__field" type="text" id="o_p" />
                                            <label class="input__label  " for="o_p">
                                              <span class="input__label-content ">Old Password</span>
                                            </label>
                                         </div>
                                          <div class="input ">
                                            <input class="input__field" type="text" id="n_p" />
                                            <label class="input__label  " for="n_p">
                                              <span class="input__label-content ">New Password</span>
                                            </label>
                                        </div>
                                        <div class="input ">
                                            <input class="input__field" type="text" id="r_t_p" />
                                            <label class="input__label  " for="r_t_p">
                                              <span class="input__label-content ">Re-type Password</span>
                                            </label>
                                      </div>
                                    </div>
                                </div>
                                      <div class="pInfoCSdv fLeft">
                                             <div class="PinfoCbtn fLeft">CANCEL</div>
                                             <div class="PinfoCbtn1 fRight"> SUBMIT</div>
                                         </div>  
                                </div>
                                  <div class="chngePassCnt fLeft dn" id="update_cont">
                                   <div class="wishLstHdng fLeft">
                                        <div class="hdngTxtWsh fLeft">Update Contact</div>
                                    </div>
                                    <div class="abtWshLst fLeft">simply dummy text of the printing and typesetting industry.</div>
                                    <div class="piWrapp fLeft">
                                    <div class="pInfoLft fLeft">
                                         <div class="input ">
                                            <input class="input__field" type="text" id="e_a" />
                                            <label class="input__label  " for="l_n">
                                              <span class="input__label-content ">Email Address</span>
                                            </label>
                                        </div>
                                         <div class="input ">
                                            <input class="input__field" type="text" id="a_e_a" />
                                            <label class="input__label  " for="a_e_a">
                                              <span class="input__label-content ">Alternative Email</span>
                                            </label>
                                        </div>
                                         <div class="input ">
                                            <input class="input__field" type="text" id="p_n" />
                                            <label class="input__label  " for="p_n">
                                              <span class="input__label-content ">Phone Number</span>
                                            </label>
                                      </div>
                                    </div>
                                  </div>
                                     <div class="pInfoCSdv fLeft">
                                             <div class="PinfoCbtn fLeft">CANCEL</div>
                                             <div class="PinfoCbtn1 fRight"> SUBMIT</div>
                                         </div>
                                </div>
                                
                            </div>
                        </div> 
                    </div>
                </div>
                 <?php include 'jFooter.html'; ?>
            </div>
        </div>
        <script>
             $(document).ready(function(){
                $("#dragTrgt").click(function(){
         $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    });
    // $(".navLst").click(function(){
      //  var x = $(".navLst").position();
      //  alert(" Left position: " + x.left);
   // });
    //window.onload=(function(){
      //  setTimeout(function(){
      //     $(".navLstDtls1").css("left","-251px"); 
      //  });
    //});
            });
                   function showLeftMenu(flag) {
    if (flag) {
        $('.lmenu4mble').removeClass('trnst-100');
        $('body').addClass('pFixed');
        $('.dragTrgt').css({width: '50%', left: '250px'});

    }
    else {
        $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    }
}
   function tabchange(id) {
            switch (id) {
                case "wishLst":
                    $("#ordrWrp").addClass("dn");
                    $("#wishLst").removeClass("dn");
                     $("#savedAddress").addClass("dn");
                      $("#piCont").addClass("dn");
                       $("#chngPass").addClass("dn");
                         $("#update_cont").addClass("dn");
                    break;
            }
            switch (id) {
                case "ordrWrp":
                    $("#wishLst").addClass("dn");
                    $("#ordrWrp").removeClass("dn");
                     $("#savedAddress").addClass("dn");
                      $("#piCont").addClass("dn");
                       $("#chngPass").addClass("dn");
                         $("#update_cont").addClass("dn");
                    break;
            }
            switch (id) {
                case "savedAddress":
                    $("#wishLst").addClass("dn");
                    $("#ordrWrp").addClass("dn");
                     $("#savedAddress").removeClass("dn");
                      $("#piCont").addClass("dn");
                       $("#chngPass").addClass("dn");
                         $("#update_cont").addClass("dn");
                    break;
            }
             switch (id) {
                case "piCont":
                    $("#wishLst").addClass("dn");
                    $("#ordrWrp").addClass("dn");
                     $("#savedAddress").addClass("dn");
                     $("#piCont").removeClass("dn");
                     $("#chngPass").addClass("dn");
                       $("#update_cont").addClass("dn");
                    break;
            }
            switch (id) {
                case "chngPass":
                    $("#wishLst").addClass("dn");
                    $("#ordrWrp").addClass("dn");
                     $("#savedAddress").addClass("dn");
                     $("#piCont").addClass("dn");
                      $("#chngPass").removeClass("dn");
                       $("#update_cont").addClass("dn");
                    break;
            }
              switch (id) {
                case "update_cont":
                    $("#wishLst").addClass("dn");
                    $("#ordrWrp").addClass("dn");
                     $("#savedAddress").addClass("dn");
                     $("#piCont").addClass("dn");
                      $("#chngPass").addClass("dn");
                       $("#update_cont").removeClass("dn");
                    break;
            }
        }
         var input_selector = 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=search], textarea, input[type=radio]';

        var input_hidden = 'input[type=hidden]';

         $('.input__field').focus(function(){
            $(this).closest('.input').addClass('input--filled');
      });
  $('.input__field').blur(function(){
     var y=$(this).val();
    if(y!=""){
   $(this).closest('.input').addClass('input--filled');
 }
 else{
     $(this).closest('.input').removeClass('input--filled');
 }
  });
//         $('.navLstDtls1').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
//          $('.navLstDtls2').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
//           $('.navLstDtls3').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
//    var mInt;
//    //var scnd;
//    //var third;
//    $('#jwl').bind('mouseenter', function() {
//        clearTimeout(mInt);
//        mInt=setTimeout(function() {
//        $('.navLstDtls1').removeClass('dn');
//            setTimeout(function() {
//                $('.navLstDtls1').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
//                $('.navLstDtls1').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
//
//                },00);
//        },100);
//    });
//    
//    $('#jwl').bind('mouseleave', function() {
//       $('.navLstDtls1').velocity({opacity:"0"},{delay:0,duration:0,easing:"swing"});
//        $('.navLstDtls1').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"swing"});
//        setTimeout(function() {
//            $('.navLstDtls1').addClass('dn');
//        },00);
//    });
//     $('#sol').bind('mouseenter', function() {
//        clearTimeout(mInt);
//        mInt=setTimeout(function() {
//        $('.navLstDtls2').removeClass('dn');
//            setTimeout(function() {
//                $('.navLstDtls2').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
//                $('.navLstDtls2').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
//
//                },00);
//        },100);
//    });
//    
//    $('#sol').bind('mouseleave', function() {
//       $('.navLstDtls2').velocity({opacity:"0"},{delay:0,duration:0,easing:"swing"});
//        $('.navLstDtls2').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"swing"});
//        setTimeout(function() {
//            $('.navLstDtls2').addClass('dn');
//        },00);
//    });
//    $('#fybn').bind('mouseenter', function() {
//        clearTimeout(mInt);
//        mInt=setTimeout(function() {
//        $('.navLstDtls3').removeClass('dn');
//            setTimeout(function() {
//                $('.navLstDtls3').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
//                $('.navLstDtls3').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
//
//                },00);
//        },100);
//    });
//    
//    $('#fybn').bind('mouseleave', function() {
//       $('.navLstDtls3').velocity({opacity:"0"},{delay:0,duration:0,easing:"swing"});
//        $('.navLstDtls3').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"swing"});
//        setTimeout(function() {
//            $('.navLstDtls3').addClass('dn');
//        },00);
//    });

 var mql = window.matchMedia("screen and (min-width: 320px) and (max-width: 479px)");
 var mql1 = window.matchMedia("screen and (min-width: 480px) and (max-width: 767px)");
  $('#ordrWrp').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
   $('#savedAddress').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
   $('#wishLst').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
    $('#piCont').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
     $('#chngPass').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
      $('#update_cont').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
  if (mql.matches){ 
      $("#oW").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.crss4Mmnu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#ordrWrp').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#ordrWrp').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#sA").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#savedAddress').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#savedAddress').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
        $("#wL").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#wishLst').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#wishLst').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#pC").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#piCont').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#piCont').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#cP").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#chngPass').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#chngPass').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
        $("#uC").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#update_cont').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#update_cont').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
 }
 if (mql1.matches){ 
      $("#oW").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.crss4Mmnu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#ordrWrp').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#ordrWrp').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#sA").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#savedAddress').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#savedAddress').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
        $("#wL").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#wishLst').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#wishLst').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#pC").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#piCont').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#piCont').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
         $("#cP").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#chngPass').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#chngPass').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
        $("#uC").click(function(){
    setTimeout(function() {
         $('.cnfrmRmenu').css('display','block');
         $('.cnfrmLmenu').css('display','none');
          $('.crss4Mmnu').css('display','block');
          $('.cnfrmLmenu').velocity({translateX:"-110%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#update_cont').velocity({display:"block"},{delay:30,duration:100,easing:"swing"});
                $('#update_cont').velocity({translateX:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },50);
        });
 }
 else{
 $('#ordrWrp').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
  $('#savedAddress').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
   $('#wishLst').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
    $('#piCont').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
    $('#chngPass').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
     $('#update_cont').velocity({translateX: "0%",display:"block"}, {delay: 0, duration: 0});
  $('.cnfrmLmenu').css('display','block');
   $('.crss4Mmnu').css('display','none');
 }
 $(".crss4Mmnu").click(function(){
      setTimeout(function() {
         $('.cnfrmRmenu').css('display','none');
         $('.cnfrmLmenu').css('display','block');
         $('.crss4Mmnu').css('display','none');
          $('.cnfrmLmenu').velocity({translateX:"0%"},{queue: false,delay:00,duration:200,easing:"swing"});
            setTimeout(function() {
                $('#ordrWrp').velocity({display:"none"},{delay:30,duration:100,easing:"swing"});
                $('#ordrWrp').velocity({translateX:"110%"},{queue: false,delay:00,duration:200,easing:"swing"});
                 $('#savedAddress').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
                  $('#wishLst').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
                   $('#piCont').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
                   $('#chngPass').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
                    $('#update_cont').velocity({translateX: "110%",display:"none"}, {delay: 0, duration: 0});
                },00);
        },50);
       
 });
       
        </script>
    </body>
    </html>
