
<?php include 'jhead.html' ?>
    <body>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="totalCont fLeft">
                    <div class="wrapperMax">
                      <div class="navBar2nd fLeft fmSansR">
                        <div class="homeLogo fLeft"></div>
                        <div class="navStpDiv fLeft">MY ACCOUNT</div>
                      </div> 
                        
                    </div>
                </div>
                 <?php include 'jFooter.html'; ?>
            </div>
        </div>
    </body>
    </html>
