<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
     <?php include 'loader.html'?>
    <?php include 'header.html'?>
     <?php include 'login.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">contact us</div>
    </div>
    <div class="wrapper_main  fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <center class="fLeft">
                        <div class="contactH fLeft">Got a question about jewellery?</div>
                        <div class="fLeft contOuter contactH2 font28">Wondering if its too complex, too simple, too big or too small?</div>
                        <div class="fLeft contactDiv">
                            <div class="fLeft contOuter">Well at Jzeva any questions you might have is worth addressing for us, </div>
                            <div class="fLeft contOuter">So stop thinking and call us on</div>
                        </div>
                        <div class="fLeft contOuter semibold font28 pad20">9632581478</div>
                        <div class="fLeft contactDiv pad0">
                            <!-- <div class="fLeft contOuter">and we will do our best to help you out with your queries.</div> -->
                            <div class="fLeft contOuter">If you prefer to email us, you are welcome to write to us at</div>
                        </div>
                        <div class="fLeft contOuter semibold font28 pad20">care@jzeva.com</div>
                        <div class="fLeft contOuter">we promise to revert within 12 Hrs.</div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <?php include 'footer.html'?>
     
    <script>
    function loadComplete(){
      $('.wrapper_max').removeClass('offsetEffects');
    }
        $(document).ready(function () {
          load_page();

        });
    </script>
</body>
