<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms craftBnr">
    <?php include 'Cart.html'?>
     <?php include 'loader.html'?>
    <?php include 'header.html'?>
     <?php include 'login.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">Craftmanship</div>
    </div>
    <div class="wrapper_main fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div class="fLeft tHead"></div>
                        <div class="fLeft pCont">
                        <div class="tCont fLeft">Every piece of art has an inspiration behind it, every dream has an aspiration behind it; like wise each piece of jewellery you find on Jzeva has an inspiration that played its magic on a designer’s mind and the aspiration of our merchandising team to bring you the best piece of jewellery out there.</div>
                        <div class="tCont fLeft">Our production process ensures that each piece of jewellery has the exact finishing and settings that will make it stand out and speaks its story to everybody who sees it. The artisans and craftsmen involved in each step of making Jzeva jewellery have perfected the art of making high quality jewels over decades of time spent in design houses and manufacturing units.</div>
                        <div class="tCont fLeft">When you buy one of our jewellery you can be rest assured that you have invested in a piece of Art.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php include 'footer.html'?>
    <script>
        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(document).ready(function () {
          load_page();
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
//           if(ht-sc<=60){
//           console.log(sc);
//           $('.gemBanner').addClass('fixer');
//       }
//       else{
//            $('.gemBanner').removeClass('fixer');
//       }
        });
    </script>


</body>



