<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">diamond guide</div>
    </div>
    <div class="wrapper_main   fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div class="fLeft tHead">The Kimberly Process</div>
                        <div  class="pCont fLeft">
                            <div class="fLeft tCont">At Jzeva we are 100% committed to ensuring that all our diamonds are sourced ethically with no harm caused to people, society or environment. We ensure that our sourcing happens under strict guidelines as defined in the Kimberley Process.</div>
                            <div class="fLeft tCont">The Kimberley Process (KP) is a joint government, industry and civil society initiative put together to control the rough diamond trade across the world and ensure that the trade doesn’t help finance rebel’s movements against legitimate governments.</div>
                            <div class="fLeft tCont">All diamonds used in Jzeva jewellery are 100% conflict free, hence ensuring that we help you make a responsible purchase. </div>
                        </div>
                    </div>

                    <div class="tCommon fLeft">
                        <div class="fLeft tHead">The 4C's of a Diamond</div>
                        <div  class="pCont fLeft">
                            <div class="fLeft tCont">Need one para here explaining the 4c's of diamond. Please note and give this.</div>
                            <div class="subH semibold fLeft">Carat</div>
                            <div class="fLeft tCont">Carat is the unit of weight used to measure the mass of a diamond. A diamond of 1 Carat is exactly 200 Milligrams (0.2 grams). All else being equal, the price per carat increases with carat weight, since larger diamonds are both rarer and more desirable for use as gemstones.</div>
                            <div class="fLeft tCont">It is worth noting that the price of a diamond does not increase on a linear scale with increases in the carat weight of a diamond. There are various weights above which there is a steep increase in value. For example, 2 diamonds of 1 Carat each might together cost you less than a single diamond of 2 Carats.</div>
                            <div class="subH semibold fLeft">Clarity</div>
                            <div class="fLeft tCont">As everything else in this word, diamonds are not perfect, Diamonds have internal features called inclusions and blemishes. These internal features effect the grading of a diamond giving it a clarity rating ranging from Flawless to Included. </div>
                            <div class="fLeft tCont">Only 20% of the diamonds mined across the world are fit to be used in jewellery the rest are just relegated to industrial use. Having said that, a flawless diamond is so rare that it is possible to spend a lifetime being part of the jewellery industry but never see one. Flawless diamonds command the highest prices. </div>
                            <div class="chartH fLeft">The Diamond grading chart follows the chart below:</div>
                            <div class="dtable fLeft">
                                <div class="drow fLeft">
                                    <div class="rowTxt fLeft">Category</div>
                                    <div class="rowTxt fLeft">Flawless</div>
                                    <div class="rowTxt fLeft">Internally Flawless</div>
                                    <div class="rowTxt fLeft pad3">Very Very Slightly Included</div>
                                    <div class="rowTxt fLeft">Slightly Included</div>
                                    <div class="rowTxt fLeft bNone">Included</div>
                                </div>
                                <div class="drow fLeft bNone">
                                    <div class="rowTxt fLeft">Grade</div>
                                    <div class="rowTxt fLeft">FL</div>
                                    <div class="rowTxt fLeft">IF</div>
                                    <div class="rowTxt fLeft">
                                        <div class='fLeft subRow'>VVS1</div>
                                        <div class='fRight subRow'>VVS2</div>
                                    </div>
                                    <div class="rowTxt fLeft">
                                        <div class='fLeft subRow'>SI1</div>
                                        <div class='fRight subRow'>SI2</div>
                                    </div>
                                    <div class="rowTxt fLeft bNone">Included</div>
                                </div>
                            </div>
                            <div class="fLeft tCont">All else being equal, the price per carat increases with the clarity of the diamond, since diamonds with good clarity are both rarer and more desirable for use as gemstones</div>
                            <div class="subH semibold fLeft">Color</div>
                            <div class="fLeft tCont">Color in the context of measuring a diamonds quality is based on the presence of a faint yellow or brown sting, Diamonds of specific colours like pink, green, blue, black etc are treated separately as fancy diamonds and have different parameters to measure quality.</div>
                            <div class="chartH fLeft">The color of the diamond varies on a scale of D to Z as shown below</div>
                            <div class="fLeft dtable">
                                <div class="fLeft drow">
                                    <div class="letters fLeft">d</div>
                                    <div class="letters fLeft">e</div>
                                    <div class="letters fLeft">f</div>
                                    <div class="letters fLeft">g</div>
                                    <div class="letters fLeft">h</div>
                                    <div class="letters fLeft">i</div>
                                    <div class="letters fLeft">j</div>
                                    <div class="letters fLeft">k</div>
                                    <div class="letters fLeft">l</div>
                                    <div class="letters fLeft">m</div>
                                    <div class="letters fLeft">n</div>
                                    <div class="letters fLeft">o</div>
                                    <div class="letters fLeft">p</div>
                                    <div class="letters fLeft">q</div>
                                    <div class="letters fLeft">r</div>
                                    <div class="letters fLeft">s</div>
                                    <div class="letters fLeft">t</div>
                                    <div class="letters fLeft">u</div>
                                    <div class="letters fLeft">v</div>
                                    <div class="letters fLeft">w</div>
                                    <div class="letters fLeft">x</div>
                                    <div class="letters fLeft">y</div>
                                    <div class="letters fLeft">z</div>
                                </div>
                                <div class="drow fLeft">
                                    <div class="fLeft lettersresult w1">colourless</div>
                                    <div class="fLeft lettersresult w2">near colourless</div>
                                    <div class="fLeft lettersresult w1">faint yellow</div>
                                    <div class="fLeft lettersresult w3">very light yellow</div>
                                    <div class="fLeft lettersresult w4">light yellow</div>
                                </div>
                            </div>
                            <div class="subH semibold fLeft">Cut</div>
                            <div class="fLeft  tCont">Diamond cutting is an art of processing a rough diamond obtained from a mine to making it into a gemstone usable in jewellery. The precision in which a diamond is cut decides how much light it reflects. Cuts are graded as follows:</div>
                            
                            
                            <div class="fLeft points regular subHm">Excellent
                                <span class="tCont fLeft">Cut to the most exacting standards these diamonds will reflect the maximum possible light. The hearts and arrows patterns formed will be the clearest in case of Excellent cut diamonds.</span></div>
                            <div class="fLeft points regular subHm">IDEAL
                                <span class="tCont fLeft">Exquisite quality cut to create the optimal combination of brilliance and fire. Reflects nearly all light that enters the diamond.</span></div>
                            <div class="fLeft points regular subHm">VERY GOOD
                                <span class="tCont fLeft">Superior quality cut that reflects nearly as much light as the ideal cut while at a substantially lower cost. </span></div>
                            <div class="fLeft points regular subHm">GOOD
                                <span class="tCont fLeft">Premium quality cut to optimize the size without hampering quality or beauty. Reflects most light that enters.  </span></div>
                            <div class="fLeft points regular subHm">FAIR
                                <span class="tCont fLeft">Adequate quality cut which reflects some light while maximizing weight. While not as brilliant as a good cut, still a quality diamond. Jzeva doesn’t use Fair cut diamonds in its designs. </span></div>
                            <div class="fLeft points regular subHm">POOR
                                <span class="tCont fLeft">Inadequate quality cut that reflects minimal amount of light. Brilliant Earth does not provide diamonds with cut grades of poor. Jzeva doesn’t use Poor cut diamonds in its designs.</span></div>


                        </div>
                    </div>


                    
                    
                    
                        
                    
                </div>
            </div>
        </div>

    </div>
    <?php include 'footer.html'?>
    <script>
        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
    </script>


</body>

