<!DOCTYPE html>
<?php include 'jhead.html' ?>
     <script>
//            var BWEBROOT='<?php echo BACKWEBROOT?>';
            var DOMAIN ='<?php echo DOMAIN?>';
            var APIDOMAIN ='<?php echo APIDOMAIN?>';
            var IMGDOMAIN='<?php echo IMGDOMAIN ?>';
            var page='<?php echo $page?>';
            
        </script>
<div class="filterConter fLeft">
    <div class="wrapper_max">
        <div class="upSection fLeft">
            <div class="genDiv fLeft">
                <center>
                    <div class="tText fmSansB font15">FOR</div>
                    <div class="gen fmDiv transition300" id="sort1"></div>
                    <div class="gen mmDiv transition300"  id="sort2"></div>
                </center>
            </div>
        </div>
        <div class="col50 fLeft">
            <div class="metalType fLeft">
                <div class="fLeft headTxt fmSansB tUline">METAL TYPE</div>
                <div class="mtlBox fLeft "  onclick="sort()">
                    <center>
                        <div class="mCir fmSansB transition300">14</div>
                        <div class="fmSansB  mText transition300">ALL METALS</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">WHITE GOLD</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">ROSE GOLD</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">PLATINUM</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">SILVER</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">GOLD</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">ALL METALS</div>
                    </center>
                </div>
                <div class="mtlBox fLeft ">
                    <center>
                        <div class="mCir fmSansB transition300" onclick="sort()">14</div>
                        <div class="fmSansB  mText transition300">ALL METALS</div>
                    </center>
                </div>
            </div>
        </div>

        <div class="col50 fLeft">
            <div class="metalType fLeft">
                <div class="fLeft headTxt fmSansB tUline">STONE COLOR</div>
                <div class="ckCont fLeft fmSansR">
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl1" class="filled-in" value="1">
                        <label for="cl1">White</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl2" class="filled-in" value="1">
                        <label for="cl2">Pine</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl3" class="filled-in" value="1">
                        <label for="cl3">Ice Blue</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl4" class="filled-in" value="1">
                        <label for="cl4">Black</label>
                    </div>
                </div>
                <div class="ckCont fLeft fmSansR">
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl5" class="filled-in" value="1">
                        <label for="cl5">Blue</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl6" class="filled-in" value="1">
                        <label for="cl6">Pink</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl7" class="filled-in" value="1">
                        <label for="cl7">Green</label>
                    </div>
                    <div class="checkB fLeft">
                        <input type="checkbox" name="select" id="cl8" class="filled-in" value="1">
                        <label for="cl8">Red</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col50 fLeft">
            <div class="metalType fLeft poR">
                <div class="fLeft headTxt fmSansB tUline ">DIAMOND SHAPE</div>
                <div class="fLeft ringContr">
                    <center>
                        <div class="col100">
                            <div class="diaCont Round transition300"></div>
                            <div class="diaCont Pear transition300"></div>
                            <div class="diaCont Emerald transition300"></div>
                            <div class="diaCont Princess transition300"></div>
                            <div class="diaCont Marquise transition300"></div>
                            <div class="diaCont Oval transition300"></div>
                        </div>
                        <div class="col100 diaSh">
                            <div class="diaCont Cushion transition300"></div>
                            <div class="diaCont Heart transition300"></div>
                            <div class="diaCont Radiant transition300"></div>
                            <div class="diaCont Asscher transition300"></div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="cMoreTxt fmSansB " id="diaSh"><span class="u_line lettSpace">SHOW MORE</span></div>
        </div>
        <div class="col50 fLeft poR">
            <div class="metalType fLeft">
                <div class="fLeft headTxt fmSansB tUline">RING STYLE</div>
                <div class="fLeft ringContr poR">
                    <center>
                        <div class="col100">
                            <div class="ringCont ring1 transition300">SOLITAIRE</div>
                            <div class="ringCont ring2 transition300">PAVE</div>
                            <div class="ringCont ring3 transition300">CHANNEL SET</div>
                            <div class="ringCont ring4 transition300">SIDE STONES</div>
                            <div class="ringCont ring5 transition300">THREE STONE</div>
                        </div>
                        <div class="col100 ringSz">
                            <div class="ringCont ring6 transition300">TENSION</div>
                            <div class="ringCont ring7 transition300">HALO</div>
                            <div class="ringCont ring8 transition300">VINTAGE</div>
                            <div class="ringCont ring9 transition300">WEDDING SETS</div>
                            <div class="ringCont ring10 transition300">UNIQUE</div>
                            <div class="ringCont ring11 transition300">PRONG</div>
                            <div class="ringCont ring12 transition300">FLUSH SET</div>
                            <div class="ringCont ring13 transition300">BEZEL</div>
                            <div class="ringCont ring14 transition300">CLUSTER</div>
                            <div class="ringCont ring15 transition300">INVISIBLE</div>
                            <div class="ringCont ring16 transition300">ILLUSION</div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="cMoreTxt fmSansB" id="ringSz"><span class="u_line lettSpace">SHOW MORE</span></div>
        </div>
        <div class="col100 fLeft ">
            <div class="metalType fLeft poR ">
                <div class="fLeft headTxt fmSansB tUline">GEMSTONES</div>
                <div class="fLeft ringContr">
                    <center>
                        <div class="col100">
                            <div class="gemstone gemstone1">ALEXANDRITE</div>
                            <div class="gemstone gemstone2">AMBER</div>
                            <div class="gemstone gemstone3">AMETHYST</div>
                            <div class="gemstone gemstone4">AMETRINE</div>
                            <div class="gemstone gemstone5">AQUAMARINE</div>
                            <div class="gemstone gemstone6">CITRINE</div>
                            <div class="gemstone gemstone7">DIAMOND</div>
                            <div class="gemstone gemstone8">FANCY COLOR DIAMOND</div>
                        </div>
                        <div class="col100 gemTyp">
                            <div class="gemstone gemstone9">EMERALD</div>
                            <div class="gemstone gemstone10">GARNET</div>
                            <div class="gemstone gemstone11">IOLITE</div>
                            <div class="gemstone gemstone12">JADE</div>
                            <div class="gemstone gemstone13">KUNZITE</div>
                            <div class="gemstone gemstone14">LAPIS LAZULI</div>
                            <div class="gemstone gemstone15">MOON STONE</div>
                            <div class="gemstone gemstone16">MORGANITE</div>
                            <div class="gemstone gemstone17">OPAL</div>
                            <div class="gemstone gemstone18">PEARL</div>
                            <div class="gemstone gemstone19">PERIDOT</div>
                            <div class="gemstone gemstone20">ROSE QUARTZ</div>
                            <div class="gemstone gemstone21">RUBY</div>
                            <div class="gemstone gemstone22">SUPPHIRE</div>
                            <div class="gemstone gemstone23">SPINEL</div>
                            <div class="gemstone gemstone24">SUNSTONE</div>
                            <div class="gemstone gemstone25">TANZANITE</div>
                            <div class="gemstone gemstone26">TOPAZ</div>
                            <div class="gemstone gemstone27">TORMALINE</div>
                            <div class="gemstone gemstone28">TURQUOISE</div>
                            <div class="gemstone gemstone29">ZIRCON</div>
                        </div>
                    </center>
                </div>

            </div>
            <div class="cMoreTxt fmSansB" id="gemTyp"><span class="u_line lettSpace">SHOW MORE</span></div>
        </div>
        <div class="buttonPos fLeft">
            <center>
                <div class="btnContainr  fmOsR padXr5" >
                    <div class="button button2 btnc1 transition300 fLeft">BACK</div>
                </div>
                <div class="btnContainr  fmOsR padXl5" id="nxt">
                    <div class="button button2 btnc1 transition300 fLeft" id="pgrid">APPLY</div>
                </div>
            </center>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.gen').click(function () {
        if ($(this).hasClass('fmDiv')) {
            $(this).addClass('actF');
            $('.gen').removeClass('actM');
        } else if ($(this).hasClass('mmDiv')) {
            $(this).addClass('actM');
            $('.gen').removeClass('actF');
        }
    });

    $('.mtlBox').click(function () {
        $(this).addClass('metal');
        $(this).siblings().removeClass('metal');
    });

    $('.ringCont').click(function () {
        $(this).addClass('ringSel');
        $(this).siblings().removeClass('ringSel');
    });
//    $('.cMoreTxt').click(function () {
//        $(this).prev('div').toggleClass('seeM',1000);
//    });

    var flag = false;
    $('.cMoreTxt').click(function () {
        var readId = $(this).attr("id");
        if ($("." + readId).css('display') ==='none') {
            $("#" + readId).siblings().find("." + readId).slideDown("swing");
            $(this).find('span').text("SHOW LESS");
            
        } else {
            $("#" + readId).siblings().find("." + readId).slideUp("swing");
            $(this).find('span').text("SHOW MORE");
        }
    });




//    var flag = false;
//   
//        var totalThumb = $('.diaCont').size();
//
//        $('.cMoreTxt').click(function () {
//            if (!flag) {
//                $('.ringContr').slideDown(300, 'swing');
//                $(this).find('span').text('Show Less');
//                flag = true;
//            } else {
//                $('.ringContr').each(function (i) {
//                    if (i > 8)
//                        $(this).slideUp(300, 'swing');
//                });
//                $(this).find('span').text('Show More');
//                flag = false;
//            }
//        });




</script>
  <!--<script type="text/javascript" src="<?php echo $jvs['filter']; ?>"></script>-->
  <script type="text/javascript" src="<?php echo $jvs['prodGrid']; ?>"></script>