<div class="helpFooterW fLeft">
    <div class="wrapper_max">
        <div class="fhelpSection fPhone fLeft">
            <div class="fhelpHead">NEED HELP?</div>
            <div class="fhelpPara">
                If you need help  contact us at 9988556622 (Monday - Saturday 10AM-9PM IST) or email the Concierge: care@jzeva.com
            </div>
        </div>
        <div class="fhelpSection fPayment fLeft">
            <div class="fhelpHead">PAYMENT OPTIONS</div>
            <div class="fhelpPara">
                Choose a convenient option to pay for your jewellery from   credit cards, debit cards, net banking, wallets or EMI.
            </div>
        </div>
        <div class="fhelpSection  fShipping fLeft">
            <div class="fhelpHead">FREE SHIPPING AND WARRENTY</div>
            <div class="fhelpPara">
                Free and secure delivery. <br>2 year warranty on all jewellery from JZEVA.
            </div>
        </div>
    </div>
</div>
<div class="footerH fLeft">
    <div class="wrapper_max">
        <div class="footerContent fLeft">
            <div class="footerCont1 fLeft">
                <div class="fooH">assistance</div>
                <div class="col100 fLeft" id="userAccnt">
                    <div class="fooTxt fLeft">my account</div>
                    <!--                    <a  target="_blank" href='<?php echo DOMAIN?>index.php?action=myaccount'><div class="fooTxt fLeft">my account</div></a>-->
                </div>
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=contact'><div class="fooTxt fLeft">contact us</div></a>
                </div>
                <!--                <div class="col100 fLeft">
                                    <div class="fooTxt fLeft">track order</div>
                                </div>-->
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=shipping'><div class="fooTxt fLeft">shipping</div></a>
                </div>
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=randc'><div class="fooTxt fLeft">returns and exchange</div></a>
                </div>
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=warranty'><div class="fooTxt fLeft">warranty and repairs</div></a>
                </div>
            </div>
            <div class="footerCont1 fLeft">
                <div class="fooH">information</div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=tandc'><div class="fooTxt fLeft">terms and condition </div></a>
                </div>
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=privacy'><div class="fooTxt fLeft">privacy policy</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=faq'><div class="fooTxt fLeft">FAQ</div></a>
                </div>
                <!-- <div class="col100 fLeft">
                    <div class="fooTxt fLeft">help</div>
                </div> -->
            </div>
            <div class="footerCont1 fLeft">
                <div class="fooH">jewelopedia</div>
                <div class="col100 fLeft">
                    <a  href='<?php echo DOMAIN?>index.php?action=gemstoneGuideNew'><div class="fooTxt fLeft">gemstone guide</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=diamondguide'><div class="fooTxt fLeft">diamond guide</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=preciousmetalguide'><div class="fooTxt fLeft">precious metal guide</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=jewellerycare'><div class="fooTxt fLeft">jewellery care</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=sizeguide'><div class="fooTxt fLeft">sizing guide</div></a>
                </div>
                <div class="col100 fLeft">
                    <a href='<?php echo DOMAIN?>index.php?action=bangleguide'><div class="fooTxt fLeft">Bangle guide</div></a>
                </div>
            </div>
            <div class="footerCont1 fLeft resHello">
                <div class="fooH">SAY HELLO</div>
                <div class="col100 fLeft bigTxt">
                    <div class="fooTxt fLeft"><span class="font11 bolder">CALL </span> +91 9980051525</div>
                    <div class="fooTxt fLeft"><span class="font11 bolder">E-MAIL </span> care@jzeva.com</div>
                </div>
                <a href="https://www.facebook.com/JzevaLuxury/?fref=ts"><div class="fooTxt fLeft"><span class="font10 bolder">FACEBOOK</span></div></a>
                <!-- <div class="fooTxt fLeft"><span class="font10 bolder">TWITTER</span></div> -->
                <a href="https://www.instagram.com/jzevaluxury/"><div class="fooTxt fLeft"><span class="font10 bolder">INSTAGRAM</span></div></a>
                <a href="https://in.pinterest.com/JzevaLuxury/"><div class="fooTxt fLeft"><span class="font10 bolder">PINTEREST</span></div></a>
            </div>
        </div>
    </div>
</div>
<!-- DOMAIN + "index.php?action=product_page&pid="+ pid; -->
<div class="footer fLeft">©2016 created by xelpmoc.in</div>

<script>
    $('#userAccnt').on('click', function () {
        var userid = common.readFromStorage('jzeva_uid');
        console.log(userid);
        if (userid == null)
        {
            openPopUp();
        } else {
            window.location.href = DOMAIN + "index.php?action=myaccount";
        }
    });


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90567467-1', 'auto');
    ga('send', 'pageview');



</script>
