<div class="footerH fLeft">
      <div class="wrapper_max">
        <div class="footerContent fLeft">
            <div class="footerCont1 fLeft">
                <div class="fooH">assistance</div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">my account</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">contact us</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">track order</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">shipping</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">return and exchange</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">warranty and repairs</div>
                </div>
            </div>
            <div class="footerCont1 fLeft">
                <div class="fooH">information</div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">terms and condition </div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">privacy policy</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">help</div>
                </div>
            </div>
            <div class="footerCont1 fLeft">
                <div class="fooH">jewelopedia</div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">gemstone guide</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">diamond guide</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">precious metal guide</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">jewellery care</div>
                </div>
                <div class="col100 fLeft">
                    <div class="fooTxt fLeft">sizing guide</div>
                </div>
            </div>
            <div class="footerCont1 fLeft">
                <div class="fooH">SAY HELLO</div>
                <div class="col100 fLeft bigTxt">
                    <div class="fooTxt fLeft"><span class="font11 bolder">CALL </span> +91 9980051525</div>
                    <div class="fooTxt fLeft"><span class="font11 bolder">E-MAIL </span> care@jzeva.com</div>
                </div>
                <div class="fooTxt fLeft"><span class="font10 bolder">FACEBOOK</span></div>
                <div class="fooTxt fLeft"><span class="font10 bolder">TWITTER</span></div>
                <div class="fooTxt fLeft"><span class="font10 bolder">INSTAGRAM</span></div>

            </div>
        </div>
      </div>
</div>

        <div class="footer fLeft">©2016 created by xelpmoc.in</div>
