<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body>
    <div class="container1 bgWhite fmSansR gem_desc2 ">
        <div class="wrapper">
            <?php include 'jHeader.html'; ?>
            <div class="wrapperMax_12">
                <div class="totalDiv fLeft marTop15">
                    <div class="catCont">
                        <div class="category">GEM ENCYCLOPEDIA</div>
                        <div class="category">ANALYSIS & GRADING</div>
                        <div class="category">PROFESSIONAL EDUCATION</div>
                        <div class="category">RESEARCH & NEWS</div>
                        <div class="category">ABOUT JZEVA</div>
                    </div> 
                </div>
            </div>
            <div class="info1  first_info">
                <div class="wrapperMax_12">
                    <div class="sideInfo paddTop">
                        <div class="font40 color_96 fmSansB txtCenter">ALEXANDRITE</div>
                        <p class="font15 lineHeight24 txtCenter c666 fmsansR ">Green in sunlight. Red in lamplight. Color-changing alexandrite is nature’s magic trick.</p>
                    </div>
                    <div class="bgContr">
                        <div class="large1 viewDiv"></div>
                        <div class="star plusPos1 dn"></div>
                        <div class="detailDiv">
                            <div class="detailImg1"></div>
                            <div class="fmSansB font13 txtCenter">GREEN BY DAY</div>
                            <p class="fmSansR font12 txtCenter">Alexandrite is bluish green in daylight or fluorescent light.</p>
                        </div>
                        <div class="star plusPos2 dn"></div>
                        <div class="detailDiv2">
                            <div class="detailImg2"></div>
                            <div class="fmSansB font13 txtCenter">RED BY NIGHT</div>
                            <p class="fmSansR font12 txtCenter">Alexandrite is purplish red in incandescent light or candlelight.</p>
                        </div>
                        <div class="star plusPos3 dn"></div>
                        <div class="detailDiv3">
                            <div class="detailImg3"></div>
                            <div class="fmSansB font13 txtCenter">Chrysoberyl Variety</div>
                            <p class="fmSansR font12 txtCenter">Alexandrite is the color-change variety of the mineral chrysoberyl.</p>
                        </div>
                        <div class="largeRough1 viewDiv dn"></div>

                        <div class="fLeft subDiv fmSansB ">SEE GEM BY<div class="btn1 font13 fmSansB transition300 butn" id="polish">POLISHED</div><div class="butn roughBtn fmSansB font13 transition300" id="rgh">ROUGH</div></div>

                    </div>
                    <div class="sideInfo txtCenter paddTop">
                        <div class="detailBtn diamonImg1 cirBtn" id="d1"></div>
                        <br>
                        <div class="detailBtn2 diamonImg2 cirBtn" id="d2"></div>
                    </div>
                </div>
            </div>
            <div class="maxDiv">
                <h3 class="fmSansB font25  txtCenter">OVERVIEW</h3>
                <div class="outerCont">
                    <h2 class="font18 fmSansR ">ABOUT ALEXANDRITE</h2> 
                    <div class="alxdesc1"></div>
                    <p class="fmSansR font15 c666 paraCont">Often described by gem aficionados as “emerald by day, ruby by night,” alexandrite is the very rare color-change variety of the mineral chrysoberyl. Originally discovered in Russia’s Ural Mountains in the 1830s, it’s now found in Sri Lanka, East Africa, and Brazil, but fine material is exceptionally rare and valuable.</p>
                    <h2 class="font18 fmSansR ">BIRTHSTONES & ANNIVERSARIES</h2> 
                    <p class="fmSansR font15 c666 paraCont">Alexandrite is a birthstone for June, along with pearl and moonstone. Alexandrite is also the gem for the 55th wedding anniversary.</p>
                </div>
                <div class="outerCont descDiv">
                    <div class="parts paraCont">
                        <h2 class="fmSansR font25 txtCenter">1830</h2>
                        <p class="fmSansR font15 c666 txtCenter ">The year alexandrite was discovered in Russia’s Ural Mountains.</p>
                    </div>
                    <div class="parts paraCont">
                        <h2 class="fmSansR font25 txtCenter">CZAR ALEXANDER II</h2>
                        <p class="fmSansR font15 c666 txtCenter ">Gem’s namesake who emancipated Russia’s serfs and was assassinated in 1881.</p>
                    </div>
                    <div class="parts paraCont">
                        <h2 class="fmSansR font25 txtCenter">580NM</h2>
                        <p class="fmSansR font15 c666 txtCenter ">This absorption band allows alexandrite to shift from red to green when viewed under different light sources.</p>
                    </div>
                    <div class="parts paraCont">
                        <h2 class="fmSansR font25 txtCenter">FACTS</h2>
                        <p class="fmSansR font12 c666 txtCenter ">
                            <span class="fmSansB">MINERAL:</span> Chrysoberyl<br>
                            <span class="fmSansB">CHEMISTRY:</span> BeAl2O4<br>
                            <span class="fmSansB">COLOR:</span>  Bluish green in daylight, purplish red in incandescent light<br>
                            <span class="fmSansB">REFRACTIVE INDEX:</span> 1.746 to 1.755<br>
                            <span class="fmSansB">BIREFRINGENCE:</span> 0.008 to 0.010<br>
                            <span class="fmSansB">SPECIFIC GRAVITY:</span> 3.73<br>
                            <span class="fmSansB">MOHS HARDNESS:</span> 8.5<br>
                        </p>
                    </div>
                </div>
                <div class="outerCont">
                    <h2 class="font18 fmSansR">WHERE IT'S FOUND</h2> 
                    <div class="mapImg"></div>
                    <h2 class="font18 fmSansR ">TREATMENTS</h2> 
                    <p class="fmSansR font15 c666 paraCont">There are a number of processes used to alter the color, apparent clarity, or improve the durability of gems.</p>
                    <h2 class="font18 fmSansR ">SYNTHETICS</h2> 
                    <p class="fmSansR font15 c666 paraCont">Some gemstones have synthetic counterparts that have essentially the same chemical, physical, and optical properties, but are grown by man in a laboratory.</p>
                    <h2 class="font18 fmSansR ">IMITATIONS</h2> 
                    <p class="fmSansR font15 c666 paraCont">Any gem can be imitated—sometimes by man made materials or by natural materials chosen by man to impersonate a particular gem.</p>
                </div>
                <div class="bottomSectn">
                    <div class="topImg"></div>
                    <h3 class="fmSansR txtCenter">WHY WE LOVE THIS GEMSTONE</h3>
                    <div class="subParts txtCenter">
                        <span class="circleSpan">1</span>
                        <div class="fmSansB font15">COLOR CHANGE</div>
                        <p class="fmSansR font12 c666">Making alexandrite change color from green to red is the world’s most fun use of a penlight.</p>
                    </div>
                    <div class="subParts txtCenter">
                        <span class="circleSpan">2</span>
                        <div class="fmSansB font15">LIGHT SOURCE</div>
                        <p class="fmSansR font12 c666">This gem provides dramatic proof of how much the light source affects color in gems.</p>
                    </div>
                    <div class="subParts txtCenter">
                        <span class="circleSpan">3</span>
                        <div class="fmSansB font15">PHENOMENA</div>
                        <p class="fmSansR font12 c666">Alexandrite can show both color change and a cat’s-eye: two phenomena in one gem.</p>
                    </div>
                </div>
                <div class="fmSansB txtCenter font20 subTitle">QUALITY FACTORS</div>
                <div class="subImgDiv">
                    <div class="imgDiv1 gemTitle">COLOR</div> 
                    <p class="fmSansR font13 txtCenter lineHeight24 c666">Fine alexandrite is green to bluish green in daylight and red to purplish red in incandescent light.</p>
                </div>
                <div class="subImgDiv">
                    <div class="imgDiv2 gemTitle">CLARITY</div> 
                    <p class="fmSansR font13 txtCenter lineHeight24 c666">Fine alexandrite is green to bluish green in daylight and red to purplish red in incandescent light.</p>
                </div>
                <div class="subImgDiv">
                    <div class="imgDiv3 gemTitle" >CUT</div> 
                    <p class="fmSansR font13 txtCenter lineHeight24 c666">Fine alexandrite is green to bluish green in daylight and red to purplish red in incandescent light.</p>
                </div>
                <div class="subImgDiv">
                    <div class="imgDiv4 gemTitle">CARAT WEIGHT</div> 
                    <p class="fmSansR font13 txtCenter lineHeight24 c666">Fine alexandrite is green to bluish green in daylight and red to purplish red in incandescent light.</p>
                </div>
            </div>
        </div>
        <div class="wrapper fLeft">

            <div class="">
                <?php include 'jfooter.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.butn').click(function () {
            var btn_id = $(this).attr('id');
            if (btn_id === 'polish')
            {
                $('.largeRough1').addClass("dn");
                $('.large1').removeClass("dn");
                $('.btn1').css({'background-color': '#379496'});
                $('.roughBtn').css({'background-color': '#A3E1E2'});
            } else if (btn_id === 'rgh')
            {
                $('.roughBtn').css({'background-color': '#379496'});
                $('.btn1').css({'background-color': '#A3E1E2'});
                $('.large1').addClass("dn");
                $('.largeRough1').removeClass("dn");
                $('.largeRough1').css('display', 'block');
            }
        });
        $('.cirBtn').click(function () {
            var btn_id = $(this).attr('id');
            if (btn_id === 'd1')
            {
                 $('.detailBtn').css({'background-color': '#000'});
                $('.star').addClass("dn");
            } else if (btn_id === 'd2') {
                $('.star').removeClass("dn");
            }
        });
    </script>
</body>
</html>
