<!DOCTYPE html>

<?php include 'jhead.html' ?>
<body>
    <div class="container1 bgWhite fmSansR">
        <div class="wrapper">
            <?php include 'jHeader.html'; ?>
          
                <div class="wrapperMax_12">
                    <div class="totalDiv fLeft marTop15">
                        <div class="catCont">
                            <div class="category">GEM ENCYCLOPEDIA</div>
                            <div class="category">ANALYSIS & GRADING</div>
                            <div class="category">PROFESSIONAL EDUCATION</div>
                            <div class="category">RESEARCH & NEWS</div>
                            <div class="category">ABOUT JZEVA</div>
                        </div> 
                    </div>
                </div>
            
            <div class="maxDiv contr">
                <div class="descTitle fmSansR font35 c666">Garnet Description</div>
                <div class="imgContr"></div>
                <div class="imgTxt fmSansR c666 font13">Most people do not realize garnets come in a wide variety of gem types and colors, with many cutting options.</div>
                <p class="fmsansR c666 font15 lineHeight24">Garnets are a set of closely related minerals that form a group, resulting in gemstones in almost every color. Red garnets have a long history, but modern gem buyers can pick from a rich palette of garnet colors: greens, oranges, pinkish oranges, deeply saturated purplish reds, and even some blues.</p>
                <p class="fmSansR c666 font15 lineHeight24">Demantoid is a rare and famous green garnet, spessartine (also called spessarite) is an orange garnet, and rhodolite is a beautiful purple-red garnet. Garnets can even exhibit the color-change phenomenon similar to the rare gemstone alexandrite.</p>
                <p class="fmSansR c666 font15 lineHeight24">All garnets have essentially the same crystal structure, but they vary in chemical composition. There are more than twenty garnet categories, called species, but only five are commercially important as gems. Those five are pyrope, almandine (also called almandite), spessartine, grossular (grossularite), and andradite. A sixth, uvarovite, is a green garnet that usually occurs as crystals too small to cut. It’s sometimes set as clusters in jewelry. Many garnets are chemical mixtures of two or more garnet species.</p>
                <div class="imgContr2"></div>
                <div class="imgTxt fmSansR c666 font13">Garnets are a group of closely related mineral species with many different color varieties.</div>

            </div>
        </div>
    </div>

</body>
</html>
