<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="greyBg">
    <?php include 'Cart.html' ?>
    <div class="wrapper_main fLeft PRODUCT_GRID2">
        <div class="container2 fmSansR fLeft">
            <?php include 'header.html' ?>
            <div class="fLeft gemBanner"></div>
            <!--                        <div class="wrapperMax_12">-->
            <div class="filterSec fLeft">
                <div class="wrapperMax_12">
                    <div class="btnContainr  fmOsR padXr5" >
                        <div class="button button2 btnc1 transition300 fLeft">ROUGH</div>
                    </div>
                    <div class="btnContainr  fmOsR padXl5" id="nxt">
                        <div class="button button2 btnc1 transition300 fLeft">POLISHED</div>
                    </div>
                </div>
                <!--                                    <div class="fLeft subDiv fmSansB"><div class="button button2 btnc1 transition300 fLeft" id="polish">POLISHED</div><div class="button button2 btnc1 transition300 fLeft" id="rgh">ROUGH</div></div>-->
                <!--                    <div class="fRight subDiv fmOpenB"><input type="text" name="" value=""  placeholder="find a gem" class="searchBar fmsansR font13" id='search'></div>-->
            </div>
            <div class="gemContr" id="polishCont">
                <div class="maxDiv">
                    <div class="gemContrDiv" id="alxImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite1 gemTitle polished">ALEXANDRITE</div></div>
                    <div class="gemContrDiv" id="ambImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite2 gemTitle polished">AMBER</div></div>
                    <div class="gemContrDiv" id="amyImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite3 gemTitle polished">AMETHYST</div></div>
                    <div class="gemContrDiv" id="amtImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite4 gemTitle polished">AMETRINE</div></div>
                    <div class="gemContrDiv" id="aqaImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite5 gemTitle polished">AQUAMARINE</div></div>

                    <div class="gemContrDiv" id="citImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite6 gemTitle polished">CITRINE</div></div>
                    <div class="gemContrDiv" id="diaImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite7 gemTitle polished">DIAMOND</div></div>
                    <div class="gemContrDiv" id="fanImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite8 gemTitle polished">FANCY COLOR DIAMOND</div></div>
                    <div class="gemContrDiv" id="emeImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite9 gemTitle polished">EMERALD</div></div>
                    <div class="gemContrDiv " id="garImg"><div class="border_eff1 transition300 easing"></div><div class="imgHolder1 satellite10 gemTitle polished">GARNET</div></div>

                    <div class="gemContrDiv" id="iolImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite11 gemTitle polished">IOLITE</div></div>
                    <div class="gemContrDiv" id="jadImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite12 gemTitle polished">JADE</div></div>
                    <div class="gemContrDiv" id="kunImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite13 gemTitle polished">KUNZITE</div></div>
                    <div class="gemContrDiv" id="lapImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite14 gemTitle polished">LAPIS LAZULI</div></div>
                    <div class="gemContrDiv" id="mnlImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite15 gemTitle polished">MOON STONE</div></div>

                    <div class="gemContrDiv" id="morImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite16 gemTitle polished">MORGANITE</div></div>
                    <div class="gemContrDiv" id="oplImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite17 gemTitle polished">OPAL</div></div>
                    <div class="gemContrDiv" id="prlImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite18 gemTitle polished">PEARL</div></div>
                    <div class="gemContrDiv" id="pdtImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite19 gemTitle polished">PERIDOT</div></div>
                    <div class="gemContrDiv" id="rosImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite20 gemTitle polished">ROSE QUARTZ</div></div>

                    <div class="gemContrDiv" id="rbyImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite21 gemTitle polished">RUBY</div></div>
                    <div class="gemContrDiv" id="supImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite22 gemTitle polished">SUPPHIRE</div></div>
                    <div class="gemContrDiv" id="spiImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite23 gemTitle polished">SPINEL</div></div>
                    <div class="gemContrDiv" id="sunImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite24 gemTitle polished">SUNSTONE</div></div>
                    <div class="gemContrDiv" id="tanImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite25 gemTitle polished">TANZANITE</div></div>

                    <div class="gemContrDiv" id="topImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite26 gemTitle polished">TOPAZ</div></div>
                    <div class="gemContrDiv" id="torImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite27 gemTitle polished">TORMALINE</div></div>
                    <div class="gemContrDiv" id="turImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite28 gemTitle polished">TURQUOISE</div></div>
                    <div class="gemContrDiv" id="zirImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 satellite29 gemTitle polished">ZIRCON</div></div>
                </div>

            </div>
            <div class="gemContr dn" id="roughCont">
                <div class="maxDiv">
                    <div class="gemContrDiv  " id="ralxImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg1 gemTitle rough ">ALEXANDRITE</div></div>
                    <div class="gemContrDiv  " id="rambImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg2 gemTitle rough ">AMBER</div></div>
                    <div class="gemContrDiv  " id="ramyImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg3 gemTitle rough ">AMETHYST</div></div>
                    <div class="gemContrDiv  " id="ramtImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg4 gemTitle rough ">AMETRINE</div></div>
                    <div class="gemContrDiv  " id="raqaImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg5 gemTitle rough ">AQUAMARINE</div></div>

                    <div class="gemContrDiv  " id="rcitImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg6 gemTitle rough ">CITRINE</div></div>
                    <div class="gemContrDiv  " id="rdiaImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg7 gemTitle rough ">DIAMOND</div></div>
                    <div class="gemContrDiv  " id="rfanImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg8 gemTitle rough ">FANCY COLOR DIAMOND</div></div>
                    <div class="gemContrDiv  " id="remeImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg9 gemTitle rough ">EMERALD</div></div>
                    <div class="gemContrDiv  " id="rgarImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg10 gemTitle rough ">GARNET</div></div>

                    <div class="gemContrDiv  " id="riolImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg11 gemTitle rough ">IOLITE</div></div>
                    <div class="gemContrDiv  " id="rjadImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg12 gemTitle rough ">JADE</div></div>
                    <div class="gemContrDiv  " id="rkunImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg13 gemTitle rough ">KUNZITE</div></div>
                    <div class="gemContrDiv  " id="rlapImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg14 gemTitle rough ">LAPIS LAZULI</div></div>
                    <div class="gemContrDiv  " id="rmnlImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg15 gemTitle rough ">MOON STONE</div></div>

                    <div class="gemContrDiv  " id="rmorImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg16 gemTitle rough ">MORGANITE</div></div>
                    <div class="gemContrDiv  " id="roplImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg17 gemTitle rough ">OPAL</div></div>
                    <div class="gemContrDiv  " id="rprlImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg18 gemTitle rough ">PEARL</div></div>
                    <div class="gemContrDiv  " id="rpdtImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg19 gemTitle rough ">PERIDOT</div></div>
                    <div class="gemContrDiv  " id="rrosImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg20 gemTitle rough ">ROSE QUARTZ</div></div>

                    <div class="gemContrDiv  " id="rrbyImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg21 gemTitle rough ">RUBY</div></div>
                    <div class="gemContrDiv  " id="rsupImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg22 gemTitle rough ">SUPPHIRE</div></div>
                    <div class="gemContrDiv  " id="rspiImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg23 gemTitle rough ">SPINEL</div></div>
                    <div class="gemContrDiv  " id="rsunImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg24 gemTitle rough ">SUNSTONE</div></div>
                    <div class="gemContrDiv  " id="rtanImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg25 gemTitle rough ">TANZANITE</div></div>

                    <div class="gemContrDiv  " id="rtopImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg26 gemTitle rough ">TOPAZ</div></div>
                    <div class="gemContrDiv  " id="rtorImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg27 gemTitle rough ">TORMALINE</div></div>
                    <div class="gemContrDiv  " id="rturImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg28 gemTitle rough ">TURQUOISE</div></div>
                    <div class="gemContrDiv  " id="rzirImg"><div class=" border_eff1 transition300 easing"></div><div class="imgHolder1 roughImg29 gemTitle rough ">ZIRCON</div></div>
                </div>
            </div>
            <!--            </div>-->
        </div>
    </div>
    <script type="text/javascript">

        var lastOpen = "";
        var lastPid = "";
        $('.gemContrDiv').click(function () {
            $('.info1').css("left", "0px");
            var id = $(this).attr('id');
            var pos = ($('#' + id).position());
            var lpos = pos.left;
            $('.border_eff1').css('opacity', '1');
            $('#' + id).children('.border_eff1').addClass('active');
            generateInfo(id);
            $('.info1').css("left", "-=" + lpos + "px");
            $('#' + id + '_info').slideDown("400");
            $('#' + id + '_info').removeClass("dn");
            $("." + id + "_desc").removeClass("dn");
//                $("." + id + "_desc").velocity({translateX:'0px'},3000);
            if (lastOpen !== id)
            {
                $("." + lastOpen + "_desc").addClass("dn");
                $("#" + lastOpen + "_info").slideUp("200");
                $('#' + lastOpen + '_info').addClass("dn");
                $('#' + lastOpen).children('.border_eff1').removeClass('active');
            }
            $(".closeButton").click(function (event) {
                event.stopPropagation();
                $('.info1').slideUp("400");
                $('#' + lastOpen).children('.border_eff1').removeClass('active');
            });
            lastOpen = id;
        });

        $('.butn').click(function () {
            var btn_id = $(this).attr('id');
            if (btn_id === 'polish')
            {
                $('#roughCont').addClass("dn");
                $('#polishCont').removeClass("dn");
                $('.btn1').css({'background-color': '#379496', 'color': '#f0f0f0'});
                $('.btn2').css({'background-color': '#f0f0f0', 'color': '#379496'});
            } else if (btn_id === 'rgh')
            {
                $('.btn2').css({'background-color': '#379496', 'color': '#f0f0f0'});
                $('.btn1').css({'background-color': '#f0f0f0', 'color': '#379496'});
                $('#roughCont').removeClass("dn");
                $('#polishCont').addClass("dn");
            }
        });
        function generateInfo(id)
        {

            var str = "<div class='info1 dn' id='" + id + "_info'>";
            str += "<div class='wrapperMax_12'>";
            str += "<div class = 'closeButton fRight transition300' id = 'close1'></div>";
            str += "<div class = 'sideInfo'>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn alxImg_desc ralxImg_desc desc'> ALEXANDRITE</div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn ambImg_desc rambImg_desc desc'> AMBER </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn amyImg_desc ramyImg_desc desc'>AMETHYST </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn amtImg_desc ramtImg_desc desc'> AMETRINE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn aqaImg_desc raqaImg_desc desc'> AQUAMARINE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn citImg_desc rcitImg_desc desc'> CITRINE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn diaImg_desc rdiaImg_desc desc'> DIAMOND </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn fanImg_desc rfanImg_desc desc'> FANCY COLOR DIAMOND </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn emeImg_desc remeImg_desc desc'> EMERALD </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn garImg_desc rgarImg_desc desc'> GARNET </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn iolImg_desc riolImg_desc desc'> IOLITE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn jadImg_desc rjadImg_desc desc'> JADE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn kunImg_desc rkunImg_desc desc'> KUNZITE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn lapImg_desc rlapImg_desc desc'> LAPIS LAZULI </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn mnlImg_desc rmnlImg_desc desc'> MOONSTONE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn morImg_desc rmorImg_desc desc'> MORGANITE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn oplImg_desc roplImg_desc desc'> OPAL </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn prlImg_desc rprlImg_desc desc'> PEARL </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn pdtImg_desc rpdtImg_desc desc'> PERIDOT </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn rosImg_desc rrosImg_desc desc'> ROSE QUARTZ</div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn rbyImg_desc rrbyImg_desc desc'> RUBY </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn supImg_desc rsupImg_desc desc'> SUPPHIRE</div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn spiImg_desc rspiImg_desc desc'> SPINEL </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn sunImg_desc rsunImg_desc desc'> SUNSTONE</div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn tanImg_desc rtanImg_desc desc'> TANZANITE</div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn topImg_desc rtopImg_desc desc'> TOPAZ </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn torImg_desc rtorImg_desc desc'> TORMALINE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn turImg_desc rturImg_desc desc'> TURQUOISE </div>";
            str += "<div class = 'font40 color_96 fmSansB txtCenter dn zirImg_desc rzirImg_desc desc'> ZIRCON </div>";

            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR alxImg_desc ralxImg_desc dn desc'> Green in sunlight.Red in lamplight.Color - changing alexandrite is nature’s magic trick.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR ambImg_desc rambImg_desc dn desc'> Amber is nature’s time capsule.This fossilized tree resin contains remnants of life on earth millions of years ago.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR amyImg_desc ramyImg_desc dn desc'> The essence of the color purple, amethyst is beautiful enough for crown jewels yet affordable enough for class rings.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR amtImg_desc ramtImg_desc dn desc'> This transparent quartz has colors of both amethyst and citrine, and is called ametrine or amethyst - citrine.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR aqaImg_desc raqaImg_desc dn desc'> Named after seawater, aquamarine’s fresh watery hue is a cool plunge into a refreshing pool.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR citImg_desc rcitImg_desc dn desc'> Citrine is the transparent, pale yellow to brownish orange variety of quartz.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR diaImg_desc rdiaImg_desc dn desc'> Diamonds are among nature’s most precious and beautiful creations</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR fanImg_desc rfanImg_desc dn desc'> Dazzling brilliance.Captivating color.The planet’s most valued gems are fancy color diamonds.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR emeImg_desc remeImg_desc dn desc'> Emerald is the bluish green to green variety of beryl, a mineral species that includes aquamarine.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR garImg_desc rgarImg_desc dn desc'> Garnets are a set of closely related minerals forming a group, with gemstones in almost every color.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR iolImg_desc riolImg_desc dn desc'> According to legend, Vikings used iolite slices to reduce glare when checking the sun’s position.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR jadImg_desc rjadImg_desc dn desc'> Jade is actually two separate gems: nephrite and jadeite.In China, a pierced jade disk is a symbol of heaven.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR kunImg_desc rkunImg_desc dn desc'> Collectors love kunzite for its color range, from delicate pastel pink to intense violetish purple.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR lapImg_desc rlapImg_desc dn desc'> Lapis is a beautiful rock; an aggregate of several minerals, mainly lazurite, calcite, and pyrite.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR mnlImg_desc rmnlImg_desc dn desc'> A ghostly sheen moves under the surface of this feldspar, like moonlight glowing in water.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR morImg_desc rmorImg_desc dn desc'> Morganite is the pink to orange - pink variety of beryl, a mineral that includes emerald and aquamarine.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR oplImg_desc roplImg_desc dn desc'> Fireworks.Jellyfish.Galaxies.Lightning.Opal’s shifting play of kaleidoscopic colors is unlike any other gem.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR prlImg_desc rprlImg_desc dn desc'> Perfect shining spheres.Lustrous baroque forms.Seductive strands, warm to the touch.Pearls are simply and purely organic.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR pdtImg_desc rpdtImg_desc dn desc'> Found in lava, meteorites, and deep in the earth’s mantle, yellow - green peridot is the extreme gem </p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR rosImg_desc rrosImg_desc dn desc'> Rose quartz is a quartz variety that gets its name from its delicate pink color.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR rbyImg_desc rrbyImg_desc dn desc'> Ruby is the most valuable variety of the corundum mineral species, which also includes sapphire.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR supImg_desc rsupImg_desc dn desc'> The name “sapphire” can also apply to any corundum that’s not ruby, another corundum variety.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR spiImg_desc rspiImg_desc dn desc'> The Black Prince’s Ruby.The Timur Ruby.For centuries, spinel, the great imposter, masqueraded as ruby in Europe’s crown jewels.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR sunImg_desc rsunImg_desc dn desc'> Sunstone’s phenomenal varieties show a distinct and lively glitter called aventurescence.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR tanImg_desc rtanImg_desc dn desc'> Lush blue velvet.Rich royal purple.Exotic tanzanite is found in only one place on earth, near majestic Kilimanjaro.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR topImg_desc rtopImg_desc dn desc'> Honey yellow.Fiery orange.Cyclamen pink.Icy blue.In warm or cool tones, topaz is a lustrous and brilliant gem.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR torImg_desc rtorImg_desc dn desc'> Tourmalines have a variety of exciting colors with one of the widest color ranges of any gem.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR turImg_desc rturImg_desc dn desc'> Azure sky, robin’s egg blue: Vivid shades of turquoise define the color that’s named after this gem.</p>";
            str += "<p class = 'font15 lineHeight24 txtCenter c666 fmsansR zirImg_desc rzirImg_desc dn desc'> Zircon is a colorful gem with high refraction and fire that’s unfairly confused with cubic zirconia.</p>";


            str += "</div>";

            str += "<div class = 'large1 alxImg_desc  gemSize dn '></div>";
            str += "<div class = 'large2 ambImg_desc  gemSize dn '></div>";
            str += "<div class = 'large3 amyImg_desc  gemSize dn '></div>";
            str += "<div class = 'large4 amtImg_desc  gemSize dn '></div>";
            str += "<div class = 'large5 aqaImg_desc  gemSize dn '></div>";
            str += "<div class = 'large6 citImg_desc  gemSize dn '></div>";
            str += "<div class = 'large7 diaImg_desc  gemSize dn '></div>";
            str += "<div class = 'large8 fanImg_desc  gemSize dn '></div>";
            str += "<div class = 'large9 emeImg_desc  gemSize dn '></div>";
            str += "<div class = 'large10 garImg_desc gemSize dn '></div>";
            str += "<div class = 'large11 iolImg_desc gemSize dn '></div>";
            str += "<div class = 'large12 jadImg_desc gemSize dn '></div>";
            str += "<div class = 'large13 kunImg_desc gemSize dn '></div>";
            str += "<div class = 'large14 lapImg_desc gemSize dn '></div>";
            str += "<div class = 'large15 mnlImg_desc gemSize dn '></div>";
            str += "<div class = 'large16 morImg_desc gemSize dn '></div>";
            str += "<div class = 'large17 oplImg_desc gemSize dn '></div>";
            str += "<div class = 'large18 prlImg_desc gemSize dn '></div>";
            str += "<div class = 'large19 pdtImg_desc gemSize dn '></div>";
            str += "<div class = 'large20 rosImg_desc gemSize dn '></div>";
            str += "<div class = 'large21 rbyImg_desc gemSize dn '></div>";
            str += "<div class = 'large22 supImg_desc gemSize dn '></div>";
            str += "<div class = 'large23 spiImg_desc gemSize dn '></div>";
            str += "<div class = 'large24 sunImg_desc gemSize dn '></div>";
            str += "<div class = 'large25 tanImg_desc gemSize dn '></div>";
            str += "<div class = 'large26 topImg_desc gemSize dn '></div>";
            str += "<div class = 'large27 torImg_desc gemSize dn '></div>";
            str += "<div class = 'large28 turImg_desc gemSize dn '></div>";
            str += "<div class = 'large29 zirImg_desc gemSize dn '></div>";

            str += "<div class = 'largeRough1 ralxImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough2 rambImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough3 ramyImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough4 ramtImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough5 raqaImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough6 rcitImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough7 rdiaImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough8 rfanImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough9 remeImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough10 rgarImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough11 riolImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough12 rjadImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough13 rkunImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough14 rlapImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough15 rmnlImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough16 rmorImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough17 roplImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough18 rprlImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough19 rpdtImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough20 rrosImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough21 rrbyImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough22 rsupImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough23 rspiImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough24 rsunImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough25 rtanImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough26 rtopImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough27 rtorImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough28 rturImg_desc gemSize dn '></div>";
            str += "<div class = 'largeRough29 rzirImg_desc gemSize dn '></div>";

            str += "<div class = 'sideInfo'><div class = 'fmSansB c666 font12 txtCenter'> THE FACTS </div>";

            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter alxImg_desc ralxImg_desc dn'> It’s the color - change variety of the mineral, chrysoberyl.Bluish green in daylight, purplish red under incandescent light; hard and durable.Top quality examples are rare and valuable.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter ambImg_desc rambImg_desc dn'> Fossilized resin, color of the burnished sun--orange or golden brown.Amber might trap and preserve ancient life, including insects, leaves, even scorpions and occasionally lizards.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter amyImg_desc ramyImg_desc dn'> Ametrine, one of the rarest types of transparent quartz, combines two colors: amethyst’s purple and citrine’s orange - to - yellow, growing together in a single crystal</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter amtImg_desc ramtImg_desc dn'> Purple variety of the mineral quartz, often forms large, six - sided crystals.Fine velvety - colored gems come from African and South American mines.In demand for jewelry at all price points.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter aqaImg_desc raqaImg_desc dn'> Blue to slightly greenish - blue variety of the mineral beryl.Crystals are sometimes big enough to cut fashioned gems of more than 100 carats.Well - formed crystals might make superb mineral specimens.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter citImg_desc rcitImg_desc dn'> Citrine’s color comes from traces of iron.It’s perhaps the most popular and frequently purchased yellow gemstone and an attractive alternative for topaz as well as for yellow sapphire.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter diaImg_desc rdiaImg_desc dn'> This hardest gem of all is made of just one element: carbon.It’s valued for its colorless nature and purity.Most diamonds are primeval—over a billion years old—and form deep within the earth.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter fanImg_desc rfanImg_desc dn'> Fine color diamonds are the most rare and costly of all gemstones.Their ranks include the world’s most famous jewel—the Hope—and the most expensive gem ever auctioned—The Graff Pink. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter emeImg_desc remeImg_desc dn'> The most valued variety of beryl, emerald was once cherished by Spanish conquistadors, Inca kings, Moguls, and pharaohs.Today, fine gems come from Africa, South America, and Central Asia.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter garImg_desc rgarImg_desc dn'> The garnet group of related mineral species offers gems of every hue, including fiery red pyrope, vibrant orange spessartine, and rare intense - green varieties of grossular and andradite.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter iolImg_desc riolImg_desc dn'> Known in the jewelry trade as iolite, this mineral is known as cordierite to geologists and mineralogists.It was named after French mineralogist Pierre Cordier.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter jadImg_desc rjadImg_desc dn'> Prized by civilizations from ancient China to the Aztecs and Mayans of Central America, jade is crafted into objects of stunning artistry. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter kunImg_desc rkunImg_desc dn'> Trace amounts of manganese give this pink to violet variety of spodumene its feminine glow.A relative newcomer to the gemstone stage, kunzite was only confirmed as a unique variety of spodumene in the early part of the twentieth century. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter lapImg_desc rlapImg_desc dn'> Lapis lazuli is treasured for its beautiful deep blue color.Afghanistan is considered the source of the best - quality lapis. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter mnlImg_desc rmnlImg_desc dn'> Feldspar prized for its billowy blue adularescence, caused by light scattering from an intergrowth of microscopic, alternating layers.Favored gem of many Art Nouveau jewelry designers. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter rbyImg_desc rrbyImg_desc dn'> Traces of chromium give this red variety of the mineral corundum its rich color.Long valued by humans of many cultures.In ancient Sanskrit, ruby was called ratnaraj, or “king of precious stones.” </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter supImg_desc rsupImg_desc dn'> Depending on their trace element content, sapphire varieties of the mineral corundum might be blue, yellow, green, orange, pink, purple or even show a six - rayed star if cut as a cabochon. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter spiImg_desc rspiImg_desc dn'> Although frequently confused with ruby, spinel stands on its own merits.Available in a striking array of colors, its long history includes many famous large spinels still in existence. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter sunImg_desc rsunImg_desc dn'> Sunstone, a member of the feldspar group, can be an orthoclase feldspar or a plagioclase feldspar, depending on chemistry.Both can show aventurescence.“Sunstone” applies to the gem’s appearance. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter tanImg_desc rtanImg_desc dn'> Named for Tanzania, the country where it was discovered in 1967, tanzanite is the blue - to - violet or purple variety of the mineral zoisite.It’s become one of the most popular of colored gemstones. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter topImg_desc rtopImg_desc dn'> Colorless topaz treated to blue is a mass - market gem.Fine pink - to - red, purple, or orange gems are one - of - a - kind pieces.Top sources include Ouro Prêto, Brazil, and Russia's Ural Mountains.</p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter torImg_desc rtorImg_desc dn'> Comes in many colors, including the remarkable intense violet - to - blue gems particular to Paraíba, Brazil, and similar blues from Africa.Favorite of mineral collectors. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter turImg_desc rturImg_desc dn'> Ancient peoples from Egypt to Mesoamerica and China treasured this vivid blue gem.It’s a rare phosphate of copper that only forms in the earth’s most dry and barren regions. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter zirImg_desc rzirImg_desc dn'> Optical properties make it bright and lustrous.Best known for its brilliant blue hues also comes in warm autumnal yellows and reddish browns, as well as red and green hues. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter morImg_desc rmorImg_desc dn'> Like its cousins emerald and aquamarine, morganite is a variety of the beryl mineral species.This gem gets its subtle blush when a trace amount of manganese makes its way into morganite’s crystal structure. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter oplImg_desc roplImg_desc dn'> Opal’s microscopic arrays of stacked silica spheres diffract light into a blaze of flashing colors.An opal’s color range and pattern help determine its value. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter prlImg_desc rprlImg_desc dn'> Produced in the bodies of marine and freshwater mollusks naturally or cultured by people with great care.Lustrous, smooth, subtly - colored pearls are jewelry staples, especially as strands. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter pdtImg_desc rpdtImg_desc dn'> Yellow - green gem variety of the mineral olivine.Found as nodules in volcanic rock, occasionally as crystals lining veins in mountains of Myanmar and Pakistan, and occasionally inside meteorites. </p>";
            str += "<p class = 'fmsansR lineHeight24 c666 font15 txtCenter rosImg_desc rrosImg_desc dn'> Microscopic mineral inclusions cause the pink color and translucence of rose quartz.Well shaped, transparent pink quartz crystals are rare. </p>";


            str += "<center><a href = '<?php echo DOMAIN . 'index.php?action=gem_desc2'; ?>'><div class = 'searchBtn fmsansR ripplelink margnTop0'> More About This Stone </div></a></center>";
            str += "<div class = 'font15  color_96 txtCenter fmSansB cursorPointer'>Buyer's Guide</div>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            $('#' + id).append(str);
        }

//        $('#search').keyup(function () {
//            var txt = '';
//            alert(txt);
//        });

    </script>
</body>