<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <?php include 'login.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">gemstone guide</div>
    </div>
    <div class="wrapper_main  fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft index">
                        <div class="ftabWrap fLeft">
                            <div class="ftab_buffer fRight">
                                <div class="ftabB">
                                    <div class="ftab fLeft taba" id="pId">
                                         POLISH
                                    </div>
                                </div>
                                <div class="ftabB">
                                    <div class="ftab fLeft taba" id="rId">
                                       ROUGH 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hideDiv alextrial ruby_st" id="ruby1">
                            <div class="closeGem"></div>
                            <div class="fLeft define" id="def">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Rubies are the most valuable of the corundum mineral species, traces of Chromium give this gemstone its rich red colour. The name ruby is derived from the Latin word Rubeus which means red</div>
                                <div class="fLeft tCont">In Sanskrit this gemstone is refered to as “Ratnaraj” literally translating to the king of gems.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">India</div>
                                <div class="fLeft tCont points">Srilanka</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Thailand</div>
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Ruby is the birthstone of the zodiac Leo and is believed to bestow wealth, status, respect, dignity and the powers of the Sun God upon its wearer.</div>-->
                            </div>
                            <div class="fLeft imgLarge large21"></div>
                            <div class="fLeft detailsImg" id="detail">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 9, its second only to the hardness of a Diamond.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Blood Red</div>
                            </div>
                        </div>
                        <div class="hideDiv ambertrial pearl_st"  id="pearl1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Pearl is the only gemstone that is created by a living organism, they are mostly comprised of calcium carbonate (aragonite) and is the hard layer of nacre, secreted by molluscs such as oysters, Clams or mussels to line the inside of their shells.</div>
                                <div class="fLeft tCont">Pearls are extremely rare in occurance with only 1 pearl foun for every 10,000 oysters collected.</div>
                                <div class="fLeft subHm">Where it is found?</div>
                                <div class="fLeft tCont">Rivers, Seas and Oceans around the world.</div>
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Pearl is the birthstone of the zodiac Cancer and is believed to bring peace, confidence, courage and calmness to the wearer. </div>-->
                            </div>
                            <div class="fLeft imgLarge large18"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a pearl is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">White</div>
                                <div class="fLeft tCont points">Gold</div>
                                <div class="fLeft tCont points">Rainbow</div>
                            </div>
                        </div>
                        <div class="hideDiv amthysttrial redcoral_st" id="redcoral1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Red Corals are the only gems that the exclusively formed in Saltwater bodies, they are usually found on rocks at a depth of 10 – 300 meters. Coral contain a hard skeleton that is composed on Calcium Carbonate which is responsible for the hardness. The Hard Skelton is naturally Matte but can be polished to give it a glossy finish. Owing to its intense and permanent coloration and glossiness, precious coral skeletons have been harvested since antiquity for decorative use.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont">Seas and Oceans across the world, but frequently in the Mediterranean Sea.</div>

                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Red Coral is the birthstone of the zodiac Aries, and is believe to bestow strength, stamina, confidence and good health to its wearer.</div>-->
                            </div>
                            <div class="fLeft imgLarge large3"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a coral is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Red</div>
                                <div class="fLeft tCont points">Pink</div>                                               
                            </div>
                        </div>
                        <div class="hideDiv AMETRINEtrial emerald_st" id="emerald1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Emerald gets its name from the Latin word esmaralda which translates to ‘green gem’. The Green colour of Emerald results due to the presence of traces of Chromium and Vanadium.</div>
                                <div class="fLeft tCont">Emeralds have long been associated with royalty and intrigue, they were one of the earliest mined gems with history of mining dating back to 1300 BC Egypt. The roman Emperor Nero used to watch the gladiator matches through an emerald crystal, thus recording the first use of Sunglasses in History.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">Columbia</div>
                                <div class="fLeft tCont points">India</div>  
                                <div class="fLeft tCont points">Sri Lanka</div>  
                                <div class="fLeft tCont points">Egypt</div>  
                                <div class="fLeft tCont points">Brazil</div>  
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Emeralds are believed to bestow agility, wit, creativity and a very sharp mind upon its wearer.</div>    -->
                            </div>
                            <div class="fLeft imgLarge large9"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness ranging from 7.5-8, emeralds are the third hardest gemstones.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Green</div>
                            </div>
                        </div>
                        <div class="hideDiv AMETRINEtrial sapphires_st" id="sapphires1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Sapphire’s origin of name is highly debated in history, Some historians associate the origin of the name to Latin and old French while some associate it to be derived from Sanskrit. Sapphires are treasured for their antiquity, as one of the very first gems to be cut and polished were Sapphires.</div>
                                <div class="fLeft tCont">Sapphires are predominantly used in two different colours yellow and blue. Sapphires found in India are regarded as premium quality sapphires compared to the ones mined from the rest of the world.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">India</div>  
                                <div class="fLeft tCont points">Sri Lanka</div>  
                                <div class="fLeft tCont points">Myanmar</div> 
                                <!--                            <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Yellow Sapphire is believed to bestow its wearer with wealth, wisdom, spirituality and health.</div>
                                                                <div class="fLeft tCont">Blue Sapphire is believed to bestow its wearer with prosperity, wealth, sharpness of mind and self-confidence.</div>    -->
                            </div>
                            <div class="fLeft imgLarge large22"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 9, sapphires are second only to diamonds in their hardness.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Yellow</div>
                                <div class="fLeft tCont points">Blue</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial coral_st" id="redcoral1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Red Corals are the only gems that the exclusively formed in Saltwater bodies, they are usually found on rocks at a depth of 10 – 300 meters. Coral contain a hard skeleton that is composed on Calcium Carbonate which is responsible for the hardness. The Hard Skelton is naturally Matte but can be polished to give it a glossy finish. Owing to its intense and permanent coloration and glossiness, precious coral skeletons have been harvested since antiquity for decorative use.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont">Seas and Oceans across the world, but frequently in the Mediterranean Sea.</div>
                            </div>
                            <div class="fLeft imgLarge large30"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a coral is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Red</div>
                                <div class="fLeft tCont points">Pink</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial amethyst_st" id="amethyst1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Amethyst is a violet variety of Quartz. The name is derieved from ancuient greek ἀ a- ("not") and μέθυστοςméthystos ("intoxicated") a reference to the belief that the stone guarded its wearer from drunkenness. Amethyst is a semi precious stone, its brilliant colour makes it highly sough after for use in jewelllery. Unlike other stones the value of an Amethyst is not attributed majorly to its carat weight but to the colour displayed.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Zambia</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">Russia</div>
                                <div class="fLeft tCont points">South Korea</div>
                                <div class="fLeft tCont points">India</div>
                                <div class="fLeft tCont points">Austria</div>
                            </div>
                            <div class="fLeft imgLarge large3"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 7, a Amethyst is a moderately hard stone.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Violet</div>
                                <div class="fLeft tCont points">Mauve</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial aquamarine_st" id="aquamarine1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">A variety of Beryl ranging from blue to cyan in colour, Aquamarine is a stone that true its name reflects the freshness and tranquillity of sea water. Before we figured out how to make clear glass, 13th century Italians used Aquamarines to make eye glasses,consequent to the use of beryl eyeglasses were named Brillen in German, bril in Dutch and Briller in Danish. </div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">colombia</div>
                                <div class="fLeft tCont points">USA</div>
                                <div class="fLeft tCont points">Madagascar</div>
                                <div class="fLeft tCont points">Malawi</div>

                            </div>
                            <div class="fLeft imgLarge large5"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 7.5-8, an Aquamarine is as hard as an Emerald</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Deep BLue</div>
                                <div class="fLeft tCont points">Pale Blue</div>
                                <div class="fLeft tCont points">Cyan</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial jade_st" id="jade1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Revered by many ancient civilizations like the Chinese, Aztecs and Manyans, ade is actually two separate gems: nephrite and jadeite. Jade has historical been desired as a precious stone due to its cultural association, Beauty and rarity.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">China</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Gautemala</div>
                                <div class="fLeft tCont points">Italy</div>
                            </div>
                            <div class="fLeft imgLarge large12"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">Jade has a mohs hardness of 6-7, though not too hard the stone is extremely tough and durable.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">White</div>
                                <div class="fLeft tCont points">Green</div>
                                <div class="fLeft tCont points">Lilac</div>
                                <div class="fLeft tCont points">Pink</div>
                                <div class="fLeft tCont points">Brown</div>
                                <div class="fLeft tCont points">Orange</div>
                                <div class="fLeft tCont points">Yellow</div>
                                <div class="fLeft tCont points">Red</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial moonstone_st" id="moonstone1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Capturing human desires due to its beauty for centuries now, the Moonstone gets its name from the moon like sheen its emits. The Romans and Greeks associated Moonstone with their lunar deities and were amongst the first to use it in Jewellery. Moonstone became popular during the Art Nouveau period when French artisans started creating fabulous jewellery using it.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Armenia</div>
                                <div class="fLeft tCont points">Austria</div>
                                <div class="fLeft tCont points">Mexico</div>
                                <div class="fLeft tCont points">Madagascar</div>
                                <div class="fLeft tCont points">Srilanka</div>
                                <div class="fLeft tCont points">India</div>
                            </div>
                            <div class="fLeft imgLarge large15"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">The Moonstone has a Mohs hardness of 6, the layered formation effects the toughness of the stone hence used predominantly in pendants and earrings but avoided in rings. </div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Colourless</div>
                                <div class="fLeft tCont points">Cream</div>
                                <div class="fLeft tCont points">White</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial tanzanite_st" id="tanzanite1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Its takes its name from the only place on earth where it can be found, mount Kilimanjaro in Tanzania. A very popular gemsotone, tanzanite varies form Lush blue velvet to rich royal purple. When artificially heat treated it forms a deep blue colouration and used as a substitute for the much expensive sapphire.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Tanzania</div>
                            </div>
                            <div class="fLeft imgLarge large25"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">Tanzanite has a Mohs Hardness of 6-7, though not too tought, Tanzanite when cut properly can be used in all types of jewellery. </div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Blue</div>
                                <div class="fLeft tCont points">Purple</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial topaz_st" id="topaz1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Though available in many different colours, the honey yellow and fiery orange coloured Topaz are considered to tbe extremely precious. Since it is a pleochoric gem, topaz can show different coulours in different crystal directions.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">Mexico</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Srilanka</div>
                            </div>
                            <div class="fLeft imgLarge large26"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 8, Topaz is one of the hardest gemstones available.</div>
                            </div>
                        </div>
                        
                        <!--rough Details-->
                         <div class="hideDiv alextrial rubyR_st" id="ruby1">
                            <div class="closeGem"></div>
                            <div class="fLeft define" id="def">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Rubies are the bcbdbc most valuable of the corundum mineral species, traces of Chromium give this gemstone its rich red colour. The name ruby is derived from the Latin word Rubeus which means red</div>
                                <div class="fLeft tCont">In Sanskrit this gemstone is refered to as “Ratnaraj” literally translating to the king of gems.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">India</div>
                                <div class="fLeft tCont points">Srilanka</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Thailand</div>
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Ruby is the birthstone of the zodiac Leo and is believed to bestow wealth, status, respect, dignity and the powers of the Sun God upon its wearer.</div>-->
                            </div>
                            <div class="fLeft imgLarge largeRough21"></div>
                            <div class="fLeft detailsImg" id="detail">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 9, its second only to the hardness of a Diamond.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Blood Red</div>
                            </div>
                        </div>
                        <div class="hideDiv ambertrial pearlR_st"  id="pearl1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Pearl is the only gemstone that is created by a living organism, they are mostly comprised of calcium carbonate (aragonite) and is the hard layer of nacre, secreted by molluscs such as oysters, Clams or mussels to line the inside of their shells.</div>
                                <div class="fLeft tCont">Pearls are extremely rare in occurance with only 1 pearl foun for every 10,000 oysters collected.</div>
                                <div class="fLeft subHm">Where it is found?</div>
                                <div class="fLeft tCont">Rivers, Seas and Oceans around the world.</div>
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Pearl is the birthstone of the zodiac Cancer and is believed to bring peace, confidence, courage and calmness to the wearer. </div>-->
                            </div>
                            <div class="fLeft imgLarge largeRough18"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a pearl is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">White</div>
                                <div class="fLeft tCont points">Gold</div>
                                <div class="fLeft tCont points">Rainbow</div>
                            </div>
                        </div>
                        <div class="hideDiv amthysttrial redcoralR_st" id="redcoral1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Red Corals are the only gems that the exclusively formed in Saltwater bodies, they are usually found on rocks at a depth of 10 – 300 meters. Coral contain a hard skeleton that is composed on Calcium Carbonate which is responsible for the hardness. The Hard Skelton is naturally Matte but can be polished to give it a glossy finish. Owing to its intense and permanent coloration and glossiness, precious coral skeletons have been harvested since antiquity for decorative use.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont">Seas and Oceans across the world, but frequently in the Mediterranean Sea.</div>
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Red Coral is the birthstone of the zodiac Aries, and is believe to bestow strength, stamina, confidence and good health to its wearer.</div>-->
                            </div>
                            <div class="fLeft imgLarge largeRough3"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a coral is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Red</div>
                                <div class="fLeft tCont points">Pink</div>                                               
                            </div>
                        </div>
                        <div class="hideDiv AMETRINEtrial emeraldR_st" id="emerald1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Emerald gets its name from the Latin word esmaralda which translates to ‘green gem’. The Green colour of Emerald results due to the presence of traces of Chromium and Vanadium.</div>
                                <div class="fLeft tCont">Emeralds have long been associated with royalty and intrigue, they were one of the earliest mined gems with history of mining dating back to 1300 BC Egypt. The roman Emperor Nero used to watch the gladiator matches through an emerald crystal, thus recording the first use of Sunglasses in History.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">Columbia</div>
                                <div class="fLeft tCont points">India</div>  
                                <div class="fLeft tCont points">Sri Lanka</div>  
                                <div class="fLeft tCont points">Egypt</div>  
                                <div class="fLeft tCont points">Brazil</div>  
                                <!--                                <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Emeralds are believed to bestow agility, wit, creativity and a very sharp mind upon its wearer.</div>    -->
                            </div>
                            <div class="fLeft imgLarge largeRough9"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness ranging from 7.5-8, emeralds are the third hardest gemstones.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Green</div>
                            </div>
                        </div>
                        <div class="hideDiv AMETRINEtrial sapphiresR_st" id="sapphires1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Sapphire’s origin of name is highly debated in history, Some historians associate the origin of the name to Latin and old French while some associate it to be derived from Sanskrit. Sapphires are treasured for their antiquity, as one of the very first gems to be cut and polished were Sapphires.</div>
                                <div class="fLeft tCont">Sapphires are predominantly used in two different colours yellow and blue. Sapphires found in India are regarded as premium quality sapphires compared to the ones mined from the rest of the world.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont points">India</div>  
                                <div class="fLeft tCont points">Sri Lanka</div>  
                                <div class="fLeft tCont points">Myanmar</div> 
                                <!--                            <div class="fLeft subHm">Zodiac</div>
                                                                <div class="fLeft tCont">Yellow Sapphire is believed to bestow its wearer with wealth, wisdom, spirituality and health.</div>
                                                                <div class="fLeft tCont">Blue Sapphire is believed to bestow its wearer with prosperity, wealth, sharpness of mind and self-confidence.</div>    -->
                            </div>
                            <div class="fLeft imgLarge largeRough22"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 9, sapphires are second only to diamonds in their hardness.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Yellow</div>
                                <div class="fLeft tCont points">Blue</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial coralR_st" id="redcoral1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Red Corals are the only gems that the exclusively formed in Saltwater bodies, they are usually found on rocks at a depth of 10 – 300 meters. Coral contain a hard skeleton that is composed on Calcium Carbonate which is responsible for the hardness. The Hard Skelton is naturally Matte but can be polished to give it a glossy finish. Owing to its intense and permanent coloration and glossiness, precious coral skeletons have been harvested since antiquity for decorative use.</div>
                                <div class="fLeft subHm">Where it is found</div>
                                <div class="fLeft tCont">Seas and Oceans across the world, but frequently in the Mediterranean Sea.</div>
                            </div>
                            <div class="fLeft imgLarge largeRough30"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 2.5, a coral is not as strong as the other gems.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Red</div>
                                <div class="fLeft tCont points">Pink</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial amethystR_st" id="amethyst1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Amethyst is a violet variety of Quartz. The name is derieved from ancuient greek ἀ a- ("not") and μέθυστοςméthystos ("intoxicated") a reference to the belief that the stone guarded its wearer from drunkenness. Amethyst is a semi precious stone, its brilliant colour makes it highly sough after for use in jewelllery. Unlike other stones the value of an Amethyst is not attributed majorly to its carat weight but to the colour displayed.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Zambia</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">Russia</div>
                                <div class="fLeft tCont points">South Korea</div>
                                <div class="fLeft tCont points">India</div>
                                <div class="fLeft tCont points">Austria</div>
                            </div>
                            <div class="fLeft imgLarge largeRough3"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 7, a Amethyst is a moderately hard stone.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Violet</div>
                                <div class="fLeft tCont points">Mauve</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial aquamarineR_st" id="aquamarine1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">A variety of Beryl ranging from blue to cyan in colour, Aquamarine is a stone that true its name reflects the freshness and tranquillity of sea water. Before we figured out how to make clear glass, 13th century Italians used Aquamarines to make eye glasses,consequent to the use of beryl eyeglasses were named Brillen in German, bril in Dutch and Briller in Danish. </div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">colombia</div>
                                <div class="fLeft tCont points">USA</div>
                                <div class="fLeft tCont points">Madagascar</div>
                                <div class="fLeft tCont points">Malawi</div>

                            </div>
                            <div class="fLeft imgLarge largeRough5"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs hardness of 7.5-8, an Aquamarine is as hard as an Emerald</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Deep BLue</div>
                                <div class="fLeft tCont points">Pale Blue</div>
                                <div class="fLeft tCont points">Cyan</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial jadeR_st" id="jade1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Revered by many ancient civilizations like the Chinese, Aztecs and Manyans, ade is actually two separate gems: nephrite and jadeite. Jade has historical been desired as a precious stone due to its cultural association, Beauty and rarity.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">China</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Gautemala</div>
                                <div class="fLeft tCont points">Italy</div>
                            </div>
                            <div class="fLeft imgLarge largeRough12"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">Jade has a mohs hardness of 6-7, though not too hard the stone is extremely tough and durable.</div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">White</div>
                                <div class="fLeft tCont points">Green</div>
                                <div class="fLeft tCont points">Lilac</div>
                                <div class="fLeft tCont points">Pink</div>
                                <div class="fLeft tCont points">Brown</div>
                                <div class="fLeft tCont points">Orange</div>
                                <div class="fLeft tCont points">Yellow</div>
                                <div class="fLeft tCont points">Red</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial moonstoneR_st" id="moonstone1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Capturing human desires due to its beauty for centuries now, the Moonstone gets its name from the moon like sheen its emits. The Romans and Greeks associated Moonstone with their lunar deities and were amongst the first to use it in Jewellery. Moonstone became popular during the Art Nouveau period when French artisans started creating fabulous jewellery using it.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Armenia</div>
                                <div class="fLeft tCont points">Austria</div>
                                <div class="fLeft tCont points">Mexico</div>
                                <div class="fLeft tCont points">Madagascar</div>
                                <div class="fLeft tCont points">Srilanka</div>
                                <div class="fLeft tCont points">India</div>
                            </div>
                            <div class="fLeft imgLarge largeRough15"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">The Moonstone has a Mohs hardness of 6, the layered formation effects the toughness of the stone hence used predominantly in pendants and earrings but avoided in rings. </div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Colourless</div>
                                <div class="fLeft tCont points">Cream</div>
                                <div class="fLeft tCont points">White</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial tanzaniteR_st" id="tanzanite1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Its takes its name from the only place on earth where it can be found, mount Kilimanjaro in Tanzania. A very popular gemsotone, tanzanite varies form Lush blue velvet to rich royal purple. When artificially heat treated it forms a deep blue colouration and used as a substitute for the much expensive sapphire.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Tanzania</div>
                            </div>
                            <div class="fLeft imgLarge largeRough25"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">Tanzanite has a Mohs Hardness of 6-7, though not too tought, Tanzanite when cut properly can be used in all types of jewellery. </div>
                                <div class="fLeft subHm">Colour</div>
                                <div class="fLeft tCont points">Blue</div>
                                <div class="fLeft tCont points">Purple</div>
                            </div>
                        </div>

                        <div class="hideDiv AMETRINEtrial topazR_st" id="topaz1">
                            <div class="closeGem"></div>
                            <div class="fLeft define">
                                <div class="fLeft subHm">Facts</div>
                                <div class="fLeft tCont">Though available in many different colours, the honey yellow and fiery orange coloured Topaz are considered to tbe extremely precious. Since it is a pleochoric gem, topaz can show different coulours in different crystal directions.</div>
                                <div class="fLeft subHm">Mined From</div>
                                <div class="fLeft tCont points">Brazil</div>
                                <div class="fLeft tCont points">Mexico</div>
                                <div class="fLeft tCont points">Myanmar</div>
                                <div class="fLeft tCont points">Srilanka</div>
                            </div>
                            <div class="fLeft imgLarge largeRough26"></div>
                            <div class="fLeft detailsImg">
                                <div class="fLeft subHm">Mohs Hardness</div>
                                <div class="fLeft tCont">With a Mohs Hardness of 8, Topaz is one of the hardest gemstones available.</div>
                            </div>
                        </div>


                        <div class="col100 fLeft transition600" id="gemOuter">
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="ruby">
                                    <div class="beforeTry">
                                    </div>
                                    <div class="satellite21 imageCont"></div>
                                    <div class="imgHead fLeft">RUBY</div>
                                </div>
                                <div class="fLeft imageOutr" id="pearl">

                                    <div class="satellite18  imageCont"></div>
                                    <div class="imgHead fLeft">PEARL</div>
                                    <!--<div class="try" id="tryId"></div>-->
                                </div>
                                <div class="fLeft imageOutr" id="emerald">
                                    <div class="satellite9  imageCont"></div>
                                    <div class="imgHead fLeft">EMERALD</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="sapphires">
                                    <div class="satellite22  imageCont"></div>
                                    <div class="imgHead fLeft">SAPPHIREES</div>
                                </div>
                                <div class="fLeft imageOutr" id="coral">
                                    <div class="satellite30 imageCont"></div>
                                    <div class="imgHead fLeft">RED CORAL</div>
                                </div>
                                <div class="fLeft imageOutr" id="amethyst">
                                    <div class="satellite3  imageCont"></div>
                                    <div class="imgHead fLeft">AMETHYST</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="aquamarine">
                                    <div class="satellite5  imageCont"></div>
                                    <div class="imgHead fLeft">AQUAMARINE</div>
                                </div>
                                <div class="fLeft imageOutr" id="jade">
                                    <div class="satellite12  imageCont"></div>
                                    <div class="imgHead fLeft">JADE</div>
                                </div>
                                <div class="fLeft imageOutr" id="moonstone">
                                    <div class="satellite15   imageCont"></div>
                                    <div class="imgHead fLeft">MOONSTONE</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="tanzanite">
                                    <div class="satellite25   imageCont"></div>
                                    <div class="imgHead fLeft">TANZANITE</div>
                                </div>
                                <div class="fLeft imageOutr" id="topaz">
                                    <div class="satellite26   imageCont"></div>
                                    <div class="imgHead fLeft">TOPAZ</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col100 fLeft dn transition600" id="rough">
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="rubyR">
                                    <div class="beforeTry">
                                    </div>
                                    <div class="roughImg21 imageCont"></div>
                                    <div class="imgHead fLeft">RUBY</div>
                                </div>
                                <div class="fLeft imageOutr" id="pearlR">
                                    <div class="roughImg18  imageCont"></div>
                                    <div class="imgHead fLeft">PEARL</div>
                                    <!--<div class="try" id="tryId"></div>-->
                                </div>
                                <div class="fLeft imageOutr" id="emeraldR">
                                    <div class="roughImg9  imageCont"></div>
                                    <div class="imgHead fLeft">EMERALD</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="sapphiresR">
                                    <div class="roughImg22  imageCont"></div>
                                    <div class="imgHead fLeft">SAPPHIREES</div>
                                </div>
                                <div class="fLeft imageOutr" id="coralR">
                                    <div class="roughImg30 imageCont"></div>
                                    <div class="imgHead fLeft">RED CORAL</div>
                                </div>
                                <div class="fLeft imageOutr" id="amethystR">
                                    <div class="roughImg3  imageCont"></div>
                                    <div class="imgHead fLeft">AMETHYST</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="aquamarineR">
                                    <div class="roughImg5  imageCont"></div>
                                    <div class="imgHead fLeft">AQUAMARINE</div>
                                </div>
                                <div class="fLeft imageOutr" id="jadeR">
                                    <div class="roughImg12  imageCont"></div>
                                    <div class="imgHead fLeft">JADE</div>
                                </div>
                                <div class="fLeft imageOutr" id="moonstoneR">
                                    <div class="roughImg15   imageCont"></div>
                                    <div class="imgHead fLeft">MOONSTONE</div>
                                </div>
                            </div>
                            <div class="col100 fLeft">
                                <div class="fLeft imageOutr" id="tanzaniteR">
                                    <div class="roughImg25   imageCont"></div>
                                    <div class="imgHead fLeft">TANZANITE</div>
                                </div>
                                <div class="fLeft imageOutr" id="topazR">
                                    <div class="roughImg26   imageCont"></div>
                                    <div class="imgHead fLeft">TOPAZ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?php include 'footer.html'?>
    <?php include 'loader.html'?>
    <script>
//        $('.hideDiv').velocity({opacity: [0]});
//        $('.imgHead').velocity({opacity: [1]});
//        $('.define').velocity({opacity: 0});
        var fchild;
        $('.imageOutr').click(function () {
            $("body").animate({scrollTop: 200}, 'slow');
            var imgId = $(this).attr("id");
            fchild = $(this).children(':first-child').attr("id");
            $(fchild).addClass("title_eff");
            $('#' + imgId).addClass("title_eff");
            $('.' + imgId + '_st').addClass("hideDivafter");
            //$('.hideDiv').addClass("hideDivafter");
            $(this).parent().parent().addClass("transGem");
            
//            $('.define').velocity({translatY: [0, 20]}, {duration: 400}, {delay: 1500});
//            $('.define').velocity({opacity: [1, 0]}, {duration: 400}, {delay: 1500});
        });

        $('.closeGem').click(function () {
            var imgId = $('.imageOutr').index();
            console.log(imgId);

            $('.imageOutr').removeClass("title_eff");
            fchild = $('.imageOutr').children(':first-child').attr("id");
            $(fchild).removeClass("title_eff");
            $('#' + imgId).removeClass("title_eff");
            $(this).parent().siblings().removeClass("transGem");
//            $('#gemOuter').removeClass("transGem");
            $('.hideDiv').removeClass("hideDivafter");
//             $('.' + imgId + "trial").velocity({opacity: [0, 1]}, {duration: 400, delay: [600]});
//            $('.hideDiv').velocity({width: [0,'90%']}, {duration: [200]});
//            $('.' + imgId + "trial").velocity({height: [0,'300px']}, {duration: [500]});
        });

        function move() {
            var elem = document.getElementById("tryId");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    $('.imgHead').velocity({translateY: [-20, 0]}, {duration: 50});
//                    $('.imgHead').velocity(,{duration:[400]});

                } else {
                    width++;
                    elem.style.width = width + '%';
                }
            }
        }
        function loadComplete() {
            $('.wrapper_max').removeClass('offsetEffects');
        }
        $(document).ready(function () {
            load_page();
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});
            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
        });
        
        $('#pId').click(function(){
         $('#rId').removeClass("bcolofff");
         $(this).addClass("bcolofff");
         $('#gemOuter').removeClass("dn"); 
         $('#rough').addClass("dn");
        });
        $('#rId').click(function(){
         $('#pId').removeClass("bcolofff");
         $(this).removeClass("bcolofff");
                  $('#rough').removeClass("dn"); 
         $('#gemOuter').addClass("dn");
        });
    </script>


</body>
