
    <div class="head_wrap">
        <div class="overlay"></div>
      <div class="overlay2 transition300"></div>
            <div class="header">
              <div class="logo fLeft"></div>
            </div>
          <div class="tabWrap fRight fmSansB">
              <div class="tab_buffer">
              <div class="tabB fLeft">
                <div class="tab fLeft taba">
                   JEWELLERY
                </div>
              </div>
              <div class="tabB fLeft">
                <div class="tab fLeft tabb">
                  COLLECTION
                </div>
              </div>
              <div class="tabB fLeft">
                <div class="tab fLeft tabc">
                  EXCLUSIVE
                </div>
              </div>
              <div class="tabB fLeft">
                <div class="tab fLeft tabd">
                  MAISON
                </div>
              </div>
              <div class="tabB fLeft">
                <div class="tab fLeft tabe">
                  GIFTS
                </div>
              </div>
              </div>
            <div class="menu_wrap">
              <div class="menuB">
               <div class="menu_elm fmOsR">
                  <div class="col33 fLeft fmOsR">
                    <div class="menu_head fmOsR">Cartier Diamonds</div>
                    <div class="menu_list">Cartier Diamonds</div>
                    <div class="menu_list">Cartier Royal</div>
                    <div class="menu_list">Étourdissant Cartier</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Amulette de Cartier</div>
                    <div class="menu_list">Panthère de Cartier</div>
                    <div class="menu_list">Paris Nouvelle Vague</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Trinity de Cartier</div>
                    <div class="menu_list">Juste un Clou</div>
                    <div class="menu_list">Jewelry for men</div>
                  </div>
               </div>
               <div class="menu_elm fmOsR">
                  <div class="col33 fLeft">
                        <div class="menu_head fmOsR">Zwei Diamonds</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Earrings</div>
                    <div class="menu_list">Wedding Bands</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
               </div>
               <div class="menu_elm fmOsR">
                  <div class="col33 fLeft">
                    <div class="menu_head fmOsR">Drei Diamonds</div>
                    <div class="menu_list">Earrings</div>
                    <div class="menu_list">Wedding Bands</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
               </div>
               <div class="menu_elm fmOsR">
                  <div class="col33 fLeft">
                    <div class="menu_head fmOsR">Vier Diamonds</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Earrings</div>
                    <div class="menu_list">Wedding Bands</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
               </div>
               <div class="menu_elm fmOsR">
                  <div class="col33 fLeft">
                      <div class="menu_head fmOsR">Fünf Diamonds</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Earrings</div>
                    <div class="menu_list">Wedding Bands</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
                  <div class="col33 fLeft">
                    <div class="menu_list">Rings</div>
                    <div class="menu_list">Necklaces</div>
                    <div class="menu_list">Truefeuer</div>
                  </div>
               </div>
             </div>
            </div>
          </div>
          <div class="tabWrap2">
             <div class="tabS fLeft">
              <div class="tab fLeft">
                <div class="search_bar transition200">
                  <input class="search_ip fmOsR" type="text" />
                  <div class="search_btn"></div>
                </div>
              </div>
            </div>
            <div class="tab2 fLeft">
              <div class="tab userprofile"></div>
            </div>
            <div class="tab2 fLeft">
                <div class="tab cartIcon openC"></div>
            </div>
          </div>
      </div>