<!DOCTYPE html>

<?php include 'jhead.html' ?>
<?php include 'header.html'?>
<body>
    <div class="coverImg">
    <div class="banner_over" id="banner_over" ></div>
  </div>
    <div class="wrapperHome">
        <div class="categoryOuter fLeft">
            <div class="categoryhead">Some header text</div>
            <div class="categories fLeft">
                <div class="incat fLeft earRings">
                    <div class="catTxt fmrobot">
                        <center>
                            <div class="fineTxt ">Fine Jewellery</div>
                            <div class="card_center">Some Header</div>
                            <div class="exploreBtn font15"><div class="button button1 btnc3 transition300">Explore</div></div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="categories fLeft">
                <div class="incat fLeft  pendantsImg">
                    <div class="catTxt fmrobot">
                        <center>
                            <div class="fineTxt ">Fine Jewellery</div>
                            <div class="card_center">Some Header</div>
                            <div class="exploreBtn font15"><div class="button button1 btnc3 transition300">Explore</div></div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="categories fLeft">
                <div class="incat fLeft banglesImg">
                    <div class="catTxt fmrobot">
                        <center>
                            <div class="fineTxt ">Fine Jewellery</div>
                            <div class="card_center">Some Header</div>
                            <div class="exploreBtn font15"><div class="button button1 btnc3 transition300">Explore</div></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="fLeft festiveOuter">

            <div class="bannerF"></div>
            <!--<div class="bannerL"></div>-->
            <!--<div class="bannerR"></div>-->
        </div>
        <div class="wrapperHome">
        <div class="gridOuter fLeft">
            <div class="grids fLeft">
                <div class="ingrid fLeft">
                    <div class="hgridImg hgrid1">

                    </div>
                      <div class="crossbox"></div>
                </div>
                <div class="ingrid fLeft short">
                    <div class="hgridImg hgrid2">

                    </div>
                      <div class="crossbox"></div>
                </div>
            </div>
            <div class="grids fLeft">
                <div class="ingrid fLeft short">

                    <div class="hgridImg hgrid3">

                    </div>
                      <div class="crossbox"></div>
                </div>

                <div class="ingrid fLeft">
                    <div class="hgridImg hgrid4">

                    </div>
                      <div class="crossbox"></div>
                </div>
            </div>
            <div class="grids fLeft">
                <div class="ingrid fLeft">
                    <div class="hgridImg hgrid5">

                    </div>
                      <div class="crossbox"></div>
                </div>
                <div class="ingrid fLeft short">
                    <div class="hgridImg hgrid6">

                    </div>
                    <div class="crossbox"></div>
                </div>
            </div>
        </div>
        <div class="txtBox fLeft">
            <center>
                <div class="txtHead font16 fmSansR">get early and exclusive</div>
                <div class="txtHead font16 fmSansR">access to new collections</div>
                <div class="signup font16">signup now</div>
                <div class="inputBox">
                    <div class="rightBox"></div>
                    <input type="text" class="inputE font15" placeholder="Email-Id">
                </div>
            </center>
        </div>
    </div>
      <div class="footerH fLeft">
            <div class="footerHeader fLeft">
                <div class="fooLogo"></div>
            </div>
            <div class="footerContent fLeft">
                <div class="footerCont1 fLeft">
                    <div class="fooH font15">assistance</div>
                    <div class="fooTxt fLeft font14 fmSansR">my account </div>
                    <div class="fooTxt fLeft font14 fmSansR">contact us</div>
                    <div class="fooTxt fLeft font14 fmSansR">track order</div>
                    <div class="fooTxt fLeft font14 fmSansR">shipping</div>
                    <div class="fooTxt fLeft font14 fmSansR">return and exchange</div>
                    <div class="fooTxt fLeft font14 fmSansR">warranty and repairs</div>
                </div>
                <div class="footerCont1 fLeft">
                    <div class="fooH font15">information</div>
                    <div class="fooTxt fLeft font14 fmSansR">terms and condition </div>
                    <div class="fooTxt fLeft font14 fmSansR">privacy policy</div>
                    <div class="fooTxt fLeft font14 fmSansR">help</div>
                </div>
                <div class="footerCont1 fLeft">
                    <div class="fooH font15">jewelopedia</div>
                    <div class="fooTxt fLeft font14 fmSansR">gemstone guide</div>
                    <div class="fooTxt fLeft font14 fmSansR">diamond guide</div>
                    <div class="fooTxt fLeft font14 fmSansR">precious metal guide</div>
                    <div class="fooTxt fLeft font14 fmSansR">jewellery care</div>
                    <div class="fooTxt fLeft font14 fmSansR">sizing guide</div>
                </div>
            </div>
            <div class="socialMedia fRight fmSansR">
                <div class="socialHead ">SAY HELLO</div>
                <div class="socialCont">
                    <div class="mediaIcon pin fLeft"></div>
                    <div class="mediaIcon Lin fLeft"></div>
                    <div class="mediaIcon gooPlus fLeft"></div>
                    <div class="mediaIcon twit fLeft"></div>
                    <!--                    <div class="fb"></div>
                                        <div class="insta"></div>-->
                </div>
            </div>
            <div class="fLeft copyRight font12 fmSansR">&copy;2016 created by xelpmoc.in</div>

        </div>
<script>
$(window).scroll(function () {
    var sc = $('body').scrollTop();
    var ht = $('#banner_over').outerHeight(true) - 60;
    if (ht > sc) {
        var op = 1 - (ht - sc) / ht;
        $('#banner_over').css({'opacity': op});

    }
    if (ht - sc <= 5) {
        $('.header').addClass('black_bg');
        console.log('if');
    } else {
        $('.header').removeClass('black_bg');
        console.log('else');
    }
//           if(ht-sc<=60){
//           console.log(sc);
//           $('.gemBanner').addClass('fixer');
//       }
//       else{
//            $('.gemBanner').removeClass('fixer');
//       }
});
</script>
</body>
