<?php include 'jhead.html' ?>
    <body>
          <div class="lmenu4mble trnst-100 transition300">
            <div class="lmnuHdng fLeft">
                <center>
                    <div class="hdrLgo"></div>
                </center>
            </div>
            <div class="lmnuLIstDv fLeft fmSansR">
                <ul class="ulSabcat ">
                    <li class="liSubCat">FINE JEWELLERY</li>
                    <li class="liSubCat">CUSTOMIZED</li>
                    <li class="liSubCat">GIFTS</li>
                    <li class="liSubCat">COLLECTIONS</li>
                </ul>
            </div>
        </div>
        <div class="dragTrgt" id="dragTrgt"></div>
          <div class="loader_proxy"><img src="frontend/tools/img/ajax-loader.gif"></div>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="threeStpBar fLeft fmSansR">
                    <div class="wrapperMax">
                        <center>
                            <div class="stp1">
                                <div class="icn4"></div>
                                <div class="stepTxt fLeft">FREE SHIPPING ON ORDERS</div>
                            </div>
                            <div class="stp1">
                                <div class="icn5"></div>
                                <div class="stepTxt fLeft">7 DAYS RETURN</div>
                            </div>
                            <div class="stp1">
                                <div class="icn6"></div>
                                <div class="stepTxt fLeft">24/7 SUPPORT</div>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="prdctAdv fLeft fmSansR">
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont img2">
                              <div class="dn"><img src="frontend/tools/img/img2.jpg"></div>
                               <div class=" border_eff transition300 easing">
                                 <div class="top-bor transition300"></div>
                                 <div class="side-bor transition300"></div>
                               </div>
                             <div class="p_cont easing">Bridal Collection</div>
                             <div class='viewIcnDV easing'>
                                 <center>
                                   <div class='icn4show transition300 pendent_ico easing'></div>
                                   <div class='icn4show transition300 earring_ico easing'></div>
                                   <div class='icn4show transition300 bangle_ico easing'></div>
                                   <div class='icn4show transition300 ring_ico easing'></div>
                                 </center>
                             </div>
                           </div>
                        </div>
                        <div class="middleDiv fLeft transition300">
                            <div class="loader"></div>
                              <div class="img_cont imgrg transition300">
                                <div class="dn"><img src="frontend/tools/img/rg.JPG"></div>

                              </div>
                              <div class="p_cont2 easing">
                                <div class="top-bor transition300"></div>
                                <div class="side-borh transition300" ></div>
                                   Rings
                             </div>
                             <div class="prdctAbtTxt transition300">Lorem Ipsum Dolmer Sit Amet. Lorem Ipsum Dolmer Sit Amet</div>
                        </div>

                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont img3">
                              <div class="dn"><img src="frontend/tools/img/img3.jpg"></div>
                           <div class=" border_eff transition300 easing">
                            <div class="top-bor transition300"></div>
                            <div class="side-bor transition300"></div>
                           </div>
                           <div class="p_cont easing">Don't stare Collection</div>
                           <div class='viewIcnDV easing'>
                               <center>
                                 <div class='icn4show transition300 pendent_ico easing'></div>
                                 <div class='icn4show transition300 earring_ico easing'></div>
                                 <div class='icn4show transition300 bangle_ico easing'></div>
                                 <div class='icn4show transition300 ring_ico easing'></div>
                               </center>
                           </div>
                         </div>
                        </div>
                        <div class="largePrdct fLeft  easing">
                          <div class="loader"></div>
                          <div class="img_cont img1">
                            <div class="dn"><img src="frontend/tools/img/img1.jpg"></div>
                           <div class="dual_bor easing">
                           <div class="top-borL"></div>
                           <div class="bot-borL"></div>
                              <div class="lrgeTxtDV ">
                               <div class="smpleTxt fLeft fmSansL">Rings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <a href="http://beta.xelpmoc.in/jzeva/index.php?action=product_details"><div class="btnDv ">SHOP NOW</div></a>
                                   </center>
                               </div>
                              </div>
                           </div>
                        </div>
                       </div>
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="effect1"></div>
                          <div class="loader"></div>
                          <div class="img_cont imgrg">
                              <div class="dn"><img src="frontend/tools/img/rg.JPG"></div>
                               <div class="p_cont2 easing">
                                 <div class="top-bor transition300"></div>
                                 <div class="side-borh transition300" ></div>
                                    Rings
                              </div>
                           </div>
                        </div>
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont imgRing">
                              <div class="dn"><img src="frontend/tools/img/rings.JPG"></div>
                               <div class=" border_eff transition300 easing">
                                 <div class="top-bor transition300"></div>
                                 <div class="side-bor transition300"></div>
                               </div>
                             <div class="p_cont easing">Bridal Collection</div>
                             <div class='viewIcnDV easing'>
                                 <center>
                                     <div class='icn4show transition300 pendent_ico easing'></div>
                                     <div class='icn4show transition300 earring_ico easing'></div>
                                     <div class='icn4show transition300 bangle_ico easing'></div>
                                     <div class='icn4show transition300 ring_ico easing'></div>
                                 </center>
                             </div>
                           </div>
                        </div>
                        <!-- <div class="prdctAdd2 fLeft paddingAll">
                            <div class='btnWRp fLeft'>
                                <center>
                                    <div class='icnRngWrp'></div>
                                </center>
                            </div>
                            <div class='smpleTxt fLeft'>Custom Designs</div>
                            <div class='btnWRp1 fLeft'>
                                <center>
                                    <a href="#"><div class='btnDv btnStyle'>SHOP NOW</div></a>
                                </center>
                            </div>
                        </div> -->
                        <div class="largePrdct fLeft   easing">
                          <div class="loader"></div>
                          <div class="img_cont img5">
                              <div class="dn"><img src="frontend/tools/img/img4.jpg"></div>
                         <div class="dual_bor easing">
                           <div class="top-borL"></div>
                           <div class="bot-borL"></div>
                            <div class="lrgeTxtDV ">

                               <div class="smpleTxt fLeft fmSansL">Earrings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <div class="btnDv ">SHOP NOW</div>
                                   </center>
                               </div>
                           </div>
                         </div>

                       </div>
                     </div>

                </div>
                <div class='footer1 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='footerTxt'>subscribe to our news letter</div>
                            </center>
                        </div>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='inputAndBtn'>
                                    <div class='subscribe'>subscribe</div>
                                    <input type='text' class='searchInpt fLeft icnmsg'>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class='footer2 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <a href=http://beta.xelpmoc.in/jzeva/index.php?action=confirmation><div class='tabWrp'>
                                    <div class='footerTab icnArrow'>MY ACCOUNT</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>INFORMATION</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>FIND US</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>CUSTOMER SERVICE</div>
                                    </div></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="frontend/tools/js/home.js"></script>
        </div>
    </body>
</html>
