<?php include 'jhead.html' ?>
    <body>
          <div class="lmenu4mble trnst-100 transition300">
            <div class="lmnuHdng fLeft">
                <center>
                    <div class="hdrLgo"></div>
                </center>
            </div>
            <div class="lmnuLIstDv fLeft fmSansR">
                <ul class="ulSabcat ">
                    <li class="liSubCat">JEWELLERY</li>
                    <li class="liSubCat">SOLITARIES</li>
                    <li class="liSubCat">DESIGNER</li>
                    <li class="liSubCat">VINTAGE</li>
                    <li class="liSubCat">BRIDAL</li>
                </ul>
            </div>
        </div>
        <div class="dragTrgt" id="dragTrgt"></div>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="threeStpBar fLeft fmSansR">
                    <div class="wrapperMax">
                        <center>
                            <div class="stp1">
                                <div class="icn4"></div>
                                <div class="stepTxt fLeft">FREE SHIPPING ON ORDERS</div>
                            </div>
                            <div class="stp1">
                                <div class="icn5"></div>
                                <div class="stepTxt fLeft">30 DAYS RETURN</div>
                            </div>
                            <div class="stp1">
                                <div class="icn6"></div>
                                <div class="stepTxt fLeft">24/7 SUPPORT</div>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="prdctAdv fLeft fmSansR">
                    <div class="wrapperMax">

                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont img2">
                              <div class="dn"><img src="frontend/tools/img/img2.jpg"></div>
                               <div class=" border_eff transition300 easing">
                                 <div class="top-bor transition300"></div>
                                 <div class="side-bor transition300"></div>
                               </div>
                             <div class="p_cont easing">Bridal Collection</div>
                             <div class='viewIcnDV easing'>
                                 <center>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                 </center>
                             </div>
                           </div>
                        </div>
                        <div class="middleDiv fLeft">
                          <div class="lrgeTxtDV">
                            <div class="txtsample fLeft fmSansL">Engagement Ring</div>

                            <div class='prdctAbtTxt fLeft'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                            <div class='btnWRp fLeft'>
                                <center>
                                    <a href="#"><div class='btnDv btnStyle fmSansR'>SHOP NOW</div></a>
                                </center>
                            </div>
                          </div>
                        </div>
                        <div class="loader_proxy"><img src="frontend/tools/img/ajax-loader.gif"></div>
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont img3">
                              <div class="dn"><img src="frontend/tools/img/img3.jpg"></div>
                           <div class=" border_eff transition300 easing">
                            <div class="top-bor transition300"></div>
                            <div class="side-bor transition300"></div>
                           </div>
                           <div class="p_cont easing">Don't stare Collection</div>
                         </div>
                        </div>
                        <div class="largePrdct fLeft  easing">
                          <div class="loader"></div>

                          <div class="img_cont img1">
                            <div class="dn"><img src="frontend/tools/img/img1.jpg"></div>
                           <div class="dual_bor easing">
                           <div class="top-borL"></div>
                           <div class="bot-borL"></div>
                              <div class="lrgeTxtDV ">

                               <div class="smpleTxt fLeft fmSansL">Earrings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <div class="btnDv ">SHOP NOW</div>
                                   </center>
                               </div>
                              </div>
                           </div>
                        </div>
                       </div>
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont imgrg">
                              <div class="dn"><img src="frontend/tools/img/rg.JPG"></div>
                            <div class=" border_eff transition300 easing">
                              <div class="top-bor transition300"></div>
                              <div class="side-bor transition300"></div>
                            </div>
                             <div class="p_cont easing">Pendants</div>
                           </div>
                        </div>
                        <div class="prdctAdd1 fLeft transition300 ">
                          <div class="loader"></div>
                          <div class="img_cont imgRing">
                              <div class="dn"><img src="frontend/tools/img/rings.JPG"></div>
                               <div class=" border_eff transition300 easing">
                                 <div class="top-bor transition300"></div>
                                 <div class="side-bor transition300"></div>
                               </div>
                             <div class="p_cont easing">Bridal Collection</div>
                             <div class='viewIcnDV easing'>
                                 <center>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                 </center>
                             </div>
                           </div>
                        </div>
                        <!-- <div class="prdctAdd2 fLeft paddingAll">
                            <div class='btnWRp fLeft'>
                                <center>
                                    <div class='icnRngWrp'></div>
                                </center>
                            </div>
                            <div class='smpleTxt fLeft'>Custom Designs</div>
                            <div class='btnWRp1 fLeft'>
                                <center>
                                    <a href="#"><div class='btnDv btnStyle'>SHOP NOW</div></a>
                                </center>
                            </div>
                        </div> -->
                        <div class="largePrdct fLeft   easing">
                          <div class="loader"></div>
                          <div class="img_cont img5">
                              <div class="dn"><img src="frontend/tools/img/img4.jpg"></div>
                         <div class="dual_bor easing">
                           <div class="top-borL"></div>
                           <div class="bot-borL"></div>
                            <div class="lrgeTxtDV ">

                               <div class="smpleTxt fLeft fmSansL">Earrings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <div class="btnDv ">SHOP NOW</div>
                                   </center>
                               </div>

                           </div>
                         </div>

                       </div>
                     </div>
                    </div>
                </div>
                <div class='footer1 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='footerTxt'>subscribe to our news letter</div>
                            </center>
                        </div>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='inputAndBtn'>
                                    <div class='subscribe'>subscribe</div>
                                    <input type='text' class='searchInpt fLeft icnmsg'>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class='footer2 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab icnArrow'>MY ACCOUNT</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>INFORMATION</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>FIND US</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>CUSTOMER SERVICE</div>
                                    </div></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(".loader_proxy img").one("load", function() {
          // $(this).closest(".img_holder").css({'display':'block'});

        }).each(function() {
          $(".img_cont img").one("load", function() {
            $(this).closest(".img_cont").css({'display':'block'});
          }).each(function() {
            if(this.complete) $(this).load();
          });
        });

        $(document).ready(function(){

         $("#dragTrgt").click(function(){
         $('.lmenu4mble').addClass('trnst-100');
         $('body').removeClass('pFixed');
         $('.dragTrgt').css({width: '20px', left: '0px'});
    });
            });
  function showLeftMenu(flag) {
    if (flag) {
        $('.lmenu4mble').removeClass('trnst-100');
        $('body').addClass('pFixed');
        $('.dragTrgt').css({width: '50%', left: '250px'});

    }
    else {
        $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    }
}
   $('.p_cont').velocity({opacity:[0]}, { delay:0 , duration:0});
   $('.top-bor').velocity({width:[0],height:['82%']} ,{ delay:0 , duration:0});
    $('.side-bor').velocity({height:[0],width:['82%']}, { delay:0 , duration:0});
$('.prdctAdd1').mouseenter(function(){
//   $('.prdctAdd1').addClass("click_disa").delay(500).queue(function(){
//     $(this).removeClass("click_disa").dequeue();
// });
  $(this).find('.p_cont').addClass('fadeI');
  $(this).find('.top-bor').addClass('bor-hover1');
  $(this).find('.side-bor').addClass('bor-hover2');
  $('.bor-hover1').velocity({width:['88%','0']}, {duration:300,  easing:"ease-in-out"});
  $('.bor-hover2').velocity({height:['88%','0']}, {duration:300, easing:"ease-in-out"});
  $('.fadeI').velocity({opacity:[1,0],translateY:[0,-50]}, {duration:400, easing:"ease-in-out"});
});
$('.prdctAdd1').mouseleave(function (){
  $('.fadeI').velocity('reverse');
      $(this).find('.p_cont').removeClass('fadeI');

  $('.bor-hover1').velocity('reverse');
      $(this).find('.top-bor').removeClass('bor-hover1');

  $('.bor-hover2').velocity('reverse');
      $(this).find('.side-bor').removeClass('bor-hover2');
        });
// $('.prdctAdd1').mouseout(function(){
//   $(this).find('.p_cont').velocity({opacity:[0,1],translateY:[-50,0]}, {  duration:300});
// });
$('.largePrdct').mouseenter(function(){
  $(this).find('.top-borL').addClass('bor-hover3');
  $(this).find('.bot-borL').addClass('bor-hover3');
  $('.bor-hover3').velocity({width:['70%','0'],opacity:[1 , 0.2]}, {duration:300, easing:"ease-in-out"});
});
$('.largePrdct').mouseleave(function (){
  $('.bor-hover3').velocity('reverse');
  $(this).find('.top-borL').removeClass('bor-hover3');
  $(this).find('.bot-borL').removeClass('bor-hover3');
});
        </script>
    </body>
</html>
