<?php include 'jhead.html' ?>
    <body>
          <div class="lmenu4mble trnst-100 transition300">
            <div class="lmnuHdng fLeft">
                <center>
                    <div class="hdrLgo"></div>
                </center>
            </div> 
            <div class="lmnuLIstDv fLeft fmSansR">
                <ul class="ulSabcat ">
                    <li class="liSubCat">JEWELLERY</li>
                    <li class="liSubCat">SOLITARIES</li>
                    <li class="liSubCat">DESIGNER</li>
                    <li class="liSubCat">VINTAGE</li>
                    <li class="liSubCat">BRIDAL</li>
                </ul>
            </div>
        </div>
        <div class="dragTrgt" id="dragTrgt"></div>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="threeStpBar fLeft fmSansR">
                    <div class="wrapperMax">
                        <center>
                            <div class="stp1">
                                <div class="icn4"></div>
                                <div class="stepTxt fLeft">FREE SHIPPING ON ORDERS</div>
                            </div>
                            <div class="stp1">
                                <div class="icn5"></div>
                                <div class="stepTxt fLeft">30 DAYS RETURN</div>
                            </div>
                            <div class="stp1">
                                <div class="icn6"></div>
                                <div class="stepTxt fLeft">24/7 SUPPORT</div>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="prdctAdv fLeft fmSansL">
                    <div class="wrapperMax">
                        <div class="prdctAdd1 fLeft transition300">
                               <div class=" border_eff transition300 easing"></div>
                             <div class="p_cont easing">Bridal Collection</div>
                             <div class='viewIcnDV easing'>
                                 <center>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                     <div class='icn4show transition300 easing'></div>
                                 </center>
                             </div>
                        </div>
                        <div class="middleDiv fLeft">
                            <div class="txtsample fLeft">Engagement</div>
                            <div class="txtsample fLeft">Ring</div>
                            <div class='prdctAbtTxt fLeft'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                            <div class='btnWRp fLeft'>
                                <center>
                                    <a href="#"><div class='btnDv btnStyle'>SHOP NOW</div></a>
                                </center>
                            </div>
                        </div>
                        <div class="prdctAdd1 fLeft transition300">
                          <div class=" border_eff transition300 easing"></div>
                             <div class="p_cont easing">Don't stare Collection</div>
                        </div>
                        <div class="largePrdct fLeft fmSansL img1 easing">
                         <div class="dual_bor easing">
                            <div class="lrgeTxtDV ">

                               <div class="smpleTxt fLeft">Earrings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <div class="btnDv">SHOP NOW</div>
                                   </center>
                               </div>

                           </div>
                         </div>

                       </div>
                        <div class="prdctAdd1 fLeft transition300">
                            <div class=" border_eff transition300 easing"></div>
                             <div class="p_cont easing">Pendants</div>
                        </div>
                        <div class="prdctAdd2 fLeft paddingAll">
                            <div class='btnWRp fLeft'>
                                <center>
                                    <div class='icnRngWrp'></div>
                                </center>
                            </div>
                            <div class='smpleTxt fLeft'>Custom Designs</div>
                            <div class='btnWRp1 fLeft'>
                                <center>
                                    <a href="#"><div class='btnDv btnStyle'>SHOP NOW</div></a>
                                </center>
                            </div>
                        </div>
                        <div class="largePrdct fLeft fmSansL img5 easing">
                         <div class="dual_bor easing">
                            <div class="lrgeTxtDV ">

                               <div class="smpleTxt fLeft">Earrings</div>
                               <div class="prdctAbtTxt fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                               <div class="btnWRp fLeft">
                                   <center>
                                       <div class="btnDv">SHOP NOW</div>
                                   </center>
                               </div>

                           </div>
                         </div>

                       </div>
                    </div>
                </div>
                <div class='footer1 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='footerTxt'>subscribe to our news letter</div>
                            </center>
                        </div>
                        <div class='emptyDV fLeft'>
                            <center>
                                <div class='inputAndBtn'>
                                    <div class='subscribe'>subscribe</div>
                                    <input type='text' class='searchInpt fLeft icnmsg'>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class='footer2 fLeft fmSansR'>
                    <div class='wrapperMax'>
                        <div class='emptyDV fLeft'>
                            <center>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab icnArrow'>MY ACCOUNT</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>INFORMATION</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>FIND US</div>
                                    </div></a>
                                <a href="#"><div class='tabWrp'>
                                    <div class='footerTab'>CUSTOMER SERVICE</div>
                                    </div></a>
                            </center>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#dragTrgt").click(function(){
         $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    });
            });
                   function showLeftMenu(flag) {
    if (flag) {
        $('.lmenu4mble').removeClass('trnst-100');
        $('body').addClass('pFixed');
        $('.dragTrgt').css({width: '50%', left: '250px'});

    }
    else {
        $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    }
}
            
        </script>
    </body>
</html>
