
  <div class="footer4Reg fLeft fmSansR">
                    
                        <div class="divHolder fLeft">
                            <center>
                                <div class="footerCat1">
                                    <div class="txtFtr fLeft">MY ACCOUNT</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                <div class="footerCat1">
                                    <div class="txtFtr fLeft">INFORMATION</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                 <div class="footerCat1">
                                    <div class="txtFtr fLeft">FIND US</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                 <div class="footerCat1">
                                    <div class="txtFtr fLeft">CUSTOMER SERVICE</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                <div class="footerCat2">
                                    <div class="txtFtr fLeft">SUBSCRIBE TO OUR NEWS LETTER</div>
                                    <div class="scrchInftr fLeft">
                                        <div class="subscribeBtn">SUBSCRIBE</div>
                                        <input type="text" class="textFrScrch fLeft">
                                    </div>
                                     <div class="txtFtr1 fLeft">You will get an email about once in month</div>
                                      <div class="txtFtr1 fLeft">You will never share your address</div>
                                </div>
                            </center>
                        </div>
                    
                </div>
                <div class="lfooter4Reg fLeft fmSansR">
                        <div class="mobileNmbr fLeft">022-2546822</div>
                        <div class="msgTxt fLeft">info@jzeva.com</div>
                </div>
