<div class="header fLeft fmSansR">
                    <div class="wrapperMax">
                        <div class="headerTop fLeft">
                            <div class="subCatHtop fLeft"></div>
                            <div class="logoHolderDv fLeft">
                                <center>
                                    <div class="logo"></div>
                                </center>
                            </div>
                            <div class="subCatHtop fLeft">
                                <div class="iconCont fRight">
                                        <div class="icn1"></div>
                                </div>
                                <div class="iconCont fRight">
                                        <div class="icn2"></div>
                                </div>
                                 <div class="iconCont fRight">
                                        <div class="icn3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="headerLower fLeft">
                            <center>
                                <div class="navLst">JEWELRY</div>
                                <div class="navLst">SOLITARIES</div>
                                <div class="navLst">DESIGNER</div>
                                <div class="navLst">VINTAGE</div>
                                <div class="navLst">BRIDAL</div>
                                <div class="navLst">JEWELRY</div>
                            </center>
                        </div>
                    </div>
                </div>
                