<div class="searchBox">
    <input type="text" class="searchIp" id="searchIp"/>
      <div class="searchBtn2"></div>
</div>
<div class="overlay">
  <div class="iconCont2 fRight" id="close_search">
     <div class="icnClose"></div>
  </div>
  <div class="searchBox">
      <input type="text" class="searchIp"/>
        <div class="searchBtn2"></div>
  </div>
</div>
<div class="header fLeft fmSansR">
                    <div class="searchBox">
                        <input type="text" class="searchIp"/>
                          <div class="searchBtn2"></div>
                    </div>
                    <div class="wrapperMax">
                        <div class="checkout__order" id="cart">
                        <div class="cart_head">
                          <div class="iconCont fLeft">
                                  <div class="icn2" ></div>
                          </div>
                          <div class="iconCont fRight">
                                  <div class="icnClose" id="close_cart"></div>
                          </div>
                        </div>
                        <div class="cart_head">
                            <div class="col60">Your Order</div>
                            <div class="col40">Price</div>
                        </div>
                        <div class="cart_row">
                          <div class="col60">Star Light</div>
                          <div class="col40">&#8377 23000</div>
                        </div>
                        <div class="cart_row">
                          <div class="col60">Nakshatra</div>
                          <div class="col40">&#8377 32000</div>
                        </div>
                        <div class="cart_row">
                          <div class="col60">Alexandra</div>
                          <div class="col40">&#8377 47000</div>
                        </div>
                        <div class="cart_row">
                          <div class="col60">Mangalsutra</div>
                          <div class="col40">&#8377 33000</div>
                        </div>
                        <div class="cart_row">
                          <div class="col60">Reaper17</div>
                          <div class="col40">&#8377 24000</div></div>
                          <div class="cart_head mTop5">
                              <a href="http://beta.xelpmoc.in/jzeva/index.php?action=orders"><div class="btnDv fRight">Buy Now</div></a>
                               <a href="http://beta.xelpmoc.in/jzeva/index.php?action=product_details"><div class="Cspan fRight">Continue Shopping ></div></a>
                             </div>
                     </div>
                        <div class="headerTop fLeft">
                            <div class="subCatHtop fLeft"></div>
                            <div class="opnMnuLogo fLeft" id="oml" onclick="showLeftMenu(true)"></div>
                            <div class="logoHolderDv fLeft">
                                <center>
                                    <a href="http://beta.xelpmoc.in/jzeva/index.php?action=home"><div class="logo"></div></a>
                                </center>
                                </div>
                            <div class="subCatHtop fLeft">
                                <div class="iconCont fRight">
                                        <div class="icn1"></div>
                                </div>
                                <div class="iconCont fRight">
                                        <div class="icn2"></div>
                                </div>
                                 <div class="iconCont fRight" id="search">
                                        <div class="icn3"></div>
                                </div>
                            </div>

                            <div class="opnShpLogo fLeft">
                                <center>
                                    <div class="oslIcn" id="oSl"></div>
                                </center>
                                <div class="fabDv" id="fabDv">
                                    <div class="fabIcnWrp transition300" id="fiw">
                                        <center>
                                             <div class="iconCont mrgnRght0">
                                        <div class="icn1"></div>
                                        </div>
                                        </center>
                                    </div>
                                    <div class="fabIcnWrp transition300" id="fiw1">
                                        <center>
                                             <div class="iconCont mrgnRght0">
                                        <div class="icn2"></div>
                                        </div>
                                        </center>
                                    </div>
                                     <div class="fabIcnWrp transition300" id="fiw2">
                                        <center>
                                             <div class="iconCont mrgnRght0">
                                       <div class="icn3"></div>

                                        </div>
                                        </center>
                                    </div>
                                    <div class="fabIcnWrp transition300" id="fiw3">
                                       <center>
                                            <div class="iconCont mrgnRght0">
                                      <div class="icn3a"></div>

                                       </div>
                                       </center>
                                   </div>
                                </div>
                            </div>

                        </div>
                        <div class="headerLower fLeft">
                            <center>
                                <a href="#"><div class="navLst" id="jwl">JEWELLRY
                                        <div class="navLstDtls1 fmSansR transition300 dn">
                                            <div class="col20 fLeft">
                                                <div class="liColH fLeft">Rings</div>
                                                <div class="licolC fLeft transition300">Casual</div>
                                                <div class="licolC fLeft transition300">Engagement</div>
                                                <div class="licolC fLeft transition300">Bands</div>
                                                <div class="licolC fLeft transition300">Couple Bands</div>
                                            </div>
                                            <div class="col20 fLeft">
                                                <div class="liColH fLeft">Earrings</div>
                                                <div class="licolC fLeft transition300">Stubs</div>
                                                <div class="licolC fLeft transition300">Drops</div>
                                                <div class="licolC fLeft transition300">Jhumkis</div>
                                                <div class="licolC fLeft transition300">Hoops</div>
                                                 <div class="licolC fLeft transition300">Chand Bali</div>
                                            </div>
                                             <div class="col20 fLeft">
                                                <div class="liColH fLeft">Pendants</div>
                                                <div class="licolC fLeft transition300">Fashion</div>
                                                <div class="licolC fLeft transition300">Mangalsutra</div>
                                                <div class="licolC fLeft transition300">Customised</div>
                                                <div class="licolC fLeft transition300">Tanmaniya</div>
                                            </div>
                                             <div class="col20 fLeft">
                                                <div class="liColH fLeft">Chain</div>
                                                <div class="licolC fLeft transition300">Gold Chain</div>
                                                <div class="licolC fLeft transition300">Mangalsutra</div>
                                                <div class="licolC fLeft transition300">Waist Chain</div>
                                            </div>
                                            <div class="col20 fLeft">
                                                <div class="liColH fLeft">Mens</div>
                                                <div class="licolC fLeft transition300">Bands</div>
                                                <div class="licolC fLeft transition300">Rings</div>
                                                <div class="licolC fLeft transition300">Pendants</div>
                                                <div class="licolC fLeft transition300">Cuff Links</div>
                                                <div class="licolC fLeft transition300">Bracelets</div>
                                            </div>
                                               <div class="col20 fLeft">
                                                <div class="liColH fLeft">Bangles</div>
                                                <div class="licolC fLeft transition300">Round</div>
                                                <div class="licolC fLeft transition300">Oval</div>
                                                <div class="licolC fLeft transition300">Eternity</div>
                                            </div>
                                            <div class="col20 fLeft">
                                                <div class="liColH fLeft">Earrings</div>
                                                <div class="licolC fLeft transition300">Stubs</div>
                                                <div class="licolC fLeft transition300">Drops</div>
                                                <div class="licolC fLeft transition300">Jhumkis</div>
                                                <div class="licolC fLeft transition300">Hoops</div>
                                                 <div class="licolC fLeft transition300">Chand Bali</div>
                                            </div>
                                            <div class="col20 fLeft">
                                                <div class="liColH fLeft">Bangles</div>
                                                <div class="licolC fLeft transition300">Round</div>
                                                <div class="licolC fLeft transition300">Oval</div>
                                                <div class="licolC fLeft transition300">Eternity</div>
                                            </div>
                                        </div>
                                    </div></a>
                                <a href="#"> <div class="navLst" id="sol">SOLITARIES
                                        <div class="navLstDtls2 transition300 dn">
                                            <div class="hdng1ofNld2 fLeft">Customise/Personalise</div>
                                            <div class="hdng1ofNld3 fLeft">Type of Diamonds</div>
                                            <div class="col30 fLeft">
                                                <div class="licolC fLeft transition300">Stubs</div>
                                                <div class="licolC fLeft transition300">Drops</div>
                                                <div class="licolC fLeft transition300">Jhumkis</div>
                                                <div class="licolC fLeft transition300">Hoops</div>
                                            </div>
                                            <div class="allShapeCnt fLeft">
                                                <div class="shape fLeft roundD"></div>
                                                 <div class="shape fLeft emeraldD"></div>
                                                 <div class="shape fLeft pearD"></div>
                                                 <div class="shape fLeft princessD"></div>
                                                 <div class="shape fLeft marquiseD"></div>
                                                 <div class="shape fLeft ovalD"></div>
                                                 <div class="shape fLeft cushionD"></div>
                                                 <div class="shape fLeft heartD"></div>
                                                  <div class="shape fLeft radiantD"></div>
                                            </div>
                                            <div class="sltAdvCnt fLeft">
                                                <div class="sltAdvDiv">
                                                    <div class="col60 fLeft">
                                                        <div class="sellingImgcnt fLeft sellngImg"></div>
                                                         <div class="sellingImgcnt fLeft sellngImg1"></div>
                                                          <div class="sellingImgcnt fLeft sellngImg"></div>
                                                          <div class="sellingImgcnt fLeft sellngImg1"></div>
                                                    </div>
                                                    <div class="col20s fLeft">
                                                        <div class="col100txt color666 font13 lHight17 fLeft">Five days only</div>
                                                        <div class="col100txt colorV font20 lHight25 fLeft tabFnt16">TAKE AN EXTRA</div>
                                                        <div class="col100txt fLeft"><span style="color:#000;font-size:25px;font-weight:bold;line-height:40px" class="tabFnt15">25% off</span><span style="color:#666;font-size:13px;line-height:35px;padding-left:5px;" class="tabFnt11">STOREWIDE</span></div>
                                                    </div>
                                                    <div class="col20s fLeft">
                                                        <center>
                                                            <div class="shpnow">SHOP NOW</div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></a>
                                <a href="#"><div class="navLst" id="fybn">FOR YOU BUY NOW
                                        <div class="navLstDtls3 transition300 dn">
                                            <div class="col33 fLeft">
                                                <div class="advCol100 fLeft">
                                                    <div class="upperSection fLeft"></div>
                                                    <div class="col50 fLeft">
                                                        <div class="col100txt color666 font13 lHight17 fLeft">Five days only</div>
                                                        <div class="col100txt colorV font16 lHeight20 fLeft tabFnt14">TAKE AN EXTRA</div>
                                                        <div class="col100txt fLeft"><span style="color:#000;font-size:20px;font-weight:bold;line-height:35px" class="tabFnt13">25% off</span><span style="color:#666;font-size:12px;line-height:35px;padding-left:5px;" class="tabFnt11">STOREWIDE</span></div>
                                                    </div>
                                                    <div class="col50 fLeft">
                                                         <center>
                                                            <div class="shpnow">SHOP NOW</div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col33 fLeft">
                                                <div class="liColH fLeft tabFnt16">Customise Your Precious</div>
                                                <div class="licolC fLeft transition300">Ring</div>
                                                <div class="licolC fLeft transition300">Pendants</div>
                                                <div class="licolC fLeft transition300">Necklace</div>
                                                <div class="licolC fLeft transition300">Bracelets</div>
                                            </div>
                                            <div class="col33 fLeft">
                                                <div class="liColH fLeft tabFnt16">Personalise Your Precious</div>
                                                <div class="licolC fLeft transition300">Ring</div>
                                                <div class="licolC fLeft transition300">Pendants</div>
                                                <div class="licolC fLeft transition300">Necklace</div>
                                                <div class="licolC fLeft transition300">Bracelets</div>
                                            </div>
                                              <div class="sltAdvCnt fLeft">
                                                <div class="sltAdvDiv">
                                                    <div class="col60 fLeft">
                                                        <div class="sellingImgcnt fLeft sellngImg"></div>
                                                         <div class="sellingImgcnt fLeft sellngImg1"></div>
                                                          <div class="sellingImgcnt fLeft sellngImg"></div>
                                                          <div class="sellingImgcnt fLeft sellngImg1"></div>
                                                    </div>
                                                    <div class="col20s fLeft">
                                                        <div class="col100txt color666 font13 lHight17 fLeft">Five days only</div>
                                                        <div class="col100txt colorV font20 lHight25 fLeft tabFnt16">TAKE AN EXTRA</div>
                                                        <div class="col100txt fLeft"><span style="color:#000;font-size:25px;font-weight:bold;line-height:40px" class="tabFnt15">25% off</span><span style="color:#666;font-size:13px;line-height:35px;padding-left:5px;" class="tabFnt11">STOREWIDE</span></div>
                                                    </div>
                                                    <div class="col20s fLeft">
                                                        <center>
                                                            <div class="shpnow">SHOP NOW</div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></a>
                                <a href="#"><div class="navLst">VINTAGE</div></a>
                                <a href="#"><div class="navLst">BRIDAL</div></a>
                                <a href="#"> <div class="navLst">JEWELLRY</div></a>
                            </center>
                        </div>
                    </div>
                </div>
<script>
$( window ).resize(function() {
  var windowsize = $(window).width();
  if(windowsize<768){
  $('.opnShpLogo').removeClass("dn");
}
});
$('#search').click(function(){
    $('.overlay').css({'display':'block'});
    $('.searchBox').css({'display':'block'});
    $('.overlay').css({'overflow':'hidden'});
  setTimeout(function(){
  $('.overlay').velocity({opacity:[1,0]}, {duration:300});
  $('.searchBox').velocity({scale:[1,0]} , {duration:300,delay:200});
},100);
$('#searchIp').focus();

});
function close_search(){
  $('.overlay').velocity('reverse');
  $('.searchBox').velocity('reverse');
  $('.searchIp').blur();
  setTimeout(function(){
  $('.overlay').css({'display':'none'});
  $('.searchBox').css({'display':'none'});
},100);
$('.overlay').css({'overflow':'visible'});
}
$('#close_search').click(function(){
 close_search();
});
$
var flag=1;
    $(".icn2").click(function(){
                  $("#cart").addClass("checkout--active ");
                      $('.opnShpLogo').addClass("dn");
                });
                $("#close_cart").click(function(){
                  clearTimeout(mInt);
                  mInt=setTimeout(function() {
                    var windowsize = $(window).width();
                    if(windowsize<768){
                    $('.opnShpLogo').removeClass("dn");
                  }
                  },180);
                      $("#cart").removeClass("checkout--active ");
                });
          $('.navLstDtls1').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
          $('.navLstDtls2').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
          $('.navLstDtls3').velocity({translateY:"-20px", borderRadius:"35%",opacity:"0"});
    var mInt;
    $('#jwl').bind('mouseenter', function() {
        clearTimeout(mInt);
        mInt=setTimeout(function() {
        $('.navLstDtls1').removeClass('dn');
            setTimeout(function() {
                $('.navLstDtls1').velocity({opacity:"1"},{delay:30,duration:100,easing:"ease-in-out"});
                $('.navLstDtls1').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:0,duration:200,easing:"ease-in-out"});

                },00);
        },100);
    });
    $('#jwl').bind('mouseleave', function() {
       $('.navLstDtls1').velocity({opacity:"0"},{delay:0,duration:0,easing:"ease-in-out"});
        $('.navLstDtls1').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"ease-in-out"});
        setTimeout(function() {
            $('.navLstDtls1').addClass('dn');
        },00);
    });
     $('#sol').bind('mouseenter', function() {
        clearTimeout(mInt);
        mInt=setTimeout(function() {
        $('.navLstDtls2').removeClass('dn');
            setTimeout(function() {
                $('.navLstDtls2').velocity({opacity:"1"},{delay:30,duration:100,easing:"ease-in-out"});
                $('.navLstDtls2').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:00,duration:200,easing:"ease-in-out"});

                },00);
        },100);
    });
    $('#sol').bind('mouseleave', function() {
       $('.navLstDtls2').velocity({opacity:"0"},{delay:0,duration:0,easing:"ease-in-out"});
        $('.navLstDtls2').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"ease-in-out"});
        setTimeout(function() {
            $('.navLstDtls2').addClass('dn');
        },00);
    });
    $('#fybn').bind('mouseenter', function() {
        clearTimeout(mInt);
        mInt=setTimeout(function() {

        $('.navLstDtls3').removeClass('dn');
            setTimeout(function() {
                $('.navLstDtls3').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
                $('.navLstDtls3').velocity({translateY:"0px",borderRadius:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },100);
    });
    $('#fybn').bind('mouseleave', function() {
       $('.navLstDtls3').velocity({opacity:"0"},{delay:0,duration:0,easing:"swing"});
        $('.navLstDtls3').velocity({borderRadius:"35%",translateY:"-20px"},{queue: false,delay:0,duration:0,easing:"swing"});
        setTimeout(function() {
            $('.navLstDtls3').addClass('dn');
        },00);
    });
    $(".fabDv").velocity({display:"none"});
     $('#fiw').velocity({ opacity:"0",});
      $('#fiw1').velocity({ opacity:"0"});
      $('#fiw2').velocity({ opacity:"0"});
      $('#fiw3').velocity({ opacity:"0"});
         var bi=0;;
       $('#oSl').click(function() {
             if(bi==0){
        setTimeout(function() {
        $('.fabDv').css("display","block");
            setTimeout(function() {
                $('#fiw').velocity({opacity:[1,0]  ,scale:[1,0]},{delay:30,duration:50,easing:"swing"});
                $('#fiw1').velocity({opacity:[1,0]  ,scale:[1,0]},{delay:60,duration:50,easing:"swing"});
                $('#fiw2').velocity({opacity:[1,0]  ,scale:[1,0]},{delay:90,duration:50,easing:"swing"});
                $('#fiw3').velocity({opacity:[1,0]  ,scale:[1,0]},{delay:120,duration:50,easing:"swing"});
                },00);
        },150);
         bi=1;
    }
    else{
                $('#fiw').velocity({scale:[1,0],scale:[0,1]},{delay:120,duration:50,easing:"swing"});
                $('#fiw1').velocity({opacity:[0,1],scale:[0,1]},{delay:90,duration:50,easing:"swing"});
                $('#fiw2').velocity({opacity:[0,1],scale:[0,1]},{delay:60,duration:50,easing:"swing"});
                $('#fiw3').velocity({scale:[0,1],opacity:[0,1]},{delay:30,duration:50,easing:"swing"});
            setTimeout(function(){
                $('.fabDv').css("display","none");
        },300);
        bi=0;
    }
    });
</script>
