<!DOCTYPE html>
<html>
    <head>
        <title>Jzeva - <?php echo $page;?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="<?php echo $css['home'];?>">
          <link rel="stylesheet" href="frontend/tools/css/gemstone.css">
        <script type="text/javascript" src="<?php echo $jvs['jqry']; ?>"></script>
        <script type="text/javascript" src="frontend/tools/js/velocity.js"></script>
    </head>
