<!DOCTYPE html>
<html>
    <head>
        <title>Jzeva - <?php echo $page;?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link href="frontend/tools/css/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="<?php echo $css['home'];?>">
          <link rel="stylesheet" href="frontend/tools/css/gemstone.css">
        <script type="text/javascript" src="<?php echo $jvs['jqry']; ?>"></script>
        <script src="frontend/tools/js/jquery.bxslider.js" type="text/javascript"></script>
        <script src="frontend/tools/js/velocity.js" type="text/javascript"></script>
        <script src="frontend/tools/js/menu.js" type="text/javascript"></script>
        <link href="frontend/tools/css/rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
         <link href="frontend/tools/css/rangeslider/ion.rangeSlider.skinHTML5.css" rel="stylesheet" type="text/css"/>
         <link href="frontend/tools/css/rangeslider/normalize.css" rel="stylesheet" type="text/css"/>
         <script src="frontend/tools/js/ion.rangeSlider.js" type="text/javascript"></script>
        
    </head>

   

