
<?php include 'jhead.html' ?>
<body class="greyBg">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="wrapper_main fLeft HOME_PAGE">
        <div class="wrapper">
            <div class="coverImg">
                <div class="banner_over" id="banner_over"></div>
            </div>
            <!-- <div class="three_col fLeft img2m">
              <div class="fader transition300">
              </div>
              <div class="title_fader fmSansL transition300">Bridal Collection</div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img3m">
              <div class="fader transition300"></div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img2m">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div>
          <div class="two_col fLeft img1m">
                <div class="fader transition300"></div>
            <div class="framer2"></div>
          </div> -->
            <!-- <div class="three_col fLeft img2c">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div> -->
            <div class="wrapper_max">
                <div class="headerOff">
                    <div class="sheadTitle bolder">FINE JEWELLERY</div>
                    <div class="headerBot">
                        <div class="actBtn fRight ">EXPLORE</div>
                    </div>
                </div>
                <div class="homeGrid">
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">RINGS</div>
                            <div class="cardImg tempBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hovLine"></div>
                        </div>
                    </div>
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">BRACELETS</div>
                            <div class="cardImg tempBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hovLine"></div>
                        </div>
                    </div>
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">BANGLES</div>
                            <div class="cardImg tempBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hovLine"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="darkCont" id="darkCont">
                <div class="wrapper_max">
                    <div class="homeCollect">
                        <div class="colleCont tempBg2">
                            <div class="galleryImg"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryCover"></div>
                        </div>
                        <div class="colleCont v2">
                            <div class="smUline animFade">FRESH NEW</div>
                            <div class="collCenter animFade">
                                <div class="collectH">COLLECTION</div>
                                <div class="collectY">2016</div>
                            </div>
                            <div class="smUBot animFade">EXPLORE</div>
                        </div>
                        <div class="sliderTimer">
                            <div class="sliderProgress" id="sliderProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="greyCont">
                <div class="wrapper_max">
                    <div class="wCont fLeft animFade">
                        <div class="wJzeva fLeft">
                            <div class="absHeader animFade">WHY JZEVA?</div>

                            <!-- <div class="jzgrid grStyl1"></div> -->
                            <div class="jzgrid grStyl2 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">CRAFTMANSHIP</div>
                            </div><div class="jzgrid grStyl3 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">OUR PACKAGING</div>
                            </div>
                            <div class="jzgrid grStyl4 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">OUR PROMISE</div>
                            </div><div class="jzgrid grStyl5 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">OUR STORY</div>
                            </div><div class="col30 animFade">
                                <div class="jzgrid grStyl6" id='cServices'>
                                    <div class="fLeft"></div>
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">CONCIERGE SERVICES</div>
                                </div><div class="jzgrid grStyl7">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">RESPONSIBLE FASHION</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php include 'footer.html'?>
        </div>
        <div class="page_loader">
            <!-- <div class="cs-loader-inner ">
              <label>●</label>
              <label>●</label>
              <label>●</label>
              <label>●</label>
              <label>●</label>
              <label>●</label>
            </div> -->
            <!-- <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div> -->
        </div>
        <?php include 'loader.html'?>
        <div class="overlay3 pointNone"></div>

    </div>
    <script>
        
        $('#cServices').click(function(){
            
        });

        function loadComplete() {}
        /* Radia Button */
        $('.selector1').click(function () {
            $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
            $(this).toggleClass('select_active');
        });

        /* Fly to cart effect */
        $('#add_to_cart').on('click', function () {
            var wd = $('.rota').outerWidth();
            var ht = $('.rota').outerHeight();
            var cart = $('.cartIcon');
            var imgtodrag;
            $('.rota .imgHolder').each(function (i) {
                if (!$(this).hasClass("dn")) {
                    imgtodrag = $(this);
                }
            });
            if (imgtodrag) {
                var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.7',
                            'position': 'absolute',
                            'height': ht,
                            'width': wd,
                            'z-index': '900',
                            'display': 'block'
                        })
                        .appendTo($('body'))
                        .velocity({top: cart.offset().top, left: cart.offset().left, width: 0, height: 0, opacity: [0.1]}, {duration: 1000, easing: 'easeInOutExpo',
                            complete: function () {
                                $(this).detach();
                            }});

                setTimeout(function () {
                    cart.velocity('stop').velocity({translateX: [-15, 15]}, {duration: 50, easing: 'swing', loop: 3}).velocity({translateX: [0]}, {duration: 25, easing: 'swing'});
                }, 900);

                // imgclone.animate({
                //     'width': 0,
                //         'height': 0
                // }, function () {
                //
                // });
            }
        });
        // Show close reviews page


        $(window).on('load', function () {
            load_page();
        });
        $('.icnLike').click(function () {
            $(this).toggleClass('liked');
        });

        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('#banner_over').outerHeight(true) - 60;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');

            } else {
                $('.header').removeClass('black_bg');

            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
        var block = false;
        // $('.homeCcont').mouseenter(function(){
        // var th=$(this);
        //   if(!$(this).hasClass('blk')){
        //     $(this).addClass('blk');
        //     $(this).find('.plusCont').velocity('stop').velocity({scale:[1,0]} , {duration:200 , easing:'swing',delay:400 , complete:function(){
        //         th.removeClass('blk');
        //     }
        //   });
        //   $(this).find('.hovDiv').velocity('stop').velocity({width:['100%',0] , height:['4px',0]} , {duration:200 , easing:'swing'});
        //   $(this).find('.hovDiv').velocity({height:['100%' , '4px']}, {duration:200 ,delay:50 , easing:'swing' });
        // }
        //
        // });
        // $('.homeCcont').mouseleave(function(){
        //   var th=$(this);
        //     $(this).removeClass('blk');
        //     if(!$(this).hasClass('blk')){
        //     $(this).addClass('blk');
        //     $(this).find('.plusCont').velocity('stop').velocity({scale:[0,1]} , {duration:100 , easing:'swing'});
        //     $(this).find('.hovDiv').velocity('stop').velocity({height:['4px' , '100%']}, {duration:200  , easing:'swing' }).velocity({width:[0 ,'100%'] , height:[0 ,'4px']} , {duration:200 , delay:50 ,easing:'swing' ,
        //     complete:function(){
        //     th.removeClass('blk');
        //     }});
        //   }
        // });

        $('.jzgrid').mouseenter(function () {
            $(this).find('.plusCont').velocity('stop').velocity({scale: [1, 0]}, {duration: 200, delay: 200, easing: 'swing'});
            $(this).find('.hovTrans').velocity('stop').velocity({translateX: [0, '-100%']}, {duration: 200, easing: 'easeInOutExp', display: 'block', complete: function () {

                }
            });
        });
        $('.jzgrid').mouseleave(function () {
            $(this).find('.plusCont').velocity('stop').velocity({scale: [0, 1]}, {duration: 200, easing: 'swing'});
            $(this).find('.hovTrans').velocity('stop').velocity({translateX: ['101%', 0]}, {duration: 200, easing: 'easeInOutExpo', display: 'none', complete: function () {

                }
            });
        });
        function galleryRun() {
            $('#sliderProgress').removeClass('trRight');
            $('#sliderProgress').velocity({scaleX: [1, 0]}, {duration: 5350, easing: 'liner', complete: function () {
                    $('#sliderProgress').addClass('trRight');
                    $('#sliderProgress').velocity({scaleX: [0, 1]}, {duration: 300, easing: 'liner', delay: 250});
                }
            });
            $('.galleryCover').velocity({translateX: [0, '-100%']}, {duration: 300, easing: 'easeInOutExpo', complete: function () {
                    $('.galleryCover').velocity({translateX: ['100%', 0]}, {duration: 300, easing: 'easeInOutExpo', delay: 50});

                }
            });

        }
        var iv = 1;
        function gallerChange() {
            iv = (iv + 1) % 4;
            galleryRun();

            setTimeout(function () {
                $('.galleryImg').addClass('dn');
                $('.galleryImg').eq(iv).removeClass('dn');
            }, 300);
        }
        function runslider() {

            gallerChange();
            stop = setTimeout(function () {
                runslider();

            }, 6000);
        }

        var sctrig = 0;
        var $window = $(window);
        $window.on('scroll', check_if_in_view);
        $window.on('scroll resize', check_if_in_view);
        $window.trigger('scroll');
        function check_if_in_view() {
            var window_height = $window.height();
            var window_top_position = $window.scrollTop();
            var window_bottom_position = (window_top_position + window_height);

            $('.homeCard , .darkCont ,.animFade').each(function (i) {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top;
                var element_bottom_position = (element_top_position + element_height);
                var delay = i * 200;

                if ((element_bottom_position >= window_top_position) &&
                        (element_top_position + 100 <= window_bottom_position)) {
                    $element.addClass('fadeInup');
                } else {
                    //$element.removeClass('fadeInup');
                }
            });
            var daroff = $('#darkCont').offset().top;
            var darBot = $('#darkCont').offset().top + $('#darkCont').outerHeight(true);
            if (window_top_position > daroff - 200 && window_top_position < darBot) {
                if (!$('#darkCont').hasClass('runslider')) {
                    $('#darkCont').addClass('runslider');
                    $('#sliderProgress').velocity({scaleX: [1, 0]}, {duration: 5350, easing: 'liner', complete: function () {
                            $('#sliderProgress').addClass('trRight');
                            $('#sliderProgress').velocity({scaleX: [0, 1]}, {duration: 300, easing: 'liner', delay: 350});
                        }
                    });
                    setTimeout(function () {
                        runslider();

                    }, 6000);
                }




            } else if (window_top_position > darBot) {
                clearTimeout(stop);
                $('#darkCont').removeClass('runslider');
            } else {

            }
        }

        function redirect() {

            $('body').addClass('over_hide');
            $('.page_loader').velocity({translateX: [0, '-100%']}, {duration: 300, easing: 'easeInOutExp', display: 'block',
                complete: function () {
                    setTimeout(function () {
                        window.location.assign(DOMAIN + 'index.php?action=check_out');
                    }, 1000);
                }
            });
        }
    </script>

</body>
