
<?php include 'jhead.html' ?>
<body class="greyBg noLink">
    <?php include 'loader.html'?>
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <?php include 'login.html'?>
    <?php include 'mheader.html' ?>
    <div class="wrapper_main fLeft HOME_PAGE fadcrs">
        
        <div class="swipe fLeft" id="lftt"></div>
        <div class="wrapper">
            <div class="coverImg mBanner">
                <!--<div class="coverImgsli"></div>-->
                <div class="banner_over" id="banner_over"></div>
            </div>
            <!-- <div class="three_col fLeft img2m">
              <div class="fader transition300">
              </div>
              <div class="title_fader fmSansL transition300">Bridal Collection</div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img3m">
              <div class="fader transition300"></div>
              <div class="framer"></div>
            </div>
            <div class="three_col fLeft img2m">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div>
          <div class="two_col fLeft img1m">
                <div class="fader transition300"></div>
            <div class="framer2"></div>
          </div> -->
            <!-- <div class="three_col fLeft img2c">
              <div class="fader transition300">
                <div class="title_fader fmSansL transition300">Bridal Collection</div>
              </div>
              <div class="framer"></div>
            </div> -->
            <div class="greyCont">
            <div class="wrapper_max">
                <div class="headerOff">
                    <div class="sheadTitle bolder">FINE JEWELLERY</div>
                    <div class="headerBot">
		      <a href="<?php echo DOMAIN ?>Fine-Jewellery/pid-7920160603124531">
                        <div class="actBtn fRight ">EXPLORE</div>
		      </a>
                    </div>
                </div>
                <div class="homeGrid">
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">RINGS</div>
			   <a href="<?php echo DOMAIN ?>Rings/pid-2920160603124607">
                            <div class="cardImg ringBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
			   </a>
                            <div class="hovLine"></div>
                        </div>
                    </div>
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">EARRINGS</div>
			   <a href="<?php echo DOMAIN ?>Earrings/pid-2020160603124631">
                            <div class="cardImg earringBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
			   </a>
                            <div class="hovLine"></div>
                        </div>
                    </div>
                    <div class="homeCard">
                        <div class="homeCcont">
                            <div class="cardHead">PENDANTS</div>
			   <a href="<?php echo DOMAIN ?>Pendants/pid-8120160603125512">
                            <div class="cardImg pendantBg">
                                <div class="hovCont">
                                    <div class="hovDiv">
                                        <div class="plusCont"></div>
                                    </div>
                                </div>
                            </div>
			   </a>
                            <div class="hovLine"></div>
                        </div>
                    </div>

                </div>
            </div>
          </div>
            <div class="darkCont" id="darkCont">
                <div class="wrapper_max">
                    <div class="homeCollect">
                        <div class="colleCont tempBg2">
                            <div class="galleryImg"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <div class="galleryImg dn"></div>
                            <!-- <div class="galleryImg dn"></div> -->
                            <div class="galleryCover "></div>
                        </div>
                        <div class="colleCont v2">
                            <div class="smUline animFade">Curated</div>
                            <div class="collCenter animFade">
                                <div class="collectH">SIGNATURE COLLECTION</div>
                                <div class="collectY">Solitaires by Jzeva</div>
                            </div>
			    <a href="<?php echo DOMAIN ?>Signature/pid-3620161108090939">
			      <div class="smUBot animFade">EXPLORE</div>
			    </a>
                        </div>
                        <div class="sliderTimer">
                            <div class="sliderProgress " id="sliderProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="greyCont">
                <div class="wrapper_max">
                    <div class="wCont fLeft animFade">
                        <div class="wJzeva fLeft">
                            <div class="absHeader animFade">WHY JZEVA?</div>

                            <!--<div class="jzgrid grStyl1"></div>-->
                            <a   href='<?php echo DOMAIN?>Craftsmanship'><div class="jzgrid grStyl2 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">CRAFTMANSHIP</div>
                                </div></a><a  href='<?php echo DOMAIN?>Packaging'><div class="jzgrid grStyl3 animFade">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">OUR PACKAGING</div>
                                </div></a>
                            <a  href='<?php echo DOMAIN?>OurPromise'><div class="jzgrid grStyl4 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">OUR PROMISE</div>
                                </div></a><a  href='<?php echo DOMAIN?>OurStory'><div class="jzgrid grStyl5 animFade">
                                <div class="hovTr">
                                    <div class="hovTrans">
                                        <div class="plusCont">
                                        </div>
                                    </div>
                                </div>
                                <div class="grCap">OUR STORY</div>
                                    </div></a><div class="col30 animFade">
                                <a  href='<?php echo DOMAIN?>Concierge-Services'><div class="jzgrid grStyl6" id='cServices'>
                                    <div class="fLeft"></div>
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">CONCIERGE SERVICES</div>
                                    </div></a><a href='<?php echo DOMAIN?>Responsible-Fashion'><div class="jzgrid grStyl7">
                                    <div class="hovTr">
                                        <div class="hovTrans">
                                            <div class="plusCont">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grCap">RESPONSIBLE FASHION</div></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="helpFooterW fLeft">
              <div class="wrapper_max">
                <div class="fhelpSection fPhone fLeft">
                  <div class="fhelpHead">NEED HELP?</div>
                  <div class="fhelpPara">
                    If you need help  contact us at 7022248707 (Monday - Friday 10AM To 10PM IST | Saturday 10AM-6:30PM IST) or email the Concierge  Care@Jzeva.Com
                  </div>
                </div>
                <div class="fhelpSection fPayment fLeft">
                  <div class="fhelpHead">PAYMENT OPTIONS</div>
                    <div class="fhelpPara">
                      Choose a convenient option to pay for your jewellery from AMEX, Diner Club Card, Xyz Akdfkk & PAY U wallet.
                    </div>
                </div>
                <div class="fhelpSection  fShipping fLeft">
                  <div class="fhelpHead">FREE SHIPPING AND WARRENTY</div>
                  <div class="fhelpPara">
                  Free rapid and secure delivery, to find more aboutfree delivery click here .2 year warranty on all products from JZEVA Signatures.
                  </div>
                </div>
              </div>

            </div>-->
            <?php include 'footer.html'?>
        </div>


        <?php include 'loaderStatic.html'?>
        <div class="overlay3 pointNone"></div>

    </div>
    <script>

        $('#cServices').click(function () {

        });

        function loadComplete() {
            //$('.coverImgsli').addClass('mehB');
        }
        /* Radia Button */
        $('.selector1').click(function () {
            $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
            $(this).toggleClass('select_active');
        });




        $(window).on('load', function () {
	  $('html, body').animate({scrollTop: '0px'}, 300);
          load_page();
        });
        $('.icnLike').click(function () {
            $(this).toggleClass('liked');
        });

        $(window).scroll(function () {
            var sc = $(window).scrollTop();
            var ht = $('#banner_over').outerHeight(true) - 60;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});
            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
            }
            else {
                $('.header').removeClass('black_bg');
            }

        });

        $('.jzgrid').mouseenter(function () {
            $(this).find('.plusCont').velocity('stop').velocity({scale: [1, 0]}, {duration: 200, delay: 200, easing: 'swing'});
            $(this).find('.hovTrans').velocity('stop').velocity({translateX: [0, '-100%']}, {duration: 200, easing: 'easeInOutExp', display: 'block', complete: function () {

                }
            });
        });
        $('.jzgrid').mouseleave(function () {
            $(this).find('.plusCont').velocity('stop').velocity({scale: [0, 1]}, {duration: 200, easing: 'swing'});
            $(this).find('.hovTrans').velocity('stop').velocity({translateX: ['101%', 0]}, {duration: 200, easing: 'easeInOutExpo', display: 'none', complete: function () {

                }
            });
        });

        var iv = -1;
        var timeoff = 6000;
        function gallerChange() {
            iv = (iv + 1) % 4;
                $('.galleryImg').addClass('dn');
                $('.galleryImg').eq(iv).removeClass('dn');
        }
        var kkk= -1;
        function runslider() {
            kkk++;
            if (kkk == 4) {
                clearTimeout(stop);
                runslider();
                kkk = 0;
            }

          clearTimeout(stop);
            gallerChange();
            stop = setTimeout(function(){
                runslider();
            }, timeoff);

        }
        var sctrig = 0;
        var $window = $(window);
        $window.on('scroll', check_if_in_view);
        $window.on('scroll resize', check_if_in_view);
        $window.trigger('scroll');
        function check_if_in_view() {
            var window_height = $window.height();
            var window_top_position = $window.scrollTop();
            var window_bottom_position = (window_top_position + window_height);
            $('.homeCard , .darkCont ,.animFade').each(function (i) {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top;
                var element_bottom_position = (element_top_position + element_height);
                var delay = i * 200;

                if ((element_bottom_position >= window_top_position) &&
                        (element_top_position + 100 <= window_bottom_position)) {
                    $element.addClass('fadeInup');
                } else {
                    //$element.removeClass('fadeInup');
                }
            });
            var daroff = $('#darkCont').offset().top;
            var darBot = $('#darkCont').offset().top + $('#darkCont').outerHeight(true);
            if (window_bottom_position > daroff && window_top_position < darBot + 200) {
              if(!$('#darkCont').hasClass('runslider'))
              {
                  $('#darkCont').addClass('runslider');
                  runslider();
                setTimeout(function(){
                    $('#sliderProgress').addClass('swipeLine');
                    $('.galleryCover').addClass('swipeImg');
                },220);
              }
            }
             else {
                clearTimeout(stop);
                $('#darkCont').removeClass('runslider');
                $('#sliderProgress').removeClass('swipeLine');
                $('.galleryCover').removeClass('swipeImg');
            }
        }
        function redirect() {
            $('body').addClass('over_hide');
            $('.page_loader').velocity({translateX: [0, '-100%']}, {duration: 300, easing: 'easeInOutExp', display: 'block',
                complete: function () {
                    setTimeout(function () {
                        window.location.assign(DOMAIN + 'index.php?action=check_out');
                    }, 1000);
                }
            });
        }

        $('.sideNav').velocity({translateX: "-100%"}, {duration:0, delay: 0, display: "none", ease: "ease-out"});
   	 $('.menuLHeader').on('click',function(){
          $('.sideNav').velocity({translateX: "0%"}, {duration: 300, delay: 0, display: "block", ease: "ease-out"});
            $(".swipe").addClass("swipe_aftr");
              $(".swipe_aftr").removeClass("dn");
              $("body").addClass("posFix");
          });
          // $('.swipe_aftr').on('click',function(){
          //      $('.sideNav').velocity({translateX: "100%"}, {duration: 300, delay: 0, display: "none", ease: "ease-out"});
          //        $(".swipe").removeClass("swipe_aftr");
          //          $("body").removeClass("posFix");
          //      });

               $(document).on('click','#lftt',function(){
                 $(this).removeClass('swipe_aftr');
                 $('.sideNav').velocity({translateX: "-100%"}, {duration: 300, delay: 0, display: "none", ease: "ease-out"});
                 $("body").removeClass("posFix");
               });

               $('.crssLheader').on('click',function(){
  		       $('.sideNav').velocity({translateX: "-100%"}, {duration: 300, delay: 0, display: "none", ease: "ease-out"});
                  $("body").removeClass("posFix");
                  $(".swipe").removeClass("swipe_aftr");
          });

        // Hammer(document.getElementById("lftt")).on("swiperight", function() {
        //   $('.sideNav').velocity({translateX: "0%"}, {duration: 300, delay: 0, display: "block", ease: "ease-out"});
        //   $('.swipe').addClass('swipe_aftr');
        //   $('body').addClass('posFix');
        // });
        // Hammer(document.getElementById("leftMenu")).on("swipeleft", function() {
        //   $('.sideNav').velocity({translateX: "100%"}, {duration: 300, delay: 0, display: "none", ease: "ease-out"});
        //   $('.swipe').removeClass('swipe_aftr');
        //    $('body').removeClass('posFix');
        //  });
        // $('.sideNav_tab').click(function() {
        //   $(this).addClass('niyaz');
        //   $(this).parent().parent().find('.asa').each(function(){
        //
        //
        // //var slideDir=  $(this).find('.collap').is(':visible') ? 'slideUp' : 'slideDown';
        //
        //   if($(this).children().hasClass('niyaz'))
        //   {
        //
        //   }
        //   else{
        //   $(this).find('.collap').velocity('slideUp');
        // }
        //
        //
        //   });
        //   $(this).removeClass('niyaz');
        //     var slideDir = $('.collap').is(':visible') ? 'slideUp' : 'slideDown';
        //      $(this).parent().find('.collap').velocity(slideDir);
        //
        //
        //
        //     });

	  //   Hammer(document.getElementById("lftt")).on("swipeleft", function() {
		// $(".sideNav").show('slide',{direction:'left'}, 300);
    //     });
        Hammer(document.getElementById("leftMenu")).on("swipeleft", function() {
		$(".sideNav").hide('slide',{direction:'left'},  300);
  $(".swipe").removeClass("swipe_aftr");
     $("body").removeClass("posFix");
       });


       $(document).ready(function() {

	var faqTab = $('.sideNav_tab'),
        faqTabContainer = $('.div100');

	if(faqTab.length){

		faqTab.off('sideNav_tab').on('click', function(){
			var faqRow = $(this).parent(),
			    faqContent = $(this).parent().find('.collap');

			    faqTabContainer.find('.collap').not(faqContent).stop().slideUp('slow');
                faqTabContainer.find('.asa').not(faqRow).removeClass('open');

			    faqContent.stop().slideToggle('slow', function() {
					faqRow.toggleClass('open', faqContent.is(':visible'));
				});
		});

	}

});
    </script>

</body>
