<div class="page_loader2">
  <!-- <div class="cs-loader-inner ">
    <label>●</label>
    <label>●</label>
    <label>●</label>
    <label>●</label>
    <label>●</label>
    <label>●</label>
  </div>
      <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div> -->

      <div class="diamondL">
        <div class="dCircle2"></div>
        <div class="dCircle2"></div>
        <div class="dCircle2"></div>
        <div class="dCircle2"></div>
        <div class="dCircle2 "></div>
        <div class="dCircle2 "></div>
        <div class="dCircle2 "></div>
        <div class="dCircle2"></div>
        <div class="dCircle2"></div>
        <div class="dCircle2 "></div>
        <div class="dCircle2"></div>
        <div class="dCircle2"></div>
      </div>
      <div class="diamondL">
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
        <div class="dCircle"></div>
      </div>
      <div class="black_slider"></div>
</div>
<script>
function load_page(){

  $('.black_slider').velocity({translateX:[0,'-100%']} , {duration:400 ,delay:2000, easing:'easeInOutExp' , complete:function(){
    $('.page_loader2').velocity({translateX:['100%',0]} , {duration:400 , easing:'easeInOutExp',display:'none' , complete:function(){
  loadComplete();
    }});
      }});
}
</script>
