'
<!DOCTYPE html>
<?php include 'jhead.html' ?>
<script type="text/javascript" src="<?php echo $fjvs['Common']; ?>"></script>
<script>
            var BWEBROOT = '<?php echo BACKWEBROOT?>';
    var DOMAIN = '<?php echo DOMAIN?>';
    var APIDOMAIN = '<?php echo APIDOMAIN?>';
    var IMGDOMAIN = '<?php echo IMGDOMAIN ?>';
    var page = '<?php echo $page?>';

</script>
<body>
    <!--<?php include 'header.html' ?>-->
    <div class="outerContr" id="signInId">
        <div class="loginCont fLeft" id="loginId">
            <div class="txtTitle" id="hTxt">Luxury or nothing<br></div>
            <div class="txtB fLeft">
                <input type="text" class="inp_box " maxlength="30" id="email" autocomplete="off">
                <div class="inp_label" >Email-Id*</div>
            </div>
            <div class="txtB fLeft mBtm5">
                <input type="password" class="inp_box " maxlength="30" id="pass" autocomplete="off">
                <div class="inp_label">Password*</div>
            </div>
            <div class="subTxt fLeft font12" id="forId"><span class="u_line">FORGOT PASSWORD?</span></div>
            <div class="filterSec fLeft">
                <center>
                    <div class="button actBtn transition300" id="log">SIGN IN</div>
                    <div class="brkCnt">
                        <div class="orTcnt">Sign Up</div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="outerContr dn" id="forgot">
        <div class="loginCont fLeft" id="loginId1">
            <div class="txtTitle" id="hTxt">Luxury or nothing</div>
            <div class="txtB fLeft">
                <input type="text" class="inp_box " maxlength="30" id="femail" autocomplete="off">
                <div class="inp_label" >Email-Id/Mobile</div>
            </div>
            <div class="filterSec fLeft">
                <center>
                    <div class="button actBtn transition300" id="fsubId">submit</div>
                </center>
            </div>
        </div>
    </div>
    <div class="outerContr dn" id="signUpId">
        <div class="loginCont fLeft" id="signCont">
            <div class="txtTitle" id="hTxt">Luxury or nothing</div>
            <div class="txtB fLeft">
                <input type="text" class="inp_box " maxlength="30" id="name" autocomplete="off">
                <div class="inp_label">Name*</div>
            </div>
            <div class="txtB fLeft">
                <input type="text" class="inp_box " maxlength="30" id="email" autocomplete="off">
                <div class="inp_label">Email-Id*</div>
            </div>
            <div class="txtB fLeft">
                <input type="tel" class="inp_box " maxlength="30" id="mobile" autocomplete="off">
                <div class="inp_label">Mobile*</div>
            </div>
            <div class="txtB fLeft">
                <input type="password" class="inp_box " maxlength="30" id="pass" autocomplete="off">
                <div class="inp_label">Password*</div>
            </div>
            <div class="filterSec fLeft">
                <center>
                    <div class="button actBtn transition300" id="rsubId">SIGN UP</div>
                </center>
            </div>
        </div>
    </div>
    <div class="outerContr dn" id="otpOuter">
        <div class="loginCont fLeft" id="otpCont">
            <div class="txtTitle" id="hTxt">Luxury or nothing</div>
            <div class="txtB fLeft">
                <input type="tel" class="inp_box" autocomplete="off">
                <div class="inp_label">Please enter the otp</div>
            </div>
            <div class="filterSec fLeft">
                <center>
                    <div class="button actBtn transition300" id="otpsubId">SUBMIT</div>
                </center>
            </div>
        </div>
    </div>
    <div class="outerContr dn" id="otpOuter2">
        <div class="loginCont fLeft" id="otpCont2">
            <div class="txtTitle" id="hTxt">Luxury or nothing</div>
            <div class="txtB fLeft">
                <input type="tel" class="inp_box" autocomplete="off">
                <div class="inp_label">Please enter the otp</div>
            </div>
            <div class="filterSec fLeft">
                <center>
                    <div class="button actBtn transition300">SUBMIT</div>
                </center>
            </div>
        </div>
    </div>
    <div class="outerContr dn" id="resetId">
        <div class="loginCont fLeft" id="inresetId">
            <div class="txtTitle" id="hTxt">Reset Your Password</div>
            <div class="txtB fLeft">
                <input type="password" class="inp_box " maxlength="30" id="pass">
                <div class="inp_label">Please Enter New Password*</div>
            </div>
            <div class="txtB  fLeft">
                <input type="password" class="inp_box " maxlength="30" id="cpass">
                <div class="inp_label">Confirm Password*</div>
            </div>        
            <center>
                <!--<a href=""><div class="button actBtn transition300">BACK TO LOGIN</div></a>-->
                <div class="button actBtn transition300" id="respsssub">SUBMIT</div>
            </center>
        </div>
    </div>

    <script type="text/javascript">
        $('.inp_box').focus(function () {
            $(this).closest('.txtB').addClass('focul');
        });
        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k === "") {
                $(this).closest('.txtB').removeClass('focul');
            }
        });


        $('#hTxt,#loginId,#lgnId').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $(document).ready(function () {
            $('#hTxt,#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#lgnId').velocity({opacity: [1, 0], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });

        $('#loginId1').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $('#forId').click(function () {
            $('#forgot').removeClass("dn");
            $('#loginId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#loginId1').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//            $('#lgnId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 800, delay: 600, easing: 'ease-in-out'});
        });
        $('#hTxt,#signCont').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $('.brkCnt').click(function () {
            $('#signUpId').removeClass("dn");
            $('#loginId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#signCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });
        $('#otpCont,#otpCont2').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $('#fsubId').click(function (){
            $('#otpOuter').removeClass("dn");
            $('#loginId1').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });
        $('#rsubId').click(function () {
            $('#otpOuter2').removeClass("dn");
            $('#signCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpCont2').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });
        $('#inresetId').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $('#otpsubId').click(function () {
            $('#resetId').removeClass("dn");
            $('#otpCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#inresetId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });

    </script>
    <script type="text/javascript" src="<?php echo $jvs['login']; ?>"></script>

</body>
</html>
