
<!DOCTYPE html>

<?php include 'jhead.html' ?>
<script type="text/javascript" src="<?php echo $fjvs['Common']; ?>"></script>
<script>
            var BWEBROOT = '<?php echo BACKWEBROOT?>';
    var DOMAIN = '<?php echo DOMAIN?>';
    var APIDOMAIN = '<?php echo APIDOMAIN?>';
    var IMGDOMAIN = '<?php echo IMGDOMAIN ?>';
    var page = '<?php echo $page?>';

</script>

<body>
      <div class="outerContr">
                <div class="loginCont fLeft" id="loginId">
                    <div class="txtTitle" id="hTxt">Luxury or nothing<br></div>
                    <div class="txtB fLeft">
                        <input type="text" class="inp_box " maxlength="30" id="email">
                        <div class="inp_label" >Email-Id*</div>
                    </div>
                    <div class="txtB fLeft mBtm5">
                        <input type="password" class="inp_box " maxlength="30" id="pass">
                        <div class="inp_label">Password*</div>
                    </div>
                    <div class="subTxt fLeft font12" id="forId"><span class="u_line">FORGOT PASSWORD?</span></div>
                    <div class="filterSec fLeft">
                        <center>
                            <div class="btnContainr" id="nxt">
                                <div class="button button2 btnc1 transition300 fLeft" id="log">SIGN IN</div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="outerContr dn" id="forgot">
               
                <div class="loginCont fLeft" id="loginId1">
                       <div class="txtTitle" id="hTxt">Luxury or nothing</div>
                    <div class="txtB fLeft">
                        <input type="text" class="inp_box " maxlength="30" id="femail">
                        <div class="inp_label" >Email-Id*</div>
                    </div>
                    <div class="filterSec fLeft">
                        <center>
                            <div class="btnContainr" id="nxt">
                                <a href=""><div class="button button2 btnc1 transition300 fLeft">CANCEL</div></a>
                            </div>
                            <div class="btnContainr" id="flog">
                                <div class="button button2 btnc1 transition300 fLeft">SUBMIT</div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
    <script type="text/javascript">
        $('.inp_box').focus(function () {
            $(this).closest('.txtB').addClass('focul');
        });
        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k === "") {
                $(this).closest('.txtB').removeClass('focul');
            }

        });

        $('#txtId,#hTxt,#loginId,#lgnId').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $(document).ready(function () {
            $('#txtId,#hTxt,#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 400, easing: 'ease-in-out'});
            $('#lgnId').velocity({opacity: [1, 0], translateY: [20, 0]}, {duration: 400, delay: 400, easing: 'ease-in-out'});
        });

        $('#txtId1,#loginId1').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $('#forId').click(function () {
            $('#forgot').removeClass("dn");
            $('#txtId,#loginId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 400, easing: 'ease-in-out'});
            $('#txtId1,#loginId1').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 400, easing: 'ease-in-out'});
//            $('#lgnId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 800, delay: 600, easing: 'ease-in-out'});
        });


    </script>
    <script type="text/javascript" src="<?php echo $jvs['login']; ?>"></script>

</body>
</html>
