<!DOCTYPE html>
<body>
    <div class="fLeft"></div>
    <div class="col100 fade">
        <div class="outerContr dn" id="signInId">
            <div class="loginCont fLeft" id="loginId">
                <div class="txtTitle" id="hTxt">Please enter your jzeva login credentials below</div>
                <div class="txtB fLeft" id="subusreml">
                    <input type="text" class="inp_box " maxlength="30" id="email" autocomplete="off">
                    <div class="inp_label" >Email-Id/Mobile*</div>
                </div>
                <div class="txtB fLeft" id="subusrpass">
                    <input type="password" class="inp_box " maxlength="30" id="pass" autocomplete="off">
                    <div class="inp_label">Password*</div>
                </div>
                <div class="subTxt fLeft p" id="forId"><span>Forgot Password?</span></div>
                <div class="col100 fLeft posbtn">
                    <center>
                        <div class="button actBtn transition300" id="log">SIGN IN</div>  
                    </center>
                </div>
                <div class="fLeft col100 signupTxt">Dont have account?<span id="signinbtn">Signup</span></div>
            </div>
            <div class="closeLogin"></div>
        </div>
        <div class="outerContr dn" id="forgot">
            <div class="loginCont fLeft" id="loginId1">
                <div class="txtTitle" id="hTxt">To receive your password, please enter the e-mail address or phone number linked to your Jzeva account.</div>
                <div class="txtB fLeft">
                    <input type="text" class="inp_box " maxlength="30" id="femail" autocomplete="off">
                    <div class="inp_label" >Enter your email-Id/mobile</div>
                </div>
                <div class="col100 fLeft">
                    <center>
                        <div class="button actBtn transition300" id="fsubId">submit</div>
                    </center>
                </div>
            </div>
            <div class="closeLogin"></div>
            <div class="goBack" id="frgpw_bak"></div>
        </div>
        <div class="outerContr dn" id="signUpId">
            <div class="loginCont fLeft" id="signCont">
                <div class="txtTitle" id="hTxt">Please enter the relevant information</div>
                <div class="dropBox fLeft">
                    <label  id="dlabel">Title</label>
                    <ul class="ulDiv dn">
                        <li class="opt1" id="gnd_1">Ms</li>
                        <li class="opt1" id="gnd_2">Mr</li>
                        <li class="opt1" id="gnd_3">Mrs</li>
                    </ul>
                </div>
                <div class="txtB fRight w78">
                    <input type="text" class="inp_box " maxlength="30" id="name" autocomplete="off">
                    <div class="inp_label">Name*</div>
                </div>
                <div class="txtB fLeft">
                    <input type="text" class="inp_box " maxlength="30" id="signupemail" autocomplete="off">
                    <div class="inp_label">Email-Id*</div>
                </div>
                <div class="txtB fLeft">
                    <input type="number" class="inp_box " maxlength="11" id="mobile" autocomplete="off">
                    <div class="inp_label">Mobile*</div>
                </div>
                <div class="txtB fLeft">
                    <input type="password" class="inp_box" maxlength="30" id="signuppass" autocomplete="off">
                    <div class="inp_label">Password*</div>
                </div>
                <div class="col100 fLeft">
                    <center>
                        <div class="button actBtn transition300" id="rsubId">SIGN UP</div>
                    </center>
                </div>
            </div>
            <div class="closeLogin"></div>
            <div class="goBack" id="sig_pgbak"></div>
        </div>
        <div class="outerContr dn" id="otpOuter">
            <div class="loginCont fLeft" id="otpCont">
                <div class="txtTitle" id="hTxt">Please enter the OTP you received on your email/phone number.</div>
                <div class="txtB fLeft">
                    <input type="tel" class="inp_box" id="otp_inpt" autocomplete="off" maxlength="6">
                    <div class="inp_label">Please enter the otp</div>
                </div>
                <div class="subTxt fLeft pad0" id="resendotp">Resend OTP</div>

                <div class="col100 fLeft">
                    <center>  
                        <div class="button actBtn transition300" id="otpsubId">SUBMIT</div> 
                    </center>
                </div>
            </div>
            <div class="closeLogin"></div>
            <div class="goBack" id="otppg_bak"></div>
        </div>
        <div class="outerContr dn" id="otpOuter2">
            <div class="loginCont fLeft" id="otpCont2">
                <div class="txtTitle" id="hTxt">Please enter the OTP you received on your email/phone number.</div>
                <div class="txtB fLeft">
                    <input type="tel" class="inp_box" autocomplete="off" id="signup_otp" maxlength="6">
                    <div class="inp_label">Please enter the otp</div>
                </div>
                <div class="fLeft col100">
                    <center> 

                        <div class="col50 fLeft">
                            <div class="button actBtn transition300" id="resnd_otp">RESEND</div>
                        </div>
                        <div class="col50 fRight">
                            <div class="button actBtn transition300" id="signup_submt">SUBMIT</div>
                        </div>

                    </center>
                </div>
            </div>
            <div class="closeLogin"></div>  
            <div class="goBack" id="otp2pg_bak"></div> 
        </div>
        <div class="outerContr dn" id="resetId">
            <div class="loginCont fLeft" id="inresetId">
                <div class="txtTitle" id="hTxt">Reset Your Password</div>
                <div class="txtB fLeft">
                    <input type="password" class="inp_box " maxlength="30" id="resetpass">
                    <div class="inp_label">Please Enter New Password*</div>
                </div>
                <div class="txtB  fLeft">
                    <input type="password" class="inp_box " maxlength="30" id="resetcpass">
                    <div class="inp_label">Confirm Password*</div>
                </div>        
                <center>
                    <!--                    <a href=""><div class="button actBtn transition300">BACK TO LOGIN</div></a>-->
                    <div class="button actBtn transition300" id="respsssub">SUBMIT</div>
                </center>
            </div>
            <div class="closeLogin"></div>
            <div class="goBack" id="resetpg_bak"></div>
        </div>
    </div>

    <script type="text/javascript">


        $('.inp_box').focus(function () {
            $(this).closest('.txtB').addClass('focul');
        });

        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k === "") {
                $(this).closest('.txtB').removeClass('focul');
            }
        });

        $("#dlabel").click(function () {
            
            $('.dropBox label').addClass("act");
            $(this).parent().addClass("drop");
            $(this).next().slideDown("slow");
        });

        $(".dropBox ul li").click(function () {
            $('.dropBox label').removeClass("act");
            $(this).parent().parent().removeClass("drop");
            var liTxt = $(this).html();
            $(".dropBox label").text(liTxt);
            $(this).parent().slideUp("slow");
        });
         
       $(document).click(function (event) {
       if (!$(event.target).closest('.dropBox').length)
       {
           if ($('.dropBox').find('ul').is(":visible"))
           {
               $('.dropBox').find('ul').slideUp('swing');
           }
       }
   });
         
         
        $('#hTxt,#loginId,#lgnId,#loginId1,#otpCont,#otpCont2,#inresetId,#signCont').velocity({opacity: [0]}, {duration: 0, easing: 'ease-in-out'});
        $(document).ready(function () {
    


            $('#hTxt,#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#lgnId').velocity({opacity: [1, 0], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    if (entrflg == 1)
                        forgtpass();
                    else if (entrflg == 2)
                        dosignup();
                    else if (entrflg == 3)
                        frgpassotpsub();
                    else if (entrflg == 4)
                        chklogin();
                    else if (entrflg == 5)
                        restpasssubmt();
                    else if (entrflg == 6)
                        sugnupsubmt();
                }
            });
        });

        function forgot() {
            $('#email').val('');
            $('#pass').val('');
            $('#pass').blur();
            $('#email').blur();
            entrflg = 1;
            $('#forgot').removeClass("dn");
            $('#loginId1').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function fSubmit() {
            entrflg = 3;
            $('#otp_inpt').val('');
            $('#otp_inpt').blur();
            $('#femail').val('');
            $('#femail').blur();
            $('#forgot').addClass("dn");
            $('#loginId1').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpOuter').removeClass("dn");
            $('#otpCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function otpSubmit() {
            $('#otpOuter').addClass("dn");
            $('#otpCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function signup() {
            $('#email').val('');
            $('#pass').val('');
            $('#pass').blur();
            $('#email').blur();
            entrflg = 2;
            $('#signUpId').removeClass("dn");
            $('#loginId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#signCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function signupSubmit() {
            entrflg = 6;
            $('#otpOuter2').removeClass("dn");
            $('#otpCont2').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#signUpId').addClass("dn");
            $('#signCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});

        }

        function signupOtpSubmit() {
            $('#resetId').removeClass("dn");
            $('#inresetId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpOuter2').addClass("dn");
            $('#otpCont2').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});

        }

        function resetSubmit() {
            entrflg = 4;
            $('#resetpass').val('');
            $('#resetpass').blur();
            $('#resetcpass').val('');
            $('#resetcpass').blur();
            $('#resetId').addClass("dn");
            $('#inresetId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpOuter').addClass("dn");
            $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function otpBack() {
            entrflg = 1;
            $('#femail').val('');
            $('#femail').blur();
            $('#otpOuter').addClass("dn");
            $('#otpCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#forgot').removeClass("dn");
            $('#loginId1').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function signupBack() {
            entrflg = 4;
            $('#signUpId').addClass("dn");
            $('#signCont').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});

        }

        /*sign up otp Back button*/
        function otp2Back() {
            entrflg = 2;
            $('#otpOuter2').addClass("dn");
            $('#otpCont2').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#signUpId').removeClass("dn");
            $('#signCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function resetBack() {
            entrflg = 3;
            $('#otp_inpt').val('');
            $('#otp_inpt').blur();
            $('#resetId').addClass("dn");
            $('#inresetId').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#otpOuter').removeClass("dn");
            $('#otpCont').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        }

        function forgotBack() {
            entrflg = 4;
            $('#forgot').addClass("dn");
            $('#loginId1').velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//            $('#signInId').removeClass("dn");
            $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('#femail').val('');
            $('#femail').blur();
        }



        function openPopUp() {
            entrflg = 4;
            $('#signInId').removeClass("dn");
            $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
            $('.overlay').velocity({opacity: [1, 0]});
//          $('.overlay').velocity({display: "block"});
            $('.menu_wrap').css("height", "0");
            $('.tabWrap').addClass("addPointer");
            $('.wrapper_max').addClass("addPointer");

            $('#loginId').css("opacity", "1");
            $('#forgot,#otpOuter,#otpOuter2,#signUpId').addClass("dn")
            $('.outerContr,.deleteContr').css("z-index", "203", "opacity", "1");
            $(this).parent().parent().addClass("addPointer");
            $('.ftabB').addClass("addPointer");
            $('.outerContr').velocity({translateY: [0, '150%']}, {duration: 150, delay: 100, easing: ''});
        }




        $('.goBack').click(function () {
//            $(this).parent().addClass("dn");
//            var backId = $(this).parent().children('.loginCont').attr("id");
//            $('#' + backId).velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//            $(this).parent().prev().removeClass("dn");
//            $(this).parent().prev().children(':first-child').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//        $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
        });

//        $('#frgpw_bak').click(function () {
//            $(this).parent().addClass("dn");
//            var backId = $(this).parent().children('.loginCont').attr("id");
//            $('#' + backId).velocity({opacity: [0, 1], translateY: [20, 0]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//            $(this).parent().prev().removeClass("dn");
//            $(this).parent().prev().children(':first-child').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
////        $('#loginId').velocity({opacity: [1, 0], translateY: [0, 20]}, {duration: 400, delay: 100, easing: 'ease-in-out'});
//        });





    </script>

    <script type="text/javascript" src="<?php echo $jvs['login']; ?>"></script>


</body>
</html>
