<div class="mheader">
    <div class="menuLHeader fLeft"></div>
   <div class="mlogoHeader"></div>
   <div class="mCart fRight"></div>
    </div>
<div class="sideNav" id="leftMenu">
  <div class="menuWrapper">
    <div class="crssLheader"></div>
                 <div class="div100 fLeft" id="menudivCont">
                   <div class="asa fLeft open">
                  <div class="sideNav_tab" id="fnJwl">
                        FINE JEWELLERY
                    </div>
                    <div class="collap fLeft dn">
                       <div class="meucot fLeft">
                          RINGS
                       </div>
                       <div class="meucot fLeft">
                          EARRINGS
                       </div>
                       <div class="meucot fLeft">
                          NECKLACES
                       </div>
                       <div class="meucot fLeft">
                          BANGLES
                       </div>
                       <div class="meucot fLeft">
                          PENDANTS
                       </div>
                    </div>
                  </div>
                  <div class="asa fLeft">
                   <div class="sideNav_tab">
                         BESPOKE
                    </div>
                  </div>
                  <div class="asa fLeft">
                    <div class="sideNav_tab">
                           PRODUCTS
                    </div>
                  </div>
                  <div class="asa fLeft">
                    <div class="sideNav_tab">
                         SIGNATURE
                    </div>
                  </div>
                  <div class="asa fLeft">
                    <div class="sideNav_tab" id="educ">
                          EDUCATION
                    </div>
                    <div class="collap fLeft dn">
                       <div class="meucot fLeft">
                          GEMSTONE GUIDE
                       </div>
                       <div class="meucot fLeft">
                          JEWELLERY GUIDE
                       </div>
                       <div class="meucot fLeft">
                          PRECIOUS METAL GUIDE
                       </div>
                       <div class="meucot fLeft">
                          DIAMOND GUIDE
                       </div>
                       <div class="meucot fLeft">
                          SIZING GUIDE
                       </div>
                       <div class="meucot fLeft">
                          BANGLE GUIDE
                       </div>
                    </div>
                  </div>
                  <div class="asa fLeft">
                    <div class="sideNav_tab cc5 mlogn">
                        LOGIN
                    </div>
                  </div>
                </div>
            </div>
        </div>
