<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms myaccount">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">my account</div>
    </div>
    <div class="wrapper_main  fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="fLeft tHead">
                        <div class="fLeft tabHead">orders</div>
                        <div class="fLeft fooTxt txtRight" id="oId">My orders</div>
                        <div class="fLeft fooTxt txtRight" id="wId">Wishlist</div>
                        <div class="fLeft fooTxt txtRight" id="rId">Reviews</div>
                        <div class="fLeft tabHead">My account</div>
                        <div class="fLeft fooTxt txtRight" id="pId">Personal info</div>
                        <div class="fLeft fooTxt txtRight" id="cId">Change password</div>
                        <div class="fLeft fooTxt txtRight"  id="sId">Saved address</div>
                    </div>
                    <div class="fLeft pCont">
                        <div class="orderCommon" id="myordId">
                            <div class="fLeft tabHead txt_left">my orders</div>
                            <div class="fLeft orderOuter">
                                <div class="fLeft inShip">
                                    <div class="fLeft Morder">shipment</div>
                                    <div class="fLeft Morder">status</div>
                                    <div class="fLeft Morder">items</div>
                                </div>
                                <div class="fLeft inShip">
                                    <div class="fLeft Morder bolder">&#8377 23,000</div>
                                    <div class="fLeft Morder bolder">Delivered</div>
                                    <div class="fLeft Morder bolder">5</div>
                                </div>
                            </div>
                            <div class="fLeft detailsOuter bNone">
                                <div class="fLeft orderImg"></div>
                                <div class="fLeft orderName">
                                    <div class="fLeft pName semibold">Dual eternity ring</div>
                                    <!--                                <div class="fLeft pCode pName semibold">&#8377 45,000</div>-->
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Code:</span>
                                        <span class="fLeft">JZEVA1404996868</span>
                                    </div>
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Qty:</span>
                                        <span class="fLeft">2</span>
                                    </div>
                                </div>
                                <div class="fLeft rsCont">
                                    <span class="fLeft">&#8377 45,000</span>
                                    <span class="plusBox fLeft"></span>
                                    <div class="fLeft vatTxt dn">
                                        <span class="fLeft">vat number</span>
                                        <span class="fLeft">7487384</span>
                                        <span class="fLeft">tax</span>
                                        <span class="fLeft">675675</span>
                                    </div>
                                </div>
                                <div class="fLeft note">
                                    <div class="">Please Note</div>
                                    <div class="">The item has not been delivered yet</div>
                                </div>
                            </div>
                            <div class="fLeft detailsOuter bNone">
                                <div class="fLeft orderImg"></div>
                                <div class="fLeft orderName">
                                    <div class="fLeft pName semibold">Dual eternity ring</div>
                                    <!--                                <div class="fLeft pCode pName semibold">&#8377 45,000</div>-->
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Code:</span>
                                        <span class="fLeft">JZEVA1404996868</span>
                                    </div>
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Qty:</span>
                                        <span class="fLeft">2</span>
                                    </div>
                                </div>
                                <div class="fLeft rsCont">
                                    <span class="fLeft">&#8377 45,000</span>
                                    <span class="plusBox fLeft"></span>
                                    <div class="fLeft vatTxt dn">
                                        <span class="fLeft">vat number</span>
                                        <span class="fLeft">7487384</span>
                                        <span class="fLeft">tax</span>
                                        <span class="fLeft">675675</span>
                                    </div>

                                </div>
                                <div class="fLeft note">
                                    <div class="">Please Note</div>
                                    <div class="">The item has not been delivered yet</div>
                                </div>
                            </div>
                            <div class="fLeft trackOuter poR">

                                <div class="fLeft trackName">
                                    <center>
                                        <div class="fLeft trackDivs">
                                            <div class="fLeft placedTxt">Placed</div>
                                            <div class="fLeft dateTxt">07 Oct</div>
                                            <div class="fLeft proStep tickIcon"></div>
                                        </div>
                                        <div class="fLeft trackDivs">
                                            <div class="fLeft placedTxt">Shipped</div>
                                            <div class="fLeft dateTxt">10 Oct</div>
                                            <div class="fLeft proStep tickIcon"></div>
                                        </div>
                                        <div class="fLeft trackDivs">
                                            <div class="fLeft placedTxt">Near you</div>
                                            <div class="fLeft dateTxt">14 Oct</div>
                                            <div class="fLeft proStep tickIcon"></div>
                                        </div>
                                        <div class="fLeft trackDivs">
                                            <div class="fLeft placedTxt">Delivered</div>
                                            <div class="fLeft dateTxt">16 Oct</div>
                                            <div class="fLeft proStep tickIcon"></div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="fLeft detailsOuter">
                                <div class="fLeft date">
                                    <div class="inDate">07</div>
                                    <div class="month">oct</div>
                                </div>
                                <div class="fLeft shipTo">shipped to third party</div>
                            </div>
                            <div class="fLeft detailsOuter">
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip">    
                                        <span class="font13 regular">Courier Name:</span>
                                        <span class="font13 semibold">some name</span> 
                                    </div>
                                    <div class="fLeft inShip">  
                                        <span class="font13 regular">Tracking Number:</span>
                                        <span class="font13 semibold">0123456788</span>
                                    </div>
                                </div>
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip">    
                                        <div class="font13 regular">want to return or exchange item(s)?</div>
                                        <div class="font13 semibold">confirm delivery of your order to create a return request </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft detailOrder">
                                order details
                            </div>
                            <div class="fLeft detailsOuter">
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip">    
                                        <span class="font13 regular">Order No:</span>
                                        <span class="font13 semibold">123456789</span> 
                                    </div>
                                    <div class="fLeft inShip">  
                                        <span class="font13 regular">Order Placed:</span>
                                        <span class="font13 semibold">0123456788</span>
                                    </div>
                                </div>
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip font13 regular">Total Amount</div>
                                    <div class="fLeft inShip font13 semibold">&#8377 45,000</div>    
                                </div>
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip font13 regular ">Shipping Address </div>
                                    <div class="fLeft inShipfont13 semibold ">#657 6th block kormangala,Bangalore 560095</div>
                                </div>
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip font13 regular ">Payment Mode</div>
                                    <div class="fLeft inShipfont13 semibold ">Online</div>
                                </div>
                            </div>
                        </div>
                        <div class="orderCommon fLeft dn" id="editpId">
                            <div class="fLeft tabHead txt_left">Profile</div>
                            <div class="fLeft col100">
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Email-Id*</div>
                                    </div>
                                </div>
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Password</div>
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft col100">
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">First Name</div>
                                    </div>
                                </div>
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Last Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft col100">
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Date of birth</div>
                                    </div>
                                </div>
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Mobile number</div>
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft col100">
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">City</div>
                                    </div>
                                </div>
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30" id="email">
                                        <div class="inp_label">Zip code</div>
                                    </div>
                                </div>
                            </div>
                            <div class="filterSec fLeft">
                                <center>
                                    <div class="btnContainr">
                                        <div class="button button2 btnc1 transition300 fLeft">SAVE</div>
                                    </div>
                                </center>
                            </div>
                       </div>
                        <div class="fLeft orderCommon dn" id="profileId">
                            <div class="fLeft tabHead txt_left">Profile</div> 
                            <div class="fLeft col50">
                                <div class="fLeft col50">
                                    <div class="proFields">First Name</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Chandrika</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Last Name</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Patil</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Gender</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Female</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Date of birth</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields"></div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Location</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Bangalore</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Email-Id</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">chandrika@xelpmoc.in</div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="btnContainr" id="edId">
                                            <div class="button button2 btnc1 transition300 fLeft">EDIT</div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <?php include 'footer.html'?>
        <script>
            $('#pId').click(function(){
                $('#myordId').addClass("dn");
                $('#profileId').removeClass("dn");
                 $('#editpId').addClass("dn");
            });
            $('#oId').click(function(){
                 $('#myordId').removeClass("dn");
                $('#profileId').addClass("dn");
                $('#editpId').addClass("dn");
            });
            $('#edId').click(function(){
                $('#profileId').addClass("dn");
                $('#editpId').removeClass("dn");
            });
            
            
            
            $('.inp_box').focus(function () {
                $(this).closest('.txtB').addClass('focul');
            });
            $('.inp_box').blur(function () {
                var k = $(this).val();
                if (k === "") {
                    $(this).closest('.txtB').removeClass('focul');
                }

            });

            $(".plusBox").click(function () {
                $(this).toggleClass('minusBox');
                $(this).siblings('.vatTxt').toggleClass("dn");
            });
            $(document).ready(function () {
                $('.wrapper_max').removeClass('offsetEffects');
            });
            $(window).scroll(function () {
                var sc = $('body').scrollTop();
                var ht = $('.gemBanner').outerHeight(true) - 130;
                if (ht > sc) {
                    var op = 1 - (ht - sc) / ht;
                    $('#banner_over').css({'opacity': op});

                }
                if (ht - sc <= 5) {
                    $('.header').addClass('black_bg');
                    console.log('if');
                } else {
                    $('.header').removeClass('black_bg');
                    console.log('else');
                }
                //           if(ht-sc<=60){
                //           console.log(sc);
                //           $('.gemBanner').addClass('fixer');
                //       }
                //       else{
                //            $('.gemBanner').removeClass('fixer');
                //       }
            });
        </script>


</body>
