<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms myaccount">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">my account</div>
    </div>
    <div class="wrapper_main  fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="fLeft tHead">
                        <div class="fRight fooH mar0">orders</div>
                        <div class="fLeft col100"><div class="fRight fooTxt" id="oId">My orders</div></div>
                        <div class="fLeft col100"><div class="fRight fooTxt"  id="wId">Wishlist</div></div>
                        <!--<div class="fLeft col100"><div class="fRight fooTxt pad0" id="rId">Reviews</div></div>-->
                        <div class="fRight fooH mar0">My account</div>
                        <div class="fLeft col100"><div class="fRight fooTxt  txtRight" id="pId">Personal info</div></div>
                        <div class="fLeft col100"><div class="fRight fooTxt  txtRight" id="cId">Change password</div></div>
                        <div class="fLeft col100"><div class="fRight fooTxt  txtRight"  id="sId">Saved address</div></div>
                    </div>
                    <div class="fLeft pCont">
                        <div class="orderCommon" id="myordId">
                            <div class="fLeft tabHead txt_left mBot15">my orders</div>
                            <div class="fLeft orderOuter">
                                <div class="fLeft inShip">
                                    <div class="fLeft Morder">price</div>
                                    <div class="fLeft Morder">Ouantity</div>
                                    <div class="fLeft Morder">status</div>
                                    <div class="fLeft Morder">date of order</div>
                                </div>
                                <div class="fLeft inShip">
                                    <div class="fLeft Morder bolder">&#8377 23,000</div>
                                    <div class="fLeft Morder bolder">4</div>
                                    <div class="fLeft Morder bolder">Delivered</div>
                                    <div class="fLeft Morder bolder">26 jan 2016</div>
                                </div>
                            </div>
                            <div class="fLeft detailsOuter bNone">
                                <div class="fLeft orderImg bgCommon"></div>
                                <div class="fLeft orderName">
                                    <div class="fLeft pName semibold">Dual eternity ring</div>
                                    <!--                                <div class="fLeft pCode pName semibold">&#8377 45,000</div>-->
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Code:</span>
                                        <span class="fLeft">JZEVA1404996868</span>
                                    </div>
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Qty:</span>
                                        <span class="fLeft">2</span>
                                    </div>
                                </div>
                                <div class="fLeft rsCont">
                                    <span class="fLeft">&#8377 45,000</span>
                                    <span class="plusBox plusHolder fLeft" id="p1"></span>
                                    <div class="fLeft vatTxt dn">
                                        <div class="fLeft col100">MRP<span>&#8377 50,000</span></div>
                                        <div class="fLeft col100">VAT:<span>7487384</span></div>
                                        <div class="fLeft col100">tax:<span>675675</span></div>
                                    </div>
                                </div>
                                <div class="fLeft note">
                                    <div class="fLeft col100 semibold pBtm5">Order No:<span class="regular">123456789</span></div>
                                    <div class="fLeft col100 semibold">shipping address</div>
                                    <div class="fLeft col100 shipAddr">m b nagar new extension area near shiv mandir gulbarga</div>
                                    <div class="filterSec fLeft">
                                        <center>
                                            <div class="button actBtn transition300 fRight mar0" id="trackId">track</div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft trackOuter poR dn transition300">
                                <center>
                                    <div class="trackDivs">
                                        <div class="fLeft placedTxt">Confirmed</div>
                                        <!--<div class="fLeft dateTxt">07 Oct</div>-->
                                        <div class="fLeft proStep tickIcon"></div>
                                    </div>
                                    <div class="trackDivs">
                                        <div class="fLeft placedTxt">quality check and certification</div>
                                        <!--<div class="fLeft dateTxt">10 Oct</div>-->
                                        <div class="fLeft proStep tickIcon"></div>
                                    </div>
                                    <div class="trackDivs">
                                        <div class="fLeft placedTxt">out for delivery</div>
                                        <!--<div class="fLeft dateTxt">14 Oct</div>-->
                                        <div class="fLeft proStep tickIcon"></div>
                                    </div>
                                    <div class="trackDivs">
                                        <div class="fLeft placedTxt">Delivered</div>
                                        <!--<div class="fLeft dateTxt">16 Oct</div>-->
                                        <div class="fLeft proStep tickIcon"></div>
                                    </div>
                                </center>
                                <div class="fLeft tOuter poR">
                                    <div class="fLeft date semibold font15">07 oct
                                        <!--                                    <div class="inDate">07</div>
                                                                            <div class="month">oct</div>-->
                                    </div>
                                    <div class="fLeft shipTo">shipped to third party</div>
                                </div>
                            </div>

                            <div class="fLeft detailsOuter bNone">
                                <div class="fLeft orderImg bgCommon"></div>
                                <div class="fLeft orderName">
                                    <div class="fLeft pName semibold">Dual eternity ring</div>
                                    <!--                                <div class="fLeft pCode pName semibold">&#8377 45,000</div>-->
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Code:</span>
                                        <span class="fLeft">JZEVA1404996868</span>
                                    </div>
                                    <div class="fLeft pPrice pName">
                                        <span class="fLeft">Qty:</span>
                                        <span class="fLeft">2</span>
                                    </div>
                                </div>
                                <div class="fLeft rsCont">
                                    <span class="fLeft">&#8377 45,000</span>
                                    <span class="plusBox plusHolder fLeft" id="p2"></span>
                                    <div class="fLeft vatTxt dn">
                                        <div class="fLeft col100">MRP<span>&#8377 50,000</span></div>
                                        <div class="fLeft col100">VAT:<span>7487384</span></div>
                                        <div class="fLeft col100">tax:<span>675675</span></div>
                                    </div>
                                </div>
                                <div class="fLeft note">
                                    <!--                                <div class="fLeft w_100">Please Note</div>
                                                                        <div class="fLeft w_100">The item has not been delivered yet</div>-->
                                    <div class="fLeft col100 semibold pBtm5">Order No:<span class="regular">123456789</span></div>
                                    <div class="fLeft col100 semibold">shipping address:</div>
                                    <div class="fLeft col100 shipAddr">m b nagar new extension area near shiv mandir gulbarga</div>
                                    <div class="filterSec fLeft">
                                        <center>
                                            <div class="button actBtn transition300 fRight mar0" id="trackId">track</div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft detailsOuter dn">
                                <div class="inCourier fLeft">
                                    <div class="fLeft inShip">    
                                        <span class="font13 regular">Courier Name:</span>
                                        <span class="font13 semibold">some name</span> 
                                    </div>
                                    <div class="fLeft inShip">  
                                        <span class="font13 regular">Tracking Number:</span>
                                        <span class="font13 semibold">0123456788</span>
                                    </div>
                                </div>
                                <div class="inCourier fLeft pad0">
                                    <div class="fLeft inShip">    
                                        <div class="font13 regular">want to return or exchange item(s)?</div>
                                        <div class="font13 semibold">confirm delivery of your order to create a return request </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="fLeft detailOrder dn">
                                order details
                            </div>
                            <div class="fLeft  detailsOuter dn">
                                <div class="fLeft ordersCard">
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip">    
                                            <span class="font13 regular">Order No:</span>
                                            <span class="font13 semibold">123456789</span> 
                                        </div>
                                        <div class="fLeft inShip">  
                                            <span class="font13 regular">Order Placed:</span>
                                            <span class="font13 semibold">0123456788</span>
                                        </div>
                                    </div>
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip font13 regular">Total Amount</div>
                                        <div class="fLeft inShip font13 semibold">&#8377 45,000</div>    
                                    </div>
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip font13 regular ">Shipping Address </div>
                                        <div class="fLeft inShipfont13 semibold ">#657 6th block kormangala,Bangalore 560095</div>
                                    </div>
                                    <div class="inCourier fLeft pad0">
                                        <div class="fLeft inShip font13 regular ">Payment Mode</div>
                                        <div class="fLeft inShipfont13 semibold ">Online</div>
                                    </div>
                                </div>
                                <div class="fLeft ordersCard bNone">
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip">    
                                            <span class="font13 regular">Order No:</span>
                                            <span class="font13 semibold">123456789</span> 
                                        </div>
                                        <div class="fLeft inShip">  
                                            <span class="font13 regular">Order Placed:</span>
                                            <span class="font13 semibold">0123456788</span>
                                        </div>
                                    </div>
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip font13 regular">Total Amount</div>
                                        <div class="fLeft inShip font13 semibold">&#8377 45,000</div>    
                                    </div>
                                    <div class="inCourier fLeft">
                                        <div class="fLeft inShip font13 regular ">Shipping Address </div>
                                        <div class="fLeft inShipfont13 semibold ">#657 6th block kormangala,Bangalore 560095</div>
                                    </div>
                                    <div class="inCourier fLeft pad0">
                                        <div class="fLeft inShip font13 regular ">Payment Mode</div>
                                        <div class="fLeft inShipfont13 semibold ">Online</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="orderCommon fLeft dn" id="editpId">
                            <div class="fLeft tabHead txt_left mBot15">Profile</div>
                            <div class="fLeft col100">
                                <div class="col50 fLeft">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">Name</div>
                                    </div>
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">Email-Id*</div>
                                    </div>

                                    <!--                                    <div class="txtB fLeft">
                                                                            <input type="text" class="inp_box " maxlength="30">
                                                                            <div class="inp_label">Date of birth</div>
                                                                        </div>-->
                                    <!--                                    <div class="txtB fLeft">
                                                                            <input type="text" class="inp_box " maxlength="30">
                                                                            <div class="inp_label">City</div>
                                                                        </div>-->
                                </div>
                                <div class="col50 fLeft">
                                    <!--                                    <div class="txtB fLeft">
                                                                            <input type="text" class="inp_box " maxlength="30">
                                                                            <div class="inp_label">Password</div>
                                                                        </div>-->
                                    <!--                                    <div class="txtB fLeft">
                                                                            <input type="text" class="inp_box " maxlength="30">
                                                                            <div class="inp_label">Last Name</div>
                                                                        </div>-->
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">Mobile number</div>
                                    </div>
                                    <!--                                    <div class="txtB fLeft">
                                                                            <input type="text" class="inp_box " maxlength="30">
                                                                            <div class="inp_label">Zip code</div>
                                                                        </div>-->
                                </div>
                            </div>
                            <div class="filterSec fLeft">
                                <center>
                                    <div class="button actBtn transition300">SAVE</div>
                                </center>
                            </div>
                        </div>
                        <div class="fLeft orderCommon dn" id="profileId">
                            <div class="fLeft tabHead txt_left mBot15">Profile</div> 
                            <div class="fLeft col50">
                                <div class="fLeft col50">
                                    <div class="proFields">First Name</div>
                                    <!--<div class="proFields">Last Name</div>-->
                                    <!--<div class="proFields">Gender</div>-->
                                    <!--<div class="proFields">Date of birth</div>-->
                                    <!--<div class="proFields">Location</div>-->
                                    <div class="proFields">mobile</div>
                                    <div class="proFields">Email-Id</div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="proFields">Chandrika</div>
                                    <!--<div class="proFields">Patil</div>-->
                                    <!--<div class="proFields">Female</div>-->
                                    <!--<div class="proFields"></div>-->
                                    <!--<div class="proFields">Bangalore</div>-->
                                    <div class="proFields">8123128747</div>
                                    <div class="proFields">chandrika@xelpmoc.in</div>
                                </div>
                                <!--                                <div class="filterSec fLeft">
                                                                    <center>
                                                                        <div class="button actBtn transition300" id="edId">EDIT</div>
                                                                    </center>
                                                                </div>-->
                            </div>
                        </div>
                        <div class="orderCommon fLeft dn" id='saveAddrId'>
                            <div class="fLeft addrBar" id="addNewId">Add New Address
                                <div class="plusBlack fRight addrEditCnt" id="plusCont"></div>
                            </div>
                            <div class="fLeft defaulDiv dn" id="openAddrId">
                                <div class="fLeft col50">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box">
                                        <div class="inp_label">Address</div>
                                    </div>
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">State</div>
                                    </div>
                                </div>
                                <div class="fLeft col50">
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">City</div>
                                    </div>
                                    <div class="txtB fLeft">
                                        <input type="text" class="inp_box " maxlength="30">
                                        <div class="inp_label">Pincode</div>
                                    </div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="button actBtn marR transition300">save</div>
                                    </center>
                                </div>

                            </div>
                            <!--<div class="fLeft savedAddr">Chandrika</div>-->
                            <div class="fLeft defaultHead">my addresses</div>
                            <div class="fLeft defaulDiv">
                                <div class="fLeft col100">
                                    <div class="font13">#657 6th block 17th main,</div>
                                    <div class="font13">Kormanagala</div>
                                    <div class="font13">Bengaluru-560095</div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="button actBtn marR transition300">remove</div>
                                        <!--<div class="button actBtn marR  transition300">edit</div>-->
                                    </center>
                                </div>
                            </div>
                            <!--<div class="fLeft defaultHead">other address</div>-->
                            <div class="fLeft defaulDiv">
                                <div class="fLeft col100">
                                    <div class="font13">#657 6th block 17th main,</div>
                                    <div class="font13">Kormanagala</div>
                                    <div class="font13">Bengaluru-560095</div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="button actBtn marR transition300">remove</div>
                                        <!--<div class="button actBtn marR transition300">edit</div>-->
                                    </center>
                                </div>
                            </div>
                            <div class="fLeft defaulDiv">
                                <div class="fLeft col100">
                                    <div class="font13">#657 6th block 17th main,</div>
                                    <div class="font13">Kormanagala</div>
                                    <div class="font13">Bengaluru-560095</div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="button actBtn marR transition300">remove</div>
                                        <!--<div class="button actBtn marR transition300">edit</div>-->
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="fLeft orderCommon dn" id='pChange'>
                            <div class="fLeft tabHead txt_left mBot15">Change Password</div>
                            <div class="col50 fLeft">
                                <div class="txtB fLeft">
                                    <input type="text" class="inp_box " maxlength="30">
                                    <div class="inp_label">Old Password</div>
                                </div>
                                <div class="txtB fLeft">
                                    <input type="text" class="inp_box " maxlength="30">
                                    <div class="inp_label">New Password</div>
                                </div>
                                <div class="txtB fLeft">
                                    <input type="text" class="inp_box " maxlength="30">
                                    <div class="inp_label">confirm Password</div>
                                </div>
                                <div class="filterSec fLeft">
                                    <center>
                                        <div class="button actBtn transition300">SUBMIT</div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="fLeft orderCommon dn" id="wishlistId">
                            <div class="fLeft tabHead txt_left mBot15">My Wishlist</div>
                            <div class="col100 fLeft poR">
                                <div class="grid3 transition400 fadeInup">
                                    <!--<div class="">out of stock</div>-->
                                    <div class="facet_front">
                                        <div class="grid_item">
                                            <div class="grid_img">
                                                <div style="background:url('http://localhost:81/jzeva/backend/image-upload/uploads/1320160808054906/1470635379RNG8567_00009.jpg')no-repeat ; background-size: contain ; background-position: center" class=""></div></div>
                                            <div class="hovTr">
                                                <div class="hovTrans" style="display: none; transform: translateX(101%);">
                                                    <div class="plusCont" style="transform: scale(0);"></div></div></div>
                                            <div class="grid_dets">
                                                <div class="grid_name txtOver transition300">Princess ring</div>
                                                <div class="col100  font11 transition300 txtOver">Gold  Φ  Diamond </div>
                                                <div class="grid_price txtOver transition300">₹ 64,629</div>
                                                <div class="action_btns">
                                                    <div class="col50 fLeft  padXr5">
                                                        <div class="actBtn fLeft bolder" id="add_to_cart" >Add To Cart</div>
                                                    </div>
                                                    <div class="col50 fLeft  padXl5">
                                                        <div class="actBtn fRight bolder">delete</div>
                                                    </div>
                                                </div>
                                                <div class="fmSansB smBtnDiv fLeft transition300">
                                                    <div class="v360Btn" onclick="imgLoad(1320160808054906, event)"></div></div></div>
                                            <div class="soc_icons">
                                                <div class="soc_elem soc_wish2 transition300"></div>
                                                <div class="soc_elem soc_share transition300"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid3 transition400 fadeInup">
                                    <!--<div class="">out of stock</div>-->
                                    <div class="facet_front">
                                        <div class="grid_item">
                                            <div class="grid_img">
                                                <div style="background:url('http://localhost:81/jzeva/backend/image-upload/uploads/1320160808054906/1470635379RNG8567_00009.jpg')no-repeat ; background-size: contain ; background-position: center" class=""></div></div>
                                            <div class="hovTr">
                                                <div class="hovTrans" style="display: none; transform: translateX(101%);">
                                                    <div class="plusCont" style="transform: scale(0);"></div></div></div>
                                            <div class="grid_dets">
                                                <div class="grid_name txtOver transition300">Princess ring</div>
                                                <div class="col100  font11 transition300 txtOver">Gold  Φ  Diamond </div>
                                                <div class="grid_price txtOver transition300">₹ 64,629</div>
                                                <div class="action_btns">
                                                    <div class="col50 fLeft  padXr5">
                                                        <div class="actBtn fLeft bolder" id="add_to_cart" >Add To Cart</div>
                                                    </div>
                                                    <div class="col50 fLeft  padXl5">
                                                        <div class="actBtn fRight bolder">delete</div>
                                                    </div>
                                                </div>
                                                <div class="fmSansB smBtnDiv fLeft transition300">
                                                    <div class="v360Btn" onclick="imgLoad(1320160808054906, event)"></div></div></div>
                                            <div class="soc_icons">
                                                <div class="soc_elem soc_wish2 transition300"></div>
                                                <div class="soc_elem soc_share transition300"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid3 transition400 fadeInup">
                                    <!--<div class="">out of stock</div>-->
                                    <div class="facet_front">
                                        <div class="grid_item">
                                            <div class="grid_img">
                                                <div style="background:url('http://localhost:81/jzeva/backend/image-upload/uploads/1320160808054906/1470635379RNG8567_00009.jpg')no-repeat ; background-size: contain ; background-position: center" class=""></div></div>
                                            <div class="hovTr">
                                                <div class="hovTrans" style="display: none; transform: translateX(101%);">
                                                    <div class="plusCont" style="transform: scale(0);"></div></div></div>
                                            <div class="grid_dets">
                                                <div class="grid_name txtOver transition300">Princess ring</div>
                                                <div class="col100  font11 transition300 txtOver">Gold  Φ  Diamond </div>
                                                <div class="grid_price txtOver transition300">₹ 64,629</div>
                                                <div class="action_btns">
                                                    <div class="col50 fLeft  padXr5">
                                                        <div class="actBtn fLeft bolder" id="add_to_cart" >Add To Cart</div>
                                                    </div>
                                                    <div class="col50 fLeft  padXl5">
                                                        <div class="actBtn fRight bolder">delete</div>
                                                    </div>
                                                </div>
                                                <div class="fmSansB smBtnDiv fLeft transition300">
                                                    <div class="v360Btn" onclick="imgLoad(1320160808054906, event)"></div></div></div>
                                            <div class="soc_icons">
                                                <div class="soc_elem soc_wish2 transition300"></div>
                                                <div class="soc_elem soc_share transition300"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                <div class="grid3 transition400 fadeInup">
                                                                    <div class="facet_front">
                                                                        <div class="grid_item">
                                                                            <div class="grid_img">
                                                                                <div style="background:url('http://localhost:81/jzeva/backend/image-upload/uploads/1320160808054906/1470635379RNG8567_00009.jpg')no-repeat ; background-size: contain ; background-position: center" class=""></div></div><div class="hovTr"><div class="hovTrans" style="display: none; transform: translateX(101%);"><div class="plusCont" style="transform: scale(0);"></div></div></div><div class="grid_dets"><div class="grid_name txtOver transition300">Princess ring</div><div class="col100  font11 transition300 txtOver">Gold  Φ  Diamond </div><div class="grid_price txtOver transition300">₹ 64,629</div><div class="fmSansB smBtnDiv fLeft transition300"><div class="v360Btn" onclick="imgLoad(1320160808054906, event)"></div></div></div><div class="soc_icons"><div class="soc_elem soc_wish2 transition300"></div><div class="soc_elem soc_share transition300">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid3 transition400 fadeInup">
                                                                    <div class="facet_front">
                                                                        <div class="grid_item">
                                                                            <div class="grid_img">
                                                                                <div style="background:url('http://localhost:81/jzeva/backend/image-upload/uploads/1320160808054906/1470635379RNG8567_00009.jpg')no-repeat ; background-size: contain ; background-position: center" class=""></div></div><div class="hovTr"><div class="hovTrans" style="display: none; transform: translateX(101%);"><div class="plusCont" style="transform: scale(0);"></div></div></div><div class="grid_dets"><div class="grid_name txtOver transition300">Princess ring</div><div class="col100  font11 transition300 txtOver">Gold  Φ  Diamond </div><div class="grid_price txtOver transition300">₹ 64,629</div><div class="fmSansB smBtnDiv fLeft transition300"><div class="v360Btn" onclick="imgLoad(1320160808054906, event)"></div></div></div><div class="soc_icons"><div class="soc_elem soc_wish2 transition300"></div><div class="soc_elem soc_share transition300">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <!--                            <div class="fLeft wishBox poR">
                                                           
                                                            <div class="blurDiv">
                                                                <div class="">out of stock</div>
                                                            </div>
                                                            <div class="wishImg bgCommon"></div>
                                                            <div class="fLeft col100">
                                                                <div class="font15 semibold">Dual eternity ring</div>
                                                                <div class="font13 regular">Price:<span class="pad10">&#8377 45,000</span></div>
                                                            </div>
                                                            <div class="fLeft col100 poR btwLine">
                                                                <div class="fLeft actBtn fLeft bolder mar0">add to cart</div>
                                                                <div class="fRight actBtn fLeft bolder mar0">delete</div>
                                                            </div>
                                                        </div>-->
                            <!--                            <div class="fLeft wishBox">
                                                            <div class="wishImg bgCommon"></div>
                                                            <div class="fLeft col100">
                                                                <div class="font15 semibold">Dual eternity ring</div>
                                                                <div class="font13 regular">Price:<span class="pad10">&#8377 45,000</span></div>
                                                            </div>
                                                            <div class="fLeft col100 poR btwLine">
                                                                <div class="fLeft actBtn fLeft bolder mar0">add to cart</div>
                                                                <div class="fRight actBtn fLeft bolder mar0">delete</div>
                                                            </div>
                                                        </div>-->
                            <!--                            <div class="fLeft wishBox">
                                                            <div class="wishImg bgCommon"></div>
                                                            <div class="fLeft col100">
                                                                <div class="font15 semibold">Dual eternity ring</div>
                                                                <div class="font13 regular">Price:<span class="pad10">&#8377 45,000</span></div>
                                                            </div>
                                                            <div class="fLeft col100 poR btwLine">
                                                                <div class="fLeft actBtn fLeft bolder mar0">add to cart</div>
                                                                <div class="fRight actBtn fLeft bolder mar0">delete</div>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <?php include 'footer.html'?>
    <script>

        $('#pId').click(function () {
            $('#myordId').addClass("dn");
            $('#profileId').removeClass("dn");
            $('#editpId').addClass("dn");
            $('#saveAddrId').addClass("dn");
            $('#pChange').addClass("dn");
            $('#wishlistId').addClass("dn");
        });
        $('#oId').click(function () {
            $('#myordId').removeClass("dn");
            $('#profileId').addClass("dn");
            $('#editpId').addClass("dn");
            $('#saveAddrId').addClass("dn");
            $('#pChange').addClass("dn");
            $('#wishlistId').addClass("dn");
        });
        $('#edId').click(function () {
            $('#profileId').addClass("dn");
            $('#editpId').removeClass("dn");
            $('#saveAddrId').addClass("dn");
            $('#pChange').addClass("dn");
            $('#wishlistId').addClass("dn");
        });
        $('#sId').click(function () {
            $('#saveAddrId').removeClass("dn");
            $('#myordId').addClass("dn");
            $('#profileId').addClass("dn");
            $('#editpId').addClass("dn");
            $('#pChange').addClass("dn");
            $('#wishlistId').addClass("dn");
        });
        $('#cId').click(function () {
            $('#pChange').removeClass("dn");
            $('#myordId').addClass("dn");
            $('#profileId').addClass("dn");
            $('#editpId').addClass("dn");
            $('#saveAddrId').addClass("dn");
            $('#wishlistId').addClass("dn");
        });
        $('#wId').click(function () {
            $('#wishlistId').removeClass("dn");
            $('#myordId').addClass("dn");
            $('#profileId').addClass("dn");
            $('#editpId').addClass("dn");
            $('#saveAddrId').addClass("dn");
            $('#pChange').addClass("dn");
        });

        $('#trackId').click(function () {
            $('.trackOuter').toggleClass("dn");
        });

        $('.inp_box').focus(function () {
            $(this).closest('.txtB').addClass('focul');
        });
        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k === "") {
                $(this).closest('.txtB').removeClass('focul');
            }
        });
//        $('.plusBlack').click(function () {
//            // $(this).removeClass("plusBlack");
//            $(this).toggleClass('minusBlack');
//            $('#openAddrId').toggleClass("dn");
//        });
//        $('.plusBox').click(function () {
//            $(this).toggleClass('minusBox');
//            $(this).siblings('.vatTxt').toggleClass("dn");
//        });

        $('.plusHolder').click(function () {
            var boxId = $(this).attr("id");
            if ($("#" + boxId).hasClass("plusBox")) {
                console.log(boxId);
                $("#" + boxId).removeClass("plusBox");
                $("#" + boxId).addClass("minusBox");
                $("#" + boxId).siblings('.vatTxt').removeClass("dn");

            } else {
                $("#" + boxId).removeClass("minusBox");
                $("#" + boxId).addClass("plusBox");
                $("#" + boxId).siblings('.vatTxt').addClass("dn");
            }
        });

        $('.addrEditCnt').click(function () {
            var boxId = $(this).attr("id");
            if ($("#" + boxId).hasClass("plusBlack")) {
                console.log(boxId);
                $("#" + boxId).removeClass("plusBlack");
                $("#" + boxId).addClass("minusBlack");
                $("#" + boxId).parent().siblings('#openAddrId').removeClass("dn");

            } else {
                $("#" + boxId).removeClass("minusBlack");
                $("#" + boxId).addClass("plusBlack");
                $("#" + boxId).parent().siblings('#openAddrId').addClass("dn");
//              $("#" + boxId).siblings('.vatTxt').addClass("dn");
            }
        });


        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
    </script>


</body>
