<?php include 'jhead.html' ?>
    <body>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="totalCont fLeft">
                    <div class="wrapperMax">
                <div class="navBar2nd fLeft fmSansR">
                        <div class="homeLogo fLeft"></div>
                        <div class="navStpDiv fLeft">MY ACCOUNT</div>
                        <div class="navStpDiv fLeft">CHECKOUT</div>
                </div>
                <div class="fiveStpWRP fLeft fmSansR">
                        <div class="fiveStpCont fLeft">
                            <div class="cAreaLeft1 fLeft">
                                <div class="ordrTab fLeft borderClass" id="step1">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="regIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Registration</div>
                                </div>
                                <div class="ordrTab fLeft" id="step2">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="dAddressIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Delivery Address</div>
                                </div>
                                <div class="ordrTab fLeft" id="step3">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="dOptionIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Delivery Option</div>
                                </div>
                                 <div class="ordrTab fLeft" id="step4">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="cOrderIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Confirm Order</div>
                                </div>
                                <div class="ordrTab fLeft" id="step5">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="paymentIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Payment</div>
                                </div>
                                <div class="loginTxtWrp fLeft fmSansR" id="clk1st">
                                    <div class="loginAreaLft fLeft">
                                        <div class="loginHdngTxt fLeft">Log in</div>
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">User Name</div>
                                            <input type="text" class="inptTxt fLeft userNameIcn">
                                        </div>
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Password</div>
                                            <input type="text" class="inptTxt fLeft passwordIcn">
                                        </div>
                                        <div class="fgotPswrd fLeft">forgot password</div>
                                        <div class="divHolder fLeft">
                                            <div class="loginBtn fLeft loginIcn">LOGIN</div>
                                        </div>
                                    </div>
                                    <div class="textAreaRight fLeft fmSansR">
                                        <div class="infrmHdng fLeft">Sign-up to create your account</div>
                                        <div class="infrmTex fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                                         <div class="divHolder fLeft">
                                            <div class="loginBtn fRight registerIcn">REGISTER</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addressFrmCnt fLeft fmSansR dn" id="clk2nd">
                                    <div class="addressFrmWrp fLeft">
                                     <div class="loginAreaLft fLeft">
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">First Name</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Last Name</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Password</div>
                                            <input type="text" class="inptTxt fLeft ">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Mobile Number</div>
                                            <input type="text" class="inptTxt fLeft ">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Street</div>
                                            <input type="text" class="inptTxt fLeft ">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">State</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                        
                                    </div> 
                                    <div class="loginAreaRight fLeft">
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Date of Birth</div>
                                            <input type="text" class="ddtxt fLeft" placeholder="dd">
                                            <input type="text" class="ddtxt fLeft" placeholder="mm">
                                            <input type="text" class="yrTxt fLeft" placeholder="yy"
                                        </div>
                                    </div>
                                    <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Email Address</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                    <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Confirm password</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                    <div class="mngeDv fLeft"></div>
                                    <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Zip code</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                    <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Country</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                </div>
                                <div class="fgotPswrd fLeft">required field</div>
                            </div>
                                <div class="cheackAndnxt fLeft">
                                    <div class="cheackTxt fLeft">Deliver to this address
                                        <input type="checkbox" class="chkBox">
                                    </div>
                                    <div class="nxtStp fRight">next step</div>
                                </div>
                                <div class="addressFrmWrp fLeft">
                                       <div class="loginAreaLft fLeft">
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">First Name</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Last Name</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Street</div>
                                            <input type="text" class="inptTxt fLeft ">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">state</div>
                                            <input type="text" class="inptTxt fLeft ">
                                         </div>
                                    </div>
                                    <div class="loginAreaRight fLeft">
                                          <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Mobile Number</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                        <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Email Address</div>
                                            <input type="text" class="inptTxt fLeft">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Zip code</div>
                                            <input type="text" class="inptTxt fLeft ">
                                        </div>
                                         <div class="inptAndTxtCnt fLeft">
                                            <div class="inputHdng fLeft">Country</div>
                                            <input type="text" class="inptTxt fLeft ">
                                         </div>
                                    </div>
                                    <div class="fgotPswrd fLeft">required field</div>
                                </div>
                                <div class="cheackAndnxt fLeft">
                                    <div class="nxtStp fRight">next step</div>
                                    <div class="back fRight">back</div>
                                </div>
                            </div>
                            <div class="delivryWrp fLeft fmSansR dn" id="clk3rd">
                                <div class="loginAreaLft fLeft">
                                    <div class="delivrTxtHdng fLeft">Deliver to:</div>
                                    <div class="delivrAdDiv fLeft">
                                        <div class="delivrTxt fLeft">Ganesh Belly,5th A cross road,Koromangla 6th Block,</div>
                                         <div class="delivrTxt fLeft">Bengaluru-560095,Karnataka,India</div>
                                    </div>
                                    <div class="delivrPrdct fLeft">
                                       <div class="delivrTxt fLeft">Joker & Witch Elegant Charmer For Women</div> 
                                       <div class="delivrTxt fLeft"><span style="color:#379496 !important">&#2352; 84200-quantity: 1</span></div>
                                       <div class="delivrTxt fLeft">Sold By <span style="text-transform:uppercase">jzeva</span></div> 
                                    </div>
                                </div>
                                <div class="loginAreaRight fLeft">
                                     <div class="delivrTxtHdng fLeft">Delivery Option:</div>
                                     <div class="optionByChk fLeft">
                                         <input type="checkbox" class="chkBox" value="doption" >
                                         Between 9-12 Jan- Free delivery on eligible orders
                                     </div>
                                     <div class="optionByChk fLeft">
                                         <input type="checkbox" class="chkBox" value="doption" >
                                         Saturday - two-day delivery at Rs.50
                                     </div>
                                     <div class="optionByChk fLeft">
                                         <input type="checkbox" class="chkBox" value="doption" >
                                         Same day at Rs.120
                                     </div>
                                </div>
                                <div class="cheackAndnxt fLeft">
                                    <div class="chngeoRdlt fLeft">Change quantities or delete</div>
                                    <div class="nxtStp fRight">next step</div>
                                    <div class="back fRight">back</div>
                                </div>
                            </div>
                            <div class="cOrderWrp fLeft fmSansR dn" id="clk4th">
                                <div class="cOrdrStpbr fLeft">
                                    <div class="stepBar1 fLeft">Product Name</div>
                                    <div class="stepBar2 fLeft">Price</div>
                                    <div class="stepBar2 fLeft">Quantity</div>
                                    <div class="stepBar2 fLeft">Sum</div>
                                </div>
                                <div class="orderPrdctWrp fLeft">
                                    <div class="prdctImgAndTxt fLeft">
                                        <div class="prdctLogo"></div>
                                        <div class="prdctDtls fLeft">
                                            <div class="orderPname fLeft">joker and witch elegant charmer for women</div>
                                            <div class="orderPrice fLeft">&#2352; 84,200</div>
                                            <div class="orderQnt fLeft">1</div>
                                            <div class="orderSum fLeft">&#2352; 84,200</div>
                                        </div>
                                    </div>
                                      <div class="prdctImgAndTxt fLeft Bnone">
                                        <div class="prdctLogo"></div>
                                        <div class="prdctDtls fLeft">
                                            <div class="orderPname fLeft">joker and witch elegant charmer for women</div>
                                            <div class="orderPrice fLeft">&#2352; 84,200</div>
                                            <div class="orderQnt fLeft">1
                                                <ul class="ulq">
                                                    
                                                    <li class="liq">Delivery Charges</li>
                                                    <li class="liq">Incl VAT</li>
                                                </ul>
                                            </div>
                                            <div class="orderSum fLeft">&#2352; 84,200
                                                <ul class='ulq'>
                                                    <li class='liq'>&#2352; 100</li>
                                                    <li class='liq'>&#2352; 2,000</li>
                                                </ul>
                                            </div>
                                            <div class='barIpd fRight'>
                                                <div class='subCat1 fLeft'>TOTAL</div>
                                                <div class='subCat1 fLeft'>&#2352; 84,200</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cheackAndnxt fLeft">
                                    <div class="nxtStp fRight">next step</div>
                                    <div class="editCard fRight">EDIT CARD</div>
                                </div>
                                </div>
                            </div>
                        </div>
                            <div class="careaRight1 fLeft fmSansR">
                                <div class="listDiv fLeft">Invoice</div>
                                <div class="listDiv fLeft">Delivery Address</div>
                                 <div class="listDiv fLeft">Delivery Option</div>
                                 <div class="listDiv fLeft">Payment</div>
                            </div>
                        </div>
                </div>
                <div class="footer4Reg fLeft fmSansR">
                    
                        <div class="divHolder fLeft">
                            <center>
                                <div class="footerCat1">
                                    <div class="txtFtr fLeft">MY ACCOUNT</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                <div class="footerCat1">
                                    <div class="txtFtr fLeft">INFORMATION</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                 <div class="footerCat1">
                                    <div class="txtFtr fLeft">FIND US</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                 <div class="footerCat1">
                                    <div class="txtFtr fLeft">CUSTOMER SERVICE</div>
                                    <div class="txtFtr1 fLeft">About</div>
                                    <div class="txtFtr1 fLeft">Information</div>
                                     <div class="txtFtr1 fLeft">Find Us</div>
                                     <div class="txtFtr1 fLeft">Customer Service</div>
                                </div>
                                <div class="footerCat2">
                                    <div class="txtFtr fLeft">SUBSCRIBE TO OUR NEWS LETTER</div>
                                    <div class="scrchInftr fLeft">
                                        <div class="subscribeBtn">SUBSCRIBE</div>
                                        <input type="text" class="textFrScrch fLeft">
                                    </div>
                                     <div class="txtFtr1 fLeft">You will get an email about once in month</div>
                                      <div class="txtFtr1 fLeft">You will never share your address</div>
                                </div>
                            </center>
                        </div>
                    
                </div>
                <div class="lfooter4Reg fLeft fmSansR">
                        <div class="mobileNmbr fLeft">022-2546822</div>
                        <div class="msgTxt fLeft">info@jzeva.com</div>
                </div>
            </div>
                </div>
        </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#step1").click(function(){
                  $("#clk1st").removeClass("dn");
                  $("#clk2nd").addClass("dn");
                  $("#clk3rd").addClass("dn");
                  $("#clk4th").addClass("dn");
                  $("#step1").addClass("borderClass");
                   $("#step2").removeClass("borderClass");
                    $("#step3").removeClass("borderClass");
                    $("#step4").removeClass("borderClass");
                });
                $("#step2").click(function(){
                  $("#clk1st").addClass("dn");
                  $("#clk3rd").addClass("dn");
                  $("#clk4th").addClass("dn");
                  $("#clk2nd").removeClass("dn");
                   $("#step2").addClass("borderClass");
                    $("#step1").removeClass("borderClass");
                     $("#step3").removeClass("borderClass");
                     $("#step4").removeClass("borderClass");
                });
                 $("#step3").click(function(){
                  $("#clk1st").addClass("dn");
                  $("#clk2nd").addClass("dn");
                  $("#clk4th").addClass("dn");
                  $("#clk3rd").removeClass("dn");
                   $("#step2").removeClass("borderClass");
                    $("#step1").removeClass("borderClass");
                    $("#step3").addClass("borderClass");
                     $("#step4").removeClass("borderClass");
                });
                 $("#step4").click(function(){
                  $("#clk1st").addClass("dn");
                  $("#clk2nd").addClass("dn");
                  $("#clk3rd").addClass("dn");
                   $("#clk4th").removeClass("dn");
                   $("#step2").removeClass("borderClass");
                    $("#step1").removeClass("borderClass");
                    $("#step3").removeClass("borderClass");
                    $("#step4").addClass("borderClass");
                });
            });
        </script>
    </body>
</html>
