<?php include 'jhead.html' ?>
<body >
    <div class="lmenu4mble trnst-100 transition300">
        <div class="lmnuHdng fLeft">
            <center>
                <div class="hdrLgo"></div>
            </center>
        </div>
        <div class="lmnuLIstDv fLeft fmSansR">
            <ul class="ulSabcat ">
                <li class="liSubCat">JEWELLERY</li>
                <li class="liSubCat">SOLITARIES</li>
                <li class="liSubCat">DESIGNER</li>
                <li class="liSubCat">VINTAGE</li>
                <li class="liSubCat">BRIDAL</li>
            </ul>
        </div>
    </div>
    <div class="dragTrgt" id="dragTrgt"></div>
    <div class="container">
        <div class="wrapper">
            <?php include 'jHeader.html'; ?>

            <div class="totalCont fLeft">
                <div class="wrapperMax" >
                    <div class="navBar2nd fLeft fmSansR">
                        <div class="homeLogo fLeft"></div>
                        <div class="navStpDiv fLeft">MY ACCOUNT</div>
                        <div class="navStpDiv fLeft">CHECKOUT</div>
                    </div>
                    <div class="fiveStpWRP fLeft fmSansR">
                        <div class="fiveStpCont fLeft">
                            <div class="cAreaLeft1 fLeft">
                                <div class="ordrTab activeTab fLeft" id="step1" onclick="chaungeiTab('clk1st')">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="regIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Registration</div>
                                </div>
                                <div class="ordrTab fLeft" id="step2" onclick="chaungeiTab('clk2nd')">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="dAddressIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Delivery Address</div>
                                </div>
                                <div class="ordrTab fLeft" id="step3" onclick="chaungeiTab('clk3rd')">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="dOptionIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Delivery Option</div>
                                </div>
                                <div class="ordrTab fLeft" id="step4" onclick="chaungeiTab('clk4th')">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="cOrderIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Confirm Order</div>
                                </div>
                                <div class="ordrTab fLeft" id="step5" onclick="chaungeiTab('clk5th')">
                                    <div class="tabIcnDv fLeft">
                                        <center>
                                            <div class="paymentIcon"></div>
                                        </center>
                                    </div>
                                    <div class="icnAbtTxt fLeft">Payment</div>
                                </div>
                                <div class="loginTxtWrp fLeft fmSansR" id="clk1st">
                                    <div class="loginAreaLft fLeft">
                                        <div class="loginHdngTxt fLeft">Log in</div>

                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-1" />
                                            <label class="input__label  " for="input-1">
                                              <span class="input__label-content ">Name</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-2" />
                                            <label class="input__label  " for="input-2">
                                              <span class="input__label-content ">Password</span>
                                            </label>
                                          </div>
                                        <div class="fgotPswrd fLeft">forgot password</div>
                                        <div class="divHolder fLeft">
                                            <div class="loginBtn fLeft loginIcn">LOGIN</div>
                                        </div>
                                    </div>
                                    <div class="textAreaRight fLeft fmSansR">
                                        <div class="infrmHdng fLeft">Sign-up to create your account</div>
                                        <div class="infrmTex fLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                                        <div class="divHolder fLeft">
                                            <div class="loginBtn fRight registerIcn">REGISTER</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addressFrmCnt fLeft fmSansR dn" id="clk2nd">
                                    <div class="addressFrmWrp fLeft">
                                        <div class="loginAreaLft fLeft">
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-3" />
                                            <label class="input__label  " for="input-3">
                                              <span class="input__label-content ">First Name</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-4" />
                                            <label class="input__label  " for="input-4">
                                              <span class="input__label-content ">Last Name</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-5" />
                                            <label class="input__label  " for="input-5">
                                              <span class="input__label-content ">Password</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-6" />
                                            <label class="input__label  " for="input-6">
                                              <span class="input__label-content ">Mobile Number</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-7" />
                                            <label class="input__label  " for="input-7">
                                              <span class="input__label-content ">Street</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-8" />
                                            <label class="input__label  " for="input-8">
                                              <span class="input__label-content ">State</span>
                                            </label>
                                          </div>

                                        </div>
                                        <div class="loginAreaRight fLeft">
                                            <div class="inptAndTxtCnt fLeft">
                                                <div  class="ddtxt fLeft">
                                                  <div class="input fmSansB">
                                                    <input class="input__field" type="text" id="input-22" />
                                                    <label class="input__label  " for="input-22">
                                                      <span class="input__label-content ">DD</span>
                                                    </label>
                                                  </div>
                                                </div>
                                                <div class="ddtxt fLeft">  <div class="input fmSansB">
                                                    <input class="input__field" type="text" id="input-23" />
                                                    <label class="input__label  " for="input-23">
                                                      <span class="input__label-content ">MM</span>
                                                    </label>
                                                  </div></div>
                                                <div class="yrTxt fLeft" >
                                                  <div class="input fmSansB">
                                                    <input class="input__field" type="text" id="input-24" />
                                                    <label class="input__label  " for="input-24">
                                                      <span class="input__label-content ">YY</span>
                                                    </label>
                                                  </div>
                                                </div>

                                            </div>
                                            <div class="input fmSansB">
                                              <input class="input__field" type="text" id="input-9" />
                                              <label class="input__label  " for="input-9">
                                                <span class="input__label-content ">Email Address</span>
                                              </label>
                                            </div>
                                            <div class="input fmSansB">
                                              <input class="input__field" type="text" id="input-10" />
                                              <label class="input__label  " for="input-10">
                                                <span class="input__label-content ">Confirm Password</span>
                                              </label>
                                            </div>
                                            <div class="mngeDv fLeft"></div>
                                            <div class="input fmSansB">
                                              <input class="input__field" type="text" id="input-11" />
                                              <label class="input__label  " for="input-11">
                                                <span class="input__label-content ">Zip Code</span>
                                              </label>
                                            </div>
                                            <div class="input fmSansB">
                                              <input class="input__field" type="text" id="input-12" />
                                              <label class="input__label  " for="input-12">
                                                <span class="input__label-content ">Country</span>
                                              </label>
                                            </div>
                                        </div>
                                        <div class="fgotPswrd fLeft">required field</div>
                                    </div>
                                    <div class="cheackAndnxt fLeft">
                                        <div class="cheackTxt fLeft">Deliver to this address
                                            <input type="checkbox" class="chkBox">
                                        </div>
                                        <div class="nxtStp fRight">next step</div>
                                    </div>
                                    <div class="addressFrmWrp fLeft">
                                        <div class="loginAreaLft fLeft">
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-14" />
                                            <label class="input__label  " for="input-4">
                                              <span class="input__label-content ">First Name</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-15" />
                                            <label class="input__label  " for="input-4">
                                              <span class="input__label-content ">Last Name</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-16" />
                                            <label class="input__label  " for="input-16">
                                              <span class="input__label-content ">Street</span>
                                            </label>
                                          </div>
                                          <div class="input fmSansB">
                                            <input class="input__field" type="text" id="input-17" />
                                            <label class="input__label  " for="input-17">
                                              <span class="input__label-content ">State</span>
                                            </label>
                                          </div>
                                        </div>
                                        <div class="loginAreaRight fLeft fmSansB">
                                          <div class="input ">
                                            <input class="input__field" type="text" id="input-18" />
                                            <label class="input__label  " for="input-18">
                                              <span class="input__label-content ">Mobile Number</span>
                                            </label>
                                          </div>
                                          <div class="input ">
                                            <input class="input__field" type="text" id="input-19" />
                                            <label class="input__label  " for="input-19">
                                              <span class="input__label-content ">Email Address</span>
                                            </label>
                                          </div>
                                          <div class="input ">
                                            <input class="input__field" type="text" id="input-20" />
                                            <label class="input__label  " for="input-20">
                                              <span class="input__label-content ">Zip Code</span>
                                            </label>
                                          </div>
                                          <div class="input ">
                                            <input class="input__field" type="text" id="input-21" />
                                            <label class="input__label  " for="input-21">
                                              <span class="input__label-content ">Country</span>
                                            </label>
                                          </div>
                                        </div>
                                        <div class="fgotPswrd fLeft">required field</div>
                                    </div>
                                    <div class="cheackAndnxt fLeft">
                                        <div class="nxtStp fRight">next step</div>
                                        <div class="back fRight">back</div>
                                    </div>
                                </div>
                                <div class="delivryWrp fLeft fmSansR dn" id="clk3rd">
                                    <div class="loginAreaLft fLeft">
                                        <div class="delivrTxtHdng fLeft">Deliver to:</div>
                                        <div class="delivrAdDiv fLeft">
                                            <div class="delivrTxt fLeft">Ganesh Belly,5th A cross road,Koromangla 6th Block,</div>
                                            <div class="delivrTxt fLeft">Bengaluru-560095,Karnataka,India</div>
                                        </div>
                                        <div class="delivrPrdct fLeft">
                                            <div class="delivrTxt fLeft">Joker & Witch Elegant Charmer For Women</div>
                                            <div class="delivrTxt fLeft"><span style="color:#379496 !important">&#2352; 84200-quantity: 1</span></div>
                                            <div class="delivrTxt fLeft">Sold By <span style="text-transform:uppercase">jzeva</span></div>
                                        </div>
                                    </div>
                                    <div class="loginAreaRight fLeft">
                                        <div class="delivrTxtHdng fLeft">Delivery Option:</div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="doption" id="chk1" >
                                            Between 9-12 Jan- Free delivery on eligible orders
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="doption" >
                                            Saturday - two-day delivery at Rs.50
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="doption" >
                                            Same day at Rs.120
                                            </label>
                                        </div>
                                    </div>
                                    <div class="cheackAndnxt fLeft">
                                        <div class="chngeoRdlt fLeft">Change quantities or delete</div>
                                        <div class="nxtStp fRight">next step</div>
                                        <div class="back fRight">back</div>
                                    </div>
                                </div>
                                <div class="cOrderWrp fLeft fmSansR dn" id="clk4th">
                                    <div class="cOrdrStpbr fLeft">
                                        <div class="stepBar1 fLeft">Product Name</div>
                                        <div class="stepBar2 fLeft">Price</div>
                                        <div class="stepBar2 fLeft">Quantity</div>
                                        <div class="stepBar2 fLeft">Sum</div>
                                    </div>
                                    <div class="orderPrdctWrp fLeft">
                                        <div class="prdctImgAndTxt fLeft">
                                            <div class="prdctLogo"></div>
                                            <div class="prdctDtls fLeft">
                                                <div class="orderPname fLeft">joker and witch elegant charmer for women</div>
                                                <div class="orderPrice fLeft">&#2352; 84,200</div>
                                                <div class="orderQnt fLeft">1</div>
                                                <div class="orderSum fLeft">&#2352; 84,200</div>
                                            </div>
                                        </div>
                                        <div class="prdctImgAndTxt fLeft Bnone">
                                            <div class="prdctLogo"></div>
                                            <div class="prdctDtls fLeft">
                                                <div class="orderPname fLeft">joker and witch elegant charmer for women</div>
                                                <div class="orderPrice fLeft">&#2352; 84,200</div>
                                                <div class="orderQnt fLeft">1
                                                    <ul class="ulq">

                                                        <li class="liq">Delivery Charges</li>
                                                        <li class="liq">Incl VAT</li>
                                                    </ul>
                                                </div>
                                                <div class="orderSum fLeft">&#2352; 84,200
                                                    <ul class='ulq'>
                                                        <li class='liq mtop20'>&#2352; 100</li>
                                                        <li class='liq'>&#2352; 2,000</li>
                                                    </ul>
                                                </div>
                                                <div class='barIpd fRight'>
                                                    <div class='subCat1 fLeft'>TOTAL</div>
                                                    <div class='subCat1 fLeft'>&#2352; 84,200</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cheackAndnxt fLeft">
                                            <div class="nxtStp fRight">next step</div>
                                            <div class="editCard fRight">EDIT CARD</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="paymentWrp fLeft fmSansR dn" id="clk5th">
                                    <div class="pOptnLft fLeft">
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="payment" >
                                            Credit card
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="payment" >
                                            Net Banking
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="payment" >
                                            Debit Card
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="payment" >
                                            Cash On Delivery
                                            </label>
                                        </div>
                                        <div class="optionByChk fLeft">
                                            <label class="label4order">
                                            <input type="checkbox" class="chkBox" value="payment" >
                                            EMI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pOptnRight fLeft fmSansB">
                                      <div class="input ">
                                        <input class="input__field" type="text" id="input-12" />
                                        <label class="input__label  " for="input-12">
                                          <span class="input__label-content ">Card Number</span>
                                        </label>
                                      </div>
                                        <div class="inptAndTxtCnt fLeft ">
                                            <div class="expDate fLeft">
                                              <div class="input ">
                                                <input class="input__field" type="text" id="input-4" />
                                                <label class="input__label  " for="input-4">
                                                  <span class="input__label-content ">Expiry Date</span>
                                                </label>
                                              </div>
                                            </div>
                                            <div class="expDate fLeft">
                                              <div class="input ">
                                                <input class="input__field" type="text" id="input-4" />
                                                <label class="input__label  " for="input-4">
                                                  <span class="input__label-content ">CVV</span>
                                                </label>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="input ">
                                          <input class="input__field" type="text" id="input-13" />
                                          <label class="input__label  " for="input-13">
                                            <span class="input__label-content ">Name Of Card</span>
                                          </label>
                                        </div>
                                    </div>
                                    <div class="cheackAndnxt fLeft">
                                        <a href="http://beta.xelpmoc.in/jzeva/index.php?action=track"><div class="nxtStp fRight">FINISH YOUR ORDER</div></a>

                                    </div>
                                </div>
                            </div>
                            <div class="careaRight1 fLeft fmSansR">
                                <div class="rightMnuWrp fLeft" id="rmenu1">
                                    <div class="listDiv fLeft">Invoice
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="listDiv fLeft">Delivery Address
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="listDiv fLeft">Delivery Option
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="listDiv fLeft">Payment
                                        <div class="icnSetting"></div>
                                    </div>
                                </div>
                                <div class="rightMnuWrp1 fLeft dn" id="rmenu2">
                                    <div class="rmnuHdng fLeft">Invoice
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft">Delivery Address
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft bBottom">Delivery Option
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="rmnuHdng fLeft bBottom">Payment
                                        <div class="icnSetting"></div>
                                    </div>
                                </div>
                                <div class="rightMnuWrp1 fLeft dn" id="rmenu3">
                                    <div class="rmnuHdng fLeft">Invoice
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft">Delivery Address
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft">Delivery Option
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">1 day delivery</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft bBottom">Payment
                                        <div class="icnSetting"></div>
                                    </div>
                                </div>
                                <div class="rightMnuWrp1 fLeft dn" id="rmenu4">
                                    <div class="rmnuHdng fLeft">Invoice
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft">Delivery Address
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Ankur Gala</li>
                                            <li class="liInvc">Xelpmoc</li>
                                            <li class="liInvc">HSR layout</li>
                                            <li class="liInvc">Bengalore,Karnataka,5006543</li>
                                            <li class="liInvc">India</li>
                                            <li class="liInvc">Mobile: 7797553117</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft">Delivery Option
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">1 day delivery</li>
                                        </ul>
                                    </div>
                                    <div class="rmnuHdng fLeft ">Payment
                                        <div class="icnSetting"></div>
                                    </div>
                                    <div class="abtInvc fLeft bBottom">
                                        <ul class="ulInvc">
                                            <li class="liInvc">Cash on delivery</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php include 'jFooter.html'; ?>
        </div>
    </div>
    <script>
        function chaungeiTab(id) {
            switch (id) {
                case "clk1st":
                    $("#clk2nd,#clk3rd,#clk4th,#clk5th").addClass("dn");
                    $("#rmenu4,#rmenu3,#rmenu2").addClass("dn");
                    $(".ordrTab").removeClass("activeTab");
                    $("#rmenu1").removeClass("dn");
                    $("#clk1st").removeClass("dn");
                    setTimeout(function () {
                        $("#step1").addClass("activeTab");
                    }, 200);
                    break;
                case "clk2nd":
                    $("#clk1st,#clk3rd,#clk4th,#clk5th").addClass("dn");
                    $("#rmenu4,#rmenu3,#rmenu2").addClass("dn");
                    $(".ordrTab").removeClass("activeTab");
                    setTimeout(function () {
                        $("#step2").addClass("activeTab");
                    }, 200);
                    $("#rmenu1").removeClass("dn");
                    $("#clk2nd").removeClass("dn");
                    break;
                case "clk3rd":
                    $("#clk1st,#clk2nd,#clk4th,#clk5th").addClass("dn");
                    $("#rmenu4,#rmenu3,#rmenu1").addClass("dn");
                    $(".ordrTab").removeClass("activeTab");
                    setTimeout(function () {
                        $("#step3").addClass("activeTab");
                    }, 200);
                    $("#rmenu2").removeClass("dn");
                    $("#clk3rd").removeClass("dn");
                    break;
                case "clk4th":
                    $("#clk1st,#clk2nd,#clk3rd,#clk5th").addClass("dn");
                    $("#rmenu4,#rmenu2,#rmenu1").addClass("dn");
                    $(".ordrTab").removeClass("activeTab");
                    setTimeout(function () {
                        $("#step4").addClass("activeTab");
                    }, 200);
                    $("#rmenu3").removeClass("dn");
                    $("#clk4th").removeClass("dn");
                    break;
                case "clk5th":
                    $("#clk1st,#clk2nd,#clk3rd,#clk4th").addClass("dn");
                    $("#rmenu3,#rmenu2,#rmenu1").addClass("dn");
                    $(".ordrTab").removeClass("activeTab");
                    setTimeout(function () {
                        $("#step5").addClass("activeTab");
                    }, 200);
                    $("#rmenu4").removeClass("dn");
                    $("#clk5th").removeClass("dn");
                    break;
            }
            ;
        }
        ;
        var input_selector = 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=search], textarea, input[type=radio]';

        var input_hidden = 'input[type=hidden]';

        $('.input__field').focus(function(){
            $(this).closest('.input').addClass('input--filled');
      });
  $('.input__field').blur(function(){
     var y=$(this).val();
    if(y!=""){
   $(this).closest('.input').addClass('input--filled');
 }
 else{
     $(this).closest('.input').removeClass('input--filled');
 }
  });


        function showLeftMenu(flag) {
            if (flag) {
                $('.lmenu4mble').removeClass('trnst-100');
                $('body').addClass('pFixed');
                $('.dragTrgt').css({width: '50%', left: '250px'});

            } else {
                $('.lmenu4mble').addClass('trnst-100');
                $('body').removeClass('pFixed');
                $('.dragTrgt').css({width: '20px', left: '0px'});
            }
        }
         $(document).ready(function(){
                $("#dragTrgt").click(function(){
         $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    });
         });
    </script>
</body>
</html>
