<?php include 'jhead.html'?>

<body class="greyBg blackHead prodPg">
    <script>
        var pid = "<?php echo $_GET['pid'];  ?>";

    </script>
    <div class=""></div>
    <?php include 'Cart.html' ?>
    <?php include 'loader.html'?>
    <?php include 'header.html' ?>
    <?php include 'login.html' ?>
    <!-- <div class="fLeft gemBanner"></div> -->

    <div class="wrapper_main fLeft PRODUCT_PAGE">
        <?php include 'mheader.html' ?>
        <div class="swipe fLeft" id="lftt"></div>
        <div class="mdiv360"></div>
        <div   id="wsh" >
         
            <!--        <div class="likeD" onclick="makeAwish(this, event)" id="prd_'+obj['prdId']+'"  data-size="'+bseSize+'" data-price="'+grandtotal+'" data-comb ="'+chr+'"></div>-->
        </div>
        <div class="wrapper" id="wrapper">
            <div class="wrapper_max">
                <div class="container poR">
                    <div class="fLeft prodCarousel dn">
                        <!--                            <div class="prevArrow" onclick="movePrImg(true)"></div>
                                                   <div class="nextArrow" onclick="movePrImg(false)"></div>
                                                   <div class="inCarousel transition300" id="othrimgs">
                                                  <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   <div class="carouselBox"></div>
                                                   </div>-->
                    </div>
                    <div class="details_cont fLeft">
                        <div class="details_buffer">
                            <div class="details_head fLeft" id="proname">
                                Diamants LÉ Gers<br>
                                DE Love
                            </div>
                            <div class="details_desc fLeft" id="htCh">
                                <div class="writefaggery fLeft">

                                    <div class="para fLeft pr_head "  id="stn"><span>White gold, diamond</span></div>
                                    <div class="price_lightm fLeft Mprc dn" >
                                        <center> <div class="col100  cartRupeeB" id="m_price1"></div></center>
                                        <div class="ch_cont fLeft" id="mch_price">
                                            <div class="drNoob">
                                                <div class="labBuffer">Previous Price:</div>
                                            </div>
                                    </div>
                                    </div>
                                    <div class="col100" id="wDis">
                                        <div class="para fLeft" id="descrp">Diamants Legers de Cartier ring 18K white gold, set with a brilliant-cut diamond of 0.13 carat.</div>
                                        <!-- <div class="para  fLeft"><span class="actBtn fRight" id="showDetails">MORE INFO</span></div>
                                        <div class="para  fLeft">
                                            <div class="col33 fRight point  icnLike transition300"></div>
                                            <div class="col33 fRight point   icnCmnt transition300"></div>
                                            <div class="col33 fRight point review_btn icnShre transition300"></div>
                                        </div> -->

                                        <div class="col100 fLeft" id="shortdesc">
                                            <div class="para fLeft mTop10">The <span class="semibold">Sophie Ring</span> is casted in <span class="semibold">3.9</span> grams of gold set with brilliant cut <span class="semibold">36</span> Round Diamonds (Approx. 0.33 Carat) and <span class="semibold">2</span> Carats of Ruby. </div></div>
                                    </div>
                                </div>
                                <!-- More Info DO NOT DELETE -->
                                <!-- <div class="para  fLeft"><span class="actBtn fRight " id="showDetails">MORE INFO</span></div>
                                <div class="morewritefaggery fLeft" id="desc">
                                    <div class="closewritefaggery"></div>
                                </div> -->
                            </div>
                            <div class="col100 fRight marTop60" id="wishW">
                                <div class="actBtn  fRight bolder pad10" id="addwishlist">add to WISHLIST</div>
                            </div>
                        </div>
                    </div>
                    <div class="rota_wrap transition300">

                        <div class="rota_buffer">
                            <div class="div360"></div>

                            <div class="userInfo dwnArrow fLeft"></div>
                            <div class="rota" id="img-view">
                            </div>
                            <div class="rota_btn fLeft dn">
                                <center>
                                    <div class="rota_run "><span class="u_line lettSpace"></span></div>
                                    <div class="rota_expand "><span class="u_line lettSpace"></span></div>
                                </center>
                            </div>
                        </div>

                    </div>
                    <div class="options fRight">
                        <div class= "options_buffer">
                            <div class="another_buffer fLeft" id="cust">
                                <div class="desc_row fLeft  font12  transition300" >SKU: <span class="semibold" id="vpro"></span></div>
                                <div class="desc_row fLeft  font12  transition300" id="leadtime"> DELIVERY: </div>
                                <div class="desc_row fLeft  font12  transition300" id="leadtime"><div class="col100 font12 fLeft"> RANGE:<span class="cartRup15b padR3 semibold" id="pricel"> 26,000</span><span class="toTxt  semibold">to</span>  <span  class="cartRup15b semibold" id="priceh">26,000</span></div> </div>
                                <div class="desc_row fLeft  font12 transition300 bolder" id="Ifpendant"></div>
                                <div class="cardHead fLeft" id="custm">Customise</div>
                                <div class="cust_cont poR fLeft" id="wCustom">
                                    <div class="drop_dn fLeft dn" id="clar">
                                        <div class="attTitle">Quality</div>
                                        <div class="actBtn font12 regular" id="qual"></div>
                                    </div>
                                    <div class="drop_dn fLeft  " id="color">
                                        <div class="attTitle">Color</div>
                                        <div class="actBtn font12 regular" id="clr"></div>
                                    </div>
                                    <div class="drop_dn fLeft " id="purity">
                                        <div class="attTitle">Purity</div>
                                        <div class="actBtn font12 regular" id="carat"></div>
                                    </div>
                                    <div class="drop_dn fLeft dn" id="sizes">
                                        <!--                                                                             <div class="attTitle">Size</div>
                                                                                                                        <div class="actBtn font12 regular"></div>
                                                                                                                                                               <div class="actBtn font12 bolder" id="size" > </div>
                                                                                                                      <div class="selectDefault"></div>-->

                                    </div>
                                </div>
                                <!-- <div class="pr_change fLeft">

                                  <div class="ch_cont fRight">
                                    <span id="newAttr">VV-IG</span>: ₹62,000<span id="newPrice"></span>
                                  </div>
                                </div> -->

                                <div class="price_light fLeft" id="Wprice">

                                    <div class="col100 fLeft cartRupeeB" id="price"></div>
                                    <div class="ch_cont fLeft" id="ch_price">
                                        <div class="drNoob" id="prevWeb">
                                            <div class="labBuffer" >Previous Price:1111 </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                 <div class="action_btns fixBtn">
                                    <div class="col50 fLeft  padXr5">
                                        <div class="actBtn  fLeft bolder pad10 " id="add_to_cart">ADD TO CART</div>
                                    </div>

                                    <div class="col50 fLeft  padX15">
                                        <div class="actBtn  fRight bolder pad10 " id="buynow">buy now</div>
                                    </div>

                                    <!--                                     <div class="col50 fLeft  padXl5">
                                                                            <div class="cartBtn fRight bolder" id="add_to_cart"><div class="adddCart fRight"></div>ADD TO CART</div>
                                                                        </div>-->
                                    <!--                                    <div class="col50 fLeft  padXl5">
                                                                            <div class="wishBtn fRight bolder" id="addwishlist"><div class="addWish fRight"></div>WISHLIST</div>
                                                                        </div>-->
                                </div>
                                  <div class="price_light fLeft" id="tabprice">

                                    <div class="col100 fLeft cartRupeeB" id="tprice"></div>
                                     
                                     <div class="ch_cont fLeft" id="tch_price">
                                        <div class="drNoob">
                                            <div class="labBuffer" >Previous Price:1111 </div>
                                        </div>
                                    </div>
                                    
                                </div>
                              

                               
                            </div>
                            <div class="cust_cont2 dn">
                                <div class="fLeft selectClose"></div>
                                <center>
                                    <div class="selector_cont diQ" id="diQ">
                                        <div class="button_label">Select Diamond Clarity</div>
                                    </div>
                                </center>
                                <center>
                                    <div class="selector_cont" id="colr">
                                        <!--<div class="options_back"></div>-->
                                        <div class="button_label">Select Metal Color</div>
                                    </div>
                                </center>
                                <center>
                                    <div class="selector_cont pur" id="pur">
                                        <!--<div class="options_back"></div>-->
                                        <div class="button_label">Select Metal purity</div>
                                    </div>
                                </center>
                                <div class="selector_cont">
                                    <!--<div class="options_back" id="sizeback"></div>-->
                                    <div class="button_label">Select Your Size</div>
                                    <!-- ring size inc dec code-->

                                    <!--                                    <div class="fLeft col100">
                                                                            <div class="col100 sizeOuter fLeft ringclass dn">
                                                                                <div class="incrCont incrIcon " id="inc"></div>
                                                                                <div class="incrCont decrIcon left40" id="dec"></div>
                                                                                <div class="circleOuter fLeft">
                                                                                    <div class="ringCircle transition600 poR"> 14</div>
                                                                                </div>
                                                                                <center>
                                                                                    <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="ringGuide">size guide</div></div></div>
                                                                                    <div class="para fLeft mar0">Know your ring size</div>
                                                                                </center>
                                                                            </div>

                                                                            <div class="col100 sizeOuter fLeft bangclass">
                                                                                <div class="incrCont incrIcon r0" id="incB"></div>
                                                                                <div class="incrCont decrIcon l0" id="decB"></div>
                                                                                <div class="circleOuter fLeft">
                                                                                    <div class="ringCircleB transition600 poR" id="bangCircle">2.4</div>
                                                                                </div>
                                                                                <center>
                                                                                    <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="ringGuide">size guide</div></div></div>
                                                                                    <div class="para fLeft mar0">Know your bangle size</div>
                                                                                </center>
                                                                            </div>
                                                                        </div>-->
                                    <div class="col100 fLeft" id="RingGuide">
                                        <div class="szCir fLeft">
                                            <div class="fLeft col100">
                                                <div class="col100 sizeOuter fLeft ringclass">
                                                    <div class="circleOuter fLeft">
                                                        <div class="ringCircle transition600 poR"> 14</div>
                                                    </div>
                                                    <center>
                                                        <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="ringGuide">size guide</div></div></div>
                                                        <div class="para fLeft mar0">Know your ring size</div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ringSlider fRight">
                                            <input type="text" id="slideRing">
                                        </div>
                                        <div class="col100 fLeft"><center><div class="options_back sizbak"></div></center></div>
                                    </div>

                                    <div class="col100 fLeft" id="BangleGuide">
                                        <div class="szCir fLeft">
                                            <div class="fLeft col100">
                                                <div class="col100 sizeOuter fLeft bangclass">
                                                    <!--<div class="incrCont incrIcon r0" id="incB"></div>-->
                                                    <!--<div class="incrCont decrIcon l0" id="decB"></div>-->
                                                    <div class="circleOuter fLeft">
                                                        <div class="ringCircleB transition600 poR" id="bangCircle">2.4</div>
                                                    </div>
                                                    <center>
                                                        <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="bangleGuide">size guide</div></div></div>
                                                        <div class="para fLeft mar0">Know your bangle size</div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ringSlider fRight">
                                            <input type="text" id="slideBangle">
                                        </div>
                                        <div class="col100 fLeft"><center><div class="options_back sizbak"></div></center></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="darkCont fLeft">
            <div class="wrapper_max">
                <div class="col100" id="mDesc">
                    <div class="smUlineb">description</div>
                    <div class="para fLeft" id="Mdescrp">Diamants Legers de Cartier ring 18K white gold, set with a brilliant-cut diamond of 0.13 carat.</div>
                    <div class="col100 fLeft" id="Mshortdesc">
                        <div class="para fLeft mTop10 mar0">The <span class="semibold">Sophie Ring</span> is casted in <span class="semibold">3.9</span> grams of gold set with brilliant cut <span class="semibold">36</span> Round Diamonds (Approx. 0.33 Carat) and <span class="semibold">2</span> Carats of Ruby. </div></div>
                </div>
                <div class="homeCollect">
                    <!-- <div class="colleCont ">
                       <div class="smUlineb">White Gold</div>
                       <div class="collCenterb ">
                         White gold is an alloy of gold and at least one white metal, usually nickel, manganese or palladium. In order to make the gold white, it is combined with metal alloys that are white in nature and plated with an extremely hard element called rhodium. Although strong, rhodium may wear away over time. Replating is a simple process that can be done to restore whiteness to rhodium-plated jewelry.
                       </div>



                     </div>
                     <div class="colleCont v2">
                       <div class="smUline ">White Gold</div>
                       <div class="collCenter ">
                         White gold is an alloy of gold and at least one white metal, usually nickel, manganese or palladium. In order to make the gold white, it is combined with metal alloys that are white in nature and plated with an extremely hard element called rhodium. Although strong, rhodium may wear away over time. Replating is a simple process that can be done to restore whiteness to rhodium-plated jewelry.
                       </div>

                     </div>-->
                </div>
            </div>
        </div>

        <div class="m_cust dn">
            <div class="cardHead fleft" id="Mob_custm">Customise Your Earring</div>
            <div class="cust_cont poR fLeft"  id="mCustom">

                <div class="drop_dn fLeft dn" id="mclar">
                    <div class="attTitle">Quality</div>
                    <div class="actBtn font12 regular" id="mqual"></div>
                </div>

                <div class="sLeft">
                    <div class="selector_cont" >
                        <center id="mdiQ">

                        </center>
                    </div>
                </div>

                <div class="drop_dn fLeft  " id="mcolor">
                    <div class="attTitle">Color</div>
                    <div class="actBtn font12 regular" id="mclr" ></div>
                </div>

                <div class="sLeft">
                    <div class="selector_cont">
                        <center id="mcolr">

                        </center>
                    </div>
                </div>

                <div class="drop_dn fLeft " id="mpurity">
                    <div class="attTitle">Purity</div>
                    <div class="actBtn font12 regular" id="mobcarat"></div>
                </div>
                <div class="sLeft">
                    <div class="selector_cont pur">
                        <center id="mpure">

                        </center>
                    </div>
                </div>

                <div class="drop_dn fLeft dn" id="mobdvsizes">
                                                                                                                     <div class="attTitle">Size</div>
                                                                                <div class="actBtn font12 regular"></div>
                                                                                                                       <div class="actBtn font12 bolder"  >Select </div>
                                                                              <div class="selectDefault"></div>


                </div>
                <div  id="mobSize">
                    <div class="sLeft"  >
                        <center>
                            <div class="col100 fLeft" id="mRingGuide">
                                <div class="szCir fLeft">
                                    <div class="fLeft col100">
                                        <div class="col100 sizeOuter fLeft ringclass">
                                            <div class="circleOuter fLeft">
                                                <div class="mringCircle transition600 poR"> 14</div>
                                            </div>
                                            <center>
                                                <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="mringGuide">size guide</div></div></div>
                                                <div class="para fLeft mar0">Know your ring size</div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="ringSlider fRight">
                                    <input type="text" id="mslideRing">
                                </div>
                                <div class="col100 fLeft"><center><div class="options_back sizbak"></div></center></div>
                            </div>
                            

                            
                            <div class="col100 fLeft" id="mBangleGuide">
                                        <div class="szCir fLeft">
                                            <div class="fLeft col100">
                                                <div class="col100 sizeOuter fLeft bangclass">
                                                    <!--<div class="incrCont incrIcon r0" id="incB"></div>-->
                                                    <!--<div class="incrCont decrIcon l0" id="decB"></div>-->
                                                    <div class="circleOuter fLeft">
                                                        <div class="mringCircleB transition600 poR" id="mbangCircle">2.4</div>
                                                    </div>
                                                    <center>
                                                        <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="bangleGuide">size guide</div></div></div>
                                                        <div class="para fLeft mar0">Know your bangle size</div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ringSlider fRight">
                                            <input type="text" id="mslideBangle">
                                        </div>
                                        <div class="col100 fLeft"><center><div class="options_back sizbak"></div></center></div>
                             </div>
                             
                        </center>
                    </div>
                </div>


            </div> 
            <div class="mcustClose"></div>  

            <div class="checkmBtn bolder" id="mobsz" >CUSTOMIZE</div>
        </div>


        <?php include 'footer.html'?>
        <div class="mBtns transition600">
            <div class="mobCart txtCenter  bolder " id="add_to_cart_mob"></div>
            <div class="col50 fLeft  padX15">
                <div class="col100  mRupeeB filterDefPrice" id="m_price">25,152</div>
                <div class="actBtn  txtCenter fLeft bolder" id="mCst">customise</div>
            </div>
        </div>



        <div class="overlay3 pointNone"></div>
        <div class="close_fs dn"></div>
        <div class="lat_logo dn">
        </div>


        <script type="text/javascript" src="<?php echo $jvs['prodpage']; ?>"></script>
        <script type="text/javascript" src="<?php echo  $fjvs['rangeNewJS']; ?>"></script>

        <script>

            $(window).scroll(function () {
                if ( $(this).width() <= 1024 ) {    
                    var win = $(window).scrollTop();
                    if (win >= 300) {
                        $('.mBtns').addClass('dMbtn');
                        $('.footer').addClass('mBot60');
                        $('.backTop').css({'bottom':'80px'});
                    } else if (win < 300) {

                        $('.mBtns').removeClass('dMbtn');
                        $('.footer').removeClass('mBot60');
                        $('.backTop').css({'bottom':'2%'});
                    }
                }
            });

        $('#mCst').click(function () {
          oncustm=$('#m_price').text(); 
            $('body').addClass('posFix');
            $('.m_cust').removeClass('dn');
            $('.m_cust').velocity({translateY: [0, '100vh']}, {duration: 400, delay: 100});
              
            setTimeout(function(){
             if(psize)
                if(catname == "Rings" || catname == "Bangles")
            changeSize(catname);
        },250);
            
        });

        $('.mcustClose').click(function () {
      common.msg(1, 'Customization is not happened!');
            $('body').removeClass('posFix');
            $('.m_cust').addClass('dn');
         
            $('.m_cust').velocity({translateY: ['100vh', 0]}, {duration: 400, delay: 100});
             showwishbtn();
             setTimeout(function(){
               
            $(".filterDefPrice").html(IND_money_format(defaultFilterPrice).toLocaleString('en'));
        },1000);
        });
    
        
         $('#mobsz').click(function () {
          
            $('body').removeClass('posFix');
            $('.m_cust').addClass('dn');
            $('.m_cust').velocity({translateY: ['100vh', 0]}, {duration: 400, delay: 100});
        });


        var t = 0;

        $('#slideRing,#mslideRing').ionRangeSlider({
            
            type: "single",
            from: 9,
            values: [
                "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26"],
            grid: true,
            onChange: function (data) {
                var sVal = data.from_value;
               
                $('#size').text("Size " + data.from_value);
                 $('#mbsize').text("Size " + data.from_value);
                $('.ringCircle ,.mringCircle').html(sVal);
               

                var ringsSlider = ["5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26"];
                var sliderIndexNo = ringsSlider.indexOf(Math.round(sVal).toString());

                if (sliderIndexNo == -1)
                    sliderIndexNo = 9;
                var value = 56 + sliderIndexNo;
               
                $('.ringCircle ,.mringCircle').css('width', value + 'px');
                $('.ringCircle ,.mringCircle').css('height', value + 'px');
                $('.ringCircle ,.mringCircle').css('line-height', value + 'px');
                $('.ringCircle ,.mringCircle').html(Math.round(sVal));

                t = sVal;

                calweight();
            },
        });

        var slider = $("#slideRing,#mslideRing").data("ionRangeSlider");
        slider.reset();
        slider.update({
            from: 9
        });
        var t = 0;
        $('#slideBangle,#mslideBangle').ionRangeSlider({
            type: "single",
            from: 2,
            from_value: 2.9,
            values: [
                "2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8", "2.9"],
            grid: true,
            onChange: function (data) {

                var sVal = data.from_value;
                $('#size').text("Size " + data.from_value);
                $('#mbsize').text("Size " + data.from_value);
                $('.ringCircleB,.mringCircleB').html(sVal);

                var bangSlider = ["2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8", "2.9"];
                var bangIndexNo = bangSlider.indexOf((sVal).toString());
           
                if (bangIndexNo == -1)
                    bangIndexNo = 2;
                var value = 90 + (bangIndexNo * 5);
               
                $('#bangCircle,#mbangCircle').css("width", value + 'px');
                $('#bangCircle,#mbangCircle').css("height", value + 'px');
                $('#bangCircle,#mbangCircle').css('line-height', value + 'px');
                $('#bangCircle,#mbangCircle').html((sVal));

                t = sVal;
                calculatePrice();
            },
        });

        var slider = $("#slideBangle,#mslideBangle").data("ionRangeSlider");
        slider.reset();
        slider.update({
            from: 3
        });

        var val = 0;
        var moveCount = 0;
        function movePrImg(flag)
        {
            //                    alert("jhdkfj");
            var totalThumbs = $(".carouselBox").length;
            var liWidth = ($(".carouselBox").outerWidth());
            if (!flag)
            {
                if (moveCount < (totalThumbs - 5))
                {
                    val = val - liWidth;
                    $(".inCarousel").css({transform: 'translateX(' + val + 'px)'});
                    moveCount++;
                }
            } else if (flag)
            {
                if (moveCount > 0) {
                    val = val + liWidth;
                    $(".inCarousel").css({transform: 'translateX(' + val + 'px)'});
                    moveCount--;
                }
            }
        }


      
        $('#ringGuide').click(function () {
            window.open(DOMAIN + "index.php?action=sizeguide");
        });
          $('#mringGuide').click(function () {
            window.open(DOMAIN + "index.php?action=sizeguide");
        });
        $('#bangleGuide').click(function () {
            window.open(DOMAIN + "index.php?action=bangleguide");
        });
        $('#mbangleGuide').click(function () {
            window.open(DOMAIN + "index.php?action=bangleguide");
        });

        var exprice = 0;
        var i = 0;

        /* 360 auto run */
        var wid;
        var s = 0;
        function function1() {
            i = (i + 1) % 30;

            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(i).removeClass('dn');
        }
        function runner() {
            i = s;
            function1();
            stop = setTimeout(function () {
                runner();
                s = i;
            }, 140);
        }
        $('.rota_run').click(function () {
            if (fr === 0) {
                runner();
                fr = 1;
            } else {
                clearTimeout(stop);
                fr = 0;
            }
            $(this).toggleClass('rota_run');
            $(this).toggleClass('rota_stop');
        });
        /* 360 mousemove */
        var divPos = {};
        var offset = $('.rota').offset();
        $(window).resize(function () {
            wid = $('.rota').width();
        });
        var offK = 0;
        var offL = 0;
        $('.rota').bind('mousemove', function (e) {
            var imgNo = $(this).find('.imgHolder').length;
            var left = e.pageX - offset.left;

            var o = wid / imgNo;
            var k = (left - offK + offL) / o;
            k = Math.floor(k);
            k = k % imgNo;

            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(k).removeClass('dn');
            s = k;
        });
        $('.rota').mouseenter(function (e) {
            offK = e.pageX - offset.left;
        });
        // $('.rota').mouseenter(function(e){
        //
        //
        // });
        $('.rota').mouseleave(function (e) {
            offL = e.pageX - offset.left;
        });
        $('.rota').mouseover(function () {
            //  clearTimeout(stop);
        });
        $('.rota').mouseout(function () {
            //   runner();
        });
        $(document).ready(function () {
            //runner();

            wid = $('.rota').width();

        });

        /* Customisation */
        var j = 0;
        $('.drop_dn').click(function () {
            var w = $(window).width();
            if (w <= 1024) {
               
                $('#wCustom').addClass('dn');
                $('.m_cust').removeClass('dn');
            } else {
             //   alert('web');
                $('#mobSize').remove();
                $('#wCustom').removeClass('dn');
                $('.m_cust').addClass('dn');

                if (!$(this).hasClass('pointNone')) {
                    exprice = $('#price').text();

                    j = $(this).index();
                    //$('body').addClass('over_hide');
                    $('.selectClose,.cust_cont2').removeClass("dn");
                    $('.cust_cont2').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 100, easing: 'swing', display: 'block'});
                    $('#cust').velocity({scale: [3, 1], opacity: [0, 1]}, {duration: 200, easing: 'swing', display: 'none', complete: function () {
                            //  $('body').removeClass('over_hide')
                        }});
                    $('.selector_cont').eq(j).velocity({scale: [1, 0.5], opacity: [1, 0]}, {delay: '50', duration: '150', display: 'block'});
                }
            }
        });
        $(document).on("click", ".options_back", function () {
            $('.cust_cont2').velocity({scale: [3, 1], opacity: [0, 1]}, {delay: 100, duration: 400, easing: 'swing', display: 'none'});
            $('#cust').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block'});

            //$('body').addClass('over_hide');
            //            $('#cust').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block',
            //                complete: function () {
            //                    //  $('body').removeClass('over_hide');
            //                    $('.cust_cont2').addClass('dn');
            //                }
            //            });
            $('.selector_cont').eq(j).velocity({scale: [0.5, 1], opacity: [0, 1]}, {delay: '50', duration: '150', display: 'none'});
        });

        $('#showDetails').click(function () {
            //$('body').addClass('over_hide');
            $('.writefaggery').velocity({scale: [3, 1], opacity: [0, 1]}, {duration: 200, easing: 'swing', display: 'none', complete: function () {
                    //$('body').removeClass('over_hide')
                }});
            $('.morewritefaggery').velocity({scale: [1, 0.5], opacity: [1, 0]}, {delay: '50', duration: '150', display: 'block'});
        });
        $('.closewritefaggery').click(function () {
            //$('body').addClass('over_hide');

            $('.writefaggery').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block', complete: function () {
                    // $('body').removeClass('over_hide');
                }

            });
            $('.morewritefaggery').velocity({scale: [0.5, 1], opacity: [0, 1]}, {delay: '50', duration: '150', display: 'none'});
            //$('.writefaggery').velocity({scale:[1,0.5] , opacity:[1,0]} , {duration:200 , easing:'swing' , display:'block' ,
            //   complete:function(){
            //     $('body').removeClass('over_hide');
            //     $('.morewritefaggery').css({'display':'none'});
            //   }
            // });
        });
        /* Radia Button */
        $('.selector1').click(function () {
            $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
            $(this).toggleClass('select_active');
        });


        // Show close reviews page
        // $('.review_btn').click(function () {
        //     $('body').addClass('over_hide');
        //     $('.review_cont').velocity({translateY: [0, '100%']}, {duration: 800, easing: 'easeInQuart', display: 'block'});
        // });
        $('.review_canc').click(function () {
            $('.review_cont').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                    $('body').removeClass('over_hide');
                }});
        });

        $(window).load(function () {
            load_page();
        });

        function loadComplete() {
            //$('body').addClass('over_hide');
            setHeight();
            $('.rota_wrap').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                    $('.details_cont').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                            $('.options').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                                    //  $('body').removeClass('over_hide');
                                }});
                        }});
                }});
        }
        $('.icnLike').click(function () {
            $(this).toggleClass('liked');
        });

        $('.rota_expand').click(function () {
            $(this).toggleClass('dn');
            $('.close_fs , .lat_logo').removeClass('dn');
            $('.rota_run').find('.u_line').toggleClass('dn');

            $('.details_cont , .options , .head_wrap').toggleClass('disable_full');
            $('.rota_wrap ').toggleClass('rota_exstate');


            $('.container').toggleClass('over_hide');
        });
        $('.close_fs ').click(function () {
            $('.rota_run , .rota_stop').find('.u_line').removeClass('dn');
            $(this).toggleClass('dn');
            $('.lat_logo').toggleClass('dn');
            $('.rota_expand').toggleClass('dn');
            $('.details_cont , .options , .head_wrap').toggleClass('disable_full');
            $('.rota_wrap ').toggleClass('rota_exstate');
            $('.container').toggleClass('over_hide');
        });

        //Touch 360
        var lastPt = null;
        var staticCord = 0;
        var x = 0;
        var j = 0;
        var k = 0;
        var s = 0;
        var sEnd = 0;
        function init() {
            var touchzone = document.getElementById("img-view");
            touchzone.addEventListener("touchstart", getcor, false);
            touchzone.addEventListener("touchmove", draw, false);
            touchzone.addEventListener("touchend", end, false);
        }
        function getcor(e) {
            //  e.preventDefault();
            clearTimeout(stop);
            //sEnd=0;
            flag = 0;
            j = e.touches[0].pageX;
            s = i;
        }
        function draw(e) {
            var imgNummer = $('.imgHolder').length;
            //e.preventDefault();
            //clearTimeout(stop);
            lastPt = {x: e.touches[0].pageX, y: e.touches[0].pageY};
            x = e.touches[0].pageX;
            var wid = $(window).width();
            var d = (wid / imgNummer) / 1.3;
            var g = 0;
            if (sEnd == 1) {
                g = 0;
            } else {
                g = ((s * wid) / imgNummer) / 1.3;
                staticCord = 0;
            }
            staticCord = parseInt(staticCord);
            x = x + staticCord - j + g;
            k = x / d;
            k = (k) % imgNummer;
            k = Math.floor(k);
            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(k).removeClass('dn');
            i = k;
        }
        function end(e) {
            //  e.preventDefault();
            staticCord = x;
            sEnd = 1;
        }
        var stop;
        $(document).ready(function () {
            s = i;

            init();
        });
        var left = 0;
        var i = 0;
        function function1() {
            i = (i + 1) % imgNummer;
            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(i).removeClass('dn');
        }
        function runner() {
            sEnd = 0;
            function1();
            stop = setTimeout(function () {
                runner();
            }, 70);
        }







        //        var val = 0;
        //        var moveCount = 0;
        //        function movePrImg(flag) {
        //            alert("ndjuhsndf");
        //            var totalThumbs = $(".productCont").length;
        //            var liWidth = ($(".productCont").outerWidth());
        //
        //
        //            if (!flag) {
        //                if (moveCount < (totalThumbs - 1)) {
        //                    val = val - liWidth;
        //                    $(".productCont").css({transform: 'translateX(' + val + 'px)'});
        //                    moveCount++;
        //                }
        //            } else if (flag) {
        //                if (moveCount > 0) {
        //                    val = val + liWidth;
        //                    $(".productCont").css({transform: 'translateX(' + val + 'px)'});
        //                    moveCount--;
        //                }
        //            }
        //        }



        //        if(catname == 'Rings')
        //        {;
        //            $('.ringclass').addClass('dn');
        //        } else{
        //        $('.ringclass').addClass('dn');
        //        }

        //         if(catname == 'Bangles')
        //            $('.bangclass').addClass('dn');
        //        else
        //        $('.bangclass').removeClass('dn');
        //JZEVA DROPDOWN

        function bindDrop() {
           
            var sz;
            $('.selectOptions').click(function () {
                sz = $(this).text();
            
                
                //calculatePrice();
                $(this).closest('.selectOptionC').fadeOut('150ms').siblings('.selectDefault').removeClass('pointNone');
                setTimeout(function () {
                    $(e).closest('.selector_cont').find('.options_back').click();
                    $('#ch_price').find('.labBuffer').empty();
                    $('#ch_price').find('.labBuffer').append('Previous Price:');
                    $('#ch_price').velocity({opacity: [1, 0]});
                    calculatePrice();

                }, 400);
                setTimeout(function () {
                    $('#ch_price').addClass('showCh');
                }, 800);
                setTimeout(function () {
                    $('#ch_price').removeClass('showCh');
                    $('#ch_price').velocity({opacity: [0, 1]});
                }, 8000);
            });
        }
        $(document).click(function (event) {

            if (catname == 'Bangles') {
                $("#BangleGuide").removeClass("dn");
                 $("#mBangleGuide").removeClass("dn");
                $('#RingGuide').addClass('dn');
                 $('#mRingGuide').addClass('dn');
            } else if (catname == 'Rings') {
                $('#BangleGuide').addClass('dn');
                  $('#mBangleGuide').addClass('dn');
                $("#RingGuide").removeClass("dn");
                $("#mRingGuide").removeClass("dn");
            }

            if (catname == 'Rings' || catname == 'Bangles')
            {
                $('#mobSize').add();
            } else {
                $('#mobSize').remove();
            }


            if (!$(event.target).closest('.selectDefault').length)
            {
                if ($('.selectDefault').next('.selectOptionC').is(":visible"))
                {
                    $('.selectDefault').next('.selectOptionC').slideUp('swing');
                    $('.selectDefault').removeClass('pointNone');
                }
            }
        });


        function setHeight() {
            var tot = ($('#proname').outerHeight(true) + $('#htCh').outerHeight(true)) / 0.9;
            var win_tot = ($(window).outerHeight(true));
            var acHt = ($('#proname').outerHeight(true) + $('#htCh').outerHeight(true)) / 0.9;

            if (tot > win_tot) {
                $('#wrapper').height(acHt);
            }
        }


        $('#sizeback').click(function () {
           
            setTimeout(function () {
                $('#ch_price').find('.labBuffer').empty();
                $('#ch_price').find('.labBuffer').append('Previous Price:');
                $('#ch_price').velocity({opacity: [1, 0]});
                calculatePrice();
            }, 400);
            setTimeout(function () {
                $('#ch_price').addClass('showCh');
            }, 800);
            setTimeout(function () {
                $('#ch_price').removeClass('showCh');
                $('#ch_price').velocity({opacity: [0, 1]});
            }, 8000);
        });


        </script>

</body>
