
<?php include 'jhead.html' ?>
    <body class="greyBg"  >

      <div class="cart">
        <!-- <div class="cart_head fmSansR">
          YOUR CART

        </div> -->
         <div class="cart_sub fmSansR">
           <div class="fLeft col100 lnHt25 fmSansB"> Total Items: 9</div>
           <div class="fLeft col100">
            <span class="cart_price fmSansR fLeft ">&#8377
                <span class="price_gen ">126,000</span>
              </span>
            </div>
            <div class="chk_out "><div class="button button1 btnc1 transition300" id="check_out">Checkout</div></div>
              <div class="closeCart"></div>
          </div>
            <div class="cart_gen fLeft">
             <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name fmSansR">Étourdissant Cartier</div>
                <div class="cart_price fmSansR fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove fmOsR">Remove Item</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name fmSansR">Étourdissant Cartier</div>
                <div class="cart_price fmSansR fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                <div class="cart_remove fmOsR">Remove Item</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name fmSansR">Étourdissant Cartier</div>
                <div class="cart_price fmSansR fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove fmOsR">Remove Item</div>
              </div>
              <div class="cart_item">
                <div class="cart_image"></div>
                <div class="cart_name fmSansR">Étourdissant Cartier</div>
                <div class="cart_price fmSansR fLeft">&#8377 <span class="price_gen">26,000</span></div>
                <div class="amt_selector ">
                  <div class="cart_btn fLeft sub_no">-</div>
                  <div class="item_amt fLeft fmOsR">1</div>
                  <div class="cart_btn fLeft add_no">+</div>
                </div>
                  <div class="cart_remove fmOsR">Remove Item</div>
              </div>
            </div>
            <!-- <div class="cart_foot fmSansR">Checkout</div> -->
        </div>
      </div>
      <div class="head_wrap">
          <div class="overlay"></div>
        <div class="overlay2 transition300"></div>
        <div class="header">
                <div class="logo fLeft"></div>
          </div>
            <div class="tabWrap fRight fmSansB">
                <div class="tab_buffer">
                <div class="tabB fLeft">
                  <div class="tab fLeft taba">
                     JEWELLERY
                  </div>
                </div>
                <div class="tabB fLeft">
                  <div class="tab fLeft tabb">
                    COLLECTION
                  </div>
                </div>
                <div class="tabB fLeft">
                  <div class="tab fLeft tabc">
                    EXCLUSIVE
                  </div>
                </div>
                <div class="tabB fLeft">
                  <div class="tab fLeft tabd">
                    MAISON
                  </div>
                </div>
                <div class="tabB fLeft">
                  <div class="tab fLeft tabe">
                    GIFTS
                  </div>
                </div>
                </div>
              <div class="menu_wrap">
                <div class="menuB">
                 <div class="menu_elm fmOsR">
                    <div class="col33 fLeft fmOsR">
                      <div class="menu_head fmOsR">Fine Jewellery</div>
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Earrings</div>
                      <div class="menu_list">Bangles</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Necklace</div>
                      <div class="menu_list">Pendant</div>
                      <div class="menu_list">Nose Pins</div>
                        <div class="menu_list">Platinum</div>
                    </div>
                    <div class="col33 fLeft">

                      <div class="menu_list">Gemstone</div>
                      <div class="menu_list">Mens</div>
                      <div class="menu_list">International</div>
                    </div>
                 </div>
                 <div class="menu_elm fmOsR">
                    <div class="col33 fLeft fmOsR">
                      <div class="menu_head fmOsR">Cartier Diamonds</div>
                      <div class="menu_list">Cartier Diamonds</div>
                      <div class="menu_list">Cartier Royal</div>
                      <div class="menu_list">Étourdissant Cartier</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Amulette de Cartier</div>
                      <div class="menu_list">Panthère de Cartier</div>
                      <div class="menu_list">Paris Nouvelle Vague</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Trinity de Cartier</div>
                      <div class="menu_list">Juste un Clou</div>
                      <div class="menu_list">Jewelry for men</div>
                    </div>
                 </div>
                 <div class="menu_elm fmOsR">
                    <div class="col33 fLeft">
                      <div class="menu_head fmOsR">Drei Diamonds</div>
                      <div class="menu_list">Earrings</div>
                      <div class="menu_list">Wedding Bands</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                 </div>
                 <div class="menu_elm fmOsR">
                    <div class="col33 fLeft">
                      <div class="menu_head fmOsR">Vier Diamonds</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Earrings</div>
                      <div class="menu_list">Wedding Bands</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                 </div>
                 <div class="menu_elm fmOsR">
                    <div class="col33 fLeft">
                        <div class="menu_head fmOsR">Fünf Diamonds</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Earrings</div>
                      <div class="menu_list">Wedding Bands</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                    <div class="col33 fLeft">
                      <div class="menu_list">Rings</div>
                      <div class="menu_list">Necklaces</div>
                      <div class="menu_list">Truefeuer</div>
                    </div>
                 </div>
               </div>
              </div>
            </div>
            <div class="tabWrap2">
               <div class="tabS fLeft">
                <div class="tab fLeft">
                  <div class="search_bar transition200">
                    <input class="search_ip fmOsR" type="text" />
                    <div class="search_btn"></div>
                  </div>
                </div>
              </div>
              <div class="tab2 fLeft">
                <div class="tab userprofile"></div>
              </div>
              <div class="tab2 fLeft">
                  <div class="tab cartIcon openC poR"></div>
              </div>
            </div>
        </div>
      <div class="wrapper_main fLeft PRODUCT_PAGE">

            <div class="wrapper">
              <div class="review_cont fmSansR">
                <div class="review_canc"></div>

                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Vivian B</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                             Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Ankita N</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>
                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                             Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Ankita N</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>
                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Rohan M</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>

                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                           john
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Vivian B</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                             Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Ankita N</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>
                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                             Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Ankita N</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>
                  <div class="col33 fLeft fmSansI">
                    <div class="review_item fLeft transition300">
                       <div class="review_write">
                       Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                       Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.   Die Funker bei der Flug-Überwachung haben keine Signale mehr von dem Flugzeug bekommen. Bisher weiß man noch nicht, was passiert ist.
                          Schiffe und Militär-Flugzeuge aus verschiedenen Ländern suchen im Meer nach dem Flugzeug.
                      </div>
                       <div class="review_user fmSansB">
                         <div class="col100">Rohan M</div>
                          <div class="col100 color666">Bangalore</div>
                       </div>
                    </div>
                  </div>

              </div>
            <div class="wrapper_max">
                <div class="container over_hide">
                  <div class="details_cont fLeft">
                    <div class="details_buffer">
                      <div class="details_head fmSansL">
                        Diamants LÉ Gers<br>
                        DE Love
                      </div>
                      <div class="details_desc fmSansR">
                        <div class="writefaggery fLeft">
                          <div class="para fmSansI colorLg fLeft">White gold, diamond</div>
                          <div class="para fLeft"></div>
                          <div class="para fLeft">Diamants Legers de Cartier ring 18K white gold, set with a brilliant-cut diamond of 0.13 carat.</div>
                          <div class="para fLeft">The "Diamants Legers" collection exuberates elegance through exceptional diamonds selected by expert jewelers
                             and set on light gold chains. Diamants Legers de Cartier ring 18K white gold , set with a brilliant-cut diamond of 0.13 carat.</div>

                          <div class="para fLeft"><span class="fmSansB point color_black font12 u_line" id="showDetails">DESCRIPTION +</span></div>
                          <div class="para fmSansB fLeft">
                             <div class="col33 fRight point  icnLike transition300"></div>
                             <div class="col33 fRight point   icnCmnt transition300"></div>
                             <div class="col33 fRight point review_btn icnShre transition300"></div>
                          </div>
                        </div>
                        <div class="morewritefaggery fLeft">

                          <div class="desc_row fLeft font12 fmSansB "><span class="txt_left fLeft"> White Gold</span><span class="fRight fmSansR">20 gms</span> </div>
                          <div class="desc_row fLeft font12 fmSansB "><span class="txt_left fLeft">18 Diamonds</span><span class="fRight fmSansR"> 0.13 Carats</span></div>
                          <div class="desc_row fLeft font12 fmSansB "><span class="txt_left fLeft">6 Diamonds</span><span class="fRight fmSansR"> 0.6 Carats</span></div>
                            <div class="desc_row fLeft font12 fmSansB "><span class="txt_left fLeft">1 Diamond</span> <span class="fRight fmSansR">2.0 Carats</span></div>
                            <div class="desc_row fLeft font12 fmSansB "><span class="txt_left fLeft">Size</span><span class="fRight fmSansR">S9</span></div>
                          <div class="closewritefaggery"></div>
                        </div>


                       </div>
                     </div>
                      <!-- <div class="review_btn fmOsR">Reviews & Comments</div> -->
                    </div>
                  <div class="rota_wrap fLeft">
                    <div class="rota_buffer">
                    <div class="rota">
                      <div class="imgHolder img1"></div>
                      <div class="imgHolder img2 dn"></div>
                      <div class="imgHolder img3 dn"></div>
                      <div class="imgHolder img4 dn"></div>
                      <div class="imgHolder img5 dn"></div>
                      <div class="imgHolder img6 dn"></div>
                      <div class="imgHolder img7 dn"></div>
                      <div class="imgHolder img8 dn"></div>
                      <div class="imgHolder img9 dn"></div>
                      <div class="imgHolder img10 dn"></div>
                      <div class="imgHolder img11 dn"></div>
                      <div class="imgHolder img12 dn"></div>
                      <div class="imgHolder img13 dn"></div>
                      <div class="imgHolder img14 dn"></div>
                      <div class="imgHolder img15 dn"></div>
                      <div class="imgHolder img16 dn"></div>
                      <div class="imgHolder img17 dn"></div>
                      <div class="imgHolder img18 dn"></div>
                      <div class="imgHolder img19 dn"></div>
                      <div class="imgHolder img20 dn"></div>
                      <div class="imgHolder img21 dn"></div>
                      <div class="imgHolder img22 dn"></div>
                      <div class="imgHolder img23 dn"></div>
                      <div class="imgHolder img24 dn"></div>
                      <div class="imgHolder img25 dn"></div>
                      <div class="imgHolder img26 dn"></div>
                      <div class="imgHolder img27 dn"></div>
                      <div class="imgHolder img28 dn"></div>
                      <div class="imgHolder img29 dn"></div>
                      <div class="imgHolder img30 dn"></div>

                      <!-- <div class="imgHolder img31 dn"></div>
                      <div class="imgHolder img32 dn"></div>
                      <div class="imgHolder img33 dn"></div>
                      <div class="imgHolder img34 dn"></div>
                      <div class="imgHolder img35 dn"></div>
                      <div class="imgHolder img36 dn"></div> -->
                    </div>
                    <div class="rota_btn fLeft">
                      <center>
                       <div class="rota_run fmSansB"><span class="u_line">VIEW 360</span></div>
                       <div class="rota_expand fmSansB"><span class="u_line">FULLSCREEN</span></div>
                     </center>
                    </div>
                  </div>
                  </div>
                  <div class="options fLeft">
                    <div class= "options_buffer">
                      <!-- <div class="col100 fLeft fmSansB font12 mBot10">CUSTOMIZE</div> -->
                      <div class="desc_row fLeft font12 fmSansB  padX0">
                        <span class="fLeft left_arrow point transition300">PREVIOUS</span>
                        <span class="fRight right_arrow point transition300">NEXT</span>
                      </div>
                    <div class="another_buffer fLeft" id="cust">
                      <div class="desc_row fLeft font12 fmSansB point transition300"><span class="u_line">REF: B4087900</span></div>
                      <div class="desc_row fLeft font12 fmSansB point transition300"><span class="u_line">EXTRA STUFF +</span></div>
                      <div class="cust_cont poR fLeft" >
                              <div class="drop_dn fLeft fmSansB ">
                                   <span>Stones</span><br>
                                   <span class="colorLg font10 ">DIAMOND</span>
                              </div>
                              <div class="drop_dn fLeft fmSansB border_s">
                                 <span>Metal</span><br>
                                 <span class="colorLg font10 ">PLATINUM</span>
                              </div>
                              <div class="drop_dn fLeft fmSansB">
                                 <span>Size</span><br>
                                 <span class="colorLg font10 ">S4</span>
                              </div>
                        </div>


                            <div class="price_light fmSansL fLeft">&#8377 26,000</div>


                        <div class="action_btns">
                            <div class="col50 fLeft fmOsR padXr5">
                              <div class="button button2 btnc1 transition300 fLeft" id="add_to_cart">Add To Cart</div>
                            </div>
                            <div class="col50 fLeft fmOsR padXl5">
                              <div class="button button2 btnc1 transition300 fLeft">WISHLIST +</div>
                            </div>
                          </div>

                          </div>
                        <div class="cust_cont2 dn">
                          <div class="selector_cont">
                            <div class="options_back">Back</div>
                            <div class="button_label fmSansB">Select Diamond</div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">VVES</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">VVES</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">VVES</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">VVES</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">VVES</span>
                              </div>
                          </div>
                          <div class="selector_cont">
                            <div class="options_back">Back</div>
                            <div class="button_label fmSansB">Select Metal</div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">Gold</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">White Gold</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">Platinum</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">Silver</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">Palladium</span>
                              </div>
                          </div>
                          <div class="selector_cont">
                            <div class="options_back">Back</div>
                            <div class="button_label fmSansB">Select Size</div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">S1</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">S2</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">
                                </div>
                                  <span class="fmSansB selector_label">S3</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">
                                </div>
                                  <span class="fmSansB selector_label">S4</span>
                              </div>
                              <div class="rad_wrap fLeft">
                                <div class="selector1">

                                </div>
                                  <span class="fmSansB selector_label">S5</span>
                              </div>
                          </div>
                          <div class="selector_cont">
                            <div class="options_back">Back</div>
                          </div>
                        </div>

                  </div>

                  </div>
                </div>
            </div>
            </div>
                <div class="footer fLeft"></div>
          </div>

              <div class="page_loader">
                <div class="cs-loader-inner ">
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                </div>
                    <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div>
              </div>
              <div class="page_loader2">
                <div class="cs-loader-inner ">
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                  <label>●</label>
                </div>
                <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div>
              </div>
              <div class="overlay3 pointNone"></div>
<script>
/* Add commas in numbers */
$.fn.digits = function(){
    return this.each(function(){
        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
    })
}
var i=0;
/*Overlay fade in/out  on menu hover*/
$( '.tabWrap' ).mouseover(function() {
$('.overlay').stop(true,true).fadeTo(200, 1);
});
/*Main menu slidedown/slideup , Menu tab colour change*/
$( '.tabB' ).mouseover(function() {
    $('.tab').removeClass('selec');
    $('.menu_wrap').velocity('stop').velocity({height:[180]} , {duration:200 , easing:'ease-in-out' , display:'block' });
});
$( '.tabWrap' ).mouseleave(function(){
    $('.overlay').stop(true,true).fadeTo(200, 0);
  $('.menu_wrap').velocity('stop').velocity({height:[0]} , {duration:200 , easing:'ease-in-out' , display:'none',
  complete:function(){
     $('.menu_elm').stop(true,true).css({'display':'block'});
   }
});
    $('.tab').removeClass('selec');
});
/*Sub menu slidedown/slideup , Menu tab colour change*/
$('.tab').mouseenter(function() {
var k= $(this).closest('.tabB').index();

  $('.menu_elm').css({'z-index':'50'}).removeClass('tab_select').addClass('remo');
   $('.menu_elm').eq(k).css({'z-index':'9999'}).addClass('tab_select').removeClass('remo');
    $('.menu_elm').eq(k).stop(true,true).slideDown( 200, function() {
      $('.remo').css({ 'display':'none'});
    });
});
/* Maintain colour of tab while hovering on corresponding submenu*/
$('.menu_elm').mouseenter(function(){
  var k =$(this).index();
    $('.tab').removeClass('selec');
  $('.tabB').find('.tab').eq(k).addClass('selec');
});

/* Search Bar Open / Close*/
  $('.search_btn').click(function(){
    $('.search_bar').toggleClass('search_open');
    $('.overlay2').toggleClass('over_open');
    $(' .tabWrap , .wrapper').toggleClass('pointNone');
     $('.search_ip').val("");
    $('.search_ip').focus();
  });
  /* 360 auto run */
 var wid ;
 var s=0;
function function1() {
   i=(i+1)%30;
 $('.imgHolder').addClass('dn');
 $('.imgHolder').eq(i).removeClass('dn');
}
function runner() {
   i=s;
   function1();
  stop=  setTimeout(function() {
       runner();
       s=i;
   }, 140);
}
$('.rota_run').click(function(){
if(fr==0){
  runner();
  fr =1;
}
else{
  clearTimeout(stop);
  fr =0;
}
  $(this).toggleClass('rota_run');
  $(this).toggleClass('rota_stop');
});
/* 360 mousemove */
var divPos = {};
var offset = $('.rota').offset();
$(window).resize(function(){
 wid = $('.rota').width();
});
var offK=0;
var offL=0;
$('.rota_buffer').bind('mousemove', function(e){
    var left= e.pageX - offset.left;

     console.log("offK:" + offK);
       console.log("offL:" + offL);
        console.log("left:" + (left -offK + offL));
    var o= wid/30;
      var k = (left - offK +offL )/o;
      k= Math.floor(k);
      k=k%30;
      //  console.log("K:" + k);
      $('.imgHolder').addClass('dn');
      $('.imgHolder').eq(k).removeClass('dn');
      s=k;
});
$('.rota').mouseenter(function(e){
  offK= e.pageX - offset.left;
});
// $('.rota').mouseenter(function(e){
//
//
// });
$('.rota').mouseleave(function(e){
  offL= e.pageX - offset.left;
});
$('.rota').mouseover(function(){
  clearTimeout(stop);
});
$('.rota').mouseout(function(){
//   runner();
});
$(document).ready(function(){
     //runner();
   wid = $('.rota').width();
   $(".review_cont").mCustomScrollbar({
     axis:"y",
     theme:"rounded-dots-dark",
      mouseWheelPixels: 200
   })
});
/* Open Clase cart*/
var fr =0;
var cartF= 0;
$('.openC').click(function(){
  if(cartF==0){
      openCart();
      cartF=1;
  }
  else{
    closeCart();
    cartF=0;
  }
});
$('.closeCart').click(function(){
  closeCart();
  cartF=0;
});
function openCart(){
  $('.cart').css({'display':'block'});
    $('.search_bar').removeClass('search_open');
  $('.tabWrap , .tabWrap2').addClass('deactive');
  $('.wrapper').removeClass('pointNone');
  $('.cart').velocity({translateX:[0,400]} , {duration:300 , easing:'swing'});
  $('.overlay2').addClass('over_open');
  $('body').css({'overflow':'hidden'});
  $('.wrapper').addClass('pointNone');
  $('.cart_item').each(function(i){
    var t= (i* 30) +50;
     $(this).velocity({translateX:[0,400]} , {duration:600 , delay:t ,  easing: [0.2, 1, 0.3, 1]});
  });
}
function closeCart(){
  $('.cart').velocity({translateX:[400,0]} , {duration:300 , easing:'swing' , complete:function(){
 $('.wrapper').removeClass('pointNone');
      $('.overlay2').removeClass('over_open');
        $('.cart').css({'display':'none'});
    $('.tabWrap , .tabWrap2').removeClass('deactive');
  }});
  $('body').css({'overflow':'visible'});
    $('.wrapper').removeClass('pointNone');
}
/* Customisation */
var j=0;
$('.drop_dn').click(function(){
  j= $(this).index();
//$('body').addClass('over_hide');
$('.cust_cont2').removeClass('dn');
 $('#cust').velocity({scale:[3,1] , opacity:[0,1]} , {duration:200 , easing:'swing' , display:'none' , complete:function(){
  //  $('body').removeClass('over_hide')
  }});
 $('.selector_cont').eq(j).velocity({scale:[1,0.5],opacity:[1,0]} , {delay:'50', duration:'150' , display:'block'});
});
$('.options_back').click(function(){
  //$('body').addClass('over_hide');
  $('#cust').velocity({scale:[1,3] , opacity:[1,0]} , {duration:200 , easing:'swing' , display:'block' ,
  complete:function(){
  //  $('body').removeClass('over_hide');
    $('.cust_cont2').addClass('dn');
  }
});
  $('.selector_cont').eq(j).velocity({scale:[0.5,1],opacity:[0,1]} , {delay:'50', duration:'150' , display:'none'});
});
$('#showDetails').click(function(){
  //$('body').addClass('over_hide');
 $('.writefaggery').velocity({scale:[3,1] , opacity:[0,1]} , {duration:200 , easing:'swing' , display:'none' , complete:function(){
   //$('body').removeClass('over_hide')
 }});
  $('.morewritefaggery').velocity({scale:[1,0.5],opacity:[1,0]} , {delay:'50', duration:'150' , display:'block'});
});
$('.closewritefaggery').click(function(){
  //$('body').addClass('over_hide');
   $('.writefaggery').velocity({scale:[1,3] , opacity:[1,0]} , {duration:200 , easing:'swing' , display:'block' , complete:function(){
     // $('body').removeClass('over_hide');
 }

});
$('.morewritefaggery').velocity({scale:[0.5,1],opacity:[0,1]} , {delay:'50', duration:'150' , display:'none'});
  //$('.writefaggery').velocity({scale:[1,0.5] , opacity:[1,0]} , {duration:200 , easing:'swing' , display:'block' ,
//   complete:function(){
//     $('body').removeClass('over_hide');
//     $('.morewritefaggery').css({'display':'none'});
//   }
// });
});
/* Radia Button */
$('.selector1').click(function(){
  $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
  $(this).toggleClass('select_active');
});
/*Increase/Decrease number of Items in Cart and the corresponding price , comma spacing of price  */
$('.sub_no').click(function(){
  var e=$(this).siblings('.item_amt');
  var j =$(this).siblings('.item_amt').text();
  var e2=  $(this).closest('.cart_item').find('.price_gen');
  var price= $(this).closest('.cart_item').find('.price_gen ').text();
  price=price.replace(/\,/g,'');
  price=parseInt(price,10);
  if(j>1){
      price=price/j;
    j--;
    price=price*j;
    $(e2).html(price);
      $(e2).digits();
    $(e).html(j);
  }
});
$('.add_no').click(function(){
  var e=$(this).siblings('.item_amt');
  var j =$(this).siblings('.item_amt').text();
  var e2=  $(this).closest('.cart_item').find('.price_gen ')
  var price= $(this).closest('.cart_item').find('.price_gen ').text();
  price=price.replace(/\,/g,'');
  price=parseInt(price,10);
  price=price/j;
    j++;
    price=price*j;
    $(e2).html(price);
    $(e2).digits();
    $(e).html(j);
});
/* Fly to cart effect */
$('#add_to_cart').on('click', function () {
        var wd=$('.rota').outerWidth();
        var ht=$('.rota').outerHeight();
        var cart = $('.cartIcon');
        var imgtodrag;
           $('.rota .imgHolder').each(function(i){
                if(!$(this).hasClass("dn")) {
              imgtodrag=$(this);
                }
           });
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
                .offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            })
                .css({
                'opacity': '0.7',
                    'position': 'absolute',
                    'height':ht,
                    'width':wd,
                    'z-index': '900',
                    'display':'block'
            })
                .appendTo($('body'))
                .velocity({ top: cart.offset().top,left: cart.offset().left, width: 0, height: 0, opacity:[0.1] }, {duration:1000 , easing:'easeInOutExpo',
                 complete:function(){
                   $(this).detach();
                 }});

            setTimeout(function () {
                cart.velocity('stop').velocity({translateX:[-15,15]}, {duration:50 , easing:'swing' , loop:3}).velocity({translateX:[0]},{duration:25 , easing:'swing'});
            }, 900);

            // imgclone.animate({
            //     'width': 0,
            //         'height': 0
            // }, function () {
            //
            // });
        }
    });
  // Show close reviews page
$('.review_btn').click(function(){
  $('body').addClass('over_hide');
 $('.review_cont').velocity({translateY:[0,'100%']} , {duration:800 , easing:'easeInQuart',display:'block'});
});
$('.review_canc').click(function(){
 $('.review_cont').velocity({translateY:['100%',0]} , {duration:600 , easing:'easeInQuart' ,display:'none', complete:function(){
     $('body').removeClass('over_hide');
 }});
});
$('#check_out').click(function(){
  load_checkout();
});
function load_checkout(){
  console.log('click');
  $('body').addClass('over_hide');
 $('.page_loader').velocity({translateY:[0,'100%']} , {duration:600 , easing:'easeInQuart',display:'block' ,
 complete:function(){
    setTimeout(function(){
      window.location.assign(DOMAIN+'index.php?action=check_out');
    },1000);
 }
});
}
$(window).load(function(){
  setTimeout(function(){
load_page();
  },2000);
});
function load_page(){
  //$('body').addClass('over_hide');
 $('.page_loader2').velocity({translateY:['100%',0]} , {duration:600 , easing:'easeInQuart',display:'none' , complete:function(){
//   $('body').removeClass('over_hide');
    load_effects();
 }  });
}
function load_effects(){
    //$('body').addClass('over_hide');
    $('.rota_wrap').velocity({translateY:[0 , 10] , opacity:[1,0]} , {duration:600 , easing:'swing' , complete:function(){
      $('.details_cont').velocity({translateY:[0 , 10] , opacity:[1,0]} , {duration:600 , easing:'swing' , complete:function(){
          $('.options').velocity({translateY:[0 , 10] , opacity:[1,0]} , {duration:600 , easing:'swing',complete:function(){
          //  $('body').removeClass('over_hide');
          }});
      }});
    }});
}
$('.icnLike').click(function(){
  $(this).toggleClass('liked');
});
$('.rota_expand').click(function(){
  // $('.overlay3').velocity({opacity:[1,0]} , {duration:300 , easing:'swing'}).removeClass('pointNone');
  // $('body').addClass('over_hide');
// $(this).closest('.rota_wrap').clone().css({
//     'opacity': '1',
//         'position': 'fixed',
//         'height':'100vh',
//         'width':'100vh',
//         'z-index': '900',
//         'display':'block',
//         'top':'0',
//         'bottom':'0',
//         'left':'0',
//         'right':'0',
//         'margin':'auto',
//         'max-height':'100vh',
//         'background':'#fff'
// })
//     .appendTo($('body'));
//     $('.rota_buffer').bind('mousemove', function(e){
//         var left= e.pageX - offset.left;
//
//          console.log("offK:" + offK);
//            console.log("offL:" + offL);
//             console.log("left:" + (left -offK + offL));
//         var o= wid/30;
//           var k = (left - offK +offL )/o;
//           k= Math.floor(k);
//           k=k%30;
//           //  console.log("K:" + k);
//           $('.imgHolder').addClass('dn');
//           $('.imgHolder').eq(k).removeClass('dn');
//           s=k;
//     });
});
$('.rota_expand').click(function(){
$('.head_wrap').toggleClass('disable_full');
$('.details_cont , .options ').toggleClass('disable1');
$('.rota_buffer').toggleClass('rota_exstate');
$('.container').toggleClass('over_hide');
});
</script>

    </body>
