<?php include 'jhead.html'?>

<body class="greyBg blackHead">
    <div class=""></div>
    <?php include 'Cart.html' ?>
    <?php include 'header.html' ?>
    <?php include 'login.html' ?>
    <!-- <div class="fLeft gemBanner"></div> -->

    <div class="wrapper_main fLeft PRODUCT_PAGE">
        <div class="wrapper" id="wrapper">
            <div class="wrapper_max">
                <div class="container poR">
                    <div class="details_cont fLeft">
                        <div class="details_buffer">
                            <div class="details_head fLeft" id="proname">
                                Diamants LÉ Gers<br>
                                DE Love
                            </div>
                            <div class="details_desc fLeft" id="htCh">
                                <div class="writefaggery fLeft">
                                    <div class="para fLeft pr_head "  id="stn"><span>White gold, diamond</span></div>
                                    <div class="para fLeft" id="descrp">Diamants Legers de Cartier ring 18K white gold, set with a brilliant-cut diamond of 0.13 carat.</div>
                                    <!-- <div class="para  fLeft"><span class="actBtn fRight" id="showDetails">MORE INFO</span></div>
                                    <div class="para  fLeft">
                                        <div class="col33 fRight point  icnLike transition300"></div>
                                        <div class="col33 fRight point   icnCmnt transition300"></div>
                                        <div class="col33 fRight point review_btn icnShre transition300"></div>
                                    </div> -->
                                </div>
                                <div class="morewritefaggery fLeft" id="desc">
                                    <div class="para  fLeft"><span class="actBtn fRight pointNone">MORE INFO</span></div>
                                    <!--<div class="closewritefaggery"></div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="rota_wrap transition300">
                        <div class="rota_buffer">
                            <div class="rota" id="img-view">
                            </div>
                            <div class="rota_btn fLeft dn">
                                <center>
                                    <div class="rota_run "><span class="u_line lettSpace"></span></div>
                                    <div class="rota_expand "><span class="u_line lettSpace"></span></div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="options fRight">
                        <div class= "options_buffer">
                            <div class="another_buffer fLeft" id="cust">
                                <div class="desc_row fLeft  font12  transition300" >SKU: <span class="semibold" id="vpro"></span></div>
                                <div class="desc_row fLeft  font12  transition300" id="leadtime"> DELIVERY: </div>
                                <div class="desc_row fLeft  font12 transition300 bolder" id="Ifpendant"></div>
                                <div class="cardHead fLeft" id="custm">Customise</div>
                                <div class="cust_cont poR fLeft">
                                    <div class="drop_dn fLeft dn" id="clar">
                                        <div class="attTitle">Quality</div>
                                        <div class="actBtn font12 bolder" id="qual">vv-f</div>
                                    </div>
                                    <div class="drop_dn fLeft  " id="color">
                                        <div class="attTitle">Color</div>
                                        <div class="actBtn font12 bolder" id="clr">yellow</div>
                                    </div>
                                    <div class="drop_dn fLeft " id="purity">
                                        <div class="attTitle">Purity</div>
                                        <div class="actBtn font12 bolder" id="carat" >carat</div>
                                    </div>
                                    <div class="drop_dn fLeft dn" id="sizes">
                                        <!--                                        <div class="attTitle">Size</div>
                                                                                <div class="actBtn font12 bolder" id="size" >Size </div>-->
                                        <!--                                        <div class="selectDefault"></div>-->

                                    </div>
                                </div>
                                <!-- <div class="pr_change fLeft">

                                  <div class="ch_cont fRight">
                                    <span id="newAttr">VV-IG</span>: ₹62,000<span id="newPrice"></span>
                                  </div>
                                </div> -->

                                <div class="price_light fLeft cartRupeeB"><span id="price"> 26,000</span>
                                    <div class="ch_cont fLeft" id="ch_price">
                                        <div class="drNoob">
                                            <div class="labBuffer">Previous Price: VV-SGH: ₹34,0987</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action_btns">
                                    <div class="col50 fLeft  padXr5">
                                        <div class="actBtn  fLeft bolder pad10" id="add_to_cart">ADD TO CART</div>
                                    </div>
                                    <div class="col50 fLeft  padX15">
                                        <div class="actBtn  fRight bolder pad10" id="addwishlist">WISHLIST</div>
                                    </div>

                                    <!--                                     <div class="col50 fLeft  padXl5">
                                                                            <div class="cartBtn fRight bolder" id="add_to_cart"><div class="adddCart fRight"></div>ADD TO CART</div>
                                                                        </div>-->
                                    <!--                                    <div class="col50 fLeft  padXl5">
                                                                            <div class="wishBtn fRight bolder" id="addwishlist"><div class="addWish fRight"></div>WISHLIST</div>
                                                                        </div>-->
                                </div>
                            </div>
                            <div class="cust_cont2 dn">
                                <div class="fLeft selectClose"></div>
                                <center>
                                    <div class="selector_cont diQ" id="diQ">
                                        <div class="options_back"></div>
                                        <div class="button_label">Select Diamond Clarity</div>

                                    </div>
                                </center>
                                <center>
                                    <div class="selector_cont" id="colr">
                                        <div class="options_back"></div>
                                        <div class="button_label">Select Metal Color</div>
                                    </div>
                                </center>
                                <center>
                                    <div class="selector_cont pur" id="pur">

                                        <div class="options_back"></div>
                                        <div class="button_label">Select Metal purity</div>
                                    </div>
                                </center>
                                <div class="selector_cont" >
                                    <div class="options_back"></div>
                                    <div class="button_label">Select Your Size</div>
                                    <!--<div class="selectBox"></div>-->
                                    <div class="fLeft col100">
                                        <div class="col100 sizeOuter fLeft ringclass dn">
                                            <div class="incrCont incrIcon " id="inc"></div>
                                            <div class="incrCont decrIcon left40" id="dec"></div>
                                            <div class="circleOuter fLeft">
                                                <div class="ringCircle transition600 poR"> 14</div>
                                            </div>
                                            <center>
                                                <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="ringGuide">size guide</div></div></div>
                                                <div class="para fLeft mar0">Know your ring size</div>
                                            </center>
                                        </div>

                                        <div class="col100 sizeOuter fLeft bangclass">
                                            <div class="incrCont incrIcon r0" id="incB"></div>
                                            <div class="incrCont decrIcon l0" id="decB"></div>
                                            <div class="circleOuter fLeft">
                                                <div class="ringCircleB transition600 poR" id="bangCircle">2.4</div>
                                            </div>
                                            <center>
                                                <div class="col100 fLeft"><div class="col50"><div class="actBtn" id="ringGuide">size guide</div></div></div>
                                                <div class="para fLeft mar0">Know your bangle size</div>
                                            </center>
                                        </div>

                                        <!--                                        <div class="col50 fLeft">

                                                                                </div>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="darkCont">
            <div class="wrapper_max">
                <div class="homeCollect">
                    <!-- <div class="colleCont ">
                       <div class="smUlineb">White Gold</div>
                       <div class="collCenterb ">
                         White gold is an alloy of gold and at least one white metal, usually nickel, manganese or palladium. In order to make the gold white, it is combined with metal alloys that are white in nature and plated with an extremely hard element called rhodium. Although strong, rhodium may wear away over time. Replating is a simple process that can be done to restore whiteness to rhodium-plated jewelry.
                       </div>



                     </div>
                     <div class="colleCont v2">
                       <div class="smUline ">White Gold</div>
                       <div class="collCenter ">
                         White gold is an alloy of gold and at least one white metal, usually nickel, manganese or palladium. In order to make the gold white, it is combined with metal alloys that are white in nature and plated with an extremely hard element called rhodium. Although strong, rhodium may wear away over time. Replating is a simple process that can be done to restore whiteness to rhodium-plated jewelry.
                       </div>

                     </div>-->
                </div>
            </div>
        </div>


        <?php include 'footer.html'?>
    </div>


    <?php include 'loader.html'?>

    <div class="overlay3 pointNone"></div>
    <div class="close_fs dn"></div>
    <div class="lat_logo dn">
    </div>


    <script type="text/javascript" src="<?php echo $jvs['prodpage']; ?>"></script>

    <script>

	var tmp;
	setTimeout(function(){
          tmp = $('.ringCircle').html();
	},1000); 
        var val1, val2, val3;
        var w, h, lh;
        val1 = $('.ringCircle').width();
        val2 = $('.ringCircle').height();
        val3 = $('.ringCircle').css('line-height');
        $('#inc').click(function () {
            var incVal = parseInt(tmp) + 1;
          
            if (incVal > 25) {
                return false;
            }
            $('#size').text("Size " + incVal);
            val1 = val1 + 1;
            val2 = val2 + 1;
            val3 = parseInt(val3) + 1;
            $('.ringCircle').css('width', val1 + 'px');
            $('.ringCircle').css('height', val2 + 'px');
            $('.ringCircle').css('line-height', val3 + 'px');
            $('.ringCircle').html(incVal);
            tmp++;
            calculatePrice();
        });
//

        $('#dec').click(function () {
            var rtxt = $(this).parent().next();
            var dTxt = tmp - 1;
            if (dTxt < 5) {
                return false;
            }
            $('#size').text("Size " + dTxt);
            val1 = val1 - 1;
            val2 = val2 - 1;
            val3 = parseInt(val3) - 1;
            $('.ringCircle').css('width', val1 + 'px');
            $('.ringCircle').css('height', val2 + 'px');
            $('.ringCircle').css("line-height", val3 + 'px');
            $('.ringCircle').html(dTxt);
            tmp--;
            calculatePrice();
        });

        //bangles size code
	var tmp_b;
	setTimeout(function(){
          tmp_b = $('.ringCircleB').html(); 
	},1000);
        var addval_b = 20;
        var valb1, valb2, valb3;
        var w, h, lh;
        valb1 = $('#bangCircle').width();
        valb2 = $('#bangCircle').height();
        valb3 = $('#bangCircle').css('line-height');

        $('#incB').click(function () {
             var inc = Math.round(tmp_b * 10) / 10;
            var incVal_b = parseFloat(inc+0.1).toFixed(1);
            if (incVal_b >= 3.0) {
                return false;
            }
            var incValb = Math.round(incVal_b * 10) / 10;
            $('#size').text("Size" + incVal_b);
            valb1 = valb1 + 5;
            valb2 = valb2 + 5;
            valb3 = parseInt(valb3) + 5;

            $('#bangCircle').css("width", valb1 + 'px');
            $('#bangCircle').css("height", valb2 + 'px');
            $('#bangCircle').css('line-height', valb3 + 'px');
            $('#bangCircle').html(incVal_b);
            tmp_b = parseFloat(tmp_b) + 0.1;
            calculatePrice();
        });

        $('#decB').click(function () {
            var rtxt = $(this).parent().next();
            var dTxt_b = tmp_b - 0.1;
            if (dTxt_b <= 0.0) {
                return false;
            } else if (dTxt_b < 2.1) {
                return false;
            }
            valb1 = valb1 - 5;
            valb2 = valb2 - 5;
            valb3 = parseInt(valb3) - 5;
            $('#bangCircle').css("width", valb1);
            $('#bangCircle').css("height", valb2);
            $('#bangCircle').css("line-height", valb3 + 'px');
            $('#bangCircle').html(Math.round(dTxt_b * 10) / 10);
            var decValb = Math.round(dTxt_b * 10) / 10;
            $('#size').text("Size " + decValb);
            tmp_b = tmp_b - 0.1;
            calculatePrice();
        });

        $('#ringGuide').click(function (s, l) {
            window.location.href = DOMAIN + "index.php?action=sizeguide";
        });
        $('#bangleGuide').click(function (s, l) {
            window.location.href = DOMAIN + "index.php?action=bangleguide";
        });


        var exprice = 0;
        var i = 0;

        /* 360 auto run */
        var wid;
        var s = 0;
        function function1() {
            i = (i + 1) % 30;
            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(i).removeClass('dn');
        }
        function runner() {
            i = s;
            function1();
            stop = setTimeout(function () {
                runner();
                s = i;
            }, 140);
        }
        $('.rota_run').click(function () {
            if (fr == 0) {
                runner();
                fr = 1;
            } else {
                clearTimeout(stop);
                fr = 0;
            }
            $(this).toggleClass('rota_run');
            $(this).toggleClass('rota_stop');
        });
        /* 360 mousemove */
        var divPos = {};
        var offset = $('.rota').offset();
        $(window).resize(function () {
            wid = $('.rota').width();
        });
        var offK = 0;
        var offL = 0;
        $('.rota').bind('mousemove', function (e) {
            var imgNo = $(this).find('.imgHolder').length;
            var left = e.pageX - offset.left;

            var o = wid / imgNo;
            var k = (left - offK + offL) / o;
            k = Math.floor(k);
            k = k % imgNo;

            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(k).removeClass('dn');
            s = k;
        });
        $('.rota').mouseenter(function (e) {
            offK = e.pageX - offset.left;
        });
        // $('.rota').mouseenter(function(e){
        //
        //
        // });
        $('.rota').mouseleave(function (e) {
            offL = e.pageX - offset.left;
        });
        $('.rota').mouseover(function () {
            //  clearTimeout(stop);
        });
        $('.rota').mouseout(function () {
            //   runner();
        });
        $(document).ready(function () {
            //runner();

            wid = $('.rota').width();


        });

        /* Customisation */
        var j = 0;
        $('.drop_dn').click(function () {
            if (!$(this).hasClass('pointNone')) {
                exprice = $('#price').text();

                j = $(this).index();
                //$('body').addClass('over_hide');
                $('.selectClose').removeClass("dn");
                $('.cust_cont2').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 100, easing: 'swing', display: 'block'});
                $('#cust').velocity({scale: [3, 1], opacity: [0, 1]}, {duration: 200, easing: 'swing', display: 'none', complete: function () {
                        //  $('body').removeClass('over_hide')
                    }});
                $('.selector_cont').eq(j).velocity({scale: [1, 0.5], opacity: [1, 0]}, {delay: '50', duration: '150', display: 'block'});
            }
        });
        $('.options_back').click(function () {

            $('.cust_cont2').velocity({scale: [3, 1], opacity: [0, 1]}, {delay: 100, duration: 400, easing: 'swing', display: 'none'});
            $('#cust').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block'});


//$('body').addClass('over_hide');
//            $('#cust').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block',
//                complete: function () {
//                    //  $('body').removeClass('over_hide');
//                    $('.cust_cont2').addClass('dn');
//                }
//            });
            $('.selector_cont').eq(j).velocity({scale: [0.5, 1], opacity: [0, 1]}, {delay: '50', duration: '150', display: 'none'});
        });

        $('#showDetails').click(function () {
            //$('body').addClass('over_hide');
            $('.writefaggery').velocity({scale: [3, 1], opacity: [0, 1]}, {duration: 200, easing: 'swing', display: 'none', complete: function () {
                    //$('body').removeClass('over_hide')
                }});
            $('.morewritefaggery').velocity({scale: [1, 0.5], opacity: [1, 0]}, {delay: '50', duration: '150', display: 'block'});
        });
        $('.closewritefaggery').click(function () {
            //$('body').addClass('over_hide');

            $('.writefaggery').velocity({scale: [1, 3], opacity: [1, 0]}, {duration: 200, easing: 'swing', display: 'block', complete: function () {
                    // $('body').removeClass('over_hide');
                }

            });
            $('.morewritefaggery').velocity({scale: [0.5, 1], opacity: [0, 1]}, {delay: '50', duration: '150', display: 'none'});
            //$('.writefaggery').velocity({scale:[1,0.5] , opacity:[1,0]} , {duration:200 , easing:'swing' , display:'block' ,
            //   complete:function(){
            //     $('body').removeClass('over_hide');
            //     $('.morewritefaggery').css({'display':'none'});
            //   }
            // });
        });
        /* Radia Button */
        $('.selector1').click(function () {
            $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
            $(this).toggleClass('select_active');
        });

        /* Fly to cart effect */
        $('#add_to_cart').on('click', function () {
            var wd = $('.rota').outerWidth();
            var ht = $('.rota').outerHeight();
            var cart = $('.cartIcon');
            var imgtodrag;
            $('.rota .imgHolder').each(function (i) {
                if (!$(this).hasClass("dn")) {
                    imgtodrag = $(this);
                }
            });
            if (imgtodrag) {
                var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.7',
                            'position': 'absolute',
                            'height': ht,
                            'width': wd,
                            'z-index': '900',
                            'display': 'block'
                        })
                        .appendTo($('body'))
                        .velocity({top: cart.offset().top + 20, left: cart.offset().left + 30, width: 0, height: 0, opacity: [0.1]}, {duration: 1000, easing: 'easeInOutExpo',
                            complete: function () {
                                $(this).detach();
                            }});
                //
                // setTimeout(function () {
                //     cart.velocity('stop').velocity({translateX: [-15, 15]}, {duration: 50, easing: 'swing', loop: 3}).velocity({translateX: [0]}, {duration: 25, easing: 'swing'});
                // }, 900);

                // imgclone.animate({
                //     'width': 0,
                //         'height': 0
                // }, function () {
                //
                // });
            }
        });
        // Show close reviews page
        // $('.review_btn').click(function () {
        //     $('body').addClass('over_hide');
        //     $('.review_cont').velocity({translateY: [0, '100%']}, {duration: 800, easing: 'easeInQuart', display: 'block'});
        // });
        $('.review_canc').click(function () {
            $('.review_cont').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                    $('body').removeClass('over_hide');
                }});
        });

        $(window).load(function () {
            load_page();
        });

        function loadComplete() {
            //$('body').addClass('over_hide');
            setHeight();
            $('.rota_wrap').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                    $('.details_cont').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                            $('.options').velocity({translateY: [0, 10], opacity: [1, 0]}, {duration: 600, easing: 'swing', complete: function () {
                                    //  $('body').removeClass('over_hide');
                                }});
                        }});
                }});
        }
        $('.icnLike').click(function () {
            $(this).toggleClass('liked');
        });

        $('.rota_expand').click(function () {
            $(this).toggleClass('dn');
            $('.close_fs , .lat_logo').removeClass('dn');
            $('.rota_run').find('.u_line').toggleClass('dn');

            $('.details_cont , .options , .head_wrap').toggleClass('disable_full');
            $('.rota_wrap ').toggleClass('rota_exstate');


            $('.container').toggleClass('over_hide');
        });
        $('.close_fs ').click(function () {
            $('.rota_run , .rota_stop').find('.u_line').removeClass('dn');
            $(this).toggleClass('dn');
            $('.lat_logo').toggleClass('dn');
            $('.rota_expand').toggleClass('dn');
            $('.details_cont , .options , .head_wrap').toggleClass('disable_full');
            $('.rota_wrap ').toggleClass('rota_exstate');
            $('.container').toggleClass('over_hide');
        });





        var val = 0;
        var moveCount = 0;
        function movePrImg(flag) {
            var totalThumbs = $(".productCont").length;
            var liWidth = ($(".productCont").outerWidth());


            if (!flag) {
                if (moveCount < (totalThumbs - 1)) {
                    val = val - liWidth;
                    $(".productCont").css({transform: 'translateX(' + val + 'px)'});
                    moveCount++;
                }
            } else if (flag) {
                if (moveCount > 0) {
                    val = val + liWidth;
                    $(".productCont").css({transform: 'translateX(' + val + 'px)'});
                    moveCount--;
                }
            }
        }

//        if(catname == 'Rings')
//        {;
//            $('.ringclass').addClass('dn');
//        } else{
//        $('.ringclass').addClass('dn');
//        }

//         if(catname == 'Bangles')
//            $('.bangclass').addClass('dn');
//        else
//        $('.bangclass').removeClass('dn');
        //JZEVA DROPDOWN

        function bindDrop() {

            var sz;
            $('.selectOptions').click(function () {

                sz = $(this).text();
                $('#size').html(sz);

                //calculatePrice();
                $(this).closest('.selectOptionC').fadeOut('150ms').siblings('.selectDefault').removeClass('pointNone');
                setTimeout(function () {
                    $(e).closest('.selector_cont ').find('.options_back').click();
                    $('#ch_price').find('.labBuffer').empty();
                    $('#ch_price').find('.labBuffer').append('Previous Price:');
                    $('#ch_price').velocity({opacity: [1, 0]});
                    calculatePrice();

                }, 400);
                setTimeout(function () {
                    $('#ch_price').addClass('showCh');
                }, 800);
                setTimeout(function () {
                    $('#ch_price').removeClass('showCh');
                    $('#ch_price').velocity({opacity: [0, 1]});
                }, 8000);

            });
        }
        $(document).click(function (event) {

            if (catname == 'Bangles') {
                $('.ringclass').addClass('dn');
                $('.bangclass').removeClass('dn');
            } else if (catname == 'Rings') {
                $('.ringclass').removeClass('dn');
                $('.bangclass').addClass('dn');
            }

            if (!$(event.target).closest('.selectDefault').length)
            {
                if ($('.selectDefault').next('.selectOptionC').is(":visible"))
                {
                    $('.selectDefault').next('.selectOptionC').slideUp('swing');
                    $('.selectDefault').removeClass('pointNone');
                }
            }
        });


function setHeight(){
  var tot = ($('#proname').outerHeight(true) + $('#htCh').outerHeight(true))/0.9;
  var win_tot = ($(window).outerHeight(true));
  var acHt = ($('#proname').outerHeight(true) + $('#htCh').outerHeight(true))/0.9 ;
 
    if(tot> win_tot){
       $('#wrapper').height(acHt);
    }
}


    </script>

</body>
