
<?php include 'jhead.html' ?>
<body class="greyBg">
    <?php include 'Cart.html'?>

    <?php include 'header.html'?>
    <div class="fLeft gemBanner fixedBanner"><div class="banner_over" id ="banner_over"></div></div>
    <div class="wrapper_main fLeft PRODUCT_GRID2">
        <!-- <div class="overlay2 transition300"></div> -->

        <div class="wrapper fLeft">
            <div class="review_cont">
                <div class="review_canc"></div>
            </div>
            <div class="filter_cont">
                <div class="filter_canc"></div>
                <div class="col33fLeft">
                    <div class="rad_wrap fLeft">
                        <div class="selector1">

                        </div>
                        <span class="selector_label">For Him</span>
                    </div>
                    <div class="rad_wrap fLeft">
                        <div class="selector1">

                        </div>
                        <span class="selector_label">For Her</span>
                    </div>

                </div>
                <div class="col100 fLeft">
                    <div class="col50 fLeft">
                        <div class="button_label">Stone Color</div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="selector_label">White</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Pine</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Black</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Blue</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Red</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Ice Blue</span>
                        </div>

                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Pink</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Green</span>
                        </div>
                    </div>
                    <div class="col50 fLeft">
                        <div class="button_label fmSansB">Metal</div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Gold</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">White Gold</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Rose Gold</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Platinum</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">

                            </div>
                            <span class="fmSansB selector_label">Silver</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Palladium</span>
                        </div>
                    </div>
                </div>
                <div class="col100 mTop10 fLeft">
                    <div class="col50 fLeft">
                        <div class="button_label fmSansB">Stone Type</div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Diamond</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Ruby</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Emerald</span>
                        </div>
                        <div class="rad_wrap fLeft">
                            <div class="selector1">
                            </div>
                            <span class="fmSansB selector_label">Zirconium</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container2  fLeft">
                <div class="col100">
                    <div class="wrapper_max offsetTop">
                        <div class="aboveLine fLeft">
                        	<div class="filterH fLeft">

                            	<div class="filter_btn fRight" id="filter"></div>
                            </div>
                            	<div class="totProduct" id="total_Product"> Products</div>
                            <div class="ftabWrap fRight">
                            <div class="ftab_buffer">
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft taba">
                                        METAL TYPE
                                    </div>
                                </div>
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft taba">
                                        METAL TYPE
                                    </div>
                                </div>
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft tabb">
                                        STONE COLOR
                                    </div>
                                </div>
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft tabc">
                                        DIAMOND SHAPE
                                    </div>
                                </div>
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft tabd">
                                        RING STYLE
                                    </div>
                                </div>
                                <div class="ftabB fLeft">
                                    <div class="ftab fLeft tabe">
                                        GEMSTONES
                                    </div>
                                </div>

                            </div>
                            <div class="fmenu_wrap">
                                <div class="fmenuB">
                                    <div class="fmenu_elm">
                                        <div class="mtlBox fLeft "  onclick="sort()">
                                            <center>
                                                <div class="mCir  transition300">14</div>
                                                <div class="  mText transition300">ALL METALS</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="mText transition300">WHITE GOLD</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class=" mText transition300">ROSE GOLD</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="  mText transition300">PLATINUM</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="  mText transition300">SILVER</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="  mText transition300">GOLD</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="  mText transition300">ALL METALS</div>
                                            </center>
                                        </div>
                                        <div class="mtlBox fLeft ">
                                            <center>
                                                <div class="mCir  transition300" onclick="sort()">14</div>
                                                <div class="  mText transition300">ALL METALS</div>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="fmenu_elm ">
                                        <div class="ckCont fLeft">
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl1" class="filled-in" value="1">
                                                <label for="cl1">White</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl2" class="filled-in" value="1">
                                                <label for="cl2">Pine</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl3" class="filled-in" value="1">
                                                <label for="cl3">Ice Blue</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl4" class="filled-in" value="1">
                                                <label for="cl4">Black</label>
                                            </div>
                                        </div>
                                        <div class="ckCont fLeft ">
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl5" class="filled-in" value="1">
                                                <label for="cl5">Blue</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl6" class="filled-in" value="1">
                                                <label for="cl6">Pink</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl7" class="filled-in" value="1">
                                                <label for="cl7">Green</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl8" class="filled-in" value="1">
                                                <label for="cl8">Red</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fmenu_elm ">
                                        <div class="ckCont fLeft">
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl1" class="filled-in" value="1">
                                                <label for="cl1">White</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl2" class="filled-in" value="1">
                                                <label for="cl2">Pine</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl3" class="filled-in" value="1">
                                                <label for="cl3">Ice Blue</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl4" class="filled-in" value="1">
                                                <label for="cl4">Black</label>
                                            </div>
                                        </div>
                                        <div class="ckCont fLeft ">
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl5" class="filled-in" value="1">
                                                <label for="cl5">Blue</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl6" class="filled-in" value="1">
                                                <label for="cl6">Pink</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl7" class="filled-in" value="1">
                                                <label for="cl7">Green</label>
                                            </div>
                                            <div class="checkB fLeft">
                                                <input type="checkbox" name="select" id="cl8" class="filled-in" value="1">
                                                <label for="cl8">Red</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fmenu_elm">

                                        <center>
                                            <!-- <div class="col100">
                                                <div class="diaCont Round transition300"></div>
                                                <div class="diaCont Pear transition300"></div>
                                                <div class="diaCont Emerald transition300"></div>
                                                <div class="diaCont Princess transition300"></div>
                                                <div class="diaCont Marquise transition300"></div>
                                                <div class="diaCont Oval transition300"></div>
                                            </div> -->
                                            <div class="col100 diaSh" style="height:240px">
                                                <!-- <div class="diaCont Cushion transition300"></div>
                                                <div class="diaCont Heart transition300"></div>
                                                <div class="diaCont Radiant transition300"></div>
                                                <div class="diaCont Asscher transition300"></div> -->
                                            </div>
                                        </center>

                                    </div>
                                    <div class="fmenu_elm">
                                        <div class="fLeft ringContr poR">
                                            <center>
                                                <div class="col100">
                                                    <div class="ringCont ring1 transition300">SOLITAIRE</div>
                                                    <div class="ringCont ring2 transition300">PAVE</div>
                                                    <div class="ringCont ring3 transition300">CHANNEL SET</div>
                                                    <div class="ringCont ring4 transition300">SIDE STONES</div>
                                                    <div class="ringCont ring5 transition300">THREE STONE</div>
                                                </div>
                                                <div class="col100 ringSz">
                                                    <div class="ringCont ring6 transition300">TENSION</div>
                                                    <div class="ringCont ring7 transition300">HALO</div>
                                                    <div class="ringCont ring8 transition300">VINTAGE</div>
                                                    <div class="ringCont ring9 transition300">WEDDING SETS</div>
                                                    <div class="ringCont ring10 transition300">UNIQUE</div>
                                                    <div class="ringCont ring11 transition300">PRONG</div>
                                                    <div class="ringCont ring12 transition300">FLUSH SET</div>
                                                    <div class="ringCont ring13 transition300">BEZEL</div>
                                                    <div class="ringCont ring14 transition300">CLUSTER</div>
                                                    <div class="ringCont ring15 transition300">INVISIBLE</div>
                                                    <div class="ringCont ring16 transition300">ILLUSION</div>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="fmenu_elm">
                                        <div class="fLeft ringContr">
                                            <center>

                                                    <div class="gemstone gemstone1">ALEXANDRITE</div>
                                                    <div class="gemstone gemstone2">AMBER</div>
                                                    <div class="gemstone gemstone3">AMETHYST</div>
                                                    <div class="gemstone gemstone4">AMETRINE</div>
                                                    <div class="gemstone gemstone5">AQUAMARINE</div>
                                                    <div class="gemstone gemstone6">CITRINE</div>
                                                    <div class="gemstone gemstone7">DIAMOND</div>
                                                    <div class="gemstone gemstone8">FANCY COLOR DIAMOND</div>
                                                    <div class="gemstone gemstone9">EMERALD</div>
                                                    <div class="gemstone gemstone10">GARNET</div>
                                                    <div class="gemstone gemstone11">IOLITE</div>
                                                    <div class="gemstone gemstone12">JADE</div>
                                                    <div class="gemstone gemstone13">KUNZITE</div>
                                                    <div class="gemstone gemstone14">LAPIS LAZULI</div>
                                                    <div class="gemstone gemstone15">MOON STONE</div>
                                                    <div class="gemstone gemstone16">MORGANITE</div>
                                                    <div class="gemstone gemstone17">OPAL</div>
                                                    <div class="gemstone gemstone18">PEARL</div>
                                                    <div class="gemstone gemstone19">PERIDOT</div>
                                                    <div class="gemstone gemstone20">ROSE QUARTZ</div>
                                                    <div class="gemstone gemstone21">RUBY</div>
                                                    <div class="gemstone gemstone22">SUPPHIRE</div>
                                                    <div class="gemstone gemstone23">SPINEL</div>
                                                    <div class="gemstone gemstone24">SUNSTONE</div>
                                                    <div class="gemstone gemstone25">TANZANITE</div>
                                                    <div class="gemstone gemstone26">TOPAZ</div>
                                                    <div class="gemstone gemstone27">TORMALINE</div>
                                                    <div class="gemstone gemstone28">TURQUOISE</div>
                                                    <div class="gemstone gemstone29">ZIRCON</div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>



                    </div>
                </div>

                <div class="grid_cont fLeft">

                    <div class="col100 fLeft poR" id="gridDetail">

                    </div>

                </div>
                <div class="grid_footer transition300 transdown" id="gr_foot">View More</div>
                </div>
                        </div>

            </div>
        </div>

    </div>

    <!-- <div class="page_loader">
      <div class="cs-loader-inner ">
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
      </div>
          <div class="loader_quote  fmSansL">The meek may inherit the earth but not its mineral rights</div>
    </div> -->
    <div class="page_loader2">
        <div class="cs-loader-inner fmsansb">
            <label>J</label>
            <label>Z</label>
            <label>E</label>
            <label>V</label>
            <label>A</label>
        </div>
        <div class="loader_quote fmrobot">Luxury or Nothing</div>
    </div>

    <!--<script type="text/javascript" src="<?php echo $jvs['prodGrid']; ?>"></script>-->

    <script>

        var window_width;
        $(document).ready(function () {

            $('body').addClass('over_hide');
            window_width = $(window).width();
            getHeight();
            if (window_width < 960) {
            }
            wid = $('.rota').width();
            // bindrota();

        });
        $(window).load(function () {
            setPosition();
            setTimeout(function () {
                load_page();
            }, 1000);



        });

        function load_page() {
            $('.page_loader2').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                    $('body').removeClass('over_hide')
                }});
        }
        /* Add commas in numbers */
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }

        var i = 0;


        /* 360 auto run */
        var wid;
        var s = 0;
        function function1() {
            i = (i + 1) % 36;
            $('.imgHolder').addClass('dn');
            $('.imgHolder').eq(i).removeClass('dn');
        }
        function runner() {
            i = s;
            function1();
            stop = setTimeout(function () {
                runner();
                s = i;
            }, 70);
        }
        $('.rota_btn').click(function () {
            if (fr == 0) {
                runner();
                fr = 1;
            } else {
                clearTimeout(stop);
                fr = 0;
            }
            $(this).toggleClass('rota_run');
            $(this).toggleClass('rota_stop');
        });
        /* 360 mousemove */
        var divPos = {};
        var offset = $('.rota').offset();

        /* Radia Button */

        $('.selector1').click(function () {
            $(this).closest('.selector_cont').find('.selector1').removeClass('select_active');
            $(this).toggleClass('select_active');
        });


        // Show close reviews page
        $('.review_btn').click(function () {
            $('body').addClass('over_hide');
            $('.review_cont').velocity({translateY: [0, '100%']}, {duration: 800, easing: 'easeInQuart', display: 'block'});
        });
        $('.review_canc').click(function () {
            $('.review_cont').velocity({translateY: ['100%', 0]}, {duration: 600, easing: 'easeInQuart', display: 'none', complete: function () {
                    $('body').removeClass('over_hide');
                }});
        });
        // Show close filter page
        // $('.filter_btn').click(function(){
        //   $('body').addClass('over_hide');
        //  $('.filter_cont').velocity({translateY:[0,'100%']} , {duration:800 , easing:'easeInQuart',display:'block'});
        // });
        // $('.filter_canc').click(function(){
        //  $('.filter_cont').velocity({translateY:['100%',0]} , {duration:600 , easing:'easeInQuart' ,display:'none', complete:function(){
        //      $('body').removeClass('over_hide');
        //  }});
        // });


        //Positioning the grid Absolutely
        function setPosition() {
            var cnt = 0;
            var h1 = 0;
            var h2 = 0;
            var h3 = 0;
            var h4 = 0;
            var h1t = 0;
            var h2t = 0;
            var h3t = 0;
            var h4t = 0;
            var margin = 0;
            var z = 140;
            var pax;
            $('.grid3').each(function (i) {

                if (!$(this).hasClass("dn")) {

                    if (window_width <= 1200) {
                        pax = 5;
                        if (cnt > 2) {
                            cnt = 0;
                            z--;
                        }
                    } else {
                        pax = 5;
                        if (cnt > 2) {
                            cnt = 0;
                            z--;
                        }
                    }
                    var w = $(this).outerWidth(true);
                    if (cnt == 0) {
                        h1t = h1t + h1;

                        $(this).css({position: 'absolute', left: '0', top: h1t + "px", zIndex: z});

                        h1 = $(this).outerHeight(true);
                        //  $(this).find('.grid_img').attr('lcor', '30');
                    } else if (cnt == 1) {
                        h2t = h2t + h2;
                        console.log('pax:' + pax);
                        $(this).css({position: 'absolute', left: w - pax + "px", top: h2t + "px", zIndex: z});
                        h2 = $(this).outerHeight(true);
                        //  $(this).find('.grid_img').attr('lcor', w-20 );
                    } else if (cnt == 2) {
                        h3t = h3t + h3;

                        $(this).css({position: 'absolute', left: (w - pax) * 2 + -0 + "px", top: h3t + "px", zIndex: z});
                        h3 = $(this).outerHeight(true);
                        //    $(this).find('.grid_img').attr('lcor', (w )* 2 - 20);
                    } else if (cnt == 3) {
                        h4t = h4t + h4;

                        $(this).css({position: 'absolute', left: (w - pax) * 3 + -0 + "px", top: h4t + "px", zIndex: z});
                        h4 = $(this).outerHeight(true);
                        //      $(this).find('.grid_img').attr('lcor', (w) * 3 -20);
                    }
                    cnt++;
                    var hm;
                    hm = h1 + h1t;
                    if (h2 + h2t > hm) {
                        hm = h2;
                    } else if (h3t + h3 > hm) {
                        hm = h3 + h3t;
                    } else if (h4t + h4 > hm) {
                        hm = h4 + h4t;
                    }
                    $('.grid_cont').css({'height': hm + 100});
                }
            });
        }
        $(window).resize(function () {
            setPosition();
            window_width = $(window).width();
        });
        //Touch Handling, getting the Id of the grid image being swiped
        var ooo;
        $.event.special.tap = {
            setup: function (data, namespaces) {
                var $elem = $(this);
                $elem.bind('touchstart', $.event.special.tap.handler)
                        .bind('touchmove', $.event.special.tap.handler)
                        .bind('touchend', $.event.special.tap.handler);
            },
            teardown: function (namespaces) {
                var $elem = $(this);
                $elem.unbind('touchstart', $.event.special.tap.handler)
                        .unbind('touchmove', $.event.special.tap.handler)
                        .unbind('touchend', $.event.special.tap.handler);
            },
            handler: function (event) {
                event.preventDefault();
                var $elem = $(this);
                $elem.data(event.type, 1);
                if ($elem.data('touchmove')) {
                    event.type = 'tap';
                    var iddd = $(this).attr('id');
                    var l1Point = $(this).attr('lcor');
                    // $(this).closest('.grid_item').find('.grid_img div').each(function(i){
                    //
                    //       if(!$(this).hasClass("dn")) {
                    //    l1Point=$(this).index();
                    //   console.log('l1point'+ l1Point);
                    //       }
                    //  });
                    init(iddd, l1Point);
                    //  $.event.handle.apply(this, arguments);
                } else if ($elem.data('touchend')) {
                    $elem.removeData('touchstart touchmove touchend');
                }
            }
        };
        $('.grid_img').bind('tap', function (event) {


        });
        //touch rotate
        var lastPtt = null;
        var staticCordt = 0;
        var xt = 0;
        var jt = 0;
        var kt = 0;
        var st = 0;
        var sEndt = 0;
        var it = 0;
        var tempid;
        var isuck;
        function init(iddd, l1Point) {
            var touchzone = iddd;

            isuck = l1Point;
            touchzone = document.getElementById(iddd);
            ooo = iddd;
            //console.log(iddd);
            touchzone.addEventListener("touchstart", getcor, false);
            touchzone.addEventListener("touchmove", draw, false);
            touchzone.addEventListener("touchend", end, false);
        }
        function getcor(e) {
            e.preventDefault();
            clearTimeout(stop);
            //sEnd=0;
            flagt = 0;
            jt = e.touches[0].pageX;
            st = it;
        }
        function draw(e) {
            e.preventDefault();
            //clearTimeout(stop);
            lastPtt = {x: e.touches[0].pageX, y: e.touches[0].pageY};
            xt = e.touches[0].pageX;
            var widt = $('.grid_img').width();
            var dt = (widt / 30);
            isuck = parseInt(isuck);

            console.log('isuck:' + isuck + 'staticCordt:' + staticCordt);
            xt = xt + isuck - jt;
            console.log('xt' + xt);
            kt = xt / dt;
            kt = (kt) % 30;
            kt = Math.floor(kt);
            $("#" + ooo).find('div').addClass('dn');
            $("#" + ooo).find('div').eq(kt).removeClass('dn');
            it = kt;
        }
        function end(et) {
            et.preventDefault();
            staticCordt = xt;
            $("#" + ooo).attr('lcor', xt)

            console.log('touchend');
        }
        var divPos = {};
        var offset = $('.rota').offset();
        function bindrota(th, e) {

            //   $('.grid_img').bind('mousemove', function (e) {

            if (window_width > 960) {
                var wid1 = $(th).width();
                // console.log(wid1);
                var offset = $(th).offset();
                var left = e.pageX - offset.left;

                var o = wid1 / 30;
                var off_set = o * i;

                var k = (left - off_set) / o;

                k = Math.floor(k);

                k = k % 30;
                var di = $(th).find('div');

                $(th).find('div').addClass('dn');
                $(th).find('div').eq(k).removeClass('dn');
                s = k;
            }
            //  });
        }
        $('.rota').mouseover(function () {
            clearTimeout(stop);
        });
        $('.rota').mouseout(function () {
            //   runner();
        });
        $('.soc_wish2').click(function () {
            $(this).toggleClass('soc_wishfill');
        });
        $('.v_dets').click(function () {
            $(this).closest('.grid3').addClass('flip_card');
        });
        $('.grid_back').click(function () {
            $(this).closest('.grid3').removeClass('flip_card');
        });
        function flipCard(th) {
            $(th).closest('.grid3').addClass('flip_card');
        }
        function flipBack(th) {
            $(th).closest('.grid3').removeClass('flip_card');
        }
        $('.filter_selector').click(function () {
            $(this).toggleClass('fmSansB').find('.sel_box').toggleClass('selected');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 60;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
//           if(ht-sc<=60){
//           console.log(sc);
//           $('.gemBanner').addClass('fixer');
//       }
//       else{
//            $('.gemBanner').removeClass('fixer');
//       }
        });

//        var lastId = "";
//        $('.filterBox').mouseover(function () {
////            $('.overlay').stop(true, true).fadeTo(200, 1);
//            $('.filterDetails').removeClass("dn");
//            var fId = $(this).attr("id");
//            console.log(fId);
//            $('.' + fId + '_cls').removeClass("dn");
//            if (lastId !== fId) {
//                $('.' + lastId + '_cls').addClass("dn");
//            }
//            $('.mtlBox,.checkB,.diaCont,.ringCont,.gemstone').velocity({translateY: [20, 0], duration: 200, easing: 'ease-in-out', display: 'block'});
//            lastId = fId;
//        });
function getHeight(){
    $('.fmenu_elm').each(function(){
      $(this).attr('initHeight' , $(this).outerHeight(true));
    });
}
var vheight=0;
        /*Overlay fade in/out  on menu hover*/
        $('.ftabWrap').mouseover(function () {
            $('.overlayF').stop(true, true).fadeTo(200, 1);
        });
        /*Main menu slidedown/slideup , Menu tab colour change*/
        $('.ftabB').mouseover(function () {
            $('.ftab').removeClass('selec');
            var inx=$(this).index();
            vheight =$('.fmenu_elm').eq(inx).attr('initHeight');
            console.log(vheight);
            setTimeout(function(){
            $('.fmenu_wrap').velocity('stop').velocity({height: vheight}, {duration: 200, easing: 'ease-in-out', display: 'block'});
          },20);
        });
        // $('.ftabWrap').mouseleave(function () {
        //     $('.overlayF').stop(true, true).fadeTo(200, 0);
        //     $('.fmenu_wrap').velocity('stop').velocity({height: [0]}, {duration: 200, easing: 'ease-in-out', display: 'none',
        //         complete: function () {
        //             $('.fmenu_elm').stop(true, true).css({'display': 'block'});
        //         }
        //     });
        //     $('.ftab').removeClass('selec');
        // });
        /*Sub menu slidedown/slideup , Menu tab colour change*/
        $('.ftab').mouseenter(function () {
            var k = $(this).closest('.ftabB').index();

            $('.fmenu_elm').css({'z-index': '50'}).removeClass('tab_select').addClass('remo');
            $('.fmenu_elm').eq(k).css({'z-index': '9999'}).addClass('tab_select').removeClass('remo');

            $('.fmenu_elm').eq(k).stop(true, true).slideDown(200, function () {
                $('.remo').css({'display': 'none'});
            });
        });
        /* Maintain colour of tab while hovering on corresponding submenu*/
        $('.fmenu_elm').mouseenter(function () {
            var k = $(this).index();
            $('.ftab').removeClass('selec');
            $('.ftabB').find('.ftab').eq(k).addClass('selec');
        });


    </script>

    <script type="text/javascript" src="<?php echo $jvs['prodGrid']; ?>"></script>
</body>
