<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
     <?php include 'login.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">returns and exchange</div>
    </div>
    <div class="wrapper_main   fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">return an item?</div>
                        <div class="fLeft pCont">
                            <div class="fLeft tCont">Want to return an item you purchase from us? No Problem!!!! We will accept it as long as it fulfils the below criteria.</div>
                            <div class="fLeft tCont tCont points">Jewellery above ₹49,000 in value do not qualify for returns</div>
                            <div class="fLeft tCont tCont points">The return must be initiated within 7 days from order delivery.</div>
                            <div class="fLeft tCont tCont points">The tamper proof tag on the jewellery delivered to you should not be removed, damaged or tampered with.</div>
                            <div class="fLeft tCont tCont points">The jewellery should not show any signs of wear and tear or damage.</div>
                            <div class="fLeft tCont tCont points">All certificates and packaging material (boxes, cleaning cloth etc) should be returned along with the package.</div>
                            <div class="fLeft tCont tCont points">The jewellery should pass the inspection of our quality department for authenticity and damage.</div>
                            <div class="fLeft tCont">In the case of the Jewellery not meeting the return criteria the jewellery will be shipped back to the customer.</div>
                        </div>


                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Refunds</div>
                        <div class="fLeft pCont">
                            <div class="tCont fLeft">You can opt for a refund on the items that have been returned to us either as store credit or to your original payment method. The following conditions will apply.</div>

                            <div class="fLeft tCont tCont points">Refunds will be only on successful fulfilment of the returns criteria. </div>
                            <div class="fLeft tCont tCont points">If refund is requested in Store Credits no deductions what so ever will be made. </div>
                            <div class="fLeft tCont tCont points">If the refund is requested as cash, cheque or account transfer, a 10% of the cost of the product will be deducted towards making, certification and return shipping costs.</div>
                            <div class="fLeft tCont tCont points">Any Discounts resulting from promo codes applied during purchase shall not be refunded.</div>
                            <div class="fLeft tCont tCont points">Refunds for purchases made through gift cards or vouchers will be credited back to the gift card or voucher.</div>
                            <div class="fLeft tCont tCont points">Refunds will be processed in 10-15 days from the date of request.</div>

                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Cancellation</div>
                        <div class="fLeft pCont">
                            <div class="tCont fLeft">Placed an order but had a change of mind later? If it’s not too late you can still exercise the cancellation option.</div>
                            <div class="fLeft tCont points">Order Confirmed: 100% refund</div>
                            <div class="fLeft tCont points">Product in Manufacturing facility to Certification: 7% of the order value will be deducted</div>
                            <div class="fLeft tCont points">Product dispatched: No cancellation option</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Exchange Policy</div>
                        <div class="fLeft pCont">
                            <div class="fLeft tCont">We understand that its human nature to get bored of their possessions, this can be true for jewellery as well more so when Jzeva keeps you intrigued with its classy new designs every month. </div>
                            <div class="fLeft tCont">With our friendly exchange policy you can now exchange your old Jzeva jewellery for new designs whenever you please for a nominal deduction on your old jewellery</div>
                            <div class="fLeft subH semibold">If new buy is less then 2 times the old product value</div>
                            <div class="fLeft subHm semibold">Diamond jewellery</div>
                            <div class="fLeft tCont points">Diamonds: 90% of the day’s existing rate</div>
                            <div class="fLeft tCont points">Gemstones: 75% of the day’s prevailing rate</div>
                            <div class="fLeft tCont points">Gold/Platinum: 100% of the day’s gold rate</div>
                            <div class="fLeft subHm semibold">Solitaires</div>
                            <div class="fLeft tCont points">Diamond: 90% of the day’s prevailing rate</div>
                            <div class="fLeft tCont points">Mount: 100% of the day’s prevailing metal rate</div>
                            <div class="fLeft subH semibold">If new buy is more then 2 times the old product value</div>
                            <div class="fLeft subHm semibold">Diamond jewellery</div>
                            <div class="fLeft tCont points">Diamonds: 100% the day’s existing rate</div>
                            <div class="fLeft tCont points">Gemstone: 90% the day’s prevailing rate</div>
                            <div class="fLeft tCont points">Gold/Platinum: 100% of the day’s prevailing metal rate</div>
                            <div class="fLeft subHm semibold">Solitaires</div>
                            <div class="fLeft tCont points">Diamonds: 100% of the days’ prevailing rate</div>
                            <div class="fLeft tCont points">Mounts: 100% of the day’s prevailing metal rate</div>
                            <div class="fLeft subH semibold">Additional Terms for Lifetime Exchange</div>
                            <div class="fLeft tCont points">Only jewellery bought from Jzeva will be eligible for lifetime exchange</div>
                            <div class="fLeft tCont points">Exchange value will be adjusted against the buying price of the new jewellery. The company will not issue a cash back to the customer.</div>
                            <div class="fLeft tCont points">Jzeva team will analyse the quality of the product and the above mentioned rate is applicable only if the product is in good condition.</div>
                            <div class="fLeft tCont points">The product should be accompanied with the original certificate and invoice issued during the purchase.</div>
                            <div class="fLeft tCont points">For all Buy-Back transactions, Value Added Tax (VAT) at the applicable rate shall be collected from the Buy-Back value. </div>
                            <div class="fLeft tCont points">The prevailing day’s rate for the diamonds will be determined by the company and will be transparently shared with the customer and on the website.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <?php include 'footer.html'?>
      <?php include 'loader.html'?>
    <script>
    function loadComplete(){
      $('.wrapper_max').removeClass('offsetEffects');
    }
        $(document).ready(function () {
            load_page();
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
    </script>


</body>
