<!DOCTYPE html>

<?php include 'jhead.html' ?>
<script> 
    var DOMAIN = '<?php echo DOMAIN?>';
    var APIDOMAIN = '<?php echo APIDOMAIN?>';
    var IMGDOMAIN = '<?php echo IMGDOMAIN ?>';
    var page = '<?php echo $page?>';

</script>
<body>
    <div class="outerContr sigNup">
        <div class="loginCont fLeft">
            <div class="txtTitle" id="hTxt">Reset Your Password</div>
            <div class="txtB fLeft">
                <input type="password" class="inp_box " maxlength="30" id="pass">
                <div class="inp_label">Please Enter New Password*</div>
            </div>
            <div class="txtB  fLeft">
                <input type="password" class="inp_box " maxlength="30" id="cpass">
                <div class="inp_label">Confirm Password*</div>
            </div>        
                <center>
                    <a href=""><div class="button actBtn transition300">BACK TO LOGIN</div></a>
                    <div class="button actBtn transition300" id="respsssub">SUBMIT</div>
                </center>
        </div>
    </div>
    <script type="text/javascript" src="<?php echo $jvs['resetpass']; ?>"></script>
    <script>
            $('.inp_box').focus(function () {
        $(this).closest('.txtB').addClass('focul');
    });
    $('.inp_box').blur(function () {
        var k = $(this).val();
        if (k === "") {
            $(this).closest('.txtB').removeClass('focul');
        }

    });
    </script>
</body>