<!DOCTYPE html>
 
<?php include 'jhead.html' ?>
<script>
    var BWEBROOT = '<?php echo BACKWEBROOT?>';
    var DOMAIN = '<?php echo DOMAIN?>';
    var APIDOMAIN = '<?php echo APIDOMAIN?>';
    var IMGDOMAIN = '<?php echo IMGDOMAIN ?>';
    var page = '<?php echo $page?>';

</script>
 <body>
    <div class="outerContr sigNup">
        <div class="loginCont fLeft">
            <div class="txtTitle" id="hTxt">Reset Your Password</div>
            <div class="txtB fLeft">
                <input type="password" class="inp_box " maxlength="30" id="pass">
                <div class="inp_label">Please Enter New Password*</div>
            </div>
            <div class="txtB  fLeft">
                <input type="password" class="inp_box " maxlength="30" id="cpass">
                <div class="inp_label">Confirm Password*</div>
            </div>
            <div class="filterSec fLeft">
                <center>
                    <div class="btnContainr">
                        <a href=""><div class="button button2 btnc1 transition300 fLeft">BACK TO LOGIN</div></a>
                    </div>
                    <div class="btnContainr">
                        <div class="button button2 btnc1 transition300 fLeft" id="respsssub">SUBMIT</div>
                    </div>
                </center>
            </div>
        </div>
    </div>
  <script type="text/javascript" src="<?php echo $jvs['resetpass']; ?>"></script>
    <script>
        $('.inp_box').focus(function () {
            $(this).closest('.txtB').addClass('focul');
        });
        $('.inp_box').blur(function () {
            var k = $(this).val();
            if (k === "") {
                $(this).closest('.txtB').removeClass('focul');
            }

        });
    </script>
</body>