<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms responsibleBnr">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">Responsible Fashion</div>
    </div>
    <div class="wrapper_main   fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft"></div>
                        <div  class="pCont fLeft">
                            <div class="fLeft">Luxury to one should not come at a price to another. At Jzeva we take this doctrine very seriously and go to great length to ensure that our jewellery hasn’t caused any violations to human rights or the environment.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Human Rights</div>
                        <div class="fLeft pCont">
                            <div class="fLeft tCont">Diamonds have long been used by rebels in Africa to finance civil wars waged against legitimately elected governments these diamonds are popularly known as Blood Diamonds, to ensure that the diamond industry and supply chain doesn’t support such acts against humanity the Kimberley Process was put in place to establish regulations for diamond trade. Jzeva ensures that all its suppliers follow and oblige all regulations laid forth by the Kimberley Process</div>
                            <div class="fLeft tCont">In addition, Jzeva also ensures that its entire supply chain doesn’t support or employ child labour and enforces fair labour standards to ensure that all the workers involved in making our jewellery are treated well and not subjected to dangerous or abusive work environments.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Environment</div>
                        <div class="fLeft pCont">
                            <div class="tCont fLeft">At Jzeva we care dearly for the planet we call home, EARTH. Jzeva ensures where ever possible unless mandated by regulations that it does not use Plastic and contribute to reducing its non-biodegradable waste footprint.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <?php include 'footer.html'?>
    <script>
        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
    </script>


</body>
