<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">Sizing Guide</div>
    </div>
    <div class="wrapper_main   fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft"></div>
                        <div class="pCont fLeft">
                            <div class="fLeft tCont">99% of the jewellery buyers will not be able to recall their ring size and buying the right size is one of the most important things to consider while buying a ring, too tight it will restrict blood flow and cause a lot of inconvenience too loose it will just slip out of your finger. At Jzeva we realise this and want to ensure that you do not make a mistake.  </div>
                            <div class="subH fLeft semibold">At Jzeva there are 2 ways of finding out what your ring size is.</div>
                            <div class="fLeft subHm semibold">Option 1 (and the best one)</div>
                            <div class="fLeft tCont">After finalising your ring design and selecting the size select the “Not Sure” option and go ahead with the payment as soon as you place your order we will send you a Jzeva Ring sizer which should reach you in 2-3 working days, once you receive it all you need to do is measure your ring size and tell us and we will take care of the rest. Yes!!! Its is that simple.</div>
                            <div class="tCont fLeft">
                                <div class="sizeDiv sample fLeft"></div>
                            </div>
                            <div class="subHm fLeft semibold">Option 2 (almost as good as option 1)</div>
                            <div class="tCont fLeft">Take one of the rings that you already own, ensure that I fits you well.</div>
                            <div class="tCont fLeft">Take a scale and measure the diameter (the largest distance) of the inner edges of the ring.</div>
                            <div class="tCont fLeft">
                                <div class="sizeDiv scaleSize fLeft"></div>
                            </div>
                            <div class="tCont fLeft">Once you know the diameter compare it to the chart below to find your ring size.</div>
                            <div class="tCont fLeft">
                                <div class="dtable fLeft">
                                    <div class="hRow fLeft">
                                        <div class="fLeft shRow ">Ring Size(Indian)</div>
                                        <div class="fLeft shRow ">Diameter(In mm)</div>
                                        <div class="fLeft shRow ">Ring Size(Indian)</div>
                                        <div class="fLeft shRow ">Diameter(In mm)</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">6</div>
                                        <div class="fLeft sRow">14.6</div>
                                        <div class="fLeft sRow">19</div>
                                        <div class="fLeft sRow">18.8</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">7</div>
                                        <div class="fLeft sRow">15.0</div>
                                        <div class="fLeft sRow">20</div>
                                        <div class="fLeft sRow">19.1</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">8</div>
                                        <div class="fLeft sRow">15.3</div>
                                        <div class="fLeft sRow">21</div>
                                        <div class="fLeft sRow">19.4</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">9</div>
                                        <div class="fLeft sRow">15.6</div>
                                        <div class="fLeft sRow">22</div>
                                        <div class="fLeft sRow">19.7</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">10</div>
                                        <div class="fLeft sRow">15.9</div>
                                        <div class="fLeft sRow">23</div>
                                        <div class="fLeft sRow">20.0</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">11</div>
                                        <div class="fLeft sRow">16.2</div>
                                        <div class="fLeft sRow">24</div>
                                        <div class="fLeft sRow">20.3</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">12</div>
                                        <div class="fLeft sRow">16.5</div>
                                        <div class="fLeft sRow">25</div>
                                        <div class="fLeft sRow">20.6</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">13</div>
                                        <div class="fLeft sRow">16.8</div>
                                        <div class="fLeft sRow">26</div>
                                        <div class="fLeft sRow">21.0</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">14</div>
                                        <div class="fLeft sRow">17.2</div>
                                        <div class="fLeft sRow">27</div>
                                        <div class="fLeft sRow">21.3</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">15</div>
                                        <div class="fLeft sRow">17.5</div>
                                        <div class="fLeft sRow">28</div>
                                        <div class="fLeft sRow">21.6</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">16</div>
                                        <div class="fLeft sRow">17.8</div>
                                        <div class="fLeft sRow">29</div>
                                        <div class="fLeft sRow">22.0</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">17</div>
                                        <div class="fLeft sRow">18.1</div>
                                        <div class="fLeft sRow">30</div>
                                        <div class="fLeft sRow">22.3</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">18</div>
                                        <div class="fLeft sRow">18.4</div>
                                        <div class="fLeft sRow"></div>
                                        <div class="fLeft sRow"></div>
                                    </div>
                                </div>   
                            </div>
                            <div class="tCont fLeft">In the event that your ring size falls between two ring sizes we recommend you go for the bigger of the both.</div>
                            <div class="subHm fLeft semibold">Option 3 ( not so accurate but will do)</div>
                            <div class="tCont fLeft">Take a thin strip of paper not more than 0.5 cm in width and 10 cm in length.</div>
                            <div class="tCont fLeft">Wrap it around the finger you want to wear the ring on.</div>
                            <div class="tCont fLeft">
                                <div class="fLeft fingerSize sizeDiv"></div>
                            </div>
                            <div class="tCont fLeft">Take a pen and mark the meeting point.</div>
                            <div class="tCont fLeft">
                                <div class="fLeft mPointImg sizeDiv"></div>
                            </div>
                            <div class="tCont fLeft">Measure the distance between the meeting points with a ruler, this will give you the circumference of your finger.</div>
                            <div class="tCont fLeft">
                                <div class="fLeft  sizeDiv"></div>
                            </div>
                            <div class="tCont fLeft">Use the chart below to determine your ring size.</div>
                            <div class="tCont fLeft">
                                <div class="dtable fLeft">
                                    <div class="hRow fLeft">
                                        <div class="fLeft shRow ">Ring Size(Indian)</div>
                                        <div class="fLeft shRow ">Circumference(In mm)</div>
                                        <div class="fLeft shRow ">Ring Size(Indian)</div>
                                        <div class="fLeft shRow ">Circumference(In mm)</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">6</div>
                                        <div class="fLeft sRow">45.9</div>
                                        <div class="fLeft sRow">19</div>
                                        <div class="fLeft sRow">59.1</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">7</div>
                                        <div class="fLeft sRow">47.1</div>
                                        <div class="fLeft sRow">20</div>
                                        <div class="fLeft sRow">60.0</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">8</div>
                                        <div class="fLeft sRow">48.1</div>
                                        <div class="fLeft sRow">21</div>
                                        <div class="fLeft sRow">60.9</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">9</div>
                                        <div class="fLeft sRow">49.0</div>
                                        <div class="fLeft sRow">22</div>
                                        <div class="fLeft sRow">61.9</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">10</div>
                                        <div class="fLeft sRow">50.0</div>
                                        <div class="fLeft sRow">23</div>
                                        <div class="fLeft sRow">62.8</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">11</div>
                                        <div class="fLeft sRow">50.9</div>
                                        <div class="fLeft sRow">24</div>
                                        <div class="fLeft sRow">63.8</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">12</div>
                                        <div class="fLeft sRow">51.8</div>
                                        <div class="fLeft sRow">25</div>
                                        <div class="fLeft sRow">64.7</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">13</div>
                                        <div class="fLeft sRow">52.8</div>
                                        <div class="fLeft sRow">26</div>
                                        <div class="fLeft sRow">66.0</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">14</div>
                                        <div class="fLeft sRow">54.0</div>
                                        <div class="fLeft sRow">27</div>
                                        <div class="fLeft sRow">66.9</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">15</div>
                                        <div class="fLeft sRow">55.0</div>
                                        <div class="fLeft sRow">28</div>
                                        <div class="fLeft sRow">67.9</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">16</div>
                                        <div class="fLeft sRow">55.9</div>
                                        <div class="fLeft sRow">29</div>
                                        <div class="fLeft sRow">69.1</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">17</div>
                                        <div class="fLeft sRow">56.9</div>
                                        <div class="fLeft sRow">30</div>
                                        <div class="fLeft sRow">70.1</div>
                                    </div>
                                    <div class="sizeRow fLeft">
                                        <div class="fLeft sRow">18</div>
                                        <div class="fLeft sRow">57.8</div>
                                        <div class="fLeft sRow"></div>
                                        <div class="fLeft sRow"></div>
                                    </div>
                                </div>   
                            </div>
                            <div class="tCont fLeft">In the event that your ring size falls between two ring sizes we recommend you go for the bigger of the both.</div>
                            <div class="tCont fLeft">We recommend you go for this option only in dire scenarios as it is not the most accurate one.</div>

                        </div>
                    </div>

                    <div class="fLeft pCont">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php include 'footer.html'?>
    <script>
        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
            //           if(ht-sc<=60){
            //           console.log(sc);
            //           $('.gemBanner').addClass('fixer');
            //       }
            //       else{
            //            $('.gemBanner').removeClass('fixer');
            //       }
        });
    </script>


</body>
