<!DOCTYPE html>
<?php include 'jhead.html' ?>
<body class="Terms">
    <?php include 'Cart.html'?>
    <?php include 'header.html'?>
     <?php include 'login.html'?>
    <div class="fLeft gemBanner">
        <div class="banner_over" id ="banner_over"></div>
        <div class="termHeading">Terms and Conditions</div>
    </div>
    <div class="wrapper_main   fLeft">
        <div class="container2 fLeft">
            <div class="col100">
                <div class="wrapper_max offsetTop offsetEffects transition600">
                    <div class="tCommon fLeft">
                        <div  class="tHead fLeft">General</div>
                        <div class="fLeft pCont">
                            <div  class="tCont fLeft">Access to and use of this Website and the products and services available through this Website collectively termed as “Services" are subject to the following terms, conditions and notices (the "Terms of Service"). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service. </div>
                            <div  class="tCont fLeft">Jzeva.com reserves the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this Website. </div>
                            <div  class="tCont fLeft">This Website also contains links to other websites (“Linked Sites”), which are not moderated or operated by Jzeva. We have no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of the Linked Sites will be subject to the terms of use and service contained within each such site.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Prohibitions</div>
                        <div class="fLeft pCont">
                            <div class="tCont fLeft">You must not misuse this Website and follow the following ethical browsing habits:You will not: </div>
                            <div class="fLeft tCont points">Commit or encourage a criminal offence.</div>
                            <div class="fLeft tCont points">Transmit or distribute a virus, Trojan, worm, logic bomb or post any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; hack into any aspect of the Service; corrupt data  </div>
                            <div class="fLeft tCont points">Cause annoyance to other users </div>
                            <div class="fLeft tCont points">Infringe upon the rights of any other person's proprietary rights </div>
                            <div class="fLeft tCont points">Send any unsolicited advertising or promotional material, commonly referred to as "spam" </div>
                            <div class="fLeft tCont points">Attempt to affect the performance or functionality of any computer facilities of or accessed through this Website. </div>
                            <div  class="tCont fLeft">Breaching these above mentioned rules, would be considered a criminal offence under the National Cyber Security Policy 2013. Jzeva will report any such breach to the relevant law enforcement authorities and disclose your identity to them.</div>
                            <div  class="tCont fLeft">We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it. </div>
                            <div  class="tCont fLeft">The use of automated systems or software to extract data from this Website for commercial purposes, ('screen scraping') is prohibited without obtaining permission from Jzeva. </div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Intellectual Property</div>
                        <div class="fLeft pCont">
                            <div  class="tCont points fLeft">Jzeva holds complete ownership of all the Intellectual property (IP) regarding the software and the content made available to you on this website. Any wrong or unpermitted use of this IP shall be treated as violation of the Indian Copyright Act, 1957. You may use the content supplied solely for your own personal use. You are not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on this Website nor may you use any such content in connection with any business or commercial enterprise. </div>
                            <div  class="tCont points fLeft">Jzeva.com’s name and, Logos are trademarks belonging to Jzeva.com. No licence or consent is granted to you to use these marks in any way, and you agree not to use these marks or any marks which are colourably similar without the written permission of Jzeva.com.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Terms of Sale</div>
                        <div class="fLeft pCont">
                            <div class="tCont fLeft">By placing an order, you are offering to purchase a product on and subject to the following terms and conditions.  </div>
                            <div class="fLeft tCont points">Dispatch Times: The estimated delivery date is the time that we need to fabricate the product, though our efforts will go completely to ensure that you get the product with the shortest wait time we cannot guarantee 100% accuracy in meeting the deadline when affected by force majeure events.</div>
                            <div class="fLeft tCont points">Order confirmation: Jzeva.com will send you an email that acknowledges the placement of the order when you make a purchase. You will receive an confirmation of the order once we have the payment cleared from your bank.</div>
                            <div class="fLeft tCont points">Pricing and Availability: Whilst we try and ensure that all details, descriptions and prices which appear on this Website are accurate, errors may occur. If we discover an error in the price of any goods which you have ordered, we will inform you of this as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact, you we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund.</div>
                            <div class="fLeft tCont points">Payment: We believe that the payment that has been made by you towards a purchase of a product on Jzeva.com is completely legitimate. Jeva.com is not liable to scrutinise the authenticity for any orders placed using your Credit card, Debit card, Payment wallet or net banking details.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Gift Vouchers</div>
                        <div class="fLeft pCont">
                            <div class="fLeft tCont points">A gift voucher can be purchased on the Jzeva.com, this gift voucher can be used as an alternate way of payment which will be equal to the purchase price of the voucher for any products purchased on Jzeva.com.</div>
                            <div class="fLeft tCont points">If you are purchasing a gift voucher as a present, please double check the delivery email address or physical delivery address you enter – it is your responsibility to do so and we’re afraid we can’t be held responsible if a gift voucher is used by someone other than your recipient if the email or physical delivery address entered is incorrect. In addition, we can’t take responsibility for any gift vouchers that are lost or used by someone other than your recipient after delivery.</div>
                            <div class="fLeft tCont points">We’re afraid we can’t accept any responsibility for stolen, lost or deleted gift vouchers. Make sure your recipient has received their gift voucher, as it is their responsibility to keep the gift voucher safe. </div>
                            <div class="fLeft tCont points">If the voucher has to be electronically delivered to a recipient’s address, from time to time they can get stuck in spam filters, so ask the recipient to check these filters. We can’t take responsibility if a gift voucher cannot be delivered to the recipient’s email address because of spam filters, firewalls, the capacity of the recipient’s mailbox or any other factors outside of our control.</div>

                            <div class="fLeft tCont points">We advise you to lock your gift voucher to your Jzeva account as soon as you can once you receive it to keep it safe. You can do this by logging into your Jzeva account and visiting the “My Account” section and entering the code into the gift voucher section. The voucher will be waiting for you in checkout when you make your next purchase. Once a gift voucher has been locked to an individual’s Jzeva account, the gift voucher becomes their property and can be used as full or part payment for product/s on Jzeva.com.</div>
                            <div class="fLeft tCont points">Gift vouchers are valid for 24 months from the date of purchase and can be used across multiple orders. After 24 months, any remaining balance will be cancelled.</div>
                            <div class="fLeft tCont points">You may use more than one gift voucher on a single order. </div>
                            <div class="fLeft tCont points">Gift vouchers can be used in conjunction with other promotional and discount codes.</div>

                            <div class="fLeft tCont points">Gift vouchers cannot be used to purchase other gift vouchers </div>
                            <div class="fLeft tCont points">If the value of your purchase is less than the value of the gift voucher, your spend will be deducted and the remaining balance can be redeemed when you next make a purchase. If your order exceeds the value of the gift voucher, you can pay the remaining balance using another payment method.</div>
                            <div class="fLeft tCont points">When you return or cancel a Jzeva order and a gift voucher was used as full payment, your refund will be issued to you in gift vouchers (i.e. we will not refund money to you in these circumstances). There will be no monetary exchange for returned or cancelled orders made with gift vouchers.</div>
                            <div class="fLeft tCont points">When you part return or cancel a Jzeva order and a gift voucher was used as part payment, the equivalent refund by way of money spent and gift vouchers will be issued to you in that order.</div>
                            <div class="fLeft tCont points">We reserve the right to amend these terms and conditions at any time.</div>

                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Limitation of Liability</div>
                        <div  class="fLeft pCont">
                            <div class="fLeft tCont">Jzeva.com has undertook great care to ensure that all the information on the Website is accurate, but Jzeva.com neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data, information, product or Service. In no event shall Jzeva.com be liable for any direct, indirect, punitive, incidental, special, consequential damages or any other damages resulting from: </div>
                            <div class="fLeft tCont points">The use or the inability to use the Services</div>
                            <div class="fLeft tCont points">Unauthorized access to or alteration of the user's transmissions or data</div>
                            <div class="fLeft tCont points">Any other matter relating to the services, including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the Website or Service. </div>
                            <div class="fLeft tCont">Jzeva.com shall not be responsible for the delay or inability to use the Website or related services, the provision of or failure to provide Services, or for any information, software, products, services and related graphics obtained through the Website, or otherwise arising out of the use of the website, whether based on contract, tort, negligence, strict liability or otherwise. </div>
                            <div class="fLeft tCont">Jzeva.com shall not be held responsible for non-availability of the Website during periodic maintenance operations or any unplanned suspension of access to the website that may occur due to technical reasons or for any reason beyond Jzeva.com's control. The user understands and agrees that any material and/or data downloaded or otherwise obtained through the Website is done entirely at their own discretion and risk and they will be solely responsible for any damage to their computer systems or loss of data that results from the download of such material and/or data.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Indemnity</div>
                        <div  class="pCont fLeft">
                            <div class="fLeft tCont">You agree to indemnify, defend and hold harmless Jzeva.com, its directors, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use this Website or your breach of the Terms of Service.</div>
                        </div>
                    </div>
                    <div class="tCommon fLeft">
                        <div class="tHead fLeft">Governing Law</div>
                        <div  class="pCont fLeft">
                            <div class="fLeft tCont">These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at Bangalore.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <?php include 'footer.html'?>
    <script>
        $(document).ready(function () {
            $('.wrapper_max').removeClass('offsetEffects');
        });
        $(window).scroll(function () {
            var sc = $('body').scrollTop();
            var ht = $('.gemBanner').outerHeight(true) - 130;
            if (ht > sc) {
                var op = 1 - (ht - sc) / ht;
                $('#banner_over').css({'opacity': op});

            }
            if (ht - sc <= 5) {
                $('.header').addClass('black_bg');
                console.log('if');
            } else {
                $('.header').removeClass('black_bg');
                console.log('else');
            }
//           if(ht-sc<=60){
//           console.log(sc);
//           $('.gemBanner').addClass('fixer');
//       }
//       else{
//            $('.gemBanner').removeClass('fixer');
//       }
        });
    </script>


</body>
