
<?php include 'jhead.html' ?>
    <body>
        <div class="lmenu4mble trnst-100 transition300">
            <div class="lmnuHdng fLeft">
                <center>
                    <div class="hdrLgo"></div>
                </center>
            </div> 
            <div class="lmnuLIstDv fLeft fmSansR">
                <ul class="ulSabcat ">
                    <li class="liSubCat">JEWELLERY</li>
                    <li class="liSubCat">SOLITARIES</li>
                    <li class="liSubCat">DESIGNER</li>
                    <li class="liSubCat">VINTAGE</li>
                    <li class="liSubCat">BRIDAL</li>
                </ul>
            </div>
        </div>
        <div class="dragTrgt" id="dragTrgt"></div>
        <div class="container">
            <div class="wrapper">
                <?php include 'jHeader.html'; ?>
                <div class="totalCont fLeft">
                    <div class="wrapperMax">
                <div class="navBar2nd fLeft fmSansR">
                        <div class="homeLogo fLeft"></div>
                        <div class="navStpDiv fLeft">MY ACCOUNT</div>
                        <div class="navStpDiv fLeft">CHECKOUT</div>
                        <div class="navStpDiv fLeft">TRACK ORDER</div>
                </div>
                        <div class="loginCnt fLeft fmSansR">
                            <div class="lgn4trckCnt">
                                <div class="tracFlft fLeft">
                                    <div class="trckHdng fLeft">TRACK YOUR ORDER</div>
                                    <div class="trckTxt fLeft">Enter order id and mobile number to track your order summery</div>
                                     <div class="input fmSansB">
                                            <input class="input__field" type="text" id="ordrNmbr_1" />
                                            <label class="input__label  " for="ordrNmbr_1">
                                              <span class="input__label-content ">Order Number</span>
                                            </label>
                                          </div>
                                     <div class="input fmSansB">
                                            <input class="input__field" type="text" id="mbleNumber_1" />
                                            <label class="input__label  " for="mbleNumber_1">
                                              <span class="input__label-content ">Mobile Number</span>
                                            </label>
                                          </div>
                                    <div class="trckTxt fLeft">Required Filled</div>
                                      <div class="cheackAndnxt fLeft">
                                    <div class="nxtStp fRight" id="trackOrdr">TRACK YOUR ORDER</div>
                                </div>
                                </div>
                                <div class="trckFrght fLeft">
                                   <div class="trckHdng fLeft">LOGIN FOR MORE</div> 
                                   <div class="trckTxt fLeft">-View all order status</div>
                                    <div class="trckTxt fLeft">-View account summery</div>
                                     <div class="trckTxt fLeft">-View reward points</div>
                                     <div class="centerDvHldr fLeft">
                                         <center>
                                             <a href="http://beta.xelpmoc.in/jzeva/index.php?action=orders"><div class="sgnBtn">SIGN IN</div></a>
                                         </center>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="afterTrckPage fLeft fmSansR " id="aftrTrck">
                            <div class="aftrTrckStpbr fLeft">
                                <div class="trckStp1 fLeft">ORDER DETAILS</div>
                                 <div class="trckStp1 fLeft">PRODUCT DETAILS</div>
                                  <div class="trckStp1 fLeft">DELIVERY DETAILS</div>
                            </div>
                            <div class="trckdtlsDv fLeft">
                                <div class="dtls1 fLeft">
                                    <div class="txtAbttrk fLeft">Order Id:   <span style="padding-left:40px;">Od20445678934</span></div>
                                    <div class="txtAbttrk fLeft">Order Date:   <span style="padding-left:20px;">23 December,2015 1.12pm</span></div>
                                    <div class="txtAbttrk fLeft">seller:   <span style="padding-left:50px;">JZEVA Signature Jewelcreafts Private Limited</span></div>
                                    <div class="txtAbttrk fLeft Bnone">Amount Paid:   <span style="padding-left:6px; color:#379496">2205</span></div>
                                </div>
                                <div class="dtls1 fLeft">
                                    <div class="aftrTrkJwl"></div>
                                    <div class="crspndngTxt fLeft">
                                        <div class="displayTxt fLeft">Joker and witch elegant charmer for women</div>
                                        <div class="displayTxt fLeft"><span style="color:#379496">&#2352; 84,200 - quantity: 1</span></div>
                                        <div class="rvwBtn fLeft">Review</div>
                                        <div class="rvwBtn fRight">Return</div>
                                    </div>
                                </div>
                                <div class="dtls1 fLeft brghtNone">
                                    <div class="infoAbtCstmr fLeft">Ankur Gala</div>
                                    <div class="infoAbtCstmr fLeft">HSR Layout,Bengalore,Karnataka,</div>
                                    <div class="infoAbtCstmr fLeft">India</div>
                                    <div class="infoAbtCstmr fLeft">Contact Number: 7797553117</div>
                                </div>
                            </div>
                            <div class="shpngStpCont fLeft">
                                <div class="shpngStpWrp fLeft">
                                <div class="shpngStpDV fLeft">
                                    <div class="shStpIcnHldr"></div>
                                    <div class="tagTxt" id="tagTxt">Ordered</div>
                                    <div class="shStpIcnHldr1"></div>
                                    <div class="tagTxt1" id="tagTxt1">Processed</div>
                                    <div class="shStpIcnHldr2"></div>
                                    <div class="tagTxt2" id="tagTxt2">Shipped</div>
                                    <div class="shStpIcnHldr3"></div>
                                     <div class="tagTxt3" id="tagTxt3">Delivered</div>
                                     <div class="prgrsDv">
                                         <div class="prgsMrkDv fLeft transition300"></div>
                                     </div>
                                </div>
                            </div>
                                <div class="shPngStpInfrm fLeft">
                                    <div class="sStp1 fLeft transition300" id="ordrDtls">
                                        <div class="infoAbtCstmr fLeft">Your order has been placed</div>
                                        <div class="infoAbtCstmr fLeft">Wed 23, 2015, 1:15pm</div>
                                    </div>
                                    <div class="sStp1 fLeft pLeft45 transition300" id="prcsd">
                                        <div class="prcsdTxt fLeft">
                                            <div class="prcsdTxtFlft fLeft">
                                                <div class="infoAbtCstmr fLeft">10:20 AM</div>
                                                 <div class="infoAbtCstmr fLeft">Tue, 24rd2015</div>
                                            </div>
                                            <div class="prcsdTxtFrght fLeft">
                                                <div class="infoAbtCstmr fLeft">Your item has been confirmed</div>
                                            </div>
                                        </div>
                                          <div class="prcsdTxt fLeft">
                                            <div class="prcsdTxtFlft fLeft">
                                                <div class="infoAbtCstmr fLeft">10:20 AM</div>
                                                 <div class="infoAbtCstmr fLeft">Tue, 24rd2015</div>
                                            </div>
                                            <div class="prcsdTxtFrght fLeft">
                                                <div class="infoAbtCstmr fLeft">Your item has been packed</div>
                                            </div>
                                        </div>
                                         <div class="prcsdTxt fLeft Bnone">
                                            <div class="prcsdTxtFlft fLeft">
                                                <div class="infoAbtCstmr fLeft">10:20 AM</div>
                                                 <div class="infoAbtCstmr fLeft">Tue, 24rd2015</div>
                                            </div>
                                            <div class="prcsdTxtFrght fLeft">
                                                <div class="infoAbtCstmr fLeft">Your item has been packed</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sStp1 fLeft transition300" id="shpd" style="display:block"></div>
                                    <div class="sStp1 fLeft transition300" id="dDtls">
                                        <div class="dlvrTxtWrp fLeft">
                                        <div class="infoAbtCstmr fLeft">Your order has been delivered</div>
                                        <div class="infoAbtCstmr fLeft">Wed 29, 2015, 1:15pm</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="updateAndnxt fLeft fmSansR">
                                <center>
                                    <div class="cntrMkngDv">
                                        <div class="upDatedTxt">WANT TO STAY UPDATED</div>
                                        <div class="text4Mbl">Enter your mobile number</div>
                                        <input type="text" class="inpt4mbl">
                                        <div class="text4Mbl">You will receive text when the order crosses next milestone</div>
                                        <div class="btn">SUBMIT</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <?php include 'jFooter.html'; ?>
            </div>
        </div>
        <script>
            $(document).ready(function(){
	      $('html, body').animate({scrollTop: '0px'}, 300); 
                $("#trackOrdr").click(function(){    
                  $("#aftrTrck").slideDown("slow");  
                });
                 $("#dragTrgt").click(function(){
         $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    });
     var ele = document.getElementById('dragTrgt');
    var mc = new Hammer(ele);
    mc.on("panleft panright tap press", function(ev) {
        //ele.textContent = ev.type +" gesture detected.";
        if (ev.type == 'panright') {
            showLeftMenu(true);
        }
        else if (ev.type == 'panleft') {
            showLeftMenu(false);
        }
    });
     $('#ordrDtls').velocity({display:"none",opacity:"0",translateY:"-10px"});
             $('#prcsd').velocity({display:"none",opacity:"0",translateY:"-10px"});
              $('#dDtls').velocity({display:"none",opacity:"0",translateY:"-10px"});
              var bi=0;
              $('#tagTxt').click(function() {
                  if(bi==0){
        setTimeout(function() {
        $('#ordrDtls').css("display","block");
            setTimeout(function() {
                $(".prgsMrkDv").css({width:"33%"});
                $('#ordrDtls').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
                $('#ordrDtls').velocity({translateY:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },100);
         bi=1;
    }
    else{
            setTimeout(function() {
                $('#ordrDtls').velocity({opacity:"0"},{delay:30,duration:100,easing:"swing"});
                $('#ordrDtls').velocity({translateY:"-10px"},{queue: false,delay:00,duration:200,easing:"swing"});
                $(".prgsMrkDv").css({width:"0%"});
                },50);
                setTimeout(function() {
             $('#ordrDtls').css("display","none");
         },400);
         bi=0;
    }
    });
          $('#tagTxt1').click(function() {
                  if(bi==0){
        setTimeout(function() {
        $('#prcsd').css("display","block");
            setTimeout(function() {
                $(".prgsMrkDv").css({width:"70%"});
                $('#prcsd').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
                $('#prcsd').velocity({translateY:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },100);
         bi=1;
    }
    else{
            setTimeout(function() {
                $('#prcsd').velocity({opacity:"0"},{delay:30,duration:100,easing:"swing"});
                $('#prcsd').velocity({translateY:"-10px"},{queue: false,delay:00,duration:200,easing:"swing"});
                $(".prgsMrkDv").css({width:"33%"});
                },50);
                setTimeout(function() {
             $('#prcsd').css("display","none");
         },400);
         bi=0;
    }
    });
        $('#tagTxt3').click(function() {
                  if(bi==0){
        setTimeout(function() {
        $('#dDtls').css("display","block");
            setTimeout(function() {
                $(".prgsMrkDv").css({width:"100%"});
                $('#dDtls').velocity({opacity:"1"},{delay:30,duration:100,easing:"swing"});
                $('#dDtls').velocity({translateY:"0px"},{queue: false,delay:00,duration:200,easing:"swing"});
                },00);
        },100);
         bi=1;
    }
    else{
            setTimeout(function() {
                $('#dDtls').velocity({opacity:"0"},{delay:30,duration:100,easing:"swing"});
                $('#dDtls').velocity({translateY:"-10px"},{queue: false,delay:00,duration:200,easing:"swing"});
                $(".prgsMrkDv").css({width:"70%"});
                },50);
                setTimeout(function() {
             $('#dDtls').css("display","none");
         },400);
         bi=0;
    }
    });
      
        });
            
          var input_selector = 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=search], textarea, input[type=radio]';

var input_hidden = 'input[type=hidden]';
$('.input__field').focus(function(){
            $(this).closest('.input').addClass('input--filled');
      });
  $('.input__field').blur(function(){
     var y=$(this).val();
    if(y!=""){
   $(this).closest('.input').addClass('input--filled');
 }
 else{
     $(this).closest('.input').removeClass('input--filled');
 }
  });

//$(document).on('focus', input_selector, function() {
//    $(this).siblings('label, i').addClass('lablTrnst');
//   $(this).addClass('borderTrnst');
//});
//
//$(document).on('blur', input_selector, function() {
//    if ($(this).val().length === 0 && $(this).attr('placeholder') === undefined) {
//        $(this).siblings('label, i').removeClass('lablTrnst');
//         $(this).removeClass('borderTrnst');
//    } 
//});
  function showLeftMenu(flag) {
    if (flag) {
        $('.lmenu4mble').removeClass('trnst-100');
        $('body').addClass('pFixed');
        $('.dragTrgt').css({width: '50%', left: '250px'});

    }
    else {
        $('.lmenu4mble').addClass('trnst-100');
        $('body').removeClass('pFixed');
        $('.dragTrgt').css({width: '20px', left: '0px'});
    }
}
        </script>
    </body>
    </html>
