<?php include 'jhead.html' ?>
<body class="">
    <?php include 'Cart.html' ?>
    <?php include 'header.html' ?>
    <div class="wrapper_main fLeft CHECKOUT_PAGE bgcolorf0f0">
        <div class="maxContr">
            <div class="co_tabholder fmSansB noselect">
                <div class="co_tab selecT" id="sec1">MY ORDERS</div>
                <!--                <div class="co_tab" id="sec2">MY REVIEWS</div>-->
                <div class="co_tab" id="sec3">WISHLIST</div>
                <div class="co_tab" id="sec4">UPDATE CONTACT</div>
                <div class="co_tab" id="sec5">MY SAVED ADDRESS</div>
                <!--                <div class="co_tab" id="sec6">PERSONAL INFO</div>-->
                <div class="co_tab " id="sec7">CHANGE PASSWORD</div>
            </div>
            <div class="mainContr fLeft">
                <div class="sec1 fLeft">
                    <div class="fmSansB txtTitle tUline">MY ORDERS</div>
                    <div class="ordCont fLeft">
                        <div class="ordHead fmSansB fLeft">
                            <span class="fLeft">ORDER ID - ORDID1235849</span>
                            <span class="fRight">Delivered On - 11/01/2016 </span>
                        </div>
                        <div class="fLeft upCont">
                            <center>
                                <div class="ordImg"></div>
                                <div class="grid_name fmSansR font18">Diamants LÉ Gers</div>
                                <div class="col100  font13 colorLg   fmSansR">White gold 18 Carats, Diamond 22 Carats</div>
                            </center>
                        </div>
                        <div class="ordDtls fLeft fmSansR">
                            <div class="slrDiv fLeft"><span class="fLeft">Amount Paid- </span><span class="fmSansB">&nbsp &#8377 26,000</span></div>
                            <div class="slrDiv fLeft">Seller - JZEVA Signature jewelcraft private limited.</div>
                            <div class="slrDiv fLeft"><span class="fLeft">Quantity- </span><span class="fmSansB">1</span></div>
                            <div class="invBtn fLeft"><span class="fmSansB font10 u_line lettSpace " id="">INVOICE</span></div>
                            <div class="ordDtls1 fLeft fmSansR borderN">
                                <div class="slrDiv fLeft fmSansB font15">Deliver to:</div>
                                <div class="dlevryTxt fLeft fmSansB">Ganesh Belle</div>
                                <div class="dlevryTxt fLeft">#32 17th B Main ,5th Cross Bannerughatta Hulimangala Road, Bengaluru, Karnataka 560105, India</div>
                            </div>
                        </div>

                    </div>
                    <div class="ordCont fLeft">
                        <div class="ordHead fmSansB fLeft">
                            <span class="fLeft">ORDER ID - ORDID1235849</span>
                            <span class="fRight">Delivered On - 11/01/2016 </span>
                        </div>
                        <div class="fLeft upCont">
                            <center>
                                <div class="ordImg"></div>
                                <div class="grid_name fmSansR font18">Diamants LÉ Gers</div>
                                <div class="col100  font13 colorLg  transition300 fmSansR">White gold 18 Carats, Diamond 22 Carats</div>
                            </center>
                        </div>
                        <div class="ordDtls fLeft fmSansR">
                            <div class="slrDiv fLeft"><span class="fLeft">Amount Paid- </span><span class="fmSansB">&nbsp &#8377 26,000</span></div>
                            <div class="slrDiv fLeft">Seller - JZEVA Signature jewelcraft private limited.</div>
                            <div class="slrDiv fLeft"><span class="fLeft">Quantity- </span><span class="fmSansB">1</span></div>
                            <div class="invBtn fLeft"><span class="fmSansB font10 u_line lettSpace" id="">INVOICE</span></div>
                            <div class="ordDtls1 fLeft fmSansR borderN">
                                <div class="slrDiv fLeft fmSansB font15">Deliver to:</div>
                                <div class="dlevryTxt fLeft fmSansB">Ganesh Belle</div>
                                <div class="dlevryTxt fLeft">#32 17th B Main ,5th Cross Bannerughatta Hulimangala Road, Bengaluru, Karnataka 560105, India</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec2"></div>
                <div class="sec3 fLeft dn">
                    <div class="fmSansB txtTitle tUline">MY WISHLIST</div>
                    <!--                    <div class="ordCont fLeft">
                                            <div class="fLeft upCont">
                                                <center>
                                                    <div class="ordImg"></div>
                                                    <div class="grid_name fmSansR font18">Diamants LÉ Gers</div>
                                                    <div class="col100  font13 colorLg   fmSansR">White gold 18 Carats, Diamond 22 Carats</div>
                                                    <div class="pTxt fmSansR">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                                                </center>
                                            </div>
                                            <div class="buttonPos fLeft">
                                                <center>
                                                    <div class="btnContainr  fmOsR" id="">
                                                        <div class="button button2 btnc1 transition300 fLeft">REMOVE</div>
                                                    </div>
                                                    <div class="btnContainr  fmOsR">
                                                        <div class="button button2 btnc1 transition300 fLeft">ADD TO CART</div>
                                                    </div>
                                                </center>
                                            </div>
                                        </div>-->
                    <div class="col100 fLeft">
                        <div class="wishCont fLeft">
                            <div class="fLeft wishInCont">
                                <div class="wImgCont">
                                    <span class="grid_price fmSansR">₹ 26,000</span>
                                </div>
                                <div class="wDtlCont fLeft">
                                    <div class="grid_name fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100  font13 colorLg  transition300 fmSansR txtCenter">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="btnC fLeft">
                                        <span class="fLeft fmSansB point  font10 u_line lettSpace" id="showDetails">REMOVE</span>
                                        <span class="fRight fmSansB point  font10 u_line lettSpace" id="">ADD TO CART</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishCont fLeft">
                            <div class="fLeft wishInCont">
                                <div class="wImgCont">
                                    <span class="grid_price fmSansR">₹ 26,000</span>
                                </div>
                                <div class="wDtlCont fLeft">
                                    <div class="grid_name fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100  font13 colorLg  transition300 fmSansR txtCenter">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="btnC fLeft">
                                        <span class="fLeft fmSansB   font10 u_line lettSpace" id="showDetails">REMOVE</span>
                                        <span class="fRight fmSansB   font10 u_line lettSpace " id="">ADD TO CART</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wishCont fLeft">
                            <div class="fLeft wishInCont">
                                <div class="wImgCont">
                                    <span class="grid_price fmSansR">₹ 26,000</span>
                                </div>
                                <div class="wDtlCont fLeft">
                                    <div class="grid_name fmSansR">Diamants LÉ Gers</div>
                                    <div class="col100  font13 colorLg  transition300 fmSansR txtCenter">White gold 18 Carats, Diamond 22 Carats</div>
                                    <div class="btnC fLeft">
                                        <span class="fLeft fmSansB point color_black font10 u_line lettSpace" id="showDetails">REMOVE</span>
                                        <span class="fRight fmSansB point color_black font10 u_line lettSpace" id="">ADD TO CART</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="sec4 dn">
                    <div class="fmSansB txtTitle tUline">UPDATE INFORMATION</div>
                    <div class="fLeft inContr">
                        <div class="txtB fmSansR fLeft ">
                            <input type="text" class="inpBox1 " maxlength="30" value="Ganesh">
                            <div class="inp_label fmSansB rdTxt">First Name</div>
                        </div>
                        <div class="txtB fmSansR fLeft ">
                            <input type="text" class="inpBox1 " maxlength="30" value="Belle">
                            <div class="inp_label fmSansB rdTxt">Last Name</div>
                        </div>
                        <div class="txtB fmSansR fLeft ">
                            <input type="text" class="inpBox1 " maxlength="30" value="8123128747">
                            <div class="inp_label fmSansB rdTxt">Mobile Number</div>
                        </div>
                        <div class="txtB fmSansR fLeft ">
                            <input type="text" class="inpBox1 " maxlength="30" value="ganeshBelle@xelpmoc.in">
                            <div class="inp_label fmSansB rdTxt">Email</div>
                        </div>
                        <div class="buttonPos fLeft">
                            <center>
                                <div class="btnContainr  fmOsR " id="bck">
                                    <div class="button button2 btnc1 transition300 fLeft">CANCEL</div>
                                </div>
                                <div class="btnContainr  fmOsR ">
                                    <div class="button button2 btnc1 transition300 fLeft">SAVE CHANGES</div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="sec5 fLeft dn">
                    <div class="fmSansB txtTitle tUline">MY ADDRESS</div>
                    <div class="fLeft inContr">
                        <div class="fLeft addCont">
                            <div class="savdAddCont fLeft">
                                <div class="dlevryTxt fLeft fmSansB">Ganesh Belle</div>
                                <div class="dlevryTxt fLeft fmSansR">#32 17th B Main ,5th Cross Bannerughatta Hulimangala Road, Bengaluru, Karnataka 560105, India</div>
                                <div class="remBtn fRight"><span class="fmSansB font10 u_line lettSpace" id="">REMOVE</span></div>
                            </div>
                            <div class="savdAddCont fLeft">
                                <div class="dlevryTxt fLeft fmSansB">Ganesh Belle</div>
                                <div class="dlevryTxt fLeft fmSansR">#32 17th B Main ,5th Cross Bannerughatta Hulimangala Road, Bengaluru, Karnataka 560105, India</div>
                                <div class="remBtn fRight"><span class="fmSansB font10 u_line lettSpace" id="">REMOVE</span></div>
                            </div>
                        </div>
                        <div class="fLeft addCont borderN">
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft ">
                                    <input type="text" class="inpBox1 " maxlength="30" value="Ganesh">
                                    <div class="inp_label fmSansB rdTxt">Name</div>
                                </div>
                            </div>
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft ">
                                    <input type="tel" class="inpBox1 " maxlength="10" value="8123128747">
                                    <div class="inp_label fmSansB rdTxt">Mobile</div>
                                </div>
                            </div>
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft ">
                                    <input type="text" class="inpBox1" maxlength="30" value="ganeshBelle@xelpmoc.in">
                                    <div class="inp_label fmSansB rdTxt">Email</div>
                                </div>
                            </div>
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft">
                                    <input type="text" class="inp_box " maxlength="15">
                                    <div class="inp_label fmSansB">City*</div>
                                </div>
                            </div>
                            <div class="txtOutcont1 fLeft">
                                <div class="txtB fmSansR fLeft">
                                    <input type="text" class="inp_box">
                                    <div class="inp_label fmSansB" >Address*</div>
                                </div>
                            </div>
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft">
                                    <input type="text" class="inp_box">
                                    <div class="inp_label fmSansB">Pin code*</div>
                                </div>
                            </div>
                            <div class="txtOutCont fLeft">
                                <div class="txtB fmSansR fLeft">
                                    <input type="text" class="inp_box " maxlength="20">
                                    <div class="inp_label fmSansB">State*</div>
                                </div>
                            </div>

                            <div class="buttonPos fLeft">
                                <center>
                                    <div class="btnContainr  fmOsR padXr5" >
                                        <div class="button button2 btnc1 transition300 fLeft">CANCEL</div>
                                    </div>
                                    <div class="btnContainr  fmOsR padXl5" id="nxt">
                                        <div class="button button2 btnc1 transition300 fLeft">ADD</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec6"></div>
                <div class="sec7 dn">
                    <div class="fmSansB txtTitle tUline">Change Password</div>
                    <div class="fLeft inContr">
                        <!--                        <div class="txtB fmSansR fLeft">
                                                    <input type="text" class="inp_box " maxlength="30">
                                                    <div class="inp_label fmSansB">Old Password*</div>
                                                </div>-->
                        <div class="txtB fmSansR fLeft">
                            <input type="text" class="inp_box " maxlength="30">
                            <div class="inp_label fmSansB">New Password*</div>
                        </div>
                        <div class="txtB fmSansR fLeft">
                            <input type="text" class="inp_box " maxlength="30">
                            <div class="inp_label fmSansB">Confirm Password*</div>
                        </div>
                        <div class="buttonPos fLeft">
                            <center>
                                <div class="btnContainr  fmOsR padXr5" id="bck">
                                    <div class="button button2 btnc1 transition300 fLeft">CANCEL</div>
                                </div>
                                <div class="btnContainr  fmOsR padXl5" >
                                    <div class="button button2 btnc1 transition300 fLeft">SUBMIT</div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript">

    $('.inp_box').focus(function () {
        $(this).closest('.txtB').addClass('focul');
    });
    $('.inp_box').blur(function () {
        var k = $(this).val();
        if (k === "") {
            $(this).closest('.txtB').removeClass('focul');
        }
    });


    var lastTab = "sec1";
    $('.co_tab').click(function () {
        var actTab = $(this).attr("id");
        $('#' + actTab).addClass('selecT');
        $("." + actTab).removeClass('dn');
        if (lastTab !== actTab) {
            $("." + lastTab).addClass('dn');
            $("#" + lastTab).removeClass('selecT');
        }
        lastTab = actTab;
    });

</script>
</body>
</html>