<!DOCTYPE html>
<html>
    <head>
        <title>Jzeva - <?php echo $page;?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="<?php echo $fcss['oldcss'];?>">

          <link rel="stylesheet" href="<?php echo $fcss['gemstone'];?>">
            <link rel="stylesheet" href="<?php echo $fcss['malihu'];?>">
        <script type="text/javascript" src="<?php echo $fjvs['jquery']; ?>"></script>
        <script type="text/javascript" src="<?php echo $jvs['home']; ?>"></script>
       <script type="text/javascript" src="<?php echo  $fjvs['velocity']; ?>"></script>
         <script type="text/javascript" src="<?php echo  $fjvs['menu']; ?>"></script>
         <link rel="stylesheet" href="<?php echo  $fcss['range_slider'];?>">
        <link rel="stylesheet" href="<?php echo  $fcss['range_slider1'];?>">
           <link rel="stylesheet" href="<?php echo  $fcss['range_slider2'];?>">

         <script type="text/javascript" src="<?php echo  $fjvs['range_slider']; ?>"></script>
         <script type="text/javascript" src="<?php echo  $fjvs['hammer']; ?>"></script>
         <script type="text/javascript" src="<?php echo  $fjvs['malihu']; ?>"></script>
         <script type="text/javascript" src="<?php echo  $fjvs['numerator']; ?>"></script>
          <script type="text/javascript" src="<?php echo  $fjvs[' jquery_toast']; ?>"></script>
         <script type="text/javascript" src="<?php echo  $fjvs['Common']; ?>"></script>

         <script>
          var DOMAIN="<?php echo DOMAIN;?>";
         </script>

    </head>
